@namespace BlazorMdc.Demo

@page "/textarea"

@inject IJSRuntime jsRuntime

<h1 class="mdc-typography--headline4">Text area samples</h1>

<p>See <code>TextAreaSample.razor</code> for sources.</p>

<p><BMdc.MdcTextArea Label="Filled" @bind-Value="@currentValueFilled" Rows="8" TextInputStyle="BEnum.TextInputStyle.Filled" /></p>
<p>You typed: <strong>'@(currentValueFilled ?? "")'</strong></p>

<p><BMdc.MdcTextArea Label="Outlined" @bind-Value="@currentValueOutlined" Rows="8" TextInputStyle="BEnum.TextInputStyle.Outlined" /></p>
<p>You typed: <strong>'@(currentValueOutlined ?? "")'</strong></p>

<p><BMdc.MdcTextArea Label="Full Width" @bind-Value="@currentValueFullWidth" Rows="8" TextInputStyle="BEnum.TextInputStyle.FullWidth" /></p>
<p>You typed: <strong>'@(currentValueFullWidth ?? "")'</strong></p>




@code {
    string currentValueFilled = "test";
    string currentValueOutlined;
    string currentValueFullWidth;
}
