@namespace BlazorMdc.Demo

@page "/textarea"

@inject IJSRuntime jsRuntime

<h1 class="mdc-typography--headline4">Text area samples</h1>

<p>See <code>TextAreaSample.razor</code> for sources.</p>

<p><MTTextArea Label="Filled" @bind-Value="@currentValueFilled" Rows="8" TextInputStyle="MTTextInputStyle.Filled" Disabled="@DisableComponents" /></p>
<p>You typed: <strong>'@(currentValueFilled ?? "")'</strong></p>

<p><MTTextArea Label="Outlined" @bind-Value="@currentValueOutlined" Rows="8" TextInputStyle="MTTextInputStyle.Outlined" Disabled="@DisableComponents" /></p>
<p>You typed: <strong>'@(currentValueOutlined ?? "")'</strong></p>




@code {
    [CascadingParameter(Name = "DisableComponents")] private bool DisableComponents { get; set; }

    string currentValueFilled = "test";
    string currentValueOutlined;
}
