@namespace Material.Blazor

@inherits InputComponent<DateTime>




<div id="@listboxId">
    <InternalYearPadPanel DateFormat="@AppliedDateFormat"
                           DateIsSelectable="@DateIsSelectable"
                           DateSelectionCriteria="@DateSelectionCriteria"
                           MaxDate="@CascadingDefaults.AppliedDatePickerDefaultMaxDate(MaxDate)"
                           MinDate="@CascadingDefaults.AppliedDatePickerDefaultMinDate(MinDate)"
                           Parent="@this"
                           SuppressDefaultDate="@SuppressDefaultDate"
                           @ref="Panel" />
</div>
