@namespace Material.Blazor

@inherits InputComponent<DateTime>




    <div id="@listboxId"
         class="mdc-select__menu mdc-menu mdc-menu-surface mb-dp-menu__surface-adjust @MenuClass"
         @ref="@MenuSurfaceElementReference">
        <InternalYearPadPanel2 @bind-Value="@ComponentValue"
                              DateFormat="@AppliedDateFormat"
                              DateIsSelectable="@DateIsSelectable"
                              DateSelectionCriteria="@DateSelectionCriteria"
                              MaxDate="@CascadingDefaults.AppliedDatePickerDefaultMaxDate(MaxDate)"
                              MinDate="@CascadingDefaults.AppliedDatePickerDefaultMinDate(MinDate)"
                              Parent="@this"
                              SuppressDefaultDate="@SuppressDefaultDate"
                              @ref="Panel" />
    </div>
