@namespace Material.Blazor

@inherits SingleSelectComponent<TItem, MBSelectElement<TItem>>
@typeparam TItem


<div class="mb-autocomplete @ActiveConditionalClasses @(@class)"
     style="@style"
     id="@id">
    <MBTextField @attributes="@AttributesToSplat()"
                 @bind-Value="@SearchText"
                 Density="@Density"
                 Disabled="@AppliedDisabled"
                 HelperText="@HelperText"
                 HelperTextPersistent="@HelperTextPersistent"
                 IconFoundry="@IconFoundry"
                 Label="@Label"
                 LeadingIcon="@LeadingIcon"
                 @onchange="@OnTextChangeAsync"
                 @onfocusin="@OnTextFocusInAsync"
                 @onfocusout="@OnTextFocusOutAsync"
                 @oninput="@OnInput"
                 @ref="@TextField"
                 TextAlignStyle="@TextAlignStyle"
                 TextInputStyle="@TextInputStyle"
                 TrailingIcon="@TrailingIcon"
                 ValidationMessageFor="@ValidationMessageFor" />

    <div class="mdc-menu-surface--anchor">
        <MBMenuSurface @ref="MenuSurface">
            <div class="mdc-layout-grid" style="width: 600px;">
                <div class="mdc-layout-grid__inner">
                    @for (int i = 0; i < 2; i++)
                    {
                        var columnItems = SelectItems.Skip(i * SelectItemsPerColumn).Take(SelectItemsPerColumn);

                        <div class="mdc-layout-grid__cell--span-6">
                            @if (columnItems.Any())
                            {
                                <MBList Items="@columnItems"
                                        Context="item"
                                        ListStyle="@MBListStyle.Outlined"
                                        SingleLineDensity="@MBDensity.Minus2"
                                        KeyboardInteractions="true"
                                        Ripple="true">

                                    <Title>@item.Label</Title>
                                </MBList>
                            }
                        </div>
                    }

                    <div class="mdc-layout-grid__cell--span-12" style="display: flex; justify-content: flex-end;">
                        <MBPaginator @bind-PageNumber="@PageNumber"
                                     ItemsPerPageSelection="@PaginatorItemsPerPage"
                                     ItemsPerPage="@PaginatorItemsPerPage[0]"
                                     ItemCount="@MatchingItemCount" />
                    </div>
                </div>
            </div>
        </MBMenuSurface>
    </div>
</div>