@namespace BlazorMdc.Demo

@page "/toast"

@inject IPmdcToastService toastService

<h1 class="mdc-typography--headline4">Toast samples</h1>

<p>See <code>ToastSample.razor</code> for sources.</p>

<p>
    Note the addition of <code>AddPMdcToast()</code> in Startup.cs (Server) and Program.cs (WASM) as well as the component <code>PMdcToasts</code> in MainLayout.razor.
</p>

<style>
    .my-class {
        font-style: italic;
    }
</style>

@if (overrideDefaults)
{
    <style>
        :root {
            --bmdc-toast-color-info: black !important;
            --bmdc-toast-color-success: black !important;
            --bmdc-toast-color-warning: black !important;
            --bmdc-toast-color-error: black !important;

            --bmdc-toast-filter-info: initial !important;
            --bmdc-toast-filter-success: initial !important;
            --bmdc-toast-filter-warning: initial !important;
            --bmdc-toast-filter-error: initial !important;

            --bmdc-toast-background-color-info: var(--bmdc-color-lightblue-200) !important;
            --bmdc-toast-background-color-success: var(--bmdc-color-green-200) !important;
            --bmdc-toast-background-color-warning: var(--bmdc-color-amber-200) !important;
            --bmdc-toast-background-color-error: var(--bmdc-color-red-200) !important;
            --bmdc-toast-border-radius: 16px !important;
        }
    </style>
}

<p><MdcCheckbox @bind-Value="@overrideDefaults" Label="Change colors and border radius from default" /></p>

<p><PMdcNumericIntField @bind-Value="@toastService.Configuration.MaxToastsShowing" Label="Max Toasts (0-10)" Min="0" Max="10" NumericFormat="N0" /></p>

<p>
    <MdcButton Style="background-color: var(--bmdc-toast-background-color-info);"
               OnClick="@InfoClick"
               Label="Info Toast"
               ButtonStyle="@MdcButtonStyle.ContainedRaised" />

    <MdcButton Style="background-color: var(--bmdc-toast-background-color-success);"
               OnClick="@(() => toastService.ShowToast(
                              level: PMdcToastLevel.Success,
                              heading: "I'm a SUCCESS",
                              message: "Congratulations!" ))"
               Label="Success Toast"
               ButtonStyle="@MdcButtonStyle.ContainedRaised" />

    <MdcButton Style="background-color: var(--bmdc-toast-background-color-warning);"
               OnClick="@(() => toastService.ShowToast(
                              level: PMdcToastLevel.Warning,
                              message: "I'm a WARNING" ))"
               Label="Warning Toast"
               ButtonStyle="@MdcButtonStyle.ContainedRaised" />

    <MdcButton Style="background-color: var(--bmdc-toast-background-color-error);"
               OnClick="@(() => toastService.ShowToast(
                              level: PMdcToastLevel.Error,
                              message: "I'm an ERROR" ))"
               Label="Error Toast"
               ButtonStyle="@MdcButtonStyle.ContainedRaised" />
</p>

<p>Try different configuration options</p>
<p><MdcSelect Label="Additional css class" @bind-Value="@cssClass" Items="cssClassItems" ItemValidation="@MdcItemValidation.DefaultToFirst"></MdcSelect></p>
<p><MdcSelect Label="Close method" @bind-Value="@closeMethod" Items="closeMethodItems"></MdcSelect></p>
<p><MdcSelect Label="Heading" @bind-Value="@heading" Items="headingItems" ItemValidation="@MdcItemValidation.DefaultToFirst"></MdcSelect></p>
<p><MdcSelect Label="Icon" @bind-Value="@icon" Items="iconItems" ItemValidation="@MdcItemValidation.DefaultToFirst"></MdcSelect></p>
<p><MdcSelect Label="Level" @bind-Value="@level" Items="levelItems"></MdcSelect></p>
<p><MdcSelect Label="Message" @bind-Value="@message" Items="messageItems" ItemValidation="@MdcItemValidation.DefaultToFirst"></MdcSelect></p>
<p><MdcSelect Label="Show icon" @bind-Value="@showIcon" Items="showIconItems" ItemValidation="@MdcItemValidation.DefaultToFirst"></MdcSelect></p>
<p><MdcSelect Label="Timeout" @bind-Value="@timeout" Items="timeoutItems" ItemValidation="@MdcItemValidation.DefaultToFirst"></MdcSelect></p>
<p>
    <MdcButton OnClick="@customiseClick"
               Label="Toast with selected options"
               ButtonStyle="@MdcButtonStyle.ContainedRaised" />
</p>


@code{
    private bool overrideDefaults = false;

    string cssClass;
    MdcListElement<string>[] cssClassItems = new MdcListElement<string>[]
    {
        new MdcListElement<string> { SelectedValue = "", Label = "Default" },
        new MdcListElement<string> { SelectedValue = "my-class", Label = "Italic" },
    };


    PMdcToastCloseMethod closeMethod;
    IEnumerable<MdcListElement<PMdcToastCloseMethod>> closeMethodItems => from c in (PMdcToastCloseMethod[])Enum.GetValues(typeof(PMdcToastCloseMethod))
                                                                          select new MdcListElement<PMdcToastCloseMethod>
                                                                          {
                                                                              SelectedValue = c,
                                                                              Label = c.ToString()
                                                                          };


    MdcIcon icon;
    MdcListElement<MdcIcon>[] iconItems = new MdcListElement<MdcIcon>[]
    {
        new MdcListElement<MdcIcon> { SelectedValue = "directions_run", Label = "directions_run" },
        new MdcListElement<MdcIcon> { SelectedValue = new MdcIcon("thumb_up", MdcIcon.MIFoundry(theme: MdcIconMITheme.Filled)), Label = "thumb_up (filled / default)" },
        new MdcListElement<MdcIcon> { SelectedValue = new MdcIcon("thumb_up", MdcIcon.MIFoundry(theme: MdcIconMITheme.Outlined)), Label = "thumb_up (outlined)" },
        new MdcListElement<MdcIcon> { SelectedValue = new MdcIcon("thumb_up", MdcIcon.MIFoundry(theme: MdcIconMITheme.Round)), Label = "thumb_up (rounded)" },
        new MdcListElement<MdcIcon> { SelectedValue = new MdcIcon("thumb_up", MdcIcon.MIFoundry(theme: MdcIconMITheme.TwoTone)), Label = "thumb_up (two-tone)" },
        new MdcListElement<MdcIcon> { SelectedValue = new MdcIcon("thumb_up", MdcIcon.MIFoundry(theme: MdcIconMITheme.Sharp)), Label = "thumb_up (sharp)" },
        new MdcListElement<MdcIcon> { SelectedValue = new MdcIcon("fa-ambulance", MdcIcon.FAFoundry()), Label = "fa-ambulance" },
        new MdcListElement<MdcIcon> { SelectedValue = new MdcIcon("fa-ambulance", MdcIcon.FAFoundry(relativeSize: MdcIconFARelativeSize.ExtraSmall)), Label = "fa-ambulance (x-small)" },
    };


    string heading;
    MdcListElement<string>[] headingItems = new MdcListElement<string>[]
    {
        new MdcListElement<string> { SelectedValue = "", Label = "Default" },
        new MdcListElement<string> { SelectedValue = "Run of the mill heading", Label = "Run of the mill heading" },
        new MdcListElement<string> { SelectedValue = "Heading truncated and truncated and truncated and truncated", Label = "Heading that will be truncated" }
    };


    PMdcToastLevel level;
    IEnumerable<MdcListElement<PMdcToastLevel>> levelItems => from c in (PMdcToastLevel[])Enum.GetValues(typeof(PMdcToastLevel))
                                                              select new MdcListElement<PMdcToastLevel>
                                                              {
                                                                  SelectedValue = c,
                                                                  Label = c.ToString()
                                                              };

    string message;
    MdcListElement<string>[] messageItems = new MdcListElement<string>[]
    {
        new MdcListElement<string> { SelectedValue = "Run of the mill message", Label = "Run of the mill message" },
        new MdcListElement<string> { SelectedValue = "Italicized font", Label = "Italicized font (To see this set the additional CSS class to italic)" },
        new MdcListElement<string> { SelectedValue = "Text <strong>bold</strong> and <u>underlined</u>", Label = "Message with markup" },
        new MdcListElement<string> { SelectedValue = "Message truncated and truncated and truncated and truncated", Label = "Message that will be truncated" }
    };


    string showIcon;
    MdcListElement<string>[] showIconItems = new MdcListElement<string>[]
    {
        new MdcListElement<string> { SelectedValue = "", Label = "Default" },
        new MdcListElement<string> { SelectedValue = "true", Label = "true" },
        new MdcListElement<string> { SelectedValue = "false", Label = "false" }
    };


    string timeout;
    MdcListElement<string>[] timeoutItems = new MdcListElement<string>[]
    {
        new MdcListElement<string> { SelectedValue = "", Label = "Default" },
        new MdcListElement<string> { SelectedValue = "1000", Label = "1 second" },
        new MdcListElement<string> { SelectedValue = "10000", Label = "10 seconds" },
        new MdcListElement<string> { SelectedValue = "60000", Label = "60 seconds" }
    };


    protected void InfoClick()
    {
        toastService.ShowToast(
            level: PMdcToastLevel.Info,
            message: "I'm an INFO");
    }


    protected void customiseClick()
    {
        string appliedCssClass = (cssClass.Length == 0) ? null : cssClass;

        string appliedHeading = (heading.Length == 0) ? null : heading;

        bool? appliedShowIcon = (showIcon.Length == 0) ? appliedShowIcon = null : appliedShowIcon = Convert.ToBoolean(showIcon);

        uint? appliedTimeout = (timeout.Length == 0) ? appliedTimeout = null : appliedTimeout = Convert.ToUInt32(timeout);

        toastService.ShowToast(
            cssClass: appliedCssClass,
            closeMethod: closeMethod,
            heading: appliedHeading,
            level: level,
            message: message,
            icon: icon,
            showIcon: appliedShowIcon,
            timeout: appliedTimeout);
    }
}