@namespace BlazorMdc.Demo

@page "/toast"

@inject IMTToastService toastService

<h1 class="mdc-typography--headline4">Toast samples</h1>

<p>See <code>ToastSample.razor</code> for sources.</p>

<p>
    Note the addition of <code>AddMTToast()</code> in Startup.cs (Server) and Program.cs (WASM) as well as the component <code>MTToasts</code> in MainLayout.razor.
</p>

<style>
    .my-class {
        font-style: italic;
    }
</style>

@if (overrideDefaults)
{
    <style>
        :root {
            --bmdc-toast-color-info: black !important;
            --bmdc-toast-color-success: black !important;
            --bmdc-toast-color-warning: black !important;
            --bmdc-toast-color-error: black !important;
            --bmdc-toast-filter-info: initial !important;
            --bmdc-toast-filter-success: initial !important;
            --bmdc-toast-filter-warning: initial !important;
            --bmdc-toast-filter-error: initial !important;
            --bmdc-toast-background-color-info: var(--bmdc-color-lightblue-200) !important;
            --bmdc-toast-background-color-success: var(--bmdc-color-green-200) !important;
            --bmdc-toast-background-color-warning: var(--bmdc-color-amber-200) !important;
            --bmdc-toast-background-color-error: var(--bmdc-color-red-200) !important;
            --bmdc-toast-border-radius: 16px !important;
        }
    </style>
}

<p><MTSelect @bind-Value="@toastService.Configuration.Position" Label="Toast Position" Items="@positionItems" /></p>

<p><MTCheckbox @bind-Value="@overrideDefaults" Label="Change colors and border radius from default" /></p>

<p><MTNumericIntField @bind-Value="@toastService.Configuration.MaxToastsShowing" Label="Max Toasts (0-10)" Min="0" Max="10" NumericFormat="N0" /></p>

<p>
    <MTButton Style="background-color: var(--bmdc-toast-background-color-info);"
              @onclick="@InfoClick"
              Label="Info Toast"
              ButtonStyle="@MTButtonStyle.ContainedRaised" />

    <MTButton Style="background-color: var(--bmdc-toast-background-color-success);"
              @onclick="@(() => toastService.ShowToast(
                              level: MTToastLevel.Success,
                              heading: "I'm a SUCCESS",
                              message: "Congratulations!" ))"
              Label="Success Toast"
              ButtonStyle="@MTButtonStyle.ContainedRaised" />

    <MTButton Style="background-color: var(--bmdc-toast-background-color-warning);"
              @onclick="@(() => toastService.ShowToast(
                              level: MTToastLevel.Warning,
                              message: "I'm a WARNING" ))"
              Label="Warning Toast"
              ButtonStyle="@MTButtonStyle.ContainedRaised" />

    <MTButton Style="background-color: var(--bmdc-toast-background-color-error);"
              @onclick="@(() => toastService.ShowToast(
                              level: MTToastLevel.Error,
                              message: "I'm an ERROR" ))"
              Label="Error Toast"
              ButtonStyle="@MTButtonStyle.ContainedRaised" />
</p>

<p>Try different configuration options</p>
<p><MTSelect Label="Additional css class" @bind-Value="@cssClass" Items="cssClassItems" ItemValidation="@MTItemValidation.DefaultToFirst"></MTSelect></p>
<p><MTSelect Label="Close method" @bind-Value="@closeMethod" Items="closeMethodItems"></MTSelect></p>
<p><MTSelect Label="Heading" @bind-Value="@heading" Items="headingItems" ItemValidation="@MTItemValidation.DefaultToFirst"></MTSelect></p>
<p><MTSelect Label="Icon" @bind-Value="@icon" Items="iconItems" ItemValidation="@MTItemValidation.DefaultToFirst"></MTSelect></p>
<p><MTSelect Label="Level" @bind-Value="@level" Items="levelItems"></MTSelect></p>
<p><MTSelect Label="Message" @bind-Value="@message" Items="messageItems" ItemValidation="@MTItemValidation.DefaultToFirst"></MTSelect></p>
<p><MTSelect Label="Show icon" @bind-Value="@showIcon" Items="showIconItems" ItemValidation="@MTItemValidation.DefaultToFirst"></MTSelect></p>
<p><MTSelect Label="Timeout" @bind-Value="@timeout" Items="timeoutItems" ItemValidation="@MTItemValidation.DefaultToFirst"></MTSelect></p>
<p>
    <MTButton @onclick="@customiseClick"
              Label="Toast with selected options"
              ButtonStyle="@MTButtonStyle.ContainedRaised" />
</p>


@code{
    private bool overrideDefaults = false;

    string cssClass;
    MTListElement<string>[] cssClassItems = new MTListElement<string>[]
    {
        new MTListElement<string> { SelectedValue = "", Label = "Default" },
        new MTListElement<string> { SelectedValue = "my-class", Label = "Italic" },
            };


    MTToastCloseMethod closeMethod;
    IEnumerable<MTListElement<MTToastCloseMethod>> closeMethodItems => from c in (MTToastCloseMethod[])Enum.GetValues(typeof(MTToastCloseMethod))
                                                                       select new MTListElement<MTToastCloseMethod>
                                                                       {
                                                                           SelectedValue = c,
                                                                           Label = c.ToString()
                                                                       };

#nullable enable annotations
    class MyIcon
    {
        public string Name;
        public IMTIconFoundry? Foundry;
    }
#nullable restore annotations

    MyIcon icon;
    MTListElement<MyIcon>[] iconItems = new MTListElement<MyIcon>[]
    {
        new MTListElement<MyIcon> { SelectedValue = new MyIcon() { Name = "directions_run" }, Label = "directions_run" },
        new MTListElement<MyIcon> { SelectedValue = new MyIcon() { Name = "thumb_up", Foundry = MTIconHelper.MIFoundry(theme: MTIconMITheme.Filled) }, Label = "thumb_up (filled / default)" },
        new MTListElement<MyIcon> { SelectedValue = new MyIcon() { Name = "thumb_up", Foundry = MTIconHelper.MIFoundry(theme: MTIconMITheme.Outlined) }, Label = "thumb_up (outlined)" },
        new MTListElement<MyIcon> { SelectedValue = new MyIcon() { Name = "thumb_up", Foundry = MTIconHelper.MIFoundry(theme: MTIconMITheme.Round) }, Label = "thumb_up (rounded)" },
        new MTListElement<MyIcon> { SelectedValue = new MyIcon() { Name = "thumb_up", Foundry = MTIconHelper.MIFoundry(theme: MTIconMITheme.TwoTone) }, Label = "thumb_up (two-tone)" },
        new MTListElement<MyIcon> { SelectedValue = new MyIcon() { Name = "thumb_up", Foundry = MTIconHelper.MIFoundry(theme: MTIconMITheme.Sharp) }, Label = "thumb_up (sharp)" },
        new MTListElement<MyIcon> { SelectedValue = new MyIcon() { Name = "fa-ambulance", Foundry = MTIconHelper.FAFoundry() }, Label = "fa-ambulance" },
        new MTListElement<MyIcon> { SelectedValue = new MyIcon() { Name = "fa-ambulance", Foundry = MTIconHelper.FAFoundry(relativeSize: MTIconFARelativeSize.ExtraSmall) }, Label = "fa-ambulance (x-small)" },
            };


    string heading;
    MTListElement<string>[] headingItems = new MTListElement<string>[]
    {
        new MTListElement<string> { SelectedValue = "", Label = "Default" },
        new MTListElement<string> { SelectedValue = "Run of the mill heading", Label = "Run of the mill heading" },
        new MTListElement<string> { SelectedValue = "Heading truncated and truncated and truncated and truncated", Label = "Heading that will be truncated" }
            };


    MTToastLevel level;
    IEnumerable<MTListElement<MTToastLevel>> levelItems => from c in (MTToastLevel[])Enum.GetValues(typeof(MTToastLevel))
                                                           select new MTListElement<MTToastLevel>
                                                           {
                                                               SelectedValue = c,
                                                               Label = c.ToString()
                                                           };

    string message;
    MTListElement<string>[] messageItems = new MTListElement<string>[]
    {
        new MTListElement<string> { SelectedValue = "Run of the mill message", Label = "Run of the mill message" },
        new MTListElement<string> { SelectedValue = "Text <strong>bold</strong> and <u>underlined</u>", Label = "Message with markup" },
        new MTListElement<string> { SelectedValue = "Message truncated and truncated and truncated and truncated", Label = "Message that will be truncated" }
            };


    string showIcon;
    MTListElement<string>[] showIconItems = new MTListElement<string>[]
    {
        new MTListElement<string> { SelectedValue = "", Label = "Default" },
        new MTListElement<string> { SelectedValue = "true", Label = "true" },
        new MTListElement<string> { SelectedValue = "false", Label = "false" }
            };


    string timeout;
    MTListElement<string>[] timeoutItems = new MTListElement<string>[]
    {
        new MTListElement<string> { SelectedValue = "", Label = "Default" },
        new MTListElement<string> { SelectedValue = "1000", Label = "1 second" },
        new MTListElement<string> { SelectedValue = "10000", Label = "10 seconds" },
        new MTListElement<string> { SelectedValue = "60000", Label = "60 seconds" }
            };


    protected void InfoClick()
    {
        toastService.ShowToast(
            level: MTToastLevel.Info,
            message: "I'm an INFO");
    }


    protected void customiseClick()
    {
        string appliedCssClass = (cssClass.Length == 0) ? null : cssClass;

        string appliedHeading = (heading.Length == 0) ? null : heading;

        bool? appliedShowIcon = (showIcon.Length == 0) ? appliedShowIcon = null : appliedShowIcon = Convert.ToBoolean(showIcon);

        uint? appliedTimeout = (timeout.Length == 0) ? appliedTimeout = null : appliedTimeout = Convert.ToUInt32(timeout);

        toastService.ShowToast(
            cssClass: appliedCssClass,
            closeMethod: closeMethod,
            heading: appliedHeading,
            level: level,
            message: message,
            iconName: icon.Name,
            iconFoundry: icon.Foundry,
            showIcon: appliedShowIcon,
            timeout: appliedTimeout);
    }

    IEnumerable<MTListElement<MTToastPosition>> positionItems => from pos in (MTToastPosition[])Enum.GetValues(typeof(MTToastPosition))
                                                                 select new MTListElement<MTToastPosition>
                                                                 {
                                                                     SelectedValue = pos,
                                                                     Label = pos.ToString()
                                                                 };
}