@namespace BlazorMdc.Demo

@page "/toast"

@inject IToastService toastService

<h1 class="mdc-typography--headline4">Toast samples</h1>

<p>See <code>ToastSample.razor</code> for sources.</p>

<p>
    Note the addition of <code>AddBMdcPlus.Toast()</code> in Startup.cs (Server) and Program.cs (WASM) as well as the component <code>BMdcPlus.Toasts</code> in MainLayout.razor.
</p>

<style>
    .my-class {
        font-style: italic;
    }
</style>

@if (overrideDefaults)
{
    <style>
        :root {
            --bmdc-toast-color-info: black !important;
            --bmdc-toast-color-success: black !important;
            --bmdc-toast-color-warning: black !important;
            --bmdc-toast-color-error: black !important;

            --bmdc-toast-filter-info: initial !important;
            --bmdc-toast-filter-success: initial !important;
            --bmdc-toast-filter-warning: initial !important;
            --bmdc-toast-filter-error: initial !important;

            --bmdc-toast-background-color-info: var(--bmdc-color-lightblue-200) !important;
            --bmdc-toast-background-color-success: var(--bmdc-color-green-200) !important;
            --bmdc-toast-background-color-warning: var(--bmdc-color-amber-200) !important;
            --bmdc-toast-background-color-error: var(--bmdc-color-red-200) !important;
            --bmdc-toast-border-radius: 16px !important;
        }
    </style>
}

<p><BMdc.Checkbox @bind-Value="@overrideDefaults" Label="Change colors and border radius from default" /></p>

<p><BMdcPlus.NumericIntField @bind-Value="@toastService.Configuration.MaxToastsShowing" Label="Max Toasts (0-10)" Min="0" Max="10" NumericFormat="N0" /></p>

<p>
    <BMdc.Button Style="background-color: var(--bmdc-toast-background-color-info);"
               @onclick="@InfoClick"
               Label="Info Toast"
               ButtonStyle="@BMdcModel.ButtonStyle.ContainedRaised" />

    <BMdc.Button Style="background-color: var(--bmdc-toast-background-color-success);"
               @onclick="@(() => toastService.ShowToast(
                              level: BMdcModel.ToastLevel.Success,
                              heading: "I'm a SUCCESS",
                              message: "Congratulations!" ))"
               Label="Success Toast"
               ButtonStyle="@BMdcModel.ButtonStyle.ContainedRaised" />

    <BMdc.Button Style="background-color: var(--bmdc-toast-background-color-warning);"
               @onclick="@(() => toastService.ShowToast(
                              level: BMdcModel.ToastLevel.Warning,
                              message: "I'm a WARNING" ))"
               Label="Warning Toast"
               ButtonStyle="@BMdcModel.ButtonStyle.ContainedRaised" />

    <BMdc.Button Style="background-color: var(--bmdc-toast-background-color-error);"
               @onclick="@(() => toastService.ShowToast(
                              level: BMdcModel.ToastLevel.Error,
                              message: "I'm an ERROR" ))"
               Label="Error Toast"
               ButtonStyle="@BMdcModel.ButtonStyle.ContainedRaised" />
</p>

<p>Try different configuration options</p>
<p><BMdc.Select Label="Additional css class" @bind-Value="@cssClass" Items="cssClassItems" ItemValidation="@BMdcModel.ItemValidation.DefaultToFirst"></BMdc.Select></p>
<p><BMdc.Select Label="Close method" @bind-Value="@closeMethod" Items="closeMethodItems"></BMdc.Select></p>
<p><BMdc.Select Label="Heading" @bind-Value="@heading" Items="headingItems" ItemValidation="@BMdcModel.ItemValidation.DefaultToFirst"></BMdc.Select></p>
<p><BMdc.Select Label="Icon" @bind-Value="@icon" Items="iconItems" ItemValidation="@BMdcModel.ItemValidation.DefaultToFirst"></BMdc.Select></p>
<p><BMdc.Select Label="Level" @bind-Value="@level" Items="levelItems"></BMdc.Select></p>
<p><BMdc.Select Label="Message" @bind-Value="@message" Items="messageItems" ItemValidation="@BMdcModel.ItemValidation.DefaultToFirst"></BMdc.Select></p>
<p><BMdc.Select Label="Show icon" @bind-Value="@showIcon" Items="showIconItems" ItemValidation="@BMdcModel.ItemValidation.DefaultToFirst"></BMdc.Select></p>
<p><BMdc.Select Label="Timeout" @bind-Value="@timeout" Items="timeoutItems" ItemValidation="@BMdcModel.ItemValidation.DefaultToFirst"></BMdc.Select></p>
<p>
    <BMdc.Button @onclick="@customiseClick"
               Label="Toast with selected options"
               ButtonStyle="@BMdcModel.ButtonStyle.ContainedRaised" />
</p>


@code{
    private bool overrideDefaults = false;

    string cssClass;
    BMdcModel.ListElement<string>[] cssClassItems = new BMdcModel.ListElement<string>[]
    {
        new BMdcModel.ListElement<string> { SelectedValue = "", Label = "Default" },
        new BMdcModel.ListElement<string> { SelectedValue = "my-class", Label = "Italic" },
    };


    BMdcModel.ToastCloseMethod closeMethod;
    IEnumerable<BMdcModel.ListElement<BMdcModel.ToastCloseMethod>> closeMethodItems => from c in (BMdcModel.ToastCloseMethod[])Enum.GetValues(typeof(BMdcModel.ToastCloseMethod))
                                                                          select new BMdcModel.ListElement<BMdcModel.ToastCloseMethod>
                                                                          {
                                                                              SelectedValue = c,
                                                                              Label = c.ToString()
                                                                          };

#nullable enable annotations
    class MyIcon
    {
        public string Name;
        public BMdcModel.IIconFoundry? Foundry;
    }
#nullable restore annotations

    MyIcon icon;
    BMdcModel.ListElement<MyIcon>[] iconItems = new BMdcModel.ListElement<MyIcon>[]
    {
        new BMdcModel.ListElement<MyIcon> { SelectedValue = new MyIcon() { Name = "directions_run" }, Label = "directions_run" },
        new BMdcModel.ListElement<MyIcon> { SelectedValue = new MyIcon() { Name = "thumb_up", Foundry = BMdcModel.IconHelper.MIFoundry(theme: BMdcModel.IconMITheme.Filled) }, Label = "thumb_up (filled / default)" },
        new BMdcModel.ListElement<MyIcon> { SelectedValue = new MyIcon() { Name = "thumb_up", Foundry = BMdcModel.IconHelper.MIFoundry(theme: BMdcModel.IconMITheme.Outlined) }, Label = "thumb_up (outlined)" },
        new BMdcModel.ListElement<MyIcon> { SelectedValue = new MyIcon() { Name = "thumb_up", Foundry = BMdcModel.IconHelper.MIFoundry(theme: BMdcModel.IconMITheme.Round) }, Label = "thumb_up (rounded)" },
        new BMdcModel.ListElement<MyIcon> { SelectedValue = new MyIcon() { Name = "thumb_up", Foundry = BMdcModel.IconHelper.MIFoundry(theme: BMdcModel.IconMITheme.TwoTone) }, Label = "thumb_up (two-tone)" },
        new BMdcModel.ListElement<MyIcon> { SelectedValue = new MyIcon() { Name = "thumb_up", Foundry = BMdcModel.IconHelper.MIFoundry(theme: BMdcModel.IconMITheme.Sharp) }, Label = "thumb_up (sharp)" },
        new BMdcModel.ListElement<MyIcon> { SelectedValue = new MyIcon() { Name = "fa-ambulance", Foundry = BMdcModel.IconHelper.FAFoundry() }, Label = "fa-ambulance" },
        new BMdcModel.ListElement<MyIcon> { SelectedValue = new MyIcon() { Name = "fa-ambulance", Foundry = BMdcModel.IconHelper.FAFoundry(relativeSize: BMdcModel.IconFARelativeSize.ExtraSmall) }, Label = "fa-ambulance (x-small)" },
    };


    string heading;
    BMdcModel.ListElement<string>[] headingItems = new BMdcModel.ListElement<string>[]
    {
        new BMdcModel.ListElement<string> { SelectedValue = "", Label = "Default" },
        new BMdcModel.ListElement<string> { SelectedValue = "Run of the mill heading", Label = "Run of the mill heading" },
        new BMdcModel.ListElement<string> { SelectedValue = "Heading truncated and truncated and truncated and truncated", Label = "Heading that will be truncated" }
    };


    BMdcModel.ToastLevel level;
    IEnumerable<BMdcModel.ListElement<BMdcModel.ToastLevel>> levelItems => from c in (BMdcModel.ToastLevel[])Enum.GetValues(typeof(BMdcModel.ToastLevel))
                                                              select new BMdcModel.ListElement<BMdcModel.ToastLevel>
                                                              {
                                                                  SelectedValue = c,
                                                                  Label = c.ToString()
                                                              };

    string message;
    BMdcModel.ListElement<string>[] messageItems = new BMdcModel.ListElement<string>[]
    {
        new BMdcModel.ListElement<string> { SelectedValue = "Run of the mill message", Label = "Run of the mill message" },
        new BMdcModel.ListElement<string> { SelectedValue = "Text <strong>bold</strong> and <u>underlined</u>", Label = "Message with markup" },
        new BMdcModel.ListElement<string> { SelectedValue = "Message truncated and truncated and truncated and truncated", Label = "Message that will be truncated" }
    };


    string showIcon;
    BMdcModel.ListElement<string>[] showIconItems = new BMdcModel.ListElement<string>[]
    {
        new BMdcModel.ListElement<string> { SelectedValue = "", Label = "Default" },
        new BMdcModel.ListElement<string> { SelectedValue = "true", Label = "true" },
        new BMdcModel.ListElement<string> { SelectedValue = "false", Label = "false" }
    };


    string timeout;
    BMdcModel.ListElement<string>[] timeoutItems = new BMdcModel.ListElement<string>[]
    {
        new BMdcModel.ListElement<string> { SelectedValue = "", Label = "Default" },
        new BMdcModel.ListElement<string> { SelectedValue = "1000", Label = "1 second" },
        new BMdcModel.ListElement<string> { SelectedValue = "10000", Label = "10 seconds" },
        new BMdcModel.ListElement<string> { SelectedValue = "60000", Label = "60 seconds" }
    };


    protected void InfoClick()
    {
        toastService.ShowToast(
            level: BMdcModel.ToastLevel.Info,
            message: "I'm an INFO");
    }


    protected void customiseClick()
    {
        string appliedCssClass = (cssClass.Length == 0) ? null : cssClass;

        string appliedHeading = (heading.Length == 0) ? null : heading;

        bool? appliedShowIcon = (showIcon.Length == 0) ? appliedShowIcon = null : appliedShowIcon = Convert.ToBoolean(showIcon);

        uint? appliedTimeout = (timeout.Length == 0) ? appliedTimeout = null : appliedTimeout = Convert.ToUInt32(timeout);

        toastService.ShowToast(
            cssClass: appliedCssClass,
            closeMethod: closeMethod,
            heading: appliedHeading,
            level: level,
            message: message,
            iconName: icon.Name,
            iconFoundry: icon.Foundry,
            showIcon: appliedShowIcon,
            timeout: appliedTimeout);
    }
}