@namespace BlazorMdc

@page "/button"

<h1 class="@MdcTypography.Heading4">Button samples</h1>

See <code>ButtonSample.razor</code> for sources.

<p>
    <MdcButton Label="Default style" OnClick="@LogMessage" />
</p>

<p>
    <MdcButton Label="Contained raised" ButtonStyle="@MdcButtonStyle.ContainedRaised" OnClick="@LogMessage" />
</p>

<p>
    <MdcButton Label="Contained unelevated" ButtonStyle="@MdcButtonStyle.ContainedUnelevated" OnClick="@LogMessage" />
</p>

<p>
    <MdcButton Label="Outlined" ButtonStyle="@MdcButtonStyle.Outlined" OnClick="@LogMessage" />
</p>

<p>
    <MdcButton Label="Text" ButtonStyle="@MdcButtonStyle.Text" OnClick="@LogMessage" />
</p>

<p>
    <MdcButton Label="Disabled" Disabled="true" OnClick="@LogMessage" />
</p>

<p>
    <MdcButton Label="Leading icon" LeadingIcon="album" OnClick="@LogMessage" />
</p>

<p>
    <MdcButton Label="Trailing icon" TrailingIcon="speed" OnClick="@LogMessage" />
</p>

<p>
    <MdcButton Label="Trailing icon with style of 'padding-left: 5em;'"
               TrailingIcon="speed"
               OnClick="@LogMessage"
               Style="padding-left: 5em;"/>
</p>

<ul>
    @foreach (var logEntry in log)
    {
        <li>@logEntry</li>
    }
</ul>

@code {
    List<string> log = new List<string>();

    void LogMessage()
        => log.Add("You clicked");
}
