@page "/typography"

@inject IJSRuntime jsRuntime

<h1 class="@MdcTypography.Heading4">Typography samples</h1>

<h2 class="@MdcTypography.Heading1">Heading 1</h2>
<h2 class="@MdcTypography.Heading2">Heading 2</h2>
<h2 class="@MdcTypography.Heading3">Heading 3</h2>
<h2 class="@MdcTypography.Heading4">Heading 4</h2>
<h2 class="@MdcTypography.Heading5">Heading 5</h2>
<h2 class="@MdcTypography.Heading6">Heading 6</h2>

<h2 class="@MdcTypography.Subtitle1">Subtitle 1</h2>
<h2 class="@MdcTypography.Subtitle2">Subtitle 2</h2>

<p class="@MdcTypography.Body1">Body 1</p>
<p class="@MdcTypography.Body2">Body 2</p>
<p class="@MdcTypography.Caption">Caption</p>
<p class="@MdcTypography.Caption">Overline</p>

<p style="color: @MdcTypography.Color__Red500;">Red500 from a C# constant</p>
<p style="color: var(--bmdc-color-purple-600);">Purple600 from a CSS variable</p>

<p>Icon from C# constant: <i class="material-icons">@MdcTypography.Icon__account_balance_wallet</i></p>

