@namespace BlazorMdc

@inherits MdcInputComponentBase<DateTime>

@inject IJSRuntime jsRuntime


<div @ref="elementReference"
     class="@ClassMapper.AsString()"
     style="@StyleMapper.AsString()">

    <div class="mdc-select__anchor">
        <i class="mdc-select__dropdown-icon"></i>
        <div @key="@key" class="mdc-select__selected-text" role="button" aria-haspopup="listbox" aria-labelledby="@labelId" aria-disabled="Disabled">@initialText</div>

        @if (appliedInputStyle == MdcSelectInputStyle.Outlined)
        {
            <span class="mdc-notched-outline">
                <span class="mdc-notched-outline__leading"></span>
                <span class="mdc-notched-outline__notch">
                    <span id="@labelId" class="mdc-floating-label mdc-floating-label--float-above">@Label</span>
                </span>
                <span class="mdc-notched-outline__trailing"></span>
            </span>
        }
        else
        {
            <span id="@labelId" class="mdc-floating-label mdc-floating-label--float-above">@Label</span>
            <div class="mdc-line-ripple"></div>
        }
    </div>

    <div class="mdc-select__menu mdc-menu mdc-menu-surface bmdc-dp-menu__surface-adjust">
        <InternalDatePickerPanel @bind-Value="@CurrentValue" DateSelectionCriteria="@DateSelectionCriteria" MinDate="@MinDate" MaxDate="@MaxDate" />
    </div>
</div>



@code {
    //
    //  2020-04-02  Mark Stega
    //              Changed to use class & style mappers
    //
    //  2020-04-13  Mark Stega
    //              Moved ClassMapper to constructor
    //
    [Parameter] public MdcSelectInputStyle? SelectInputStyle { get; set; }
    [Parameter] public string Label { get; set; }
    [Parameter] public MdcDateSelectionCriteria? DateSelectionCriteria { get; set; }
    [Parameter] public DateTime MinDate { get; set; }
    [Parameter] public DateTime MaxDate { get; set; }


    private ElementReference elementReference;
    private MdcSelectInputStyle appliedInputStyle => CascadingDefaults.AppliedStyle(SelectInputStyle);
    private string key = Utilities.GenerateCssElementSelector();
    private string labelId = Utilities.GenerateCssElementSelector();
    private string initialText = "";
    private DateTime initialValue;
    private bool isOpen { get; set; } = false;


    public PMdcDatePicker()
    {
        ClassMapper
            .Add("mdc-select")
            .If("mdc-select--outlined", () => (appliedInputStyle == MdcSelectInputStyle.Outlined))
            .If("mdc-select--disabled", () => Disabled);
    }


    protected override void OnInitialized()
    {
        base.OnInitialized();

        initialValue = Value;
        initialText = Utilities.DateToString(Value);
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await jsRuntime.InvokeAsync<object>("BlazorMdc.datePicker.init", elementReference);
        }
    }
}
