@namespace Material.Blazor

@inherits InputComponent<int>
@typeparam TItem


@if (Icon is null && Label is null)
{
    <MBTabBar @bind-Value="@ComponentValue"
              Context="item"
              Density="@Density"
              Disabled="@AppliedDisabled"
              GetKeysFunc="@GetKeysFunc"
              Items="@Items"
              StackIcons="@StackIcons">

    </MBTabBar>
}
else if (Label is null)
{
    <MBTabBar @bind-Value="@ComponentValue"
              Context="item"
              Density="@Density"
              Disabled="@AppliedDisabled"
              GetKeysFunc="@GetKeysFunc"
              Items="@Items"
              StackIcons="@StackIcons">

        <Icon>@Icon(item)</Icon>
    </MBTabBar>
}
else if (Icon is null)
{
    <MBTabBar @bind-Value="@ComponentValue"
              Context="item"
              Density="@Density"
              Disabled="@AppliedDisabled"
              GetKeysFunc="@GetKeysFunc"
              Items="@Items"
              StackIcons="@StackIcons">

        <Label>@Label(item)</Label>
    </MBTabBar>
}
else
{
    <MBTabBar @bind-Value="@ComponentValue"
              Context="item"
              Density="@Density"
              Disabled="@AppliedDisabled"
              GetKeysFunc="@GetKeysFunc"
              Items="@Items"
              StackIcons="@StackIcons">

        <Label>@Label(item)</Label>
        <Icon>@Icon(item)</Icon>
    </MBTabBar>
}


<MBSlidingContent Context="item"
                  ItemIndex="@Value"
                  Items="@Items">

    <Content>
        @Content(item)
    </Content>
</MBSlidingContent>