@namespace BlazorMdc.Demo
@page "/cascadingdefaults"


<h1 class="@MdcTypography.Heading4">Cascading defaults samples</h1>

<p>Shows how MdcpCascadingDefaults can be used as a cascading value to set default component styles.</p>
<p>See <code>CascadingDefaultsSample.razor</code> for sources.</p>

<h3 class="@MdcTypography.Heading5" style="margin-top: 4rem;">BlazorMdc default styles</h3>
<p><MdcSelect Label="Select" @bind-Value="@selectDefault" Items="items" /></p>
<p><PMdcDatePicker Label="Date" @bind-Value="dateDefault" MinDate="min" MaxDate="max" /></p>
<p><MdcTextField Label="Text Field" @bind-Value="textFieldDefault" /></p>
<p><MdcTextArea Label="Text Area" Rows="2" @bind-Value="textAreaDefault" /></p>
<p><MdcButton Label="Button" /></p>

<CascadingValue Value="defaults1">
    <h3 class="@MdcTypography.Heading5" style="margin-top: 4rem;">Variant 1</h3>
    <p><MdcSelect Label="Select" @bind-Value="@selectVariant1" Items="items" /></p>
    <p><PMdcDatePicker Label="Date" @bind-Value="dateVariant1" MinDate="min" MaxDate="max" /></p>
    <p><MdcTextField Label="Text Field" @bind-Value="textFieldVariant1" /></p>
    <p><MdcTextArea Label="Text Area" Rows="2" @bind-Value="textAreaVariant1" /></p>
    <p><MdcButton Label="Button" /></p>
</CascadingValue>

<CascadingValue Value="defaults2">
    <h3 class="@MdcTypography.Heading5" style="margin-top: 4rem;">Variant 2</h3>
    <p><MdcSelect Label="Select" @bind-Value="@selectVariant2" Items="items" /></p>
    <p><PMdcDatePicker Label="Date" @bind-Value="dateVariant2" MinDate="min" MaxDate="max" /></p>
    <p><MdcTextField Label="Text Field" @bind-Value="textFieldVariant2" /></p>
    <p><MdcTextArea Label="Text Area" Rows="2" @bind-Value="textAreaVariant2" /></p>
    <p><MdcButton Label="Button" /></p>
</CascadingValue>

<CascadingValue Value="defaults3">
    <h3 class="@MdcTypography.Heading5" style="margin-top: 4rem;">Variant 3</h3>
    <p><MdcSelect Label="Select" @bind-Value="@selectVariant3" Items="items" /></p>
    <p><PMdcDatePicker Label="Date" @bind-Value="dateVariant3" MinDate="min" MaxDate="max" /></p>
    <p><MdcTextField Label="Text Field" @bind-Value="textFieldVariant3" /></p>
    <p><MdcTextArea Label="Text Area" Rows="2" @bind-Value="textAreaVariant3" /></p>
    <p><MdcButton Label="Button" /></p>
</CascadingValue>



@code {
    string selectDefault;
    string textFieldDefault;
    string textAreaDefault;
    DateTime dateDefault = new DateTime(2020, 2, 29);
    DateTime min = new DateTime(2019, 1, 1);
    DateTime max = new DateTime(2038, 12, 31);


    MdcCascadingDefaults defaults1 = new MdcCascadingDefaults()
    {
        SelectInputStyle = MdcSelectInputStyle.Outlined,
        TextInputStyle = MdcTextInputStyle.Outlined,
        ButtonStyleCV = MdcButtonStyle.Outlined,
        DateSelectionCriteria = MdcDateSelectionCriteria.WeekdaysOnly
    };
    string selectVariant1;
    string textFieldVariant1;
    string textAreaVariant1;
    DateTime dateVariant1 = new DateTime(2020, 2, 29);


    MdcCascadingDefaults defaults2 = new MdcCascadingDefaults()
    {
        SelectInputStyle = MdcSelectInputStyle.Filled,
        TextInputStyle = MdcTextInputStyle.FullWidth,
        ButtonStyleCV = MdcButtonStyle.ContainedUnelevated,
        DateSelectionCriteria = MdcDateSelectionCriteria.WeekendsOnly
    };
    string selectVariant2;
    string textFieldVariant2;
    string textAreaVariant2;
    DateTime dateVariant2 = new DateTime(2020, 2, 29);


    MdcCascadingDefaults defaults3 = new MdcCascadingDefaults()
    {
        SelectInputStyle = MdcSelectInputStyle.Outlined,
        TextInputStyle = MdcTextInputStyle.Filled,
        ButtonStyleCV = MdcButtonStyle.ContainedRaised,
        DateSelectionCriteria = MdcDateSelectionCriteria.AllowAll
    };
    string selectVariant3;
    string textFieldVariant3;
    string textAreaVariant3;
    DateTime dateVariant3 = new DateTime(2020, 2, 29);



    MdcSelect<string>.Item<string>[] items = new MdcSelect<string>.Item<string>[]
    {
        new MdcSelect<string>.Item<string> { DataValue = "", Text = "" },
        new MdcSelect<string>.Item<string> { DataValue = "brit-short", Text = "British Shorthair" },
        new MdcSelect<string>.Item<string> { DataValue = "russ-blue", Text = "Russian Blue" },
        new MdcSelect<string>.Item<string> { DataValue = "ice-invis", Text = "Icelandic Invisible" }
            };
}