@namespace BlazorMdc.Demo

@page "/datepicker"



<h1 class="mdc-typography--headline4">Datepicker samples</h1>

<p>See <code>DatePickerSample.razor</code> for sources.</p>

<p>
    <BMdcPlus.DatePicker Label="Filled"
                         @bind-Value="@filled"
                         SelectInputStyle="ESelectInputStyle.Filled"
                         MinDate="min"
                         MaxDate="max" />
</p>
<p style="margin-bottom: 4em;">Selected: '<strong>@filled.ToString("D")</strong>'</p>

<p>
    <BMdcPlus.DatePicker Label="Weekdays Outlined"
                         @bind-Value="@outlined"
                         SelectInputStyle="ESelectInputStyle.Outlined"
                         DateSelectionCriteria="EDateSelectionCriteria.WeekdaysOnly"
                         MinDate="min"
                         MaxDate="max"
                         DateFormat="ddd MMM dd, yyyy" />
    <BMdc.Button @onclick="@(() => outlined = DateTime.Today)" Label="Go to Today" />
</p>
<p style="margin-bottom: 20em;">Selected: '<strong>@outlined.ToString("D")</strong>'</p>


@code {
    DateTime filled = DateTime.Today.AddMonths(1);
    DateTime outlined = DateTime.Today.AddMonths(1);

    DateTime min = new DateTime(2019, 12, 14);
    DateTime max = new DateTime(2097, 6, 14);
}