@namespace BlazorMdc

@inherits MdcInputComponentBase<bool>

@inject IJSRuntime jsRuntime


<div @ref="@elementReference"
     @attributes="SplatAttributes(SplatType.MappersOnly)">

        <div class="mdc-switch__track"></div>
        <div class="mdc-switch__thumb-underlay">
            <div class="mdc-switch__thumb">
                <input type="checkbox" 
                       id="@Id" 
                       @bind="@ReportingValue" 
                       class="mdc-switch__native-control" 
                       role="switch"
                       @attributes="SplatAttributes(SplatType.ExcludeMappers)" />
            </div>
        </div>
    </div>
<label for="@Id" style="margin-left: 1rem;">@Label</label>


@code {
    //
    //  2020-04-02  Mark Stega
    //              Changed to use class & style mappers
    //
    //  2020-04-13  Mark Stega
    //              Moved ClassMapper to constructor
    //
    [Parameter] public string Label { get; set; } = "On/off";

    
    ElementReference elementReference;


    protected override void OnInitialized()
    {
        base.OnInitialized();

        ClassMapper
            .Add("mdc-switch")
            .AddIf("mdc-switch--disabled", () => IsDisabled)
            .AddIf("mdc-switch--checked", () => ReportingValue);

        ForceShouldRenderToTrue = true;
    }


    protected override async Task InitializeMdcComponent() => await jsRuntime.InvokeAsync<object>("BlazorMdc.switch.setChecked", elementReference, ReportingValue);
}
