@namespace BlazorMdc

@typeparam TItem

@inherits MdcInputComponentBase<bool>

@inject IJSRuntime jsRuntime


<div class="@ClassMapper.ToString()"
     style="@StyleMapper.ToString()"
     @ref="@formReference">

    <div @ref="@radioButtonReference" class="@buttonContainerClass">
        <input class="mdc-radio__native-control @disabledClass"
                type="radio"
                id="@radioId"
                name="@RadioGroupName"
                disabled="@Disabled"
                @onclick="@OnClick">
 
        <div class="mdc-radio__background">
            <div class="mdc-radio__outer-circle"></div>
            <div class="mdc-radio__inner-circle"></div>
        </div>
        <div class="mdc-radio__ripple"></div>
    </div>
    <label for="@radioId">@Label</label>

</div>

@code{
    //
    //  2020-04-20  Mark Stega
    //              Created (loosely) from MdcRadioButtons
    //
    [Parameter] public TItem CheckedValue { get; set; }
    [Parameter] public string Label { get; set; }
    [Parameter] public string ButtonContainerClass { get; set; }
    [Parameter] public bool EnableTouchWrapper { get; set; } = true;
    [Parameter] public string RadioGroupName { get; set; }
    [Parameter] public EventCallback OnClick { get; set; }

    
    private readonly string radioId = Utilities.GenerateCssElementSelector();
    private ElementReference formReference { get; set; }
    private ElementReference radioButtonReference;
    private string buttonContainerClass;
    private string disabledClass = "";


    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (string.IsNullOrEmpty(RadioGroupName))
        {
            throw new ArgumentException("RadioGroupName is a required parameter in MdcRadioButton.");
        }

        ClassMapper
            .Add("mdc-form-field");

        if (EnableTouchWrapper)
        {
            buttonContainerClass = "mdc-radio mdc-radio--touch";
        }
        else
        {
            buttonContainerClass = "mdc-radio";
        }

        if (!string.IsNullOrWhiteSpace(ButtonContainerClass))
        {
            buttonContainerClass += " " + ButtonContainerClass;
        }

        if (Disabled)
        {
            disabledClass = " mdc-radio--disabled";
        }
    }


    protected override async Task InitializeMdcComponent() => await jsRuntime.InvokeAsync<object>("BlazorMdc.radioButton.init", radioButtonReference, formReference, Value);


    internal async Task ClickAsync() => await jsRuntime.InvokeVoidAsync("BlazorMdc.radioButton.click", radioButtonReference);
}
