@namespace Material.Blazor.MD2
@inherits ComponentFoundation

<MBTouchTargetWrapper ApplyTouchTargetWrapper="@false">
    <button @ref="@ElementReference"
            class="mdc-button @ActiveConditionalClasses @(@class)"
            style="@style"
            id="@id"
            type="button"
            @attributes="@AttributesToSplat()"
            data-mdc-dialog-action="@DialogAction">

        <span class="mdc-button__ripple" />
        <span class="mdc-button__touch" />

        @if (!string.IsNullOrWhiteSpace(LeadingIcon))
        {
            <MBIconWithParameters aria-hidden="true"
                    class="mdc-button__icon"
                    IconName="@LeadingIcon" />
        }

        <span class="mdc-button__label">@Label</span>

        @if (!string.IsNullOrWhiteSpace(TrailingIcon))
        {
            <MBIconWithParameters aria-hidden="true"
                    class="mdc-button__icon"
                    IconName="@TrailingIcon" />
        }

        @if (HasBadge)
        {
            <span class="mb-badge-container">
                <MBBadge BadgeStyle="@BadgeStyle"
                         Value="@BadgeValue"
                         Exited="@BadgeExited" />
            </span>
        }
    </button>
</MBTouchTargetWrapper>
