@namespace Material.Blazor

@inherits InputComponent<string>


<label @ref="@ElementReference"
       class="mdc-text-field @ActiveConditionalClasses @(@class)"
       style="@style"
       id="@id">

    @if (AppliedInputStyle == MBTextInputStyle.Outlined)
    {
        <span class="mdc-notched-outline">
            <span class="mdc-notched-outline__leading"></span>

            @if (ShowLabel)
            {
                <span class="mdc-notched-outline__notch">
                    <span class="mdc-floating-label @FloatingLabelClass" for="@CrossReferenceId" id="@labelId">@DisplayLabel</span>
                </span>
            }

            <span class="mdc-notched-outline__trailing"></span>
        </span>
    }
    else
    {
        <span class="mdc-text-field__ripple"></span>

        @if (ShowLabel)
        {
            <span class="mdc-floating-label @FloatingLabelClass" for="@CrossReferenceId" id="@labelId">@DisplayLabel</span>
        }
    }

    @if (!string.IsNullOrWhiteSpace(LeadingIcon))
    {
        <MBIcon IconName="@LeadingIcon" IconFoundry="@IconFoundry" class="mdc-text-field__icon mdc-text-field__icon--leading" tabindex="-1" role="button" />
    }

    @if (!string.IsNullOrWhiteSpace(Prefix))
    {
        <span class="mdc-text-field__affix mdc-text-field__affix--prefix">@Prefix</span>
    }

    <input @ref="@InputReference"
           @attributes="@AttributesToSplat()"
           aria-label="@Label"
           aria-labelledby="@(Label == null ? null : labelId)"
           aria-controls="@(HasHelperText ? helperTextId : null)"
           aria-describedby="@(HasHelperText ? helperTextId : null)"
           id="@CrossReferenceId"
           class="mdc-text-field__input @AppliedTextInputStyleClass @FieldClass"
           @bind="@ComponentValue">

    @if (!string.IsNullOrWhiteSpace(Suffix))
    {
        <span class="mdc-text-field__affix mdc-text-field__affix--suffix">@Suffix</span>
    }

    @if (!string.IsNullOrWhiteSpace(TrailingIcon))
    {
        <MBIcon IconName="@TrailingIcon" IconFoundry="@IconFoundry" class="mdc-text-field__icon mdc-text-field__icon--trailing" tabindex="-1" role="button" />
    }

    @if (AppliedInputStyle == MBTextInputStyle.Filled)
    {
        <span class="mdc-line-ripple"></span>
    }

    @if (HasBadge)
    {
        @*<span class="mb-badge-wrapper">*@
        <span class="mb-badge-container">
            <MBBadge @ref="@Badge"
                 BadgeStyle="@BadgeStyle" #
                 Value="@BadgeValue"
                 Exited="@BadgeExited" />
        </span>
        @*</span>*@
    }
</label>

@if (HasHelperText)
{
    var additionalClass = HasErrorText ? "mb-text-field__helper-text" : "";

    <div class="mdc-text-field-helper-line @additionalClass">
        <div @ref="@HelperTextReference"
             class="mdc-text-field-helper-text"
             id="@helperTextId"
             aria-hidden="true">
            @HelperTextMarkup
        </div>
    </div>
}

@if (HasErrorText)
{
    <div class="mdc-text-field-helper-line  mb-text-field__helper-invalid-text">
        <div @ref="@ErrorTextReference"
             class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent"
             aria-hidden="true">
            @DateFieldErrorMessage
        </div>
    </div>
}
