@namespace BlazorMdc

@typeparam TItem

@inherits MdcValidatingInputComponentBase<TItem>

@implements IMdcDialogChild

@inject IJSRuntime jsRuntime


<div @ref="elementReference"
     class="@ClassMapper.ToString()"
     style="@StyleMapper.ToString()">

    <div class="mdc-select__anchor">
        <i class="mdc-select__dropdown-icon"></i>
        <div class="mdc-select__selected-text @alignClass" role="button" aria-haspopup="listbox" aria-labelledby="@labelId" aria-disabled="Disabled">@selectedText</div>

        @if (appliedInputStyle == MdcSelectInputStyle.Outlined)
        {
            <span class="mdc-notched-outline">
                <span class="mdc-notched-outline__leading"></span>
                <span class="mdc-notched-outline__notch">
                    <span id="@labelId" class="mdc-floating-label @floatingLabelClass">@Label</span>
                </span>
                <span class="mdc-notched-outline__trailing"></span>
            </span>
        }
        else
        {
            <span id="@labelId" class="mdc-floating-label @floatingLabelClass">@Label</span>
            <div class="mdc-line-ripple"></div>
        }
    </div>

    <div class="mdc-select__menu mdc-menu mdc-menu-surface">
        <ul class="mdc-list">
            @foreach (var item in ItemArray)
            {
                var dv = item.SelectedValue;

                if (item.SelectedValue.Equals(Value))
                {
                    <li @key="@item" class="mdc-list-item mdc-list-item--selected @alignClass" data-value="@item.Label" aria-selected="true" role="option" @onclick="@(_ => OnItemClickAsync(dv))"><span class="mdc-list-item__text">@item.Label</span></li>
                }
                else
                {
                    <li @key="@item" class="mdc-list-item @alignClass" data-value="@item.Label" aria-selected="false" role="option" @onclick=@(_ => OnItemClickAsync(dv))><span class="mdc-list-item__text">@item.Label</span></li>
                }
            }
        </ul>
    </div>
</div>



@code {
    [Parameter] public MdcItemValidation? ItemValidation { get; set; }
    [Parameter] public string Label { get; set; }
    [Parameter] public IEnumerable<MdcListElement<TItem>> Items { get; set; }
    [Parameter] public MdcSelectInputStyle? SelectInputStyle { get; set; }
    [Parameter] public MdcTextAlignStyle? TextAlignStyle { get; set; }


    private ElementReference elementReference;
    private MdcSelectInputStyle appliedInputStyle => CascadingDefaults.AppliedStyle(SelectInputStyle);
    private string labelId = Utilities.GenerateCssElementSelector();
    private string selectedText = "";
    private string floatingLabelClass = "";
    private string alignClass => Utilities.GetTextAlignClass(CascadingDefaults.AppliedStyle(TextAlignStyle));
    private MdcListElement<TItem>[] ItemArray;

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();

        ItemArray = Items.ToArray();

        MdcItemValidation appliedItemValidation = CascadingDefaults.AppliedItemValidationSelect(ItemValidation);

        await ValidateItemListAsync(ItemArray, appliedItemValidation, OnItemClickAsync);

        ClassMapper
            .Add("mdc-select")
            .AddIf("mdc-select--outlined", () => (appliedInputStyle == MdcSelectInputStyle.Outlined))
            .AddIf("mdc-select--disabled", () => Disabled);

        selectedText = Items.Where(i => object.Equals(i.SelectedValue, Value)).FirstOrDefault().Label;
        floatingLabelClass = string.IsNullOrWhiteSpace(selectedText) ? "" : "mdc-floating-label--float-above";
    }


    private async Task OnItemClickAsync(TItem dataValue)
    {
        ReportingValue = dataValue;
        await Task.CompletedTask;
    }


    protected override async Task InitializeMdcComponent() => await jsRuntime.InvokeAsync<object>("BlazorMdc.select.init", elementReference);
}
