@namespace BlazorMdc

@typeparam TItem

@inherits MdcValidatingInputComponentBase<TItem>

@implements IMdcDialogChild

@inject IJSRuntime jsRuntime


<div @ref="selectReference"
     @attributes="AttributesToSplat()">

    <div class="mdc-select__anchor" 
         role="button"
         aria-haspopup="@listboxReference"
         aria-labelledby="@labelId @selectedTextId">

        @if (appliedInputStyle == MdcSelectInputStyle.Filled)
        {
            <span class="mdc-select__ripple"></span>
        }

        <input id="@selectedTextId" type="text" disabled readonly class="mdc-select__selected-text @alignClass">
        <i class="mdc-select__dropdown-icon"></i>

        @if (appliedInputStyle == MdcSelectInputStyle.Outlined)
        {
            <span class="mdc-notched-outline">
                <span class="mdc-notched-outline__leading"></span>
                <span class="mdc-notched-outline__notch">
                    <span id="@labelId" class="mdc-floating-label @floatingLabelClass">@Label</span>
                </span>
                <span class="mdc-notched-outline__trailing"></span>
            </span>
        }
        else
        {
            <span id="@labelId" class="mdc-floating-label @floatingLabelClass">@Label</span>
            <div class="mdc-line-ripple"></div>
        }
    </div>

    <div @ref="@listboxReference" class="mdc-select__menu mdc-menu mdc-menu-surface">
        <ul @ref="@ulReference" class="mdc-list">
            @foreach (var item in ItemDict.Values)
            {
                var dv = item.SelectedValue;

                if (item.SelectedValue.Equals(Value))
                {
                    <li @key="@item" class="mdc-list-item mdc-list-item--selected @alignClass" data-value="@item.Label" aria-selected="true" aria-disabled="@item.Disabled" role="option" @onclick="@(_ => OnItemClickAsync(dv))">
                        <span class="mdc-list-item__text bmdc-full-width">
                            @item.Label
                        </span>
                    </li>
                }
                else
                {
                    <li @key="@item" class="mdc-list-item @alignClass" data-value="@item.Label" aria-selected="false" aria-disabled="@item.Disabled" role="option" @onclick=@(_ => OnItemClickAsync(dv))>
                        <span class="mdc-list-item__text bmdc-full-width">
                            @item.Label
                        </span>
                    </li>
                }
            }
        </ul>
    </div>
</div>



@code {
    [Parameter] public MdcItemValidation? ItemValidation { get; set; }
    [Parameter] public string Label { get; set; }
    [Parameter] public IEnumerable<MdcListElement<TItem>> Items { get; set; }
    [Parameter] public MdcSelectInputStyle? SelectInputStyle { get; set; }
    [Parameter] public MdcTextAlignStyle? TextAlignStyle { get; set; }


    private ElementReference selectReference;
    private ElementReference listboxReference;
    private ElementReference ulReference;
    private MdcSelectInputStyle appliedInputStyle => CascadingDefaults.AppliedStyle(SelectInputStyle);
    private string selectedTextId = Utilities.GenerateUniqueElementName();
    private string labelId = Utilities.GenerateUniqueElementName();
    private string selectedText = "";
    private string floatingLabelClass = "";
    private string alignClass => Utilities.GetTextAlignClass(CascadingDefaults.AppliedStyle(TextAlignStyle));
    private Dictionary<TItem, MdcListElement<TItem>> ItemDict;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        ItemDict = Items.ToDictionary(i => i.SelectedValue);

        ReportingValue = ValidateItemList(ItemDict.Values, CascadingDefaults.AppliedItemValidationSelect(ItemValidation));

        ClassMapper
            .Clear()
            .Add("mdc-select")
            .AddIf("mdc-select--outlined", () => (appliedInputStyle == MdcSelectInputStyle.Outlined))
            .AddIf("mdc-select--disabled", () => Disabled);

        selectedText = (Value is null) ? "" : Items.Where(i => object.Equals(i.SelectedValue, Value)).FirstOrDefault().Label;
        floatingLabelClass = string.IsNullOrWhiteSpace(selectedText) ? "" : "mdc-floating-label--float-above";
    }


    private async Task OnItemClickAsync(TItem dataValue)
    {
        ReportingValue = dataValue;
        await Task.CompletedTask;
    }


    protected override void ValueSetter(TItem value) => InvokeAsync(async () => await jsRuntime.InvokeAsync<object>("BlazorMdc.select.clickItem", ulReference, ItemDict[value].Label));


    private protected override async Task InitializeMdcComponent() => await jsRuntime.InvokeAsync<object>("BlazorMdc.select.init", selectReference);
}
