@namespace Material.Blazor.MD2.Internal
@inherits ComponentFoundationMD2


<div class="@SeparatorClass">
    @if (ShowDropZone)
    {
        <div @ref="@ElementReference" class="mb-drag-and-drop-list__drop-target @HoverClass"
             @ondragenter="@OnDragEnter"
             @ondragleave="@OnDragLeave"
             @ondrop="@OnDropAsync">

            <hr />
        </div>
    }
</div>
