@namespace BlazorMdc
@inherits InputComponentFoundation<string>


<label @ref="ElementReference"
       @attributes="@AttributesToSplat(SplatType.ClassAndStyleOnly)">

    @if (AppliedTextInputStyle == MTTextInputStyle.Filled)
    {
        <span class="mdc-text-field__ripple"></span>
    }

    @if (!string.IsNullOrWhiteSpace(LeadingIcon))
    {
        <MTIcon IconName="@LeadingIcon" IconFoundry="@IconFoundry" Class="mdc-text-field__icon mdc-text-field__icon--leading" tabindex="-1" role="button" />
    }

    <input @ref="@InputReference"
           id="@Id"
           class="mdc-text-field__input @Utilities.GetTextAlignClass(CascadingDefaults.AppliedStyle(TextAlignStyle)) @FieldClass"
           type="text"
           @bind="@ReportingValue"
           @attributes="@AttributesToSplat(SplatType.ExcludeClassAndStyle)">

    @if (!string.IsNullOrWhiteSpace(TrailingIcon))
    {
        <MTIcon IconName="@TrailingIcon" IconFoundry="@IconFoundry" Class="mdc-text-field__icon mdc-text-field__icon--trailing" tabindex="-1" role="button" />
    }

    @if (AppliedTextInputStyle == MTTextInputStyle.Outlined)
    {
        <span class="mdc-notched-outline">
            <span class="mdc-notched-outline__leading"></span>

            @if (!NoLabel)
            {
                <span class="mdc-notched-outline__notch">
                    <span class="mdc-floating-label @FloatingLabelClass" for="@Id" id="@labelId">@Label</span>
                </span>
            }

            <span class="mdc-notched-outline__trailing"></span>
        </span>
    }
    else
    {
        @if (!NoLabel)
        {
            <span class="mdc-floating-label @FloatingLabelClass" for="@Id" id="@labelId">@Label</span>
        }

        <span class="mdc-line-ripple"></span>
    }
</label>