@page "/dialog"


@inject IMBToastService ToastService



<DemonstrationPage ComponentName="Dialog"
                   Title="Dialog Demonstration"
                   DemoComponent="@this"
                   MaterialIOPage="mdc-dialog#dialogs"
                   MinDensity="MBDensity.Minus4">
    <Description>
        <p>
            Dialog samples. Click each card to launch a dialog.
        </p>
    </Description>

    <PageContent>
        <div class="mdc-layout-grid__cell--span-4">
            <MBCard AutoStyled="true" @onclick="@ShowDialog1Async">
                <PrimaryAction>
                    <div class="mb-card__primary">
                        <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                            General Dialog
                        </h2>
                        <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                            Launches a general dialog. Look at the result shown in a toast when you click a button, hit escape of click the scrim. Shows
                            a checkbox and radio buttons to demonstrate that these are correctly initiated with Material Theme javascript when rendered inside a dialog.
                        </h3>
                    </div>
                </PrimaryAction>
            </MBCard>
        </div>


        <div class="mdc-layout-grid__cell--span-4">
            <MBCard AutoStyled="true" @onclick="@ShowDialog4Async">
                <PrimaryAction>
                    <div class="mb-card__primary">
                        <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                            Disabled Scrim and Escape
                        </h2>
                        <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                            A general dialog with scrim and escape key actions disabled.
                        </h3>
                    </div>
                </PrimaryAction>
            </MBCard>
        </div>


        <div class="mdc-layout-grid__cell--span-4">
            <MBCard AutoStyled="true" @onclick="@ShowDialog5Async">
                <PrimaryAction>
                    <div class="mb-card__primary">
                        <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                            Date Picker Dialog
                        </h2>
                        <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                            Shows that a date picker's popup menu is able to render outside the dialog <code>&lt;div&gt;</code> block.
                        </h3>
                    </div>
                </PrimaryAction>
            </MBCard>
        </div>


    </PageContent>
</DemonstrationPage>


<MBDialog @ref="@Dialog1"
          Title="General dialog">
    <Body>
        <p>Please choose a fruit.</p>
        <MBCheckbox @bind-Value="@Check" Label="Check me" />
        <MBRadioButtonGroup @bind-Value="@RadioButtonResult1"
                            Items="@StringItems"
                            Vertical="true"
                            ItemValidation="@MBItemValidation.DefaultToFirst" />
    </Body>
    <Buttons>
        <MBButton Label="Orange" DialogAction="orange button clicked"></MBButton>
        <MBButton Label="Apple" DialogAction="apple button clicked" ButtonStyle="@MBButtonStyle.Text"></MBButton>
    </Buttons>
</MBDialog>


<MBDialog @ref="@Dialog4" Title="General dialog with scrim and escape disabled (using HideAsync)"
          ScrimClickAction=""
          EscapeKeyAction="">
    <Body>
        <p>Please choose a fruit.</p>
        <p><MBCheckbox @bind-Value="@Check" Label="Check me" /></p>
    </Body>
    <Buttons>
        <MBButton Label="Orange" @onclick="@(() => OnButtonClick("orange notified by @onclick"))"></MBButton>
        <MBButton Label="Apple" @onclick="@(() => OnButtonClick("orange notified by @onclick"))" ButtonStyle="@MBButtonStyle.Text"></MBButton>
    </Buttons>
</MBDialog>


<MBDialog @ref="@Dialog5" Title="Date Picker Dialog"
          OverflowVisible="true">
    <Body>
        <p>Set the date.</p>
        <MBDatePicker Label="The date" @bind-Value="@Date5" SelectInputStyle="MBSelectInputStyle.Outlined" MinDate="@MinDate" MaxDate="@MaxDate"></MBDatePicker>
    </Body>
    <Buttons>
        <MBButton Label="Orange" DialogAction="orange"></MBButton>
        <MBButton Label="Apple" DialogAction="apple" ButtonStyle="@MBButtonStyle.Text"></MBButton>
    </Buttons>
</MBDialog>


@code {
    private bool DisableInput { get; set; } = false;
    private MBDialog Dialog1 { get; set; }
    private MBDialog Dialog4 { get; set; }
    private MBDialog Dialog5 { get; set; }

    private bool Check { get; set; }

    private string _radioButtonResult1 = "brit-short";
    private string RadioButtonResult1
    {
        get => _radioButtonResult1;
        set
        {
            _radioButtonResult1 = value;

            ToastService.ShowToast(heading: "Dialog 1 Radio Click", message: $"Value: '{_radioButtonResult1}'", level: MBToastLevel.Success, showIcon: false);
        }
    }

    private MBListElement<string>[] StringItems = new MBListElement<string>[]
    {
        new MBListElement<string> { SelectedValue = "brit-short", Label = "British Shorthair" },
        new MBListElement<string> { SelectedValue = "russ-blue", Label = "Russian Blue" },
        new MBListElement<string> { SelectedValue = "ice-invis", Label = "Icelandic Invisible" }
            };

    private async Task ShowDialog1Async()
    {
        var result = await Dialog1.ShowAsync();
        ToastService.ShowToast(heading: "Dialog 1 Result", message: $"Value: '{result}'", level: MBToastLevel.Success, showIcon: false);
    }

    private async Task ShowDialog4Async()
    {
        var result = await Dialog4.ShowAsync();
        ToastService.ShowToast(heading: "Dialog 4 Result", message: $"Value: '{result}'", level: MBToastLevel.Success, showIcon: false);
    }

    private async Task OnButtonClick(string button)
    {
        await Dialog4.HideAsync();
        ToastService.ShowToast(heading: "Dialog 4 By @onclick", message: $"Value: '{button}'", level: MBToastLevel.Success, showIcon: false);
    }

    private DateTime MinDate { get; set; } = new DateTime(2015, 1, 1);
    private DateTime MaxDate { get; set; } = new DateTime(2025, 12, 31);
    private DateTime Date5 { get; set; } = DateTime.Today;

    private async Task ShowDialog5Async()
    {
        var result = await Dialog5.ShowAsync();
        ToastService.ShowToast(heading: "Dialog 5 Result", message: $"Value: '{result}'", level: MBToastLevel.Success, showIcon: false);
    }
}
