@page "/NumericDoublefield"

@inject IMBToastService ToastService

@using System.Runtime.InteropServices


<DemonstrationPage ComponentName="NumericDoubleField"
                         Title="Numeric Double Field Demonstration"
                         DemoComponent="@this"
                         MinDensity="MBDensity.Minus4"
                         RequiresDisableSelection="true">
    <Description>
        <p>
            Shows numeric double fields, which are Plus components.
            Each of these can display as Filled or Outlined and with
            the full variety of icon foundries. These are used across the page but it we don't attempt to show each variant everywhere - see the Text Field demo for this.
        </p>
    </Description>

    <PageContent>
        <div class="mdc-layout-grid__cell--span-4">
            <MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Standard Formatted Numerics
                    </h2>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        A range of numeric double fields using formats for non focused input.
                    </h3>

                    <p>
                        <MBNumericDoubleField Label="Double 2dp"
                                              @bind-Value="@Double"
                                              NumericFormat="N2" DecimalPlaces="2"
                                              TextInputStyle="MBTextInputStyle.Outlined" />
                    </p>

                    <p>
                        <MBNumericDoubleField Label="Money by format"
                                              @bind-Value="@MoneyByFormat"
                                              NumericFormat="C2"
                                              DecimalPlaces="2"
                                              TextInputStyle="MBTextInputStyle.Outlined" />
                    </p>

                    <p>
                        <MBNumericDoubleField Label="Money by prefix"
                                              Prefix="£"
                                              @bind-Value="@MoneyByPrefix"
                                              NumericFormat="N2"
                                              DecimalPlaces="2"
                                              TextInputStyle="MBTextInputStyle.Outlined" />
                    </p>
                </Primary>
            </MBCard>
        </div>



        <div class="mdc-layout-grid__cell--span-4">
            <MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Scaled Formatted Numerics
                    </h2>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Percentage and basis point numerics can be editted either using a prefix or standard formatting (in the case of percentages only).
                        A figure of "12.3%" results in a double value of "0.123" and one of "34.5 bp" results in a double value of "0.00345".
                    </h3>

                    <p>
                        <MBNumericDoubleField Label="Percent by format"
                                              @bind-Value="@PercentByFormat"
                                              NumericFormat="P2"
                                              DecimalPlaces="2"
                                              FocusedMagnitude="MBNumericInputMagnitude.Percent"
                                              TextInputStyle="MBTextInputStyle.Outlined" />
                    </p>

                    <p>
                        <MBNumericDoubleField Label="Percent by Suffix"
                                              @bind-Value="@PercentBySuffix"
                                              NumericFormat="N2"
                                              DecimalPlaces="2"
                                              Suffix="%"
                                              FocusedMagnitude="MBNumericInputMagnitude.Percent"
                                              UnfocusedMagnitude="MBNumericInputMagnitude.Percent"
                                              TextInputStyle="MBTextInputStyle.Outlined" />
                    </p>

                    <p>
                        <MBNumericDoubleField Label="Basis Points by Suffix"
                                              @bind-Value="@BasisPointsBySuffix"
                                              NumericFormat="N0"
                                              DecimalPlaces="0"
                                              Suffix="bp"
                                              FocusedMagnitude="MBNumericInputMagnitude.BasisPoints"
                                              UnfocusedMagnitude="MBNumericInputMagnitude.BasisPoints"
                                              TextInputStyle="MBTextInputStyle.Outlined" />
                    </p>
                </Primary>
            </MBCard>
        </div>
    </PageContent>
</DemonstrationPage>


@code {
    private double _double;
    private double Double
    {
        get => _double;
        set
        {
            _double = value;

            ToastService.ShowToast(heading: "Double numeric", message: $"Value: '{_double.ToString("N2")}'", level: MBToastLevel.Success, showIcon: false);
        }
    }



    private double _moneyByFormat;
    private double MoneyByFormat
    {
        get => _moneyByFormat;
        set
        {
            _moneyByFormat = value;

            ToastService.ShowToast(heading: "Money by format numeric", message: $"Value: '{_moneyByFormat.ToString("C2")}'", level: MBToastLevel.Success, showIcon: false);
        }
    }



    private double _moneyByPrefix;
    private double MoneyByPrefix
    {
        get => _moneyByPrefix;
        set
        {
            _moneyByPrefix = value;

            ToastService.ShowToast(heading: "Money by Prefix numeric", message: $"Value: '{_moneyByPrefix.ToString("N2")}'", level: MBToastLevel.Success, showIcon: false);
        }
    }



    private double _percentByFormat;
    private double PercentByFormat
    {
        get => _percentByFormat;
        set
        {
            _percentByFormat = value;

            ToastService.ShowToast(heading: "Percent by format", message: $"Value: '{_percentByFormat.ToString("N4")}'", level: MBToastLevel.Success, showIcon: false);
        }
    }


    private double _percentBySuffix;
    private double PercentBySuffix
    {
        get => _percentBySuffix;
        set
        {
            _percentBySuffix = value;

            ToastService.ShowToast(heading: "Percent by suffix", message: $"Value: '{_percentBySuffix.ToString("N4")}'", level: MBToastLevel.Success, showIcon: false);
        }
    }


    private double _basisPointsBySuffix;
    private double BasisPointsBySuffix
    {
        get => _basisPointsBySuffix;
        set
        {
            _basisPointsBySuffix = value;

            ToastService.ShowToast(heading: "Basis Points by suffix", message: $"Value: '{_basisPointsBySuffix.ToString("N4")}'", level: MBToastLevel.Success, showIcon: false);
        }
    }


    private bool IsWebAssembly => RuntimeInformation.OSArchitecture == Architecture.Wasm;
}