@namespace BlazorMdc.Demo

@page "/list"

<h1 class="mdc-typography--headline4">List samples</h1>

<p>See <code>ListSample.razor</code> for sources.</p>

<p><MTSwitch @bind-Value="@dense" Label="Set for dense" /></p>
<p><MTSwitch @bind-Value="@hideLineTwo" Label="Hide line two" /></p>
<p><MTSwitch @bind-Value="@hideLineThree" Label="Hide line three" /></p>

<MTList Items="@displayedProducts"
        Context="product"
        ShowSeparators="true"
        KeyboardInteractions="true"
        Ripple="true"
        AvatarList="true"
        Dense="@dense"
        HideLineTwo="@hideLineTwo"
        HideLineThree="@hideLineThree"
        OnClick="OnClick"
        ListStyle="@ListStyleEnum.Outlined">

    <Icon>shop</Icon>
    <Title>@product.DisplayName</Title>
    <Actions>
        <div style="width: 10rem">
            <MTSwitch @bind-Value="@product.IsInStock"
                      Label="@(product.IsInStock ? "In stock" : "Out of stock")" />
        </div>
    </Actions>
</MTList>

<p></p>

<MTList Items="@displayedProducts"
        Context="product"
        ShowSeparators="true"
        KeyboardInteractions="true"
        Ripple="true"
        AvatarList="true"
        Dense="@dense"
        HideLineTwo="@hideLineTwo"
        HideLineThree="@hideLineThree"
        OnClick="OnClick"
        ListStyle="@ListStyleEnum.Outlined">

    <Icon>shop</Icon>
    <Title>@product.DisplayName</Title>
    <LineTwo>@product.LineTwo</LineTwo>
    <Actions>
        <div style="width: 10rem">
            <MTSwitch @bind-Value="@product.IsInStock"
                      Label="@(product.IsInStock ? "In stock" : "Out of stock")" />
        </div>
    </Actions>
</MTList>

<p></p>

<MTList Items="@displayedProducts"
        Context="product"
        ShowSeparators="true"
        KeyboardInteractions="true"
        Ripple="true"
        AvatarList="true"
        Dense="@dense"
        HideLineTwo="@hideLineTwo"
        HideLineThree="@hideLineThree"
        OnClick="OnClick"
        ListStyle="@ListStyleEnum.Outlined">

    <Icon>shop</Icon>
    <Title>@product.DisplayName</Title>
    <LineTwo>@product.LineTwo</LineTwo>
    <LineThree>@product.LineThree</LineThree>
    <Actions>
        <div style="width: 10rem">
            <MTSwitch @bind-Value="@product.IsInStock"
                      Label="@(product.IsInStock ? "In stock" : "Out of stock")" />
        </div>
    </Actions>
</MTList>

<p>Clicked index: '@clickedIndex'</p>

@code {
    IEnumerable<Product> displayedProducts = new System.Collections.Generic.List<Product>
{
        new Product { ProductId = 1, DisplayName = "Curly-wurly straw", LineTwo = "Amaze your friends with this cheap plastic tube", LineThree = "Line three", IsInStock = true },
        new Product { ProductId = 2, DisplayName = "Pepsi Connoisseur (12mo subscription)", LineTwo = "Covers all developments in the world of Pepsi™", LineThree = "Line three", IsInStock = false },
        new Product { ProductId = 3, DisplayName = "Recarbonator Pro", LineTwo = "Revitalize your old beverages in just hours", LineThree = "Line three", IsInStock = true },
    };

    public class Product
    {
        public int ProductId { get; set; }
        public string DisplayName { get; set; }
        public string LineTwo { get; set; }
        public string LineThree { get; set; }
        public bool IsInStock { get; set; }
    }

    private int clickedIndex;
    private bool dense = false;
    private bool hideLineTwo = false;
    private bool hideLineThree = false;

    private void OnClick(int index)
    {
        clickedIndex = index;
    }
}