@namespace BlazorMdc.Demo

@page "/progress"

<h1 class="mdc-typography--headline4">Progress samples</h1>

<p style="margin-bottom: 2rem;">See <code>ProgressSample.razor</code> for sources.</p>

<p><MTSwitch @bind-Value="@show" Label="Show/hide items" /></p>
<p><MTSwitch @bind-Value="@showBuffer" Label="Show buffer" /></p>

<h5 class="mdc-typography--headline5">Indeterminate</h5>
<p><MTLinearProgress LinearProgressType="@linearIndeterminate" /></p>

<p><MTCircularProgress CircularProgressType="@circularIndeterminate" /></p>
<p><MTCircularProgress CircularProgressType="@circularIndeterminate" CircularProgressSize="MTCircularProgressSize.Medium" /></p>
<p><MTCircularProgress CircularProgressType="@circularIndeterminate" CircularProgressSize="MTCircularProgressSize.Small" /></p>

<h5 class="mdc-typography--headline5">Determinate</h5>
<MTNumericDoubleField @bind-Value="@progress" Label="Progress (0 to 100%)" Min="0" Max="1" FocussedMagnitude="MTNumericInputMagnitude.Percent" DecimalPlaces="2" NumericFormat="P0" />

<p>Regular:</p>
<p><MTLinearProgress LinearProgressType="linearDeterminate" Value="@progress" BufferValue="buffer" /></p>

<p>Reversed:</p>
<p><MTLinearProgress LinearProgressType="linearReversed" Value="@progress" BufferValue="buffer" /></p>

<p><MTCircularProgress Value="@progress" CircularProgressType="@circularDeterminate" /></p>
<p><MTCircularProgress Value="@progress" CircularProgressType="@circularDeterminate" CircularProgressSize="MTCircularProgressSize.Medium" /></p>
<p><MTCircularProgress Value="@progress" CircularProgressType="@circularDeterminate" CircularProgressSize="MTCircularProgressSize.Small" /></p>


@code {
    bool show = true;
    bool showBuffer = true;
    double progress = 0.2;
    double? buffer => showBuffer ? (double?)progress + (1 - progress) / 3 : null;
    MTLinearProgressType linearIndeterminate => show ? MTLinearProgressType.Indeterminate : MTLinearProgressType.Closed;
    MTLinearProgressType linearDeterminate => show ? MTLinearProgressType.Determinate : MTLinearProgressType.Closed;
    MTLinearProgressType linearReversed => show ? MTLinearProgressType.ReversedDeterminate : MTLinearProgressType.Closed;
    MTCircularProgressType circularIndeterminate => show ? MTCircularProgressType.Indeterminate : MTCircularProgressType.Closed;
    MTCircularProgressType circularDeterminate => show ? MTCircularProgressType.Determinate : MTCircularProgressType.Closed;
}