@namespace BlazorMdc.Demo

@page "/progress"

<h1 class="mdc-typography--headline4">Progress samples</h1>

<p style="margin-bottom: 2rem;">See <code>ProgressSample.razor</code> for sources.</p>

<p><BMdc.MdcSwitch @bind-Value="@show" Label="Show bars" /></p>
<p><BMdc.MdcSwitch @bind-Value="@showBuffer" Label="Show buffer" /></p>

<h5 class="mdc-typography--headline5">Indeterminate</h5>
<p><BMdc.MdcLinearProgress LinearProgressType="@linearIndeterminate" /></p>

<p><BMdc.MdcCircularProgress CircularProgressType="@circularIndeterminate" /></p>
<p><BMdc.MdcCircularProgress CircularProgressType="@circularIndeterminate" CircularProgressSize="BEnum.CircularProgressSize.Medium" /></p>
<p><BMdc.MdcCircularProgress CircularProgressType="@circularIndeterminate" CircularProgressSize="BEnum.CircularProgressSize.Small" /></p>

<h5 class="mdc-typography--headline5">Determinate</h5>
<PMdcNumericDoubleField @bind-Value="@progress" Label="Progress (0 to 100%)" Min="0" Max="1" Magnitude="BEnum.NumericInputMagnitude.Percent" DecimalPlaces="2" NumericFormat="P0" />

<p>Regular:</p>
<p><BMdc.MdcLinearProgress LinearProgressType="linearDeterminate" Value="@progress" BufferValue="buffer" /></p>

<p>Reversed:</p>
<p><BMdc.MdcLinearProgress LinearProgressType="linearReversed" Value="@progress" BufferValue="buffer" /></p>

<p><BMdc.MdcCircularProgress Value="@progress" CircularProgressType="@circularDeterminate" /></p>
<p><BMdc.MdcCircularProgress Value="@progress" CircularProgressType="@circularDeterminate" CircularProgressSize="BEnum.CircularProgressSize.Medium" /></p>
<p><BMdc.MdcCircularProgress Value="@progress" CircularProgressType="@circularDeterminate" CircularProgressSize="BEnum.CircularProgressSize.Small" /></p>


@code {
    bool show = true;
    bool showBuffer = true;
    double progress = 0.2;
    double? buffer => showBuffer ? (double?)progress + (1 - progress) / 3 : null;
    BEnum.LinearProgressType linearIndeterminate => show ? BEnum.LinearProgressType.Indeterminate : BEnum.LinearProgressType.Closed;
    BEnum.LinearProgressType linearDeterminate => show ? BEnum.LinearProgressType.Determinate : BEnum.LinearProgressType.Closed;
    BEnum.LinearProgressType linearReversed => show ? BEnum.LinearProgressType.ReversedDeterminate : BEnum.LinearProgressType.Closed;
    BEnum.CircularProgressType circularIndeterminate => show ? BEnum.CircularProgressType.Indeterminate : BEnum.CircularProgressType.Closed;
    BEnum.CircularProgressType circularDeterminate => show ? BEnum.CircularProgressType.Determinate : BEnum.CircularProgressType.Closed;
}