@namespace Material.Blazor
@inherits InputComponent<string>


<div @attributes="@AttributesToSplat(SplatType.IdClassAndStyleOnly)">
    <MBTextField @ref="@TextField"
                 @attributes="@AttributesToSplat(SplatType.ExcludeIdClassAndStyle)"
                 TextAlignStyle="@TextAlignStyle"
                 TextInputStyle="@TextInputStyle"
                 Label="@Label"
                 LeadingIcon="@LeadingIcon"
                 TrailingIcon="@TrailingIcon"
                 IconFoundry="@IconFoundry"
                 Density="@Density"
                 Disabled="@AppliedDisabled"
                 HelperText="@HelperText"
                 HelperTextPersistent="@HelperTextPersistent"
                 ValidationMessageFor="@ValidationMessageFor"
                 @bind-Value="@SelectInfo.SelectedText"
                 @oninput="@OnInput"
                 @onchange="@OnTextChangeAsync"
                 @onfocusout="@OnTextFocusOutAsync" />

    <div class="mdc-menu-surface--anchor">
        <div @ref="@MenuReference"
             class="mdc-menu mdc-menu-surface mdc-menu-surface--fixed"
             @onfocusin="OnMenuFocusIn"
             @onfocusout="OnMenuFocusOut"
             tabindex="-1">

            <ul class="mdc-list"
                tabindex="-1">

                @if (SelectInfo.FirstValueIsCustomValue)
                {
                    var item = SelectInfo.SelectList.First();
                    var listClass = "mdc-list-item mb-autocomplete-custom-value";
                    var ariaSelected = SelectInfo.SelectList.Length == 1;
                    <li @key="@item"
                        class="@listClass"
                        data-value="@item"
                        aria-selected="@ariaSelected"
                        role="option"
                        tabindex="0">
                        <span class="mdc-list-item__ripple"></span>
                        <span class="mdc-list-item__text mb-full-width">@item</span>
                    </li>
                }
                @foreach (var item in SelectInfo.SelectList.Skip(SelectInfo.FirstValueIsCustomValue ? 1 : 0))
                {
                    var listClass = "mdc-list-item" + (item.Equals(Value) ? " mdc-list-item--selected" : "");
                    var ariaSelected = item.Equals(Value);

                    <li @key="@item"
                        class="@listClass"
                        data-value="@item"
                        aria-selected="@ariaSelected"
                        role="option"
                        tabindex="0">
                        <span class="mdc-list-item__ripple"></span>
                        <span class="mdc-list-item__text mb-full-width">@item</span>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>