@namespace BMdc
@inherits ValidatingInputComponentBase<TItem>
@typeparam TItem


<div @ref="SelectReference"
     @attributes="AttributesToSplat()">

    <div class="mdc-select__anchor"
         role="button"
         aria-haspopup="@ListboxReference"
         aria-labelledby="@LabelId @SelectedTextId">

        @if (AppliedInputStyle == BMdcModel.SelectInputStyle.Filled)
        {
            <span class="mdc-select__ripple"></span>
        }

        <input id="@SelectedTextId" type="text" disabled readonly class="mdc-select__selected-text @AlignClass">
        <i class="mdc-select__dropdown-icon"></i>

        @if (AppliedInputStyle == BMdcModel.SelectInputStyle.Outlined)
        {
            <span class="mdc-notched-outline">
                <span class="mdc-notched-outline__leading"></span>
                <span class="mdc-notched-outline__notch">
                    <span id="@LabelId" class="mdc-floating-label @FloatingLabelClass">@Label</span>
                </span>
                <span class="mdc-notched-outline__trailing"></span>
            </span>
        }
        else
        {
            <span id="@LabelId" class="mdc-floating-label @FloatingLabelClass">@Label</span>
            <div class="mdc-line-ripple"></div>
        }
    </div>

    <div @ref="@ListboxReference" class="mdc-select__menu mdc-menu mdc-menu-surface">
        <ul @ref="@UlReference" class="mdc-list">
            @foreach (var item in ItemDict.Values)
            {
                var dv = item.SelectedValue;

                if (item.SelectedValue.Equals(Value))
                {
                    <li @key="@item" class="mdc-list-item mdc-list-item--selected @AlignClass" data-value="@item.Label" aria-selected="true" aria-disabled="@item.Disabled" role="option" @onclick="@(_ => OnItemClickAsync(dv))">
                        <span class="mdc-list-item__text bmdc-full-width">
                            @item.Label
                        </span>
                    </li>
                }
                else
                {
                    <li @key="@item" class="mdc-list-item @AlignClass" data-value="@item.Label" aria-selected="false" aria-disabled="@item.Disabled" role="option" @onclick=@(_ => OnItemClickAsync(dv))>
                        <span class="mdc-list-item__text bmdc-full-width">
                            @item.Label
                        </span>
                    </li>
                }
            }
        </ul>
    </div>
</div>