@namespace BMdc
@inherits ValidatingInputComponentFoundation<TItem>
@typeparam TItem


<div @ref="SelectReference"
     @attributes="AttributesToSplat()">

    <div class="mdc-select__anchor"
         role="button"
         aria-disabled="@Disabled"
         aria-haspopup="@ListboxReference"
         aria-labelledby="@LabelId @SelectedTextId">

        @if (AppliedInputStyle == ESelectInputStyle.Filled)
        {
            <span class="mdc-select__ripple"></span>
        }

        <input id="@SelectedTextId" type="text" disabled readonly class="mdc-select__selected-text @AlignClass">
        <i class="mdc-select__dropdown-icon"></i>

        @if (AppliedInputStyle == ESelectInputStyle.Outlined)
        {
            <span class="mdc-notched-outline">
                <span class="mdc-notched-outline__leading"></span>
                <span class="mdc-notched-outline__notch">
                    <span id="@LabelId" class="mdc-floating-label @FloatingLabelClass">@Label</span>
                </span>
                <span class="mdc-notched-outline__trailing"></span>
            </span>
        }
        else
        {
            <span id="@LabelId" class="mdc-floating-label @FloatingLabelClass">@Label</span>
            <div class="mdc-line-ripple"></div>
        }
    </div>

    <div @ref="@ListboxReference" 
         class="mdc-select__menu mdc-menu mdc-menu-surface">

        <ul @ref="@UlReference"
            class="mdc-list">

            @foreach (var item in ItemDict.Values)
            {
                var clickItem = item.SelectedValue;
                var listClass = "mdc-list-item" + (item.SelectedValue.Equals(Value) ? " mdc-list-item--selected" : "");
                var ariaSelected = item.SelectedValue.Equals(Value);

                <li @key="@item"
                    class="@listClass @AlignClass"
                    data-value="@item.Label"
                    aria-selected="@ariaSelected"
                    aria-disabled="@item.Disabled"
                    role="option"
                    @onclick=@(_ => OnItemClickAsync(clickItem))>

                    <span class="mdc-list-item__text bmdc-full-width">
                        @item.Label
                    </span>
                </li>
            }
        </ul>
    </div>
</div>