@page "/wrappedinput"
@namespace BlazorMdc.Demo

<h1 class="mdc-typography--headline4">Wrapped input component</h1>

<p>See </p>
<p><code>WrappedInputComponent.razor</code></p>
<p><code>WrappedInputComponentDTO.razor</code></p>
<p><code>WrappedInputComponentSample.razor</code></p>
<p>
    for sources. Since binding does not cascade one has to use Value, ValueChanged, and ValueExpression when
    wrapping an input component.
</p>

<div>
    <p>
        <BMdc.Button Label="Open dialog with wrapped input components"
                     @onclick="@OpenDialogAsync"
                     ButtonStyle="eButtonStyle.ContainedRaised" />
    </p>

    <p>PIN 1: <strong>'@(LogonDTO.PIN1 ?? "")'</strong></p>
    <p>PIN 2: <strong>'@(LogonDTO.PIN2 ?? "")'</strong></p>

    <BMdc.Dialog Title="Create a new PIN"
                 @ref="DialogReference">
        <Body>

            <h6>Your PIN has never been set.</h6>
            <h6>Pick a PIN, enter it, and verify the entry.</h6>
            <BMdcPlus.Divider Padded="true" />
            <EditForm Model="@LogonDTO" OnValidSubmit="@SubmitLogon">
                <DataAnnotationsValidator />

                <div class="form-group">
                    <WrappedInputComponent @bind-StringValue="@LogonDTO.PIN1"
                                           Type="password" />
                    <ValidationMessage For=@( () => LogonDTO.PIN1 ) />
                </div>

                <div class="form-group">
                    <WrappedInputComponent @bind-StringValue="@LogonDTO.PIN2"
                                           Type="password" />
                    <ValidationMessage For=@( () => LogonDTO.PIN2 ) />
                </div>

                <div class="form-group">
                    <div style="display:flex; flex-direction: row; justify-content: center;">
                        <BMdc.Button Style="margin: 0.75em 0.25em 0.25em 0.25em;"
                                     type="submit"
                                     Label="PIN entry complete"
                                     ButtonStyle="eButtonStyle.ContainedRaised" />

                        <BMdc.Button @onclick="@CancelClick"
                                     Style="margin: 0.75em 0.25em 0.25em 0.25em;"
                                     Label="Cancel"
                                     ButtonStyle="eButtonStyle.ContainedRaised" />
                    </div>
                </div>
            </EditForm>
        </Body>
        <Buttons>
        </Buttons>

    </BMdc.Dialog>
</div>


@code {
    private BMdc.Dialog DialogReference;

    protected LogonDTO LogonDTO = new LogonDTO();

    private async Task SubmitLogon()
    {
        // In real life, validate PIN equality, store, etc.
        await DialogReference.HideAsync();
    }

    private async Task OpenDialogAsync()
    {
        await DialogReference.ShowAsync();
    }

    protected async Task CancelClick()
    {
        await DialogReference.HideAsync();
    }

}
