@page "/decimalField"

@inject IMBToastService ToastService

@using System.Runtime.InteropServices


<DemonstrationPage ComponentAndPageName="DecimalField"
                   MaterialWebPage=""
                   MinDensity="MBDensity.Minus4"
                   RequiresDisableSelection="true"
                   Title="DecimalField Demonstration">
    <Description>
        <p>
            Shows DecimalFields, which are Plus components.
            Each of these can display as Filled or Outlined. These are used across the page but 
            we don't attempt to show each variant everywhere - see the TextField demo for this.
        </p>
    </Description>

    <PageContent>

        <div class="mdc-layout-grid__cell--span-4">
            <Material.Blazor.MD2.MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Standard Formatted Decimals
                    </h2>
                    <h2>
                        Implemented as MBDecimal3.cs using InternalTextFieldRenderer
                    </h2>
                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        A range of numeric decimal fields using formats for non focused input.
                    </h3>

@*                     <p>
                        <MBDecimalField @bind-Value="@DecimalValue"
                                        DecimalPlaces="2"
                                        Label="Decimal 2dp"
                                        NumericFormat="N2"
                                        TextInputStyle="@MBTextInputStyle.Filled" />
                    </p>
 *@
                    <p>
                        <MBDecimalField @bind-Value="@DecimalMoneyByFormat"
                                        DecimalPlaces="2"
                                        Label="Money by format"
                                        NumericFormat="C2"
                                        TextInputStyle="@MBTextInputStyle.Outlined" />
                    </p>

   @*                  <p>
                        <MBDecimalField @bind-Value="@DecimalMoneyByPrefix"
                                        DecimalPlaces="2"
                                        Label="Money by prefix"
                                        NumericFormat="N2"
                                        Prefix="£"
                                        TextInputStyle="@MBTextInputStyle.Filled" />
                    </p>
    *@             </Primary>
            </Material.Blazor.MD2.MBCard>
        </div>

        <div class="mdc-layout-grid__cell--span-4">
            <Material.Blazor.MD2.MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Standard Formatted Decimals (2)
                    </h2>
                    <h2>
                        Implemented as MBDecimal2.cs and a slew of inherited classes
                    </h2>
                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        A range of numeric decimal fields using formats for non focused input.
                    </h3>

@*                     <p>
                        <MBDecimalField2 @bind-Value="@DecimalValue"
                                        DecimalPlaces="2"
                                        Label="Decimal 2dp (2)"
                                        NumericFormat="N2"
                                        TextInputStyle="@MBTextInputStyle.Filled" />
                    </p>
 *@
                    <p>
                        <MBDecimalField2 @bind-Value="@DecimalMoneyByFormat"
                                        DecimalPlaces="2"
                                        Label="Money by format (2)"
                                        NumericFormat="C2"
                                        TextInputStyle="@MBTextInputStyle.Outlined" />
                    </p>

@*                     <p>
                        <MBDecimalField2 @bind-Value="@DecimalMoneyByPrefix"
                                        DecimalPlaces="2"
                                        Label="Money by prefix (2)"
                                        NumericFormat="N2"
                                        Prefix="£"
                                        TextInputStyle="@MBTextInputStyle.Filled" />
                    </p>
 *@                </Primary>
            </Material.Blazor.MD2.MBCard>
        </div>

         <div class="mdc-layout-grid__cell--span-4">
            <Material.Blazor.MD2.MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Standard Formatted Decimals (3)
                    </h2>
                    <h2>
                        Implemented as MBDecimal3.razor and MBDecimal3.razor.cs
                    </h2>
                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        A range of numeric decimal fields using formats for non focused input.
                    </h3>

@*                     <p>
                        <MBDecimalField3 @bind-Value="@DecimalValue"
                                        DecimalPlaces="2"
                                        Label="Decimal 2dp (3)"
                                        NumericFormat="N2"
                                        TextInputStyle="@MBTextInputStyle.Filled" />
                    </p>
 *@
                    <p>
                        <MBDecimalField3 @bind-Value="@DecimalMoneyByFormat"
                                        DecimalPlaces="2"
                                        Label="Money by format (3)"
                                        NumericFormat="C2"
                                        TextInputStyle="@MBTextInputStyle.Outlined" />
                    </p>

@*                     <p>
                        <MBDecimalField3 @bind-Value="@DecimalMoneyByPrefix"
                                        DecimalPlaces="2"
                                        Label="Money by prefix (3)"
                                        NumericFormat="N2"
                                        Prefix="£"
                                        TextInputStyle="@MBTextInputStyle.Filled" />
                    </p>
 *@                </Primary>
            </Material.Blazor.MD2.MBCard>
        </div>

@*        <div class="mdc-layout-grid__cell--span-4">
            <Material.Blazor.MD2.MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Scaled Formatted Decimals
                    </h2>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Percentage and basis point numerics can be edited either using a prefix or standard formatting (in the case of percentages only).
                        A figure of "12.3%" results in a decimal value of "0.123" and one of "34.5 bp" results in a decimal value of "0.00345".
                    </h3>

                    <p>
                        <MBDecimalField @bind-Value="@DecimalPercentByFormat"
                                        DecimalPlaces="2"
                                        FocusedMagnitude="Material.Blazor.MBNumericInputMagnitude.Percent"
                                        Label="Percent by format"
                                        NumericFormat="P2" />
                    </p>

                    <p>
                        <MBDecimalField @bind-Value="@DecimalPercentBySuffix"
                                        DecimalPlaces="2"
                                        FocusedMagnitude="Material.Blazor.MBNumericInputMagnitude.Percent"
                                        Label="Percent by Suffix"
                                        NumericFormat="N2"
                                        Suffix="%"
                                        UnfocusedMagnitude="Material.Blazor.MBNumericInputMagnitude.Percent" />
                    </p>

                    <p>
                        <MBDecimalField @bind-Value="@DecimalBasisPointsBySuffix"
                                        DecimalPlaces="0"
                                        FocusedMagnitude="Material.Blazor.MBNumericInputMagnitude.BasisPoints"
                                        Label="Basis Points by Suffix"
                                        NumericFormat="N0"
                                        Suffix="bp"
                                        UnfocusedMagnitude="Material.Blazor.MBNumericInputMagnitude.BasisPoints" />
                    </p>
                </Primary>
            </Material.Blazor.MD2.MBCard>
        </div>

        <div class="mdc-layout-grid__cell--span-4">
            <Material.Blazor.MD2.MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Helper Text on Decimal
                    </h2>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Shows persistent and non-persistent helper text.
                    </h3>

                    <p>
                        <MBDecimalField @bind-Value="@DecimalPopupHelperText"
                                        SupportingText="Some helper text that pops up"
                                        Label="Popup Helper Text"
                                        NumericFormat="N2" />
                    </p>

                    <p>
                        <MBDecimalField @bind-Value="@DecimalPersistentHelperText"
                                        SupportingText="Some persistent helper text"
                                        SupportingTextPersistent="true"
                                        Label="Persistent Helper Text"
                                        NumericFormat="N2" />
                    </p>
                </Primary>
            </Material.Blazor.MD2.MBCard>
        </div>
 *@
    </PageContent>
</DemonstrationPage>


@code {

    private decimal _decimalValue;
    private decimal DecimalValue
    {
        get => _decimalValue;
        set
        {
            _decimalValue = value;

            ToastService.ShowToast(heading: "Decimal numeric", message: $"Value: '{_decimalValue.ToString("N2")}'", level: Material.Blazor.MBToastLevel.Success, showIcon: false);
        }
    }

    private decimal _decimalMoneyByFormat;
    private decimal DecimalMoneyByFormat
    {
        get => _decimalMoneyByFormat;
        set
        {
            _decimalMoneyByFormat = value;

            ToastService.ShowToast(heading: "Decimal Money by format numeric", message: $"Value: '{_decimalMoneyByFormat.ToString("C2")}'", level: Material.Blazor.MBToastLevel.Success, showIcon: false);
        }
    }

    private decimal _decimalMoneyByPrefix;
    private decimal DecimalMoneyByPrefix
    {
        get => _decimalMoneyByPrefix;
        set
        {
            _decimalMoneyByPrefix = value;

            ToastService.ShowToast(heading: "Decimal Money by Prefix numeric", message: $"Value: '{_decimalMoneyByPrefix.ToString("N2")}'", level: Material.Blazor.MBToastLevel.Success, showIcon: false);
        }
    }

    private decimal _decimalPercentByFormat;
    private decimal DecimalPercentByFormat
    {
        get => _decimalPercentByFormat;
        set
        {
            _decimalPercentByFormat = value;

            ToastService.ShowToast(heading: "Decimal Percent by format", message: $"Value: '{_decimalPercentByFormat.ToString("N4")}'", level: Material.Blazor.MBToastLevel.Success, showIcon: false);
        }
    }

    private decimal _decimalPercentBySuffix;
    private decimal DecimalPercentBySuffix
    {
        get => _decimalPercentBySuffix;
        set
        {
            _decimalPercentBySuffix = value;

            ToastService.ShowToast(heading: "Decimal Percent by suffix", message: $"Value: '{_decimalPercentBySuffix.ToString("N4")}'", level: Material.Blazor.MBToastLevel.Success, showIcon: false);
        }
    }

    private decimal _decimalBasisPointsBySuffix;
    private decimal DecimalBasisPointsBySuffix
    {
        get => _decimalBasisPointsBySuffix;
        set
        {
            _decimalBasisPointsBySuffix = value;

            ToastService.ShowToast(heading: "Decimal Basis Points by suffix", message: $"Value: '{_decimalBasisPointsBySuffix.ToString("N4")}'", level: Material.Blazor.MBToastLevel.Success, showIcon: false);
        }
    }


    private decimal _decimalPopupHelperText;
    private decimal DecimalPopupHelperText
    {
        get => _decimalPopupHelperText;
        set
        {
            _decimalPopupHelperText = value;

            ToastService.ShowToast(heading: "Decimal Popup Helper Text", message: $"Value: '{_decimalPopupHelperText}'", level: Material.Blazor.MBToastLevel.Success, showIcon: false);
        }
    }


    private decimal _decimalPersistentHelperText;
    private decimal DecimalPersistentHelperText
    {
        get => _decimalPersistentHelperText;
        set
        {
            _decimalPersistentHelperText = value;

            ToastService.ShowToast(heading: "Decimal Persistent Helper Text", message: $"Value: '{_decimalPersistentHelperText}'", level: Material.Blazor.MBToastLevel.Success, showIcon: false);
        }
    }

}