@page "/dialog"

@inject IMBToastService ToastService

@using System.ComponentModel.DataAnnotations;

<DemonstrationPage ComponentAndPageName="Dialog"
                   MinDensity="@MBDensity.Minus4"
                   Title="Dialog Demonstration">
    <Description>
        <p>
            Dialog samples. Click each card to launch a dialog.
        </p>
    </Description>

    <PageContent>

        <div class="mdc-layout-grid__cell--span-4">
            <Material.Blazor.MD2.MBCard AutoStyled="true"
                                        @onclick="@ShowDialogGeneralAsync">
                <PrimaryAction>
                    <div class="mb-card__autostyled">
                        <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                            General Dialog
                        </h2>
                        <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                            Launches a general dialog. Look at the result shown in a toast when you click a button, hit escape or click the scrim. Shows
                            a checkbox and radio buttons to demonstrate that these are correctly
                            rendered inside a dialog.
                        </h3>
                    </div>
                </PrimaryAction>
            </Material.Blazor.MD2.MBCard>
        </div>


        <div class="mdc-layout-grid__cell--span-4">
            <Material.Blazor.MD2.MBCard AutoStyled="true"
                                        @onclick="@ShowDialogGeneralNoGestureAsync">
                <PrimaryAction>
                    <div class="mb-card__autostyled">
                        <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                            Disabled Scrim and Escape
                        </h2>
                        <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                            A general dialog with scrim and escape key gestures disabled.
                        </h3>
                    </div>
                </PrimaryAction>
            </Material.Blazor.MD2.MBCard>
        </div>


        <div class="mdc-layout-grid__cell--span-4">
            <Material.Blazor.MD2.MBCard AutoStyled="true"
                                        @onclick="@ShowDialogLogonFormAsync">
                <PrimaryAction>
                    <div class="mb-card__autostyled">
                        <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                            Logon Dialog
                        </h2>
                        <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                            Shows a dialog that uses an edit form and validation annotations. It also demonstrates the altenative form of having submit and cancel methods
                        </h3>
                    </div>
                </PrimaryAction>
            </Material.Blazor.MD2.MBCard>
        </div>


        <div class="mdc-layout-grid__cell--span-4">
            <Material.Blazor.MD2.MBCard AutoStyled="true"
                                        @onclick="@ShowDialogNoBodyAsync">
                <PrimaryAction>
                    <div class="mb-card__autostyled">
                        <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                            No Body
                        </h2>
                        <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                            Shows a dialog with no body
                        </h3>
                    </div>
                </PrimaryAction>
            </Material.Blazor.MD2.MBCard>
        </div>


        <div class="mdc-layout-grid__cell--span-4">
            <Material.Blazor.MD2.MBCard AutoStyled="true"
                                        @onclick="@ShowDialogNoTitleAsync">
                <PrimaryAction>
                    <div class="mb-card__autostyled">
                        <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                            No Title
                        </h2>
                        <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                            Shows a dialog with no title
                        </h3>
                    </div>
                </PrimaryAction>
            </Material.Blazor.MD2.MBCard>
        </div>


        <div class="mdc-layout-grid__cell--span-4">
            <Material.Blazor.MD2.MBCard AutoStyled="true"
                                        @onclick="@ShowDialogCustomHeaderAsync">
                <PrimaryAction>
                    <div class="mb-card__autostyled">
                        <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                            Custom Header
                        </h2>
                        <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                            Shows a dialog with a custom header
                        </h3>
                    </div>
                </PrimaryAction>
            </Material.Blazor.MD2.MBCard>
        </div>


        <div class="mdc-layout-grid__cell--span-4">
            <Material.Blazor.MD2.MBCard AutoStyled="true"
                                        @onclick="@ShowDialogDatePickerAsync">
                <PrimaryAction>
                    <div class="mb-card__autostyled">
                        <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                            Date Picker
                        </h2>
                        <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                            Shows that a date picker's popup menu is able to render outside the dialog <code>&lt;div&gt;</code> block.
                        </h3>
                    </div>
                </PrimaryAction>
            </Material.Blazor.MD2.MBCard>
        </div>



        @*
        ********************************************************************************
        DialogGeneral & DialogGeneralNoGesture
        ********************************************************************************
        *@

        <MBDialog ButtonItems="@buttonsFruit"
                  @ref="@DialogGeneral"
                  Headline="General dialog"
                  IconDescriptor="@MBIcon.IconDescriptorConstructor(
                                        name: "picture_in_picture")">

            <Body>
                <p>Please choose a fruit.</p>
                <MBCheckbox @bind-Value="@Check"
                            TrailingLabelPLUS="Random checkbox"
                            style="margin-bottom: 16px; " />
                <MBRadioButtonGroup @bind-Value="@RadioButtonResult1"
                                    Items="@CatBreedItems"
                                    ItemValidation="@MBItemValidation.DefaultToFirst"
                                    IsHorizontal="false" />
            </Body>
        </MBDialog>


        <MBDialog ButtonItems="@buttonsFruit"
                  @ref="@DialogGeneralNoGesture"
                  GestureCancellation=false
                  Headline="General dialog (No gesture close)"
                  IconDescriptor="@MBIcon.IconDescriptorConstructor(
                                        name: "picture_in_picture")">

            <Body>
                <p>Please choose a fruit.</p>
                <MBCheckbox @bind-Value="@Check"
                            TrailingLabelPLUS="Random checkbox"
                            style="margin-bottom: 16px; " />
                <MBRadioButtonGroup @bind-Value="@RadioButtonResult1"
                                    Items="@CatBreedItems"
                                    ItemValidation="@MBItemValidation.DefaultToFirst"
                                    IsHorizontal="false" />
            </Body>
        </MBDialog>


        @*
        ********************************************************************************
        DialogLogon
        ********************************************************************************
        *@
        <MBDialog GestureCancellation=false
                  Headline="Logon Dialog"
                  @ref="@DialogLogon">
            <Body>
                <EditForm Model="@UserLogon"
                          OnInvalidSubmit="@DialogLogonFormInvalid"
                          OnValidSubmit="@DialogLogonFormSubmitted">
                    <DataAnnotationsValidator />

                    <div class="mdc-layout-grid__inner">
                        <div class="mdc-layout-grid__cell--span-12">
                            <MBTextField @bind-Value="@UserLogon.UserID"
                                         Label="User ID"
                                         style="width: 100%; margin-top: 6px;"
                                         TextInputStyle="@MBTextInputStyle.Outlined"
                                         TrailingIcon="@MBIcon.IconDescriptorConstructor(
                                            name: "person")"
                                         ValidationMessageFor="@(() => UserLogon.UserID)" />
                        </div>
                        <div class="mdc-layout-grid__cell--span-12">
                            <MBTextField @bind-Value="@UserLogon.Password"
                                         SupportingText="Min 8 Characters"
                                         SupportingTextPersistent="true"
                                         Label="Password"
                                         style="width: 100%;"
                                         TextInputStyle="@MBTextInputStyle.Outlined"
                                         TrailingIcon="@MBIcon.IconDescriptorConstructor(
                                            name: "lock_outline")"
                                         type="password"
                                         ValidationMessageFor="@(() => UserLogon.Password)" />
                        </div>
                        <div class="mdc-layout-grid__cell--span-12" style="text-align: right;">
                            <MBButton Label="Logon"
                                      style="margin: 0.75em 0.25em 0.25em 0.25em;"
                                      type="submit" />
                            <MBButton Label="Cancel"
                                      style="margin: 0.75em 0.25em 0.25em 0.25em;"
                                      @onclick="@DialogLogonFormCanceled"
                                      typeof="button" />
                        </div>
                    </div>
                </EditForm>
            </Body>
        </MBDialog>



        @*
        ********************************************************************************
        DialogNoBody
        ********************************************************************************
        *@
        <MBDialog ButtonItems="@buttonsOKCancel"
                  Headline="No Body"
                  @ref="@DialogNoBody">
            <Body>
            </Body>
        </MBDialog>



        @*
        ********************************************************************************
        DialogNoTitle
        ********************************************************************************
        *@
        <MBDialog ButtonItems="@buttonsOKCancel"
                  @ref="@DialogNoTitle">
            <Body>
                <p>This is the body, there is no title</p>
            </Body>
        </MBDialog>



        @*
        ********************************************************************************
        DialogCustomHeader
        ********************************************************************************
        *@
        <MBDialog ButtonItems="@buttonsOKCancel"
                  @ref="@DialogCustomHeader">
            <CustomHeader>
                <div style="display: flex; flex-direction: column; ">
                    <h1>This is an h1 header</h1>
                    <h4>This is an h4 header</h4>
                </div>
            </CustomHeader>
            <Body>
                <p>This is the body below the custom header.</p>
            </Body>
        </MBDialog>



        @*
        ********************************************************************************
        DialogDatePicker
        ********************************************************************************
        *@
        <MBDialog ButtonItems="@buttonsOKCancel"
                  Headline="Date Picker Dialog"
                  @ref="@DialogDatePicker">
            <Body>
                <p>Set the date.</p>

                <p>DatePicker goes here when implemented.</p>

                @*<MBDatePicker @bind-Value="@DatePickerDate"
                Label="The date"
                MaxDate="@MaxDate"
                MenuSurfacePositioning="@MBMenuSurfacePositioning.Fixed"
                MinDate="@MinDate"
                SelectInputStyle="MBSelectInputStyle.Outlined" />*@

            </Body>
        </MBDialog>


    </PageContent>

</DemonstrationPage>
