@page "/progressindicator"

@namespace Material.Blazor.Website.Pages


<DemonstrationPage ComponentName="ProgressIndicator"
                   DemoComponent="@this"
                   MaterialIOPage="mdc-textfield#text-field"
                   RequiresDisableSelection="false"
                   Title="Progress Indicator Demonstration">
    <Description>
        <p>
            Circular and linear progress indicators.
        </p>
    </Description>

    <Controls>
        <p>
            <Material.Blazor.MD2.MBRadioButtonGroup @bind-Value="ProgressLevel"
                                                    Items="@ProgressLevels" />
        </p>
    </Controls>

    <PageContent>
        <div class="mdc-layout-grid__cell--span-4">
            <Material.Blazor.MD2.MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Circular (M.B)
                    </h2>

                    <MBProgressIndicator IsDeterminant="@false"
                                         IsFourColor="@false"
                                         IsLinear="@false"
                                         style="margin: 6px;" />
                    <br />
                    <MBProgressIndicator IsDeterminant="@false"
                                         IsFourColor="@true"
                                         IsLinear="@false"
                                         style="margin: 6px;" />
                    <br />
                    <MBProgressIndicator DeterminantValue=@ProgressLevel
                                         IsDeterminant="@true"
                                         IsFourColor="@true"
                                         IsLinear="@false"
                                         style="margin: 6px;" />
                    <br />
                    <br />
                    <br />
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Circular (MD3)
                    </h2>
                    <md-circular-progress indeterminate></md-circular-progress>
                    <br />
                    <md-circular-progress four-color indeterminate></md-circular-progress>
                    <br />
                    <md-circular-progress four-color value="@ProgressLevel"></md-circular-progress>
                </Primary>
            </Material.Blazor.MD2.MBCard>
        </div>

        <div class="mdc-layout-grid__cell--span-4">
            <Material.Blazor.MD2.MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Linear (MB)
                    </h2>

                    <MBProgressIndicator IsDeterminant="@false"
                                         IsFourColor="@false"
                                         IsLinear="@true"
                                         style="margin: 6px;" />
                    <br />
                    <MBProgressIndicator IsDeterminant="@false"
                                         IsFourColor="@true"
                                         IsLinear="@true"
                                         style="margin: 6px;" />
                    <br />
                    <MBProgressIndicator DeterminantValue=@ProgressLevel
                                         IsDeterminant="@true"
                                         IsFourColor="@true"
                                         IsLinear="@true"
                                         style="margin: 6px;" />
                    <br />
                    <br />
                    <br />
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Linear (MD3)
                    </h2>
                    <md-linear-progress indeterminate></md-linear-progress>
                    <br />
                    <md-linear-progress four-color indeterminate></md-linear-progress>
                    <br />
                    <md-linear-progress four-color value="@ProgressLevel"></md-linear-progress>
                </Primary>
            </Material.Blazor.MD2.MBCard>
        </div>

    </PageContent>
</DemonstrationPage>

@code {
    private Material.Blazor.MD2.MBSelectElement<double>[] ProgressLevels = new Material.Blazor.MD2.MBSelectElement<double>[]
    {
        new Material.Blazor.MD2.MBSelectElement<double> { SelectedValue = 0.25, Label = "25% Progress" },
        new Material.Blazor.MD2.MBSelectElement<double> { SelectedValue = 0.50, Label = "50% Progress" },
        new Material.Blazor.MD2.MBSelectElement<double> { SelectedValue = 0.75, Label = "75% Progress" },
        new Material.Blazor.MD2.MBSelectElement<double> { SelectedValue = 1.00, Label = "100% Progress" }
    };

    private double ProgressLevel { get; set; }

    public ProgressIndicator()
    {
        ProgressLevel = ProgressLevels[0].SelectedValue;
    }
}
