@page "/radiobuttongroup"

@inject IMBToastService ToastService


<DemonstrationPage ComponentAndPageName="RadioButtonGroup"
                   IsGeneric="true"
                   MaterialWebPage="radio"
                   MinDensity="MBDensity.Minus3"
                   RequiresDisableSelection="true"
                   Title="Radio Button Group Demonstration">
    <Description>
        <p>
            Radio button groups.
        </p>
    </Description>

    <PageContent>
        <div class="mdc-layout-grid__cell--span-12">
            <Material.Blazor.MD2.MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Horizontal radio button group
                    </h2>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        A radio button group presented horizontally.
                    </h3>

                    <p>
                        <MBRadioButtonGroup @bind-Value="@KittenBreed"
                                            Items="@KittenBreeds"
                                            ItemValidation="@MBItemValidation.NoSelection" />
                    </p>
                </Primary>
            </Material.Blazor.MD2.MBCard>
        </div>



        <div class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
            <Material.Blazor.MD2.MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Vertical radio button group
                    </h2>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        A radio button group presented vertically.
                    </h3>

                    <p>
                        <MBRadioButtonGroup @bind-Value="@Color"
                                            Items="@ColorItems"
                                            IsHorizontal="false" />
                    </p>
                </Primary>
            </Material.Blazor.MD2.MBCard>
        </div>
    </PageContent>
</DemonstrationPage>


@code {
    MBSelectElement<string>[] KittenBreeds = new MBSelectElement<string>[]
    {
        new MBSelectElement<string> { SelectedValue = "brit-short", TrailingLabel = "British Shorthair" },
        new MBSelectElement<string> { SelectedValue = "russ-blue", TrailingLabel = "Russian Blue" },
        new MBSelectElement<string> { SelectedValue = "ice-invis", TrailingLabel = "Icelandic Invisible" }
            };


    private string _KittenBreed = "";
    private string KittenBreed
    {
        get => _KittenBreed;
        set
        {
            _KittenBreed = value;

            ToastService.ShowToast(heading: "Kitten breed group", message: $"Value: '{_KittenBreed}'", level: MBToastLevel.Success, showIcon: false);
        }
    }


    enum ColorEnum { Red, Orange, Yellow, Green, Blue, Indigo, Violet };
    IEnumerable<MBSelectElement<ColorEnum>> ColorItems => from c in (ColorEnum[])Enum.GetValues(typeof(ColorEnum))
                                                           select new MBSelectElement<ColorEnum>
                                                           {
                                                               SelectedValue = c,
                                                               TrailingLabel = c.ToString() + ((c == ColorEnum.Blue) ? " (disabled)" : ""),
                                                               Disabled = (c == ColorEnum.Blue) ? true : (bool?)null
                                                           };

    private ColorEnum _color = ColorEnum.Orange;
    private ColorEnum Color
    {
        get => _color;
        set
        {
            _color = value;

            ToastService.ShowToast(heading: "Vertical radio group", message: $"Value: '{_color.ToString()}'", level: MBToastLevel.Success, showIcon: false);
        }
    }


    private MBDensity Density = MBDensity.Default;
}