@page "/slider"

@inject IMBToastService ToastService

<DemonstrationPage ComponentAndPageName="Slider"
                   MaterialWebPage="slider"
                   MinDensity="MBDensity.Minus5"
                   RequiresDisableSelection="true"
                   Title="Single Thumb Slider">
    <Description>
        <p>
            Single thumb sliders
        </p>
    </Description>

    <PageContent>
        <div class="mdc-layout-grid__cell--span-12">
            <Material.Blazor.MD2.MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Continuous Slider
                    </h2>

                    <p>With 0-100 range, yielding a value of @Value1a.ToString("N0")</p>
                    <p>
                        <MBSlider @bind-Value="@Value1a"
                                  SliderMax="100"
                                  SliderMin="0" />
                    </p>

                    <p>With 0-100 range, value shown, yielding a value of @Value1a.ToString("N0")</p>
                    <p>
                        <MBSlider @bind-Value="@Value1a"
                                  SliderIsLabeled="true"
                                  SliderMax="100"
                                  SliderMin="0" />
                    </p>
                </Primary>
            </Material.Blazor.MD2.MBCard>
        </div>

        <div class="mdc-layout-grid__cell--span-12">
            <Material.Blazor.MD2.MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Discrete Slider
                    </h2>

                    <p>With 0-100 range, 10 step, yielding a value of @Value1b.ToString("N0")</p>
                    <p>
                        <MBSlider @bind-Value="@Value1b"
                                  SliderMax="100"
                                  SliderMin="0"
                                  SliderStep="10" />
                    </p>

                    <p>With 0-100 range, 10 step, tick marks, yielding a value of @Value1b.ToString("N0")</p>
                    <p>
                        <MBSlider @bind-Value="@Value1b"
                                  SliderMax="100"
                                  SliderMin="0"
                                  SliderStep="10"
                                  SliderTicks="true" />
                    </p>

                    <p>With 0-100 range, 10 step, tick marks, value shown, yielding a value of @Value1b.ToString("N0")</p>
                    <p>
                        <MBSlider @bind-Value="@Value1b"
                                  SliderIsLabeled="true"
                                  SliderMax="100"
                                  SliderMin="0"
                                  SliderStep="10"
                                  SliderTicks="true" />
                    </p>
                </Primary>
            </Material.Blazor.MD2.MBCard>
        </div>
    </PageContent>
</DemonstrationPage>


@code {
    decimal Value1a = 17M;
    decimal Value1b = 33.3M;
    decimal Value1c = 66.67M;
    decimal Value2a = 5;
    decimal Value2b = 3;
    decimal Value2c = 7.5M;

    uint DebounceDelay = 300;
}