@page "/tabs"

@inject IMBToastService ToastService

@using Material.Blazor

<DemonstrationPage ComponentAndPageName="Tabs"
                   MaterialWebPage="tabs"
                   RequiresDisableSelection="true"
                   Title="Tabs Demonstration">
    <Description>
        <p>
            Demonstrates a list with list items, list dividers, and a list selection group.
        </p>
    </Description>

    <PageContent>

        <div class="mdc-layout-grid__cell--span-4">
            <Material.Blazor.MD2.MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Primary, text only
                    </h2>

                    <p>
                        <MBTabs TabItems="@tabItemsText" />
                    </p>
                </Primary>
            </Material.Blazor.MD2.MBCard>
        </div>

        <div class="mdc-layout-grid__cell--span-4">
            <Material.Blazor.MD2.MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Primary, text and icons
                    </h2>

                    <p>
                        <MBTabs TabItems="@tabItemsTextAndIcons" />
                    </p>
                </Primary>
            </Material.Blazor.MD2.MBCard>
        </div>

        <div class="mdc-layout-grid__cell--span-4">
            <Material.Blazor.MD2.MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Primary, text and icons, icons inline
                    </h2>

                    <p>
                        <MBTabs TabItems="@tabItemsTextAndIconsInline" />
                    </p>
                </Primary>
            </Material.Blazor.MD2.MBCard>
        </div>

        <div class="mdc-layout-grid__cell--span-4">
            <Material.Blazor.MD2.MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Primary, icons only
                    </h2>

                    <p>
                        <MBTabs TabItems="@tabItemsIcons" />
                    </p>
                </Primary>
            </Material.Blazor.MD2.MBCard>
        </div>

        <div class="mdc-layout-grid__cell--span-4">
            <Material.Blazor.MD2.MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Primary, text only, lengthy
                    </h2>

                    <p>
                        <MBTabs TabItems="@tabItemsTextLong" />
                    </p>
                </Primary>
            </Material.Blazor.MD2.MBCard>
        </div>

        <div class="mdc-layout-grid__cell--span-4">
            <Material.Blazor.MD2.MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Secondary, text and icons
                    </h2>

                    <p>
                        <MBTabs TabItems="@tabItemsTextAndIconsSecondary" />
                    </p>
                </Primary>
            </Material.Blazor.MD2.MBCard>
        </div>

        <div class="mdc-layout-grid__cell--span-6">
            <Material.Blazor.MD2.MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Primary, text and icons, controlling tabpanels
                    </h2>

                    <p>
                        <MBTabs IsControllingPanels="@true"
                                TabItems="@tabItemsTextAndIconsPrimaryControllingDivs" />

                        <div role="tabpanel" id="panel-keyboard" aria-labelledby="tab-keyboard">Keyboard</div>
                        <div role="tabpanel" id="panel-guitar" aria-labelledby="tab-guitar" hidden>Guitar</div>
                        <div role="tabpanel" id="panel-drums" aria-labelledby="tab-drums" hidden>Drums</div>
                        <div role="tabpanel" id="panel-bass" aria-labelledby="tab-bass" hidden>Bass</div>
                        <div role="tabpanel" id="panel-saxophone" aria-labelledby="tab-saxophone" hidden>Saxophone</div>
                    </p>
                </Primary>
            </Material.Blazor.MD2.MBCard>
        </div>

    </PageContent>
</DemonstrationPage>



@code {
    private MBTabItem[] tabItemsText = new MBTabItem[]
        {
            new MBTabItem
            {
              Headline="capybara",
            },
            new MBTabItem
            {
              Headline="cat",
            },
            new MBTabItem
            {
                Headline="dog",
                IsActive=true,
            },
            new MBTabItem
            {
                Headline="llama"
            }
        };

    private MBTabItem[] tabItemsTextAndIcons = new MBTabItem[]
        {
            new MBTabItem
            {
              Headline="Keyboard",
              Icon=MBIcon.IconDescriptorConstructor(
                                    name: "piano"),
            },
            new MBTabItem
            {
              Headline="Guitar",
              Icon=MBIcon.IconDescriptorConstructor(
                                    name: "tune"),
            },
        };

    private MBTabItem[] tabItemsTextAndIconsInline = new MBTabItem[]
        {
            new MBTabItem
            {
              Headline="Keyboard",
              Icon=MBIcon.IconDescriptorConstructor(
                                    name: "piano"),
              IconIsInline=true,
            },
            new MBTabItem
            {
              Headline="Guitar",
              Icon=MBIcon.IconDescriptorConstructor(
                                    name: "tune"),
              IconIsInline=true,
            },
        };

    private MBTabItem[] tabItemsIcons = new MBTabItem[]
        {
            new MBTabItem
            {
              Icon=MBIcon.IconDescriptorConstructor(
                                    name: "piano")
            },
            new MBTabItem
            {
              Icon=MBIcon.IconDescriptorConstructor(
                                    name: "tune")
            },
        };

    private MBTabItem[] tabItemsTextLong = new MBTabItem[]
        {
            new MBTabItem
            {
              Headline="capybara",
            },
            new MBTabItem
            {
              Headline="cat",
            },
            new MBTabItem
            {
                Headline="dog",
            },
            new MBTabItem
            {
                Headline="llama"
            },
            new MBTabItem
            {
              Headline="capybara",
            },
            new MBTabItem
            {
              Headline="cat",
            },
            new MBTabItem
            {
                Headline="dog",
            },
            new MBTabItem
            {
                Headline="llama"
            },
            new MBTabItem
            {
              Headline="capybara",
            },
            new MBTabItem
            {
              Headline="cat",
            },
            new MBTabItem
            {
                Headline="dog",
            },
            new MBTabItem
            {
                Headline="llama"
            },
            new MBTabItem
            {
              Headline="capybara",
            },
            new MBTabItem
            {
              Headline="cat",
            },
            new MBTabItem
            {
                Headline="dog",
            },
            new MBTabItem
            {
                Headline="llama"
            },
            new MBTabItem
            {
              Headline="capybara",
            },
            new MBTabItem
            {
              Headline="cat",
            },
            new MBTabItem
            {
                Headline="dog",
            },
            new MBTabItem
            {
                Headline="llama"
            },
            new MBTabItem
            {
              Headline="capybara",
            },
            new MBTabItem
            {
              Headline="cat",
            },
            new MBTabItem
            {
                Headline="dog",
            },
            new MBTabItem
            {
                Headline="llama"
            },
            new MBTabItem
            {
              Headline="capybara",
            },
            new MBTabItem
            {
              Headline="cat",
            },
            new MBTabItem
            {
                Headline="dog",
            },
            new MBTabItem
            {
                Headline="llama"
            },
            new MBTabItem
            {
              Headline="capybara",
            },
            new MBTabItem
            {
              Headline="cat",
            },
            new MBTabItem
            {
                Headline="dog",
            },
            new MBTabItem
            {
                Headline="llama"
            },
            new MBTabItem
            {
              Headline="capybara",
            },
            new MBTabItem
            {
              Headline="cat",
            },
            new MBTabItem
            {
                Headline="dog",
            },
            new MBTabItem
            {
                Headline="llama"
            },
            new MBTabItem
            {
              Headline="capybara",
            },
            new MBTabItem
            {
              Headline="cat",
            },
            new MBTabItem
            {
                Headline="dog",
            },
            new MBTabItem
            {
                Headline="llama"
            },
            new MBTabItem
            {
              Headline="capybara",
            },
            new MBTabItem
            {
              Headline="cat",
            },
            new MBTabItem
            {
                Headline="dog",
            },
            new MBTabItem
            {
                Headline="llama"
            },
            new MBTabItem
            {
              Headline="capybara",
            },
            new MBTabItem
            {
              Headline="cat",
            },
            new MBTabItem
            {
                Headline="dog",
            },
            new MBTabItem
            {
                Headline="llama"
            },
            new MBTabItem
            {
              Headline="capybara",
            },
            new MBTabItem
            {
              Headline="cat",
            },
            new MBTabItem
            {
                Headline="dog",
            },
            new MBTabItem
            {
                Headline="llama"
            },
            new MBTabItem
            {
              Headline="capybara",
            },
            new MBTabItem
            {
              Headline="cat",
            },
            new MBTabItem
            {
                Headline="dog",
            },
            new MBTabItem
            {
                Headline="llama"
            },
            new MBTabItem
            {
              Headline="capybara",
            },
            new MBTabItem
            {
              Headline="cat",
            },
            new MBTabItem
            {
                Headline="dog",
            },
            new MBTabItem
            {
                Headline="llama"
            },
        };

    private MBTabItem[] tabItemsTextAndIconsSecondary = new MBTabItem[]
        {
            new MBTabItem
            {
              Headline="Keyboard",
              Icon=MBIcon.IconDescriptorConstructor(
                                    name: "piano"),
              IsPrimary=false,
            },
            new MBTabItem
            {
              Headline="Guitar",
              Icon=MBIcon.IconDescriptorConstructor(
                                    name: "tune"),
              IsPrimary=false,
            },
        };

    private MBTabItem[] tabItemsTextAndIconsPrimaryControllingDivs = new MBTabItem[]
        {
            new MBTabItem
            {
              Headline="Keyboard",
              Icon=MBIcon.IconDescriptorConstructor(
                                    name: "piano"),
              TabAriaControls="panel-keyboard",
              TabId="tab-keyboard",
            },
            new MBTabItem
            {
              Headline="Guitar",
              Icon=MBIcon.IconDescriptorConstructor(
                                    name: "tune"),
              TabAriaControls="panel-guitar",
              TabId="tab-guitar",
            },
            new MBTabItem
            {
              Headline="Drums",
              Icon=MBIcon.IconDescriptorConstructor(
                                    name: "graphic_eq"),
              TabAriaControls="panel-drums",
              TabId="tab-drums",
            },
            new MBTabItem
            {
              Headline="Bass",
              Icon=MBIcon.IconDescriptorConstructor(
                                    name: "speaker"),
              TabAriaControls="panel-bass",
              TabId="tab-bass",
            },
            new MBTabItem
            {
              Headline="Saxophone",
              Icon=MBIcon.IconDescriptorConstructor(
                                    name: "nightlife"),
              TabAriaControls="panel-saxophone",
              TabId="tab-saxophone",
            },
        };

}
