@page "/textfield"

@namespace Material.Blazor.Website.Pages

@inject IMBToastService ToastService


<DemonstrationPage AdditionalAPIReferences="@apiTuple"
                   ComponentAndPageName="TextField"
                   MaterialWebPage="text-field"
                   RequiresDisableSelection="true"
                   SuppressComponentDocumentation="true"
                   Title="Text Field Demonstration">
    <Description>
        <p>
            Filled and outlined text fields with icon usage, class and style application and finally density.
        </p>
    </Description>

    <PageContent>
        <div class="mdc-layout-grid__cell--span-4">
            <Material.Blazor.MD2.MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Text Field Styles
                    </h2>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Default and explicit text field styles.
                    </h3>

                    <MBTextField @bind-Value="@FilledStyle"
                                 Label="Explicit Filled Style"
                                 style="margin: 6px;"
                                 TextInputStyle="MBTextInputStyle.Filled" />

                    <MBTextField @bind-Value="@OutlinedStyle"
                                 Label="Outlined Style"
                                 style="margin: 6px;"
                                 TextInputStyle="MBTextInputStyle.Outlined" />
                </Primary>
            </Material.Blazor.MD2.MBCard>
        </div>



        <div class="mdc-layout-grid__cell--span-4">
            <Material.Blazor.MD2.MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Icons
                    </h2>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Leading and trailing icons.
                    </h3>

                    <MBTextField Label="Leading Icon"
                                 LeadingIcon="@MBIcon.IconDescriptorConstructor(
                                              name: "home",
                                              style: @MBIconStyle.Outlined)"
                                 style="margin: 6px;"
                                 TextInputStyle="MBTextInputStyle.Filled" />

                    <MBTextField Label="Trailing Icon"
                                 style="margin: 6px;"
                                 TrailingIcon="@MBIcon.IconDescriptorConstructor(
                                               name: "home",
                                               style: @MBIconStyle.Outlined)"
                                 TextInputStyle="MBTextInputStyle.Filled" />

                    <MBTextField Label="Leading Icon"
                                 LeadingIcon="@MBIcon.IconDescriptorConstructor(
                                              name: "favorite",
                                              style: @MBIconStyle.Outlined)"
                                 style="margin: 6px; "
                                 TextInputStyle="MBTextInputStyle.Outlined" />

                    <MBTextField Label="Trailing Icon"
                                 style="margin: 6px; "
                                 TrailingIcon="@MBIcon.IconDescriptorConstructor(
                                               name: "favorite",
                                               style: @MBIconStyle.Outlined)"
                                 TextInputStyle="MBTextInputStyle.Outlined" />
                </Primary>
            </Material.Blazor.MD2.MBCard>
        </div>



        <div class="mdc-layout-grid__cell--span-4">
            <Material.Blazor.MD2.MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Icon Buttons
                    </h2>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Leading and trailing icon buttons.
                    </h3>

                    <p>
                        <MBSwitch @bind-Value="@toggle"
                                  @bind-Value:after="@(() => ComponentValueChanged(toggle, "Toggle"))"
                                  TrailingLabelPLUS="Selected" />


                    </p>

                    <MBTextField Label="Leading IB"
                                 LeadingIcon="@MBIcon.IconDescriptorConstructor(
                                              name: "close",
                                              style: @MBIconStyle.Outlined)"
                                 LeadingToggleIcon="@MBIcon.IconDescriptorConstructor(
                                              name: "check",
                                              style: @MBIconStyle.Outlined)"
                                 LeadingToggleIconSelected="@toggle"
                                 style="margin: 6px;"
                                 TextInputStyle="MBTextInputStyle.Outlined" />

                    <MBTextField Label="Trailing IB"
                                 style="margin: 6px;"
                                 TextInputStyle="MBTextInputStyle.Outlined"
                                 TrailingIcon="@MBIcon.IconDescriptorConstructor(
                                               name: "close",
                                               style: @MBIconStyle.Outlined)"
                                 TrailingToggleIcon="@MBIcon.IconDescriptorConstructor(
                                              name: "check",
                                              style: @MBIconStyle.Outlined)"
                                 TrailingToggleIconSelected="@toggle" />

                    <MBTextField Label="Leading & Trailing IB"
                                 LeadingIcon="@MBIcon.IconDescriptorConstructor(
                                              name: "close",
                                              style: @MBIconStyle.Outlined)"
                                 LeadingToggleIcon="@MBIcon.IconDescriptorConstructor(
                                              name: "check",
                                              style: @MBIconStyle.Outlined)"
                                 LeadingToggleIconSelected="@toggle"
                                 style="margin: 6px;"
                                 TextInputStyle="MBTextInputStyle.Outlined"
                                 TrailingIcon="@MBIcon.IconDescriptorConstructor(
                                               name: "close",
                                               style: @MBIconStyle.Outlined)"
                                 TrailingToggleIcon="@MBIcon.IconDescriptorConstructor(
                                              name: "check",
                                              style: @MBIconStyle.Outlined)"
                                 TrailingToggleIconSelected="@toggle" />
                </Primary>
            </Material.Blazor.MD2.MBCard>
        </div>



        <div class="mdc-layout-grid__cell--span-4">
            <Material.Blazor.MD2.MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Prefix and Suffix
                    </h2>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Prefix and Suffix text applied within fields.
                    </h3>

                    <MBTextField Label="Prefix"
                                 Prefix="$"
                                 style="margin: 6px;"
                                 TextInputStyle="MBTextInputStyle.Filled" />

                    <MBTextField Label="Suffix"
                                 Suffix="%"
                                 style="margin: 6px;"
                                 TextInputStyle="MBTextInputStyle.Filled" />

                    <MBTextField Label="Prefix"
                                 Prefix="$"
                                 style="margin: 6px;"
                                 TextInputStyle="MBTextInputStyle.Outlined" />

                    <MBTextField Label="Suffix"
                                 Suffix="%"
                                 style="margin: 6px;"
                                 TextInputStyle="MBTextInputStyle.Outlined" />
                </Primary>
            </Material.Blazor.MD2.MBCard>
        </div>



        <div class="mdc-layout-grid__cell--span-4">
            <Material.Blazor.MD2.MBCard AutoStyled="true">
                <Primary>
                    <style>
                        .text-green {
                            background-color: var(--mb-color-light-green-600) !important;
                        }
                    </style>

                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Class and Style
                    </h2>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Background color set by CSS class and style attributes.
                    </h3>

                    <MBTextField class="text-green"
                                 Label="Green by class"
                                 style="margin: 6px;"
                                 TextInputStyle="MBTextInputStyle.Outlined" />

                    <MBTextField Label="Amber by style"
                                 style="margin: 6px; background-color: var(--mb-color-amber-800);"
                                 TextInputStyle="MBTextInputStyle.Outlined" />
                </Primary>
            </Material.Blazor.MD2.MBCard>
        </div>



        <div class="mdc-layout-grid__cell--span-4">
            <Material.Blazor.MD2.MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Contents Alignment
                    </h2>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Left, center and right aligned text (not the same as right-to-left script).
                    </h3>

                    <MBTextField Label="Left Aligned"
                                 style="margin: 6px; "
                                 TextAlignStyle="@Material.Blazor.MBTextAlignStyle.Left"
                                 TextInputStyle="MBTextInputStyle.Outlined" />

                    <MBTextField Label="Centered"
                                 style="margin: 6px; "
                                 TextAlignStyle="@Material.Blazor.MBTextAlignStyle.Center"
                                 TextInputStyle="MBTextInputStyle.Outlined" />

                    <MBTextField Label="Right Aligned"
                                 style="margin: 6px; "
                                 TextAlignStyle="@Material.Blazor.MBTextAlignStyle.Right"
                                 TextInputStyle="MBTextInputStyle.Outlined" />
                </Primary>
            </Material.Blazor.MD2.MBCard>
        </div>



        <div class="mdc-layout-grid__cell--span-4">
            <Material.Blazor.MD2.MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Passwords
                    </h2>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Standard HTML input obscuring with <code>type="password"</code>
                    </h3>

                    <MBTextField @bind-Value="@Password"
                                 Label="Password"
                                 style="margin: 6px; "
                                 type="password"
                                 TextInputStyle="MBTextInputStyle.Outlined" />
                </Primary>
            </Material.Blazor.MD2.MBCard>
        </div>



        <div class="mdc-layout-grid__cell--span-4">
            <Material.Blazor.MD2.MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Two Way Binding
                    </h2>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Shows two way binding for text fields.
                    </h3>

                    <MBTextField @bind-Value="@TwoWayBinding"
                                 Label="First Linked Field"
                                 style="margin: 6px; "
                                 TextInputStyle="MBTextInputStyle.Outlined" />
                    <MBTextField @bind-Value="@TwoWayBinding"
                                 Label="Second Linked Field"
                                 style="margin: 6px; "
                                 TextInputStyle="MBTextInputStyle.Outlined" />
                </Primary>
            </Material.Blazor.MD2.MBCard>
        </div>



        <div class="mdc-layout-grid__cell--span-4">
            <Material.Blazor.MD2.MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Supporting Text
                    </h2>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Shows supporting text.
                    </h3>

                    <MBTextField @bind-Value="@SupportingText"
                                 SupportingText="Some supporting text"
                                 Label="Persistent Supporting Text"
                                 style="margin: 6px;"
                                 TextInputStyle="MBTextInputStyle.Outlined" />
                </Primary>
            </Material.Blazor.MD2.MBCard>
        </div>



        <div class="mdc-layout-grid__cell--span-4">
            <Material.Blazor.MD2.MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Filled Density
                    </h2>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Filled density subsystem from default to minus 4.
                    </h3>

                    <MBTextField Density="@Material.Blazor.MBDensity.Default"
                                 Label="Default Density"
                                 style="margin: 6px;"
                                 TextInputStyle="MBTextInputStyle.Filled" />

                    <MBTextField Density="@Material.Blazor.MBDensity.Minus1"
                                 Label="Density Minus 1"
                                 style="margin: 6px;"
                                 TextInputStyle="MBTextInputStyle.Filled" />

                    <MBTextField Density="@Material.Blazor.MBDensity.Minus2"
                                 Label="Density Minus 2"
                                 style="margin: 6px;"
                                 TextInputStyle="MBTextInputStyle.Filled" />

                    <MBTextField Density="@Material.Blazor.MBDensity.Minus3"
                                 Label="Density Minus 3"
                                 style="margin: 6px;"
                                 TextInputStyle="MBTextInputStyle.Filled" />

                    <MBTextField Density="@Material.Blazor.MBDensity.Minus4"
                                 Label="Density Minus 4"
                                 style="margin: 6px;"
                                 TextInputStyle="MBTextInputStyle.Filled" />
                </Primary>
            </Material.Blazor.MD2.MBCard>
        </div>



        <div class="mdc-layout-grid__cell--span-4">
            <Material.Blazor.MD2.MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Outlined Density
                    </h2>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Outlined density subsystem from default to minus 4.
                    </h3>

                    <MBTextField Density="@Material.Blazor.MBDensity.Default"
                                 Label="Default Density"
                                 style="margin: 6px;"
                                 TextInputStyle="MBTextInputStyle.Outlined" />

                    <MBTextField Density="@Material.Blazor.MBDensity.Minus1"
                                 Label="Density Minus 1"
                                 style="margin: 6px;"
                                 TextInputStyle="MBTextInputStyle.Outlined" />

                    <MBTextField Density="@Material.Blazor.MBDensity.Minus2"
                                 Label="Density Minus 2"
                                 style="margin: 6px;"
                                 TextInputStyle="MBTextInputStyle.Outlined" />

                    <MBTextField Density="@Material.Blazor.MBDensity.Minus3"
                                 Label="Density Minus 3"
                                 style="margin: 6px;"
                                 TextInputStyle="MBTextInputStyle.Outlined" />

                    <MBTextField Density="@Material.Blazor.MBDensity.Minus4"
                                 Label="Density Minus 4"
                                 style="margin: 6px;"
                                 TextInputStyle="MBTextInputStyle.Outlined" />
                </Primary>
            </Material.Blazor.MD2.MBCard>
        </div>
    </PageContent>
</DemonstrationPage>


@code {
    private string FilledStyle { get; set; }

    private string OutlinedStyle { get; set; }

    private string Password { get; set; }

    private string SupportingText { get; set; }

    private bool toggle { get; set; }

    private string TwoWayBinding { get; set; }

    private Tuple<int, string>[] apiTuple =
    {
        new Tuple<int, string>(0, "MBTextField"),
        new Tuple<int, string>(10, "InternalTextFieldBase")
    };

    private void ComponentValueChanged(bool value, string componentName)
    {
        ToastService.ShowToast(heading: $"{componentName} Clicked", message: $"Two way binding Value: {value}", level: MBToastLevel.Success, showIcon: false);
    }
}