@namespace Material.Blazor

@inherits SingleSelectComponent<TItem, MBSelectElement<TItem>>
@typeparam TItem


<div class="mb-autocomplete @ActiveConditionalClasses @(@class)"
     style="@style"
     id="@id">
    <MBTextField @attributes="@AttributesToSplat()"
                 @bind-Value="@SearchText"
                 Density="@Density"
                 Disabled="@AppliedDisabled"
                 HelperText="@HelperText"
                 HelperTextPersistent="@HelperTextPersistent"
                 IconFoundry="@IconFoundry"
                 Label="@Label"
                 LeadingIcon="@LeadingIcon"
                 @onchange="@OnTextChangeAsync"
                 @onfocusin="@OnTextFocusInAsync"
                 @onfocusout="@OnTextFocusOutAsync"
                 @oninput="@OnInput"
                 @ref="@TextField"
                 TextAlignStyle="@TextAlignStyle"
                 TextInputStyle="@TextInputStyle"
                 TrailingIcon="@TrailingIcon"
                 ValidationMessageFor="@ValidationMessageFor" />

    <div class="mdc-menu-surface--anchor">
        <div @ref="@MenuReference"
             class="mdc-menu-surface @ActiveConditionalClasses @(@class)"
             style="@style"
             @onfocusin="OnMenuFocusIn"
             @onfocusout="OnMenuFocusOut"
             tabindex="-1">

            <MBLinearProgress LinearProgressType="@MenuSurfaceLinearProgressType" />
            <div class="mdc-layout-grid mb-autocomplete-paged-field-list">
                <div class="mdc-layout-grid__inner">
                    @for (int col = 0; col < 2; col++)
                    {
                        var localCol = col;
                        var columnItems = SelectItems.Skip(col * SelectItemsPerColumn).Take(SelectItemsPerColumn);

                        <div class="mdc-layout-grid__cell--span-6">
                            @if (columnItems.Any())
                            {
                                <MBList Items="@columnItems"
                                        Context="item"
                                        KeyboardInteractions="true"
                                        ListStyle="@MBListStyle.Outlined"
                                        OnClick="@(listIndex => OnListItemClickAsync(localCol, listIndex))"
                                        Ripple="true"
                                        SingleLineDensity="@MBDensity.Minus2">

                                    <Title>@item.Label</Title>
                                </MBList>
                            }
                        </div>
                    }

                    <div class="mdc-layout-grid__cell--span-12 mb-autocomplete-paged-field-paginator">
                        <MBPaginator @bind-PageNumber="@PageNumber"
                                     @bind-PageNumber:after="@OnPageTurn"
                                     ItemsPerPageSelection="@PaginatorItemsPerPage"
                                     ItemsPerPage="@PaginatorItemsPerPage[0]"
                                     ItemCount="@MatchingItemCount" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>