@page "/autocompleteselectfield"

@inject IMBToastService ToastService

@using System.Runtime.InteropServices
@using System.Text.RegularExpressions


<DemonstrationPage ComponentName="AutocompleteSelectField"
                   DemoComponent="@this"
                   MinDensity="MBDensity.Minus4"
                   RequiresDisableSelection="true"
                   Title="Autocomplete Select Field Demonstration">
    <Description>
        <p>
            Shows autocomplete select fields which are Plus components.
        </p>
    </Description>

    <PageContent>
        <div class="mdc-layout-grid__cell--span-6">
            <MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Query size limit
                    </h2>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Limit the maximum number of cities that can be returned here.
                    </h3>

                    <p>
                        <MBIntSlider AriaLabel="Query Limit"
                                     @bind-Value="@QueryLimit"
                                     ContinuousInputDelay="300"
                                     EventType="@MBInputEventType.OnChange"
                                     ShowTickmarks="true"
                                     ValueMax="40"
                                     ValueMin="5" />
                    </p>
                </Primary>
            </MBCard>
        </div>

        <div class="mdc-layout-grid__cell--span-6"></div>

        <div class="mdc-layout-grid__cell--span-4">
            <MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Autcomplete select field
                    </h2>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        An asynchronous autocomplete that searches large US cities by name or state. The search function adds a minor delay to simulate
                        an async method, such as a database search.
                    </h3>

                    <p>
                        <MBAutocompleteSelectField AllowBlankResult="false"
                                                   @bind-Value="@CityId"
                                                   DebounceInterval="1000"
                                                   GetMatchingSelection="@GetCities"
                                                   GetSelectElement="@GetSelectElement"
                                                   Label="Blanks disallowed"
                                                   LeadingIcon="alarm"
                                                   TextInputStyle="MBTextInputStyle.Outlined" />
                    </p>

                    <p>
                        <MBAutocompleteSelectField AllowBlankResult="false"
                                                   @bind-Value="@CityId"
                                                   DebounceInterval="1000"
                                                   GetMatchingSelection="@GetCities"
                                                   GetSelectElement="@GetSelectElement"
                                                   Label="Blanks disallowed"
                                                   LeadingIcon="alarm"
                                                   TextInputStyle="MBTextInputStyle.Outlined"
                                                   Disabled="true"/>
                    </p>
                </Primary>
            </MBCard>
        </div>

        <div class="mdc-layout-grid__cell--span-8">
            <MBCard>
                <Primary>
                    <MBLinearProgress LinearProgressType="@LinearProgressType" />

                    <div style="margin: 12px;">
                        <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                            Your chosen location
                        </h2>

                        @if (ClientSideSelectedCity is not null)
                        {
                            <p class="mdc-typography--body1">City: @ClientSideSelectedCity.Name</p>
                            <p class="mdc-typography--body1">State: @ClientSideSelectedCity.State</p>
                            <p class="mdc-typography--body1">Population: @ClientSideSelectedCity.Population.ToString("N0")</p>
                            <p class="mdc-typography--body1">Area: @ClientSideSelectedCity.AreaSqKm.ToString("N2") sq km / @ClientSideSelectedCity.AreaSqM.ToString("N2") sq miles</p>
                            <p class="mdc-typography--body1">Population Density: @ClientSideSelectedCity.PopulationDensityPerSqKm.ToString("N0") per sq km / @ClientSideSelectedCity.PopulationDensityPerSqM.ToString("N0") per sq mile</p>
                            <p class="mdc-typography--body1">Location: @ClientSideSelectedCity.Location</p>
                            <p class="mdc-typography--body1">Map Link: <a href="@ClientSideSelectedCity.GoogleMapsUrl" target="_blank">@ClientSideSelectedCity.GoogleMapsUrl</a></p>
                        }
                    </div>
                </Primary>
            </MBCard>
        </div>

        <div class="mdc-layout-grid__cell--span-12">
            <MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        All matching cities returned from the "database"
                    </h2>

                    <div class="mdc-layout-grid__inner">
                        @foreach (var cityName in AllMatchingCityNames)
                        {
                            <div class="mdc-layout-grid__cell--span-3 mdc-typography--body2">
                                @cityName
                            </div>
                        }
                    </div>
                </Primary>
            </MBCard>
        </div>
    </PageContent>
</DemonstrationPage>


@code {
    private const double SqMPerSqKm = 2.58999;

    class City
    {
        public Guid Id { get; set; } = default;
        public string Name { get; set; } = "";
        public string State { get; set; } = "";
        public int Population { get; set; } = 0;
        public double AreaSqKm { get; set; } = 0.0;
        public double LongitudeNorth { get; set; } = 0.0;
        public double LatitudeWest { get; set; } = 0.0;

        public string FullName => Name + ", " + State;
        public double AreaSqM => AreaSqKm / SqMPerSqKm;
        public double PopulationDensityPerSqKm => AreaSqKm < 1e-6 ? 0.0 : Population / AreaSqKm;
        public double PopulationDensityPerSqM => AreaSqKm < 1e-6 ? 0.0 : Population / AreaSqM;
        public string Location => $"{LongitudeNorth:N2}°N {LatitudeWest:N2}°W";
        public string GoogleMapsUrl => $"https://www.google.com/maps/@{LongitudeNorth:N2},{-LatitudeWest:N2},10z";
        public string SearchTarget => Regex.Replace(FullName, @"\s+", string.Empty);
    }


    private Guid _cityId = _cities[0].Id;
    private Guid CityId
    {
        get => _cityId;
        set
        {
            _cityId = value;

            ToastService.ShowToast(
                heading: "Autocomplete blanks disallowed",
                level: MBToastLevel.Success,
                message: $"Value: '{_citiesDict[_cityId].FullName}'",
                showIcon: false);

            _ = Task.Run(async () =>
            {
                LinearProgressType = MBLinearProgressType.Indeterminate;
                await InvokeAsync(StateHasChanged);

                ClientSideSelectedCity = await GetSelectedCity(_cityId);
                LinearProgressType = MBLinearProgressType.Closed;
                await InvokeAsync(StateHasChanged);
            });
        }
    }


    private int QueryLimit { get; set; } = 10;
    private City ClientSideSelectedCity { get; set; } = null;
    private List<string> AllMatchingCityNames { get; set; } = new();
    private MBLinearProgressType LinearProgressType { get; set; } = MBLinearProgressType.Closed;
    private static RegexOptions RegexOptions = RegexOptions.IgnoreCase | RegexOptions.IgnorePatternWhitespace;


    private async Task<MBSearchResult<Guid>> GetCities(string searchString)
    {
        // A delay to mimic waiting for a database to respond
        await Task.Delay(200);

        var fullMatchRegex = new Regex($"^{searchString}$", RegexOptions);
        var fullMatchCity = _citiesDict.Where(x => fullMatchRegex.Matches(x.Value.SearchTarget).Any()).FirstOrDefault().Value;

        if (fullMatchCity != default)
        {
            AllMatchingCityNames = new() { fullMatchCity.FullName };
            _ = InvokeAsync(StateHasChanged);

            return new()
                {
                    MatchingItems = new List<MBSelectElement<Guid>> { new() { SelectedValue = fullMatchCity.Id, Label = fullMatchCity.FullName } },
                    SearchResultType = MBSearchResultTypes.FullMatchFound,
                    MatchingItemCount = 1,
                    MaxItemCount = QueryLimit,
                };
        }

        var partialMatchRegex = new Regex(searchString, RegexOptions);
        var partialMatchCities = _citiesDict.Where(x => partialMatchRegex.Matches(x.Value.SearchTarget).Any()).Select(x => x.Value).OrderBy(x => x.FullName).ToList();
        AllMatchingCityNames = partialMatchCities.Select(x => x.FullName).ToList();
        _ = InvokeAsync(StateHasChanged);

        if (!partialMatchCities.Any())
        {
            return new()
                {
                    MatchingItems = new List<MBSelectElement<Guid>>(),
                    SearchResultType = MBSearchResultTypes.NoMatchesFound,
                    MatchingItemCount = 0,
                    MaxItemCount = QueryLimit,
                };
        }
        else if (partialMatchCities.Count > QueryLimit) // as a demonstration, we decide that more than the query limit number of items is "too many"
        {
            return new()
                {
                    MatchingItems = new List<MBSelectElement<Guid>>(),
                    SearchResultType = MBSearchResultTypes.TooManyItemsFound,
                    MatchingItemCount = partialMatchCities.Count,
                    MaxItemCount = QueryLimit,
                };
        }

        return new()
            {
                MatchingItems = partialMatchCities.Select(x => new MBSelectElement<Guid> { SelectedValue = x.Id, Label = x.FullName }).ToList(),
                SearchResultType = MBSearchResultTypes.PartialMatchesFound,
                MatchingItemCount = partialMatchCities.Count,
                MaxItemCount = QueryLimit,
            };
    }


    private async Task<MBSelectElement<Guid>> GetSelectElement(Guid id)
    {
        // A long delay to simulate a complex query
        await Task.Delay(100);

        return new()
        {
            SelectedValue = id,
            Label = _citiesDict[id].FullName,
        };
    }


    private async Task<City> GetSelectedCity(Guid id)
    {
        // A long delay to simulate a complex query
        await Task.Delay(2000);

        return _citiesDict[id];
    }


    static AutocompleteSelectField()
    {
        _citiesDict = _cities.ToDictionary(x => x.Id, x => x);
    }


    private static Dictionary<Guid, City> _citiesDict = new();
    private static List<City> _cities = new()
    {
        new() { Id = new("16c5f050-9d6c-486c-a9ba-aefc67528eba"), Name = "Abilene", State = "Texas", Population = 125182, AreaSqKm = 276.4, LongitudeNorth = 32.45, LatitudeWest = 99.73,  },
        new() { Id = new("3178f2e6-f8b2-4153-9256-e144b0627e5e"), Name = "Akron", State = "Ohio", Population = 190469, AreaSqKm = 160.3, LongitudeNorth = 41.08, LatitudeWest = 81.52,  },
        new() { Id = new("8e70d8bc-856f-4606-9d07-85a541b4c4b7"), Name = "Albuquerque", State = "New Mexico", Population = 564559, AreaSqKm = 485.1, LongitudeNorth = 35.1, LatitudeWest = 106.64,  },
        new() { Id = new("818d0929-a469-4031-b129-8aab116ce6bb"), Name = "Alexandria", State = "Virginia", Population = 159467, AreaSqKm = 38.6, LongitudeNorth = 38.82, LatitudeWest = 77.08,  },
        new() { Id = new("4b44764e-b9d8-4014-a8dc-d29d27459281"), Name = "Allen", State = "Texas", Population = 104627, AreaSqKm = 68.4, LongitudeNorth = 33.09, LatitudeWest = 96.66,  },
        new() { Id = new("26df622c-ef02-4ba3-a617-3125c6599fe0"), Name = "Allentown", State = "Pennsylvania", Population = 125845, AreaSqKm = 45.6, LongitudeNorth = 40.59, LatitudeWest = 75.47,  },
        new() { Id = new("24edb5fe-bba7-4615-ba9b-de37d7d672af"), Name = "Amarillo", State = "Texas", Population = 200393, AreaSqKm = 265, LongitudeNorth = 35.19, LatitudeWest = 101.83,  },
        new() { Id = new("817dd023-fb44-469b-b72f-8e9615efe14a"), Name = "Anaheim", State = "California", Population = 346824, AreaSqKm = 130.3, LongitudeNorth = 33.85, LatitudeWest = 117.76,  },
        new() { Id = new("07c07ff7-ee31-48f1-8047-1d643b2a9ae2"), Name = "Anchorage", State = "Alaska", Population = 291247, AreaSqKm = 4420.6, LongitudeNorth = 61.17, LatitudeWest = 149.28,  },
        new() { Id = new("d00a345c-48da-4e70-b8eb-943cf575b8cc"), Name = "Ann Arbor", State = "Michigan", Population = 123851, AreaSqKm = 73, LongitudeNorth = 42.27, LatitudeWest = 83.73,  },
        new() { Id = new("3cbf1d17-9082-4224-98cc-4707a03376fd"), Name = "Antioch", State = "California", Population = 115291, AreaSqKm = 75.6, LongitudeNorth = 37.97, LatitudeWest = 121.79,  },
        new() { Id = new("e3b92c00-9daa-4594-b42d-8f54ead58a7d"), Name = "Arlington", State = "Texas", Population = 394266, AreaSqKm = 248.4, LongitudeNorth = 32.7, LatitudeWest = 97.12,  },
        new() { Id = new("a3f7ffbb-771b-4b70-a790-d5aa252203d3"), Name = "Arvada", State = "Colorado", Population = 124402, AreaSqKm = 100.8, LongitudeNorth = 39.83, LatitudeWest = 105.15,  },
        new() { Id = new("daaa2ca7-0e0d-4456-9105-021600f19077"), Name = "Athens", State = "Georgia", Population = 127315, AreaSqKm = 301.2, LongitudeNorth = 33.94, LatitudeWest = 83.37,  },
        new() { Id = new("741ac920-a508-4a40-8fd8-bb760bdfd13b"), Name = "Atlanta", State = "Georgia", Population = 498715, AreaSqKm = 350.4, LongitudeNorth = 33.76, LatitudeWest = 84.42,  },
        new() { Id = new("c000f997-38d4-4cf8-9d5f-ea7ab9966319"), Name = "Augusta", State = "Georgia", Population = 202081, AreaSqKm = 783, LongitudeNorth = 33.36, LatitudeWest = 82.07,  },
        new() { Id = new("f6ed144b-a8df-4d1c-a752-975e65a3e8c2"), Name = "Aurora", State = "Colorado", Population = 386261, AreaSqKm = 414.7, LongitudeNorth = 39.68, LatitudeWest = 104.68,  },
        new() { Id = new("e5ebcd42-cc6a-4431-adcc-1dd241070c10"), Name = "Aurora", State = "Illinois", Population = 180542, AreaSqKm = 116.5, LongitudeNorth = 41.76, LatitudeWest = 88.29,  },
        new() { Id = new("c4d32c6f-bde1-47e2-83cf-7bcce3ce37c6"), Name = "Austin", State = "Texas", Population = 961855, AreaSqKm = 828.5, LongitudeNorth = 30.3, LatitudeWest = 97.75,  },
        new() { Id = new("f7224cac-8a28-4ab6-9eeb-872e9915c61f"), Name = "Bakersfield", State = "California", Population = 403455, AreaSqKm = 388, LongitudeNorth = 35.32, LatitudeWest = 119.01,  },
        new() { Id = new("16c836a9-dd15-4e3b-a488-5816a3d724bb"), Name = "Baltimore", State = "Maryland", Population = 585708, AreaSqKm = 209.5, LongitudeNorth = 39.3, LatitudeWest = 76.61,  },
        new() { Id = new("34bbf517-4ecc-4c2b-b96b-b7980801f0c6"), Name = "Baton Rouge", State = "Louisiana", Population = 227470, AreaSqKm = 223.5, LongitudeNorth = 30.44, LatitudeWest = 91.13,  },
        new() { Id = new("f790784c-1649-49d2-9b65-563400093b53"), Name = "Beaumont", State = "Texas", Population = 115282, AreaSqKm = 213.7, LongitudeNorth = 30.08, LatitudeWest = 94.14,  },
        new() { Id = new("c2322b1e-9ee6-4e81-83d3-c435bc1908f1"), Name = "Bellevue", State = "Washington", Population = 151854, AreaSqKm = 86.8, LongitudeNorth = 47.59, LatitudeWest = 122.15,  },
        new() { Id = new("b7cee5d8-75f0-4fdc-aead-5c9e87f60225"), Name = "Bend", State = "Oregon", Population = 99178, AreaSqKm = 87, LongitudeNorth = 44.3, LatitudeWest = 121.18,  },
        new() { Id = new("1b0e5d0d-8ae2-4dfc-b880-2cafae25f3bb"), Name = "Berkeley", State = "California", Population = 124321, AreaSqKm = 26.9, LongitudeNorth = 37.86, LatitudeWest = 122.29,  },
        new() { Id = new("732ee627-4009-4bf0-b701-293197617f21"), Name = "Billings", State = "Montana", Population = 117116, AreaSqKm = 116, LongitudeNorth = 45.78, LatitudeWest = 108.54,  },
        new() { Id = new("cde6fc1b-f8f9-49d3-9dc8-d134a96bdf12"), Name = "Birmingham", State = "Alabama", Population = 200733, AreaSqKm = 380.7, LongitudeNorth = 33.52, LatitudeWest = 86.79,  },
        new() { Id = new("c2fe7f23-f643-474c-a8ef-c697ad5e6c64"), Name = "Boise", State = "Idaho", Population = 235684, AreaSqKm = 217.6, LongitudeNorth = 43.6, LatitudeWest = 116.23,  },
        new() { Id = new("da977b6f-e7fd-41d6-a13a-c595f3945654"), Name = "Boston", State = "Massachusetts", Population = 675647, AreaSqKm = 125.1, LongitudeNorth = 42.33, LatitudeWest = 71.02,  },
        new() { Id = new("3dc83fc4-65b3-440d-a256-672f9f9fbd22"), Name = "Boulder", State = "Colorado", Population = 108250, AreaSqKm = 68.1, LongitudeNorth = 40.02, LatitudeWest = 105.25,  },
        new() { Id = new("99b46035-e96a-48fd-a236-4a7faef4d2bd"), Name = "Bridgeport", State = "Connecticut", Population = 148654, AreaSqKm = 41.7, LongitudeNorth = 41.18, LatitudeWest = 73.19,  },
        new() { Id = new("494db8d2-39b4-4b50-9e4d-0deeaa1f47bb"), Name = "Brockton", State = "Massachusetts", Population = 105643, AreaSqKm = 55.2, LongitudeNorth = 42.08, LatitudeWest = 71.02,  },
        new() { Id = new("d83b8d66-e844-4439-b183-bc1b18660315"), Name = "Broken Arrow", State = "Oklahoma", Population = 113540, AreaSqKm = 163.2, LongitudeNorth = 36.03, LatitudeWest = 95.78,  },
        new() { Id = new("ecf34ffc-ee88-40cf-bc78-1ca4710aeeed"), Name = "Brownsville", State = "Texas", Population = 186738, AreaSqKm = 340.6, LongitudeNorth = 25.99, LatitudeWest = 97.45,  },
        new() { Id = new("fd410aee-bd0f-4056-ada2-3cfa0ef1c362"), Name = "Buckeye", State = "Arizona", Population = 91502, AreaSqKm = 1017.9, LongitudeNorth = 33.37, LatitudeWest = 112.59,  },
        new() { Id = new("f36f92ac-a192-4618-ba56-d9a3f91b2f81"), Name = "Buffalo", State = "New York", Population = 278349, AreaSqKm = 104.6, LongitudeNorth = 42.89, LatitudeWest = 78.85,  },
        new() { Id = new("50743d52-f356-4377-be54-a3bc8bdfea7a"), Name = "Burbank", State = "California", Population = 107337, AreaSqKm = 44.8, LongitudeNorth = 34.19, LatitudeWest = 118.32,  },
        new() { Id = new("aa077b76-c769-479c-8ac6-4a69e0af2bd0"), Name = "Cambridge", State = "Massachusetts", Population = 118403, AreaSqKm = 16.6, LongitudeNorth = 42.37, LatitudeWest = 71.11,  },
        new() { Id = new("0e2f3a96-4522-4e0b-b9b5-01adc0ed2dfb"), Name = "Cape Coral", State = "Florida", Population = 194016, AreaSqKm = 274.5, LongitudeNorth = 26.64, LatitudeWest = 81.99,  },
        new() { Id = new("7e5d5765-c3a4-4343-862d-2d97afa86b4e"), Name = "Carlsbad", State = "California", Population = 114746, AreaSqKm = 97.9, LongitudeNorth = 33.12, LatitudeWest = 117.28,  },
        new() { Id = new("920d2576-253f-4990-83e2-90cdbf6f9a0c"), Name = "Carmel", State = "Indiana", Population = 99757, AreaSqKm = 127.2, LongitudeNorth = 39.58, LatitudeWest = 86.6,  },
        new() { Id = new("64046531-79eb-40b3-904b-f74699a12f46"), Name = "Carrollton", State = "Texas", Population = 133434, AreaSqKm = 95.1, LongitudeNorth = 32.98, LatitudeWest = 96.89,  },
        new() { Id = new("01494c0d-263d-479c-a9dd-fc0142f9c5fa"), Name = "Cary", State = "North Carolina", Population = 174721, AreaSqKm = 153.3, LongitudeNorth = 35.78, LatitudeWest = 78.81,  },
        new() { Id = new("4d0e1271-1293-4eaf-93b2-a01f43005b5b"), Name = "Cedar Rapids", State = "Iowa", Population = 137710, AreaSqKm = 186.7, LongitudeNorth = 41.96, LatitudeWest = 91.67,  },
        new() { Id = new("f7000313-4de4-4f50-b577-c4078f68aa43"), Name = "Centennial", State = "Colorado", Population = 108418, AreaSqKm = 76.9, LongitudeNorth = 39.59, LatitudeWest = 104.86,  },
        new() { Id = new("8df6e914-0f7d-4a86-85b7-2d873a765f18"), Name = "Chandler", State = "Arizona", Population = 275987, AreaSqKm = 169.1, LongitudeNorth = 33.28, LatitudeWest = 111.85,  },
        new() { Id = new("a905cdb2-bb9e-4d19-9f89-87745bd34902"), Name = "Charleston", State = "South Carolina", Population = 150227, AreaSqKm = 297.3, LongitudeNorth = 32.81, LatitudeWest = 79.95,  },
        new() { Id = new("2af56925-dd35-4f1f-a2bc-744d81ea8d3f"), Name = "Charlotte", State = "North Carolina", Population = 874579, AreaSqKm = 798.5, LongitudeNorth = 35.2, LatitudeWest = 80.83,  },
        new() { Id = new("1496e37d-e049-48ec-bc1f-3c8f7135076b"), Name = "Chattanooga", State = "Tennessee", Population = 181099, AreaSqKm = 368.8, LongitudeNorth = 35.06, LatitudeWest = 85.24,  },
        new() { Id = new("f7427f7d-c634-4b63-9da5-90600497bd94"), Name = "Chesapeake", State = "Virginia", Population = 249422, AreaSqKm = 876.7, LongitudeNorth = 36.67, LatitudeWest = 76.3,  },
        new() { Id = new("52f99e46-ad14-4a98-993d-ab53ea2921e1"), Name = "Chicago", State = "Illinois", Population = 2746388, AreaSqKm = 589.7, LongitudeNorth = 41.83, LatitudeWest = 87.68,  },
        new() { Id = new("69a53bca-a2d9-4311-a06e-7a61858fbbee"), Name = "Chico", State = "California", Population = 101475, AreaSqKm = 88.3, LongitudeNorth = 39.74, LatitudeWest = 121.83,  },
        new() { Id = new("66c71a6b-e3e9-40ba-877c-39943b4a4d44"), Name = "Chula Vista", State = "California", Population = 275487, AreaSqKm = 128.5, LongitudeNorth = 32.62, LatitudeWest = 117.01,  },
        new() { Id = new("f20b3ffe-413d-4974-b2bb-8e5242f44803"), Name = "Cincinnati", State = "Ohio", Population = 309317, AreaSqKm = 201.5, LongitudeNorth = 39.14, LatitudeWest = 84.5,  },
        new() { Id = new("1f4d449b-8d5c-4eb3-b9b3-52d77bddba67"), Name = "Clarksville", State = "Tennessee", Population = 166722, AreaSqKm = 257.4, LongitudeNorth = 36.56, LatitudeWest = 87.34,  },
        new() { Id = new("a2b9e3e8-1d3d-4a3a-a7c8-24b35f7952b2"), Name = "Clearwater", State = "Florida", Population = 117292, AreaSqKm = 67.6, LongitudeNorth = 27.97, LatitudeWest = 82.76,  },
        new() { Id = new("fbc0f714-05d4-47ca-9261-c215773e1b79"), Name = "Cleveland", State = "Ohio", Population = 372624, AreaSqKm = 201.2, LongitudeNorth = 41.47, LatitudeWest = 81.67,  },
        new() { Id = new("581d140c-d9a1-45e9-970c-c89b98626f28"), Name = "Clovis", State = "California", Population = 120124, AreaSqKm = 65.8, LongitudeNorth = 36.82, LatitudeWest = 119.68,  },
        new() { Id = new("93e87387-8ba2-4eea-bead-afbc0d112276"), Name = "College Station", State = "Texas", Population = 120511, AreaSqKm = 132.6, LongitudeNorth = 30.58, LatitudeWest = 96.29,  },
        new() { Id = new("3f860760-26c6-4e39-8071-264f124e45fd"), Name = "Colorado Springs", State = "Colorado", Population = 478961, AreaSqKm = 506.1, LongitudeNorth = 38.86, LatitudeWest = 104.76,  },
        new() { Id = new("d0bc7eaf-abc4-4ced-b944-7fdeb5af482b"), Name = "Columbia", State = "South Carolina", Population = 136632, AreaSqKm = 354.3, LongitudeNorth = 34.02, LatitudeWest = 80.89,  },
        new() { Id = new("139e564e-706c-49d7-add7-776809588f6b"), Name = "Columbia", State = "Missouri", Population = 126254, AreaSqKm = 172.2, LongitudeNorth = 38.95, LatitudeWest = 92.32,  },
        new() { Id = new("066f3486-1fab-4081-8243-e961ed38b9ab"), Name = "Columbus", State = "Ohio", Population = 905748, AreaSqKm = 569.8, LongitudeNorth = 39.98, LatitudeWest = 82.98,  },
        new() { Id = new("6160f770-8752-48bf-8755-0afc39f1bb75"), Name = "Columbus", State = "Georgia", Population = 206922, AreaSqKm = 560.7, LongitudeNorth = 32.51, LatitudeWest = 84.87,  },
        new() { Id = new("901bf930-d42a-4d0e-9e54-8945b3cd9186"), Name = "Concord", State = "North Carolina", Population = 105240, AreaSqKm = 164.5, LongitudeNorth = 35.4, LatitudeWest = 80.6,  },
        new() { Id = new("928fe42b-4ca7-430d-801a-238e93bbf010"), Name = "Concord", State = "California", Population = 125410, AreaSqKm = 79.3, LongitudeNorth = 37.97, LatitudeWest = 122,  },
        new() { Id = new("22e554ff-a540-4c01-84ee-fcb991a78d97"), Name = "Coral Springs", State = "Florida", Population = 134394, AreaSqKm = 59.3, LongitudeNorth = 26.27, LatitudeWest = 80.25,  },
        new() { Id = new("7c6deaf9-feaa-486a-ad00-37551424c7ce"), Name = "Corona", State = "California", Population = 157136, AreaSqKm = 103.3, LongitudeNorth = 33.86, LatitudeWest = 117.56,  },
        new() { Id = new("d481fd40-a03c-4a3f-9a63-96827e72b0e8"), Name = "Corpus Christi", State = "Texas", Population = 317863, AreaSqKm = 420.1, LongitudeNorth = 27.75, LatitudeWest = 97.17,  },
        new() { Id = new("bae2867c-8720-4c44-a0a9-ef5c9a0ca4c9"), Name = "Costa Mesa", State = "California", Population = 111918, AreaSqKm = 40.9, LongitudeNorth = 33.66, LatitudeWest = 117.91,  },
        new() { Id = new("c0d39df6-36a4-47bb-b39e-de8beb2c6200"), Name = "Dallas", State = "Texas", Population = 1304379, AreaSqKm = 879.6, LongitudeNorth = 32.79, LatitudeWest = 96.76,  },
        new() { Id = new("87871561-96f2-42e3-a3e2-c3dfe18dfad9"), Name = "Daly City", State = "California", Population = 104901, AreaSqKm = 19.7, LongitudeNorth = 37.7, LatitudeWest = 122.46,  },
        new() { Id = new("bc78c0ff-dc7d-4bad-bdc3-99c3b2370c97"), Name = "Davenport", State = "Iowa", Population = 101724, AreaSqKm = 165.2, LongitudeNorth = 41.55, LatitudeWest = 90.6,  },
        new() { Id = new("3e73c423-8549-47c3-9ced-f8ce7e99f188"), Name = "Davie", State = "Florida", Population = 105691, AreaSqKm = 90.4, LongitudeNorth = 26.07, LatitudeWest = 80.28,  },
        new() { Id = new("957f44bf-b7a5-4115-8953-11a7c289333b"), Name = "Dayton", State = "Ohio", Population = 137644, AreaSqKm = 144.5, LongitudeNorth = 39.77, LatitudeWest = 84.19,  },
        new() { Id = new("0b3d4910-21e9-41c6-87c8-1c5a0ce740f0"), Name = "Dearborn", State = "Michigan", Population = 109976, AreaSqKm = 62.7, LongitudeNorth = 42.31, LatitudeWest = 83.21,  },
        new() { Id = new("97b4700d-6a33-435e-a779-c36f677b8869"), Name = "Denton", State = "Texas", Population = 139869, AreaSqKm = 249.7, LongitudeNorth = 33.21, LatitudeWest = 97.14,  },
        new() { Id = new("2858fac3-f009-44c8-998c-922583b0b726"), Name = "Denver", State = "Colorado", Population = 715522, AreaSqKm = 396.5, LongitudeNorth = 39.76, LatitudeWest = 104.88,  },
        new() { Id = new("5ed9ecb0-67bd-45e1-b719-515ecfd10e69"), Name = "Des Moines", State = "Iowa", Population = 214133, AreaSqKm = 228.4, LongitudeNorth = 41.57, LatitudeWest = 93.61,  },
        new() { Id = new("e081fdd3-dffe-4bee-93c6-7c1ca92f5eef"), Name = "Detroit", State = "Michigan", Population = 639111, AreaSqKm = 359.2, LongitudeNorth = 42.38, LatitudeWest = 83.1,  },
        new() { Id = new("d30b8d84-241c-4f71-b0d4-f1db7a378f00"), Name = "Downey", State = "California", Population = 114355, AreaSqKm = 32.1, LongitudeNorth = 33.93, LatitudeWest = 118.13,  },
        new() { Id = new("a58668df-6e3d-4f4d-a260-c65cfacb0bc1"), Name = "Durham", State = "North Carolina", Population = 283506, AreaSqKm = 292.2, LongitudeNorth = 35.98, LatitudeWest = 78.9,  },
        new() { Id = new("b407e744-7c84-4e75-8917-21b1f9eedbc0"), Name = "Edinburg", State = "Texas", Population = 100243, AreaSqKm = 115.8, LongitudeNorth = 26.3, LatitudeWest = 98.16,  },
        new() { Id = new("8015bc07-d89c-4953-9338-8f0d9e5e8bee"), Name = "Edison", State = "New Jersey", Population = 107588, AreaSqKm = 78, LongitudeNorth = 40.52, LatitudeWest = 74.41,  },
        new() { Id = new("4e8af6e4-cd44-4a74-a799-1cc95a2d4dec"), Name = "El Cajon", State = "California", Population = 106215, AreaSqKm = 37.6, LongitudeNorth = 32.8, LatitudeWest = 116.96,  },
        new() { Id = new("a8226dea-be29-40ad-a112-e29787c55e16"), Name = "El Monte", State = "California", Population = 109450, AreaSqKm = 24.9, LongitudeNorth = 34.07, LatitudeWest = 118.02,  },
        new() { Id = new("c9676969-2221-4620-b247-4294f35836f4"), Name = "El Paso", State = "Texas", Population = 678815, AreaSqKm = 669.3, LongitudeNorth = 31.84, LatitudeWest = 106.42,  },
        new() { Id = new("3c6741d8-89e2-4aba-9027-06bee044df86"), Name = "Elgin", State = "Illinois", Population = 114797, AreaSqKm = 98.4, LongitudeNorth = 42.03, LatitudeWest = 88.32,  },
        new() { Id = new("ed57c14b-b603-4f9f-8a12-b249ae50cd6c"), Name = "Elizabeth", State = "New Jersey", Population = 137298, AreaSqKm = 31.9, LongitudeNorth = 40.66, LatitudeWest = 74.19,  },
        new() { Id = new("1a912c73-bb34-43cf-99cb-780b0b663b7a"), Name = "Elk Grove", State = "California", Population = 176124, AreaSqKm = 108.8, LongitudeNorth = 38.41, LatitudeWest = 121.38,  },
        new() { Id = new("c46a0fc7-4822-460a-81c1-7cf0501f60f8"), Name = "Escondido", State = "California", Population = 151038, AreaSqKm = 96.6, LongitudeNorth = 33.13, LatitudeWest = 117.07,  },
        new() { Id = new("ba20cbb4-b4f1-4a35-94e3-b114c787a263"), Name = "Eugene", State = "Oregon", Population = 176654, AreaSqKm = 114.5, LongitudeNorth = 44.05, LatitudeWest = 123.11,  },
        new() { Id = new("92277939-a109-4aa5-8964-e4c693fa773a"), Name = "Evansville", State = "Indiana", Population = 117298, AreaSqKm = 122.8, LongitudeNorth = 37.98, LatitudeWest = 87.53,  },
        new() { Id = new("531ce67c-62f2-404c-bf06-dcda3e5eb7ca"), Name = "Everett", State = "Washington", Population = 110629, AreaSqKm = 86, LongitudeNorth = 47.95, LatitudeWest = 122.19,  },
        new() { Id = new("f6d3724b-43c5-489a-b7ec-bcc0160ba39d"), Name = "Fairfield", State = "California", Population = 119881, AreaSqKm = 107.7, LongitudeNorth = 38.25, LatitudeWest = 122.03,  },
        new() { Id = new("761a5e88-25f4-4723-9c34-4b4990d477b4"), Name = "Fargo", State = "North Dakota", Population = 125990, AreaSqKm = 129, LongitudeNorth = 46.86, LatitudeWest = 96.82,  },
        new() { Id = new("1447fe65-cf42-4e37-821e-81c626278f84"), Name = "Fayetteville", State = "North Carolina", Population = 208501, AreaSqKm = 384.1, LongitudeNorth = 35.08, LatitudeWest = 78.97,  },
        new() { Id = new("53f143cb-e7f3-4b0b-91bb-6f5be45e457a"), Name = "Fishers", State = "Indiana", Population = 98977, AreaSqKm = 92.2, LongitudeNorth = 39.96, LatitudeWest = 86.01,  },
        new() { Id = new("fbb45c22-b414-4172-944d-d634f3ae64b5"), Name = "Fontana", State = "California", Population = 208393, AreaSqKm = 111.6, LongitudeNorth = 34.1, LatitudeWest = 117.46,  },
        new() { Id = new("0bdcb512-e3bb-46d4-b42f-ea6b12071670"), Name = "Fort Collins", State = "Colorado", Population = 169810, AreaSqKm = 148.1, LongitudeNorth = 40.54, LatitudeWest = 105.06,  },
        new() { Id = new("28954b4d-dd49-45e5-a649-937892a0b514"), Name = "Fort Lauderdale", State = "Florida", Population = 182760, AreaSqKm = 89.6, LongitudeNorth = 26.14, LatitudeWest = 80.14,  },
        new() { Id = new("4240caaf-ca4f-49b7-b6a5-8ec266477c81"), Name = "Fort Wayne", State = "Indiana", Population = 263886, AreaSqKm = 286.7, LongitudeNorth = 41.08, LatitudeWest = 85.14,  },
        new() { Id = new("73a28843-54a2-43f2-b734-8cd10fb6c835"), Name = "Fort Worth", State = "Texas", Population = 918915, AreaSqKm = 888.1, LongitudeNorth = 32.78, LatitudeWest = 97.34,  },
        new() { Id = new("4eabb687-e052-4656-9ec7-c7e410946fd8"), Name = "Fremont", State = "California", Population = 230504, AreaSqKm = 202.8, LongitudeNorth = 37.49, LatitudeWest = 121.94,  },
        new() { Id = new("1498ca30-6d5a-464b-bd7c-582d3d0c310b"), Name = "Fresno", State = "California", Population = 542107, AreaSqKm = 298.4, LongitudeNorth = 36.78, LatitudeWest = 119.79,  },
        new() { Id = new("9a02f8e3-557e-4a40-acfd-1601be8ddd34"), Name = "Frisco", State = "Texas", Population = 200509, AreaSqKm = 177.7, LongitudeNorth = 33.15, LatitudeWest = 96.82,  },
        new() { Id = new("806e8e71-4c36-4025-b64d-8ecf22dd2a6c"), Name = "Fullerton", State = "California", Population = 143617, AreaSqKm = 58, LongitudeNorth = 33.88, LatitudeWest = 117.92,  },
        new() { Id = new("77dba863-ff2f-4bbb-ac6a-2f40c796a6c6"), Name = "Gainesville", State = "Florida", Population = 141085, AreaSqKm = 163.7, LongitudeNorth = 29.67, LatitudeWest = 82.34,  },
        new() { Id = new("b9be8e68-4627-45c2-98ca-8fca0ba27cd5"), Name = "Garden Grove", State = "California", Population = 171949, AreaSqKm = 46.6, LongitudeNorth = 33.77, LatitudeWest = 117.96,  },
        new() { Id = new("69666bac-7b12-4e8a-97dd-e708a5799df7"), Name = "Garland", State = "Texas", Population = 246018, AreaSqKm = 147.9, LongitudeNorth = 32.9, LatitudeWest = 96.63,  },
        new() { Id = new("70e2a0f2-7c03-46b0-b28e-770dc0f75dfb"), Name = "Gilbert", State = "Arizona", Population = 267918, AreaSqKm = 177.7, LongitudeNorth = 33.31, LatitudeWest = 111.74,  },
        new() { Id = new("2cf9866f-b449-4101-a2e9-de4ecb2ff3d8"), Name = "Glendale", State = "Arizona", Population = 248325, AreaSqKm = 159.5, LongitudeNorth = 33.53, LatitudeWest = 112.18,  },
        new() { Id = new("d86ed70e-c7bb-4e13-8e39-84ccfb103430"), Name = "Glendale", State = "California", Population = 196543, AreaSqKm = 79, LongitudeNorth = 34.18, LatitudeWest = 118.24,  },
        new() { Id = new("9ab4d798-9b48-41f6-a253-d48809a143db"), Name = "Goodyear", State = "Arizona", Population = 95294, AreaSqKm = 495.5, LongitudeNorth = 33.45, LatitudeWest = 112.36,  },
        new() { Id = new("591df087-955a-4379-8e00-39b728a0fd85"), Name = "Grand Prairie", State = "Texas", Population = 196100, AreaSqKm = 188, LongitudeNorth = 32.68, LatitudeWest = 97.02,  },
        new() { Id = new("8e626a99-d75d-46d7-b1fd-3a05adbe7c34"), Name = "Grand Rapids", State = "Michigan", Population = 198917, AreaSqKm = 116, LongitudeNorth = 42.96, LatitudeWest = 85.65,  },
        new() { Id = new("d42d0e05-7159-4dc7-84fd-6cf3afd55913"), Name = "Greeley", State = "Colorado", Population = 108795, AreaSqKm = 126.7, LongitudeNorth = 40.41, LatitudeWest = 104.76,  },
        new() { Id = new("50326166-4838-41a4-8d02-39273d2cf697"), Name = "Green Bay", State = "Wisconsin", Population = 107395, AreaSqKm = 117.8, LongitudeNorth = 44.52, LatitudeWest = 87.98,  },
        new() { Id = new("d03c2b42-06a3-40f7-8e59-ba6fffdd9809"), Name = "Greensboro", State = "North Carolina", Population = 299035, AreaSqKm = 335.7, LongitudeNorth = 36.09, LatitudeWest = 79.82,  },
        new() { Id = new("383bbd91-f022-407b-8cca-a1cdaea66873"), Name = "Gresham", State = "Oregon", Population = 114247, AreaSqKm = 60.9, LongitudeNorth = 45.5, LatitudeWest = 122.44,  },
        new() { Id = new("1f520d87-28d2-4cd3-bee5-2a039b4bc568"), Name = "Hampton", State = "Virginia", Population = 137148, AreaSqKm = 133.4, LongitudeNorth = 37.04, LatitudeWest = 76.29,  },
        new() { Id = new("f4ba699c-ffb0-4437-9140-ba0f0ca14d74"), Name = "Hartford", State = "Connecticut", Population = 121054, AreaSqKm = 45.1, LongitudeNorth = 41.76, LatitudeWest = 72.68,  },
        new() { Id = new("0e439bc5-cc14-45e1-a13f-c31d15f88888"), Name = "Hayward", State = "California", Population = 162954, AreaSqKm = 118.6, LongitudeNorth = 37.62, LatitudeWest = 122.1,  },
        new() { Id = new("f80b7cb8-b298-44bf-90c7-bf7cad860ada"), Name = "Henderson", State = "Nevada", Population = 317610, AreaSqKm = 275.1, LongitudeNorth = 36, LatitudeWest = 115.03,  },
        new() { Id = new("c1c67514-d01b-41ec-ac11-4adce2d447b3"), Name = "Hesperia", State = "California", Population = 99818, AreaSqKm = 188.3, LongitudeNorth = 34.41, LatitudeWest = 117.31,  },
        new() { Id = new("89331184-5b5c-49e9-bd5d-f5073cb49645"), Name = "Hialeah", State = "Florida", Population = 223109, AreaSqKm = 55.9, LongitudeNorth = 25.86, LatitudeWest = 80.3,  },
        new() { Id = new("22b8edce-2152-4579-a831-61e36f91a8c7"), Name = "High Point", State = "North Carolina", Population = 114059, AreaSqKm = 146.1, LongitudeNorth = 35.99, LatitudeWest = 79.99,  },
        new() { Id = new("e4ebae15-9c31-4884-8e24-7da4f611ff7d"), Name = "Hillsboro", State = "Oregon", Population = 106447, AreaSqKm = 66.6, LongitudeNorth = 45.52, LatitudeWest = 122.93,  },
        new() { Id = new("4d40d1ef-66b5-4e16-86ad-cf27fa31162f"), Name = "Hollywood", State = "Florida", Population = 153067, AreaSqKm = 70.7, LongitudeNorth = 26.03, LatitudeWest = 80.16,  },
        new() { Id = new("4fccaf3a-2303-4324-a8f9-f5c1566494e8"), Name = "Honolulu", State = "Hawaii", Population = 350964, AreaSqKm = 156.7, LongitudeNorth = 21.32, LatitudeWest = 157.84,  },
        new() { Id = new("d834b6bf-38e2-4caa-9da5-420d0db75922"), Name = "Houston", State = "Texas", Population = 2304580, AreaSqKm = 1658.6, LongitudeNorth = 29.78, LatitudeWest = 95.39,  },
        new() { Id = new("c637bdbb-b877-4d81-a599-ef93ec24f928"), Name = "Huntington Beach", State = "California", Population = 198711, AreaSqKm = 69.9, LongitudeNorth = 33.69, LatitudeWest = 118,  },
        new() { Id = new("a50051bf-834a-48db-b8f9-5d307951ea40"), Name = "Huntsville", State = "Alabama", Population = 215006, AreaSqKm = 564.9, LongitudeNorth = 34.69, LatitudeWest = 86.67,  },
        new() { Id = new("b71ea4c1-7221-46f5-af6f-b9eb31721d7b"), Name = "Independence", State = "Missouri", Population = 123011, AreaSqKm = 202, LongitudeNorth = 39.08, LatitudeWest = 94.35,  },
        new() { Id = new("731413fd-a6f0-4f19-aa6e-515622016bdf"), Name = "Indianapolis", State = "Indiana", Population = 887642, AreaSqKm = 936.5, LongitudeNorth = 39.77, LatitudeWest = 86.14,  },
        new() { Id = new("eb5e8f3a-2e47-434a-90d0-ee5f0e0848d7"), Name = "Inglewood", State = "California", Population = 107762, AreaSqKm = 23.6, LongitudeNorth = 33.95, LatitudeWest = 118.34,  },
        new() { Id = new("b6db67bd-4af8-48df-b801-8dbb9d8bec0d"), Name = "Irvine", State = "California", Population = 307670, AreaSqKm = 169.9, LongitudeNorth = 33.67, LatitudeWest = 117.77,  },
        new() { Id = new("f058aa21-1058-48ef-88e4-fef1e18b514b"), Name = "Irving", State = "Texas", Population = 256684, AreaSqKm = 173.5, LongitudeNorth = 32.85, LatitudeWest = 96.97,  },
        new() { Id = new("458f06ed-8c0c-470e-a1d1-1f93f840a74c"), Name = "Jackson", State = "Mississippi", Population = 153701, AreaSqKm = 289.3, LongitudeNorth = 32.31, LatitudeWest = 90.21,  },
        new() { Id = new("15ac183a-fdf4-43d6-afe7-91db69b1b7f4"), Name = "Jacksonville", State = "Florida", Population = 949611, AreaSqKm = 1935.5, LongitudeNorth = 30.33, LatitudeWest = 81.66,  },
        new() { Id = new("1d9da6e5-693f-4326-9450-41499d55aaf3"), Name = "Jersey City", State = "New Jersey", Population = 292449, AreaSqKm = 38.1, LongitudeNorth = 40.71, LatitudeWest = 74.06,  },
        new() { Id = new("aa9c0820-8ee7-47fc-afd5-d4640302efdf"), Name = "Joliet", State = "Illinois", Population = 150362, AreaSqKm = 167.1, LongitudeNorth = 41.51, LatitudeWest = 88.14,  },
        new() { Id = new("e643c6ae-22c9-468b-9b78-27c7cb6d4e25"), Name = "Jurupa Valley", State = "California", Population = 105053, AreaSqKm = 111.1, LongitudeNorth = 34, LatitudeWest = 117.46,  },
        new() { Id = new("33b04076-f3df-4803-9670-4796fe6fc6bd"), Name = "Kansas City", State = "Missouri", Population = 508090, AreaSqKm = 815.1, LongitudeNorth = 39.12, LatitudeWest = 94.55,  },
        new() { Id = new("3981f41e-c1ea-479d-a9eb-9ea01851c148"), Name = "Kansas City", State = "Kansas", Population = 156607, AreaSqKm = 323, LongitudeNorth = 39.12, LatitudeWest = 94.74,  },
        new() { Id = new("1c82c046-da1a-49d2-8134-b882ede4e206"), Name = "Kent", State = "Washington", Population = 136588, AreaSqKm = 87.5, LongitudeNorth = 47.38, LatitudeWest = 122.21,  },
        new() { Id = new("df71c000-be75-45e0-b4c1-aaf81fe48306"), Name = "Killeen", State = "Texas", Population = 153095, AreaSqKm = 141.9, LongitudeNorth = 31.07, LatitudeWest = 97.73,  },
        new() { Id = new("e5026cfa-eb93-425b-9a66-0213b556eb71"), Name = "Knoxville", State = "Tennessee", Population = 190740, AreaSqKm = 255.6, LongitudeNorth = 35.97, LatitudeWest = 83.94,  },
        new() { Id = new("34a906b1-be33-4ef2-a049-67af9b505c63"), Name = "Lafayette", State = "Louisiana", Population = 121374, AreaSqKm = 144.5, LongitudeNorth = 30.2, LatitudeWest = 92.02,  },
        new() { Id = new("51fbd795-dbfd-4fa8-89cf-5d1b1519e936"), Name = "Lakeland", State = "Florida", Population = 112641, AreaSqKm = 171.5, LongitudeNorth = 28.05, LatitudeWest = 81.95,  },
        new() { Id = new("e456dc7d-f921-4abc-9b23-3267f87d5804"), Name = "Lakewood", State = "Colorado", Population = 155984, AreaSqKm = 112.7, LongitudeNorth = 39.69, LatitudeWest = 105.11,  },
        new() { Id = new("a950e63b-1b93-4675-973c-20e7cf8e7581"), Name = "Lakewood", State = "New Jersey", Population = 135158, AreaSqKm = 64, LongitudeNorth = 40.08, LatitudeWest = 74.21,  },
        new() { Id = new("4a7de599-93d3-4268-aea5-7053ba5a0b5f"), Name = "Lancaster", State = "California", Population = 173516, AreaSqKm = 244.2, LongitudeNorth = 34.69, LatitudeWest = 118.17,  },
        new() { Id = new("baf6a0ca-832c-44c7-979d-a14ab8f77f56"), Name = "Lansing", State = "Michigan", Population = 112644, AreaSqKm = 101.3, LongitudeNorth = 42.71, LatitudeWest = 84.55,  },
        new() { Id = new("8407bff0-68b6-4b4f-85cc-200e664a9f4d"), Name = "Laredo", State = "Texas", Population = 255205, AreaSqKm = 275.8, LongitudeNorth = 27.56, LatitudeWest = 99.48,  },
        new() { Id = new("ab0a6a46-f70c-4574-b319-1b680a03aa94"), Name = "Las Cruces", State = "New Mexico", Population = 111385, AreaSqKm = 199.2, LongitudeNorth = 32.32, LatitudeWest = 106.78,  },
        new() { Id = new("e5fe5221-3e00-4c66-a6d8-34b738294e66"), Name = "Las Vegas", State = "Nevada", Population = 641903, AreaSqKm = 367.3, LongitudeNorth = 36.22, LatitudeWest = 115.26,  },
        new() { Id = new("bfc9a8cb-463c-4ed6-998a-bae41edb940c"), Name = "League City", State = "Texas", Population = 114392, AreaSqKm = 132.9, LongitudeNorth = 29.49, LatitudeWest = 95.1,  },
        new() { Id = new("d8b352b8-1cc5-4b2d-a37c-3775dcdfcd24"), Name = "Lee's Summit", State = "Missouri", Population = 101108, AreaSqKm = 165.5, LongitudeNorth = 38.92, LatitudeWest = 94.37,  },
        new() { Id = new("3e317915-8963-4e23-9486-a28e1f8a19fc"), Name = "Lewisville", State = "Texas", Population = 111822, AreaSqKm = 95.8, LongitudeNorth = 33.04, LatitudeWest = 96.98,  },
        new() { Id = new("4d48a8bc-ff74-45bf-aa5f-b07d75981c80"), Name = "Lexington", State = "Kentucky", Population = 322570, AreaSqKm = 734.5, LongitudeNorth = 38.04, LatitudeWest = 84.45,  },
        new() { Id = new("4a89cef7-cb25-4757-8e5f-2127b33819dc"), Name = "Lincoln", State = "Nebraska", Population = 291082, AreaSqKm = 253, LongitudeNorth = 40.81, LatitudeWest = 96.68,  },
        new() { Id = new("9e7fdf25-6836-4e7f-ae31-a7ff5881336c"), Name = "Little Rock", State = "Arkansas", Population = 202591, AreaSqKm = 310.8, LongitudeNorth = 34.72, LatitudeWest = 92.35,  },
        new() { Id = new("23a3ef12-578a-45da-919a-8098c014ea53"), Name = "Long Beach", State = "California", Population = 466742, AreaSqKm = 131.3, LongitudeNorth = 33.8, LatitudeWest = 118.15,  },
        new() { Id = new("ff372923-b823-426d-9431-7a44ab5ce854"), Name = "Longmont", State = "Colorado", Population = 98885, AreaSqKm = 74.6, LongitudeNorth = 40.17, LatitudeWest = 105.11,  },
        new() { Id = new("25b9d57c-6b52-47bb-a08a-61a28f1ec007"), Name = "Los Angeles", State = "California", Population = 3898747, AreaSqKm = 1216, LongitudeNorth = 34.01, LatitudeWest = 118.41,  },
        new() { Id = new("c11f6b01-7016-44f1-83f2-6ce375cca97a"), Name = "Louisville", State = "Kentucky", Population = 633045, AreaSqKm = 841.5, LongitudeNorth = 38.16, LatitudeWest = 85.64,  },
        new() { Id = new("428c45b0-7a21-42af-b9ac-ba3e48511347"), Name = "Lowell", State = "Massachusetts", Population = 115554, AreaSqKm = 35.2, LongitudeNorth = 42.63, LatitudeWest = 71.32,  },
        new() { Id = new("da9b4ef8-2ab0-46dc-afb7-bc5f44b98b17"), Name = "Lubbock", State = "Texas", Population = 257141, AreaSqKm = 348.6, LongitudeNorth = 33.56, LatitudeWest = 101.88,  },
        new() { Id = new("92bf47c0-f9ab-45a2-9b15-318fdaf0d291"), Name = "Lynn", State = "Massachusetts", Population = 101253, AreaSqKm = 27.7, LongitudeNorth = 42.47, LatitudeWest = 70.95,  },
        new() { Id = new("0d2fceff-3b1b-4125-97d0-ae6ce72914d3"), Name = "Macon", State = "Georgia", Population = 157346, AreaSqKm = 645.9, LongitudeNorth = 32.8, LatitudeWest = 83.69,  },
        new() { Id = new("ba692734-017d-42c5-81cd-1dc6e5adcae3"), Name = "Madison", State = "Wisconsin", Population = 269840, AreaSqKm = 206.2, LongitudeNorth = 43.08, LatitudeWest = 89.42,  },
        new() { Id = new("00e7161e-9111-4f6a-ba26-c61e88d7b99d"), Name = "Manchester", State = "New Hampshire", Population = 115644, AreaSqKm = 85.7, LongitudeNorth = 42.98, LatitudeWest = 71.44,  },
        new() { Id = new("f5219d24-8da5-4876-a4fd-b018d95f424f"), Name = "McAllen", State = "Texas", Population = 142210, AreaSqKm = 161.4, LongitudeNorth = 26.23, LatitudeWest = 98.24,  },
        new() { Id = new("4b11020b-697d-453d-91cf-2d51a9611bdd"), Name = "McKinney", State = "Texas", Population = 195308, AreaSqKm = 173.5, LongitudeNorth = 33.19, LatitudeWest = 96.66,  },
        new() { Id = new("388d3286-8031-4f16-9922-ac60c4aa7944"), Name = "Memphis", State = "Tennessee", Population = 633104, AreaSqKm = 769.2, LongitudeNorth = 35.1, LatitudeWest = 89.97,  },
        new() { Id = new("2d5b6b02-6878-47e7-a466-a762e4762a6c"), Name = "Menifee", State = "California", Population = 102527, AreaSqKm = 120.4, LongitudeNorth = 33.69, LatitudeWest = 117.19,  },
        new() { Id = new("1c9e800b-e0d1-4f0d-a514-da328dd52cf8"), Name = "Meridian", State = "Idaho", Population = 117635, AreaSqKm = 90.9, LongitudeNorth = 43.61, LatitudeWest = 116.39,  },
        new() { Id = new("fcb4f589-09d5-45ef-a7c2-4e345883b670"), Name = "Mesa", State = "Arizona", Population = 504258, AreaSqKm = 359.2, LongitudeNorth = 33.4, LatitudeWest = 111.71,  },
        new() { Id = new("00479d29-96b1-423f-b9fd-e572cd613643"), Name = "Mesquite", State = "Texas", Population = 150108, AreaSqKm = 125.6, LongitudeNorth = 32.76, LatitudeWest = 96.58,  },
        new() { Id = new("f6e66ab9-19ee-4427-abec-169499e4ac2a"), Name = "Miami", State = "Florida", Population = 442241, AreaSqKm = 93.2, LongitudeNorth = 25.77, LatitudeWest = 80.2,  },
        new() { Id = new("8adaa808-c9bb-4591-82d7-e420e0c7fcd0"), Name = "Miami Gardens", State = "Florida", Population = 111640, AreaSqKm = 47.1, LongitudeNorth = 25.94, LatitudeWest = 80.24,  },
        new() { Id = new("31c40aeb-7a6b-486c-abdd-bde214f57985"), Name = "Midland", State = "Texas", Population = 132524, AreaSqKm = 195.5, LongitudeNorth = 32.02, LatitudeWest = 102.11,  },
        new() { Id = new("6b2e0733-cf03-42ff-af51-5e114998519f"), Name = "Milwaukee", State = "Wisconsin", Population = 577222, AreaSqKm = 249.2, LongitudeNorth = 43.06, LatitudeWest = 87.96,  },
        new() { Id = new("080fd16d-0beb-4b52-95d2-89f792a49b58"), Name = "Minneapolis", State = "Minnesota", Population = 429954, AreaSqKm = 139.9, LongitudeNorth = 44.96, LatitudeWest = 93.26,  },
        new() { Id = new("76c3a657-7965-4a33-9d65-afd9821f33a4"), Name = "Miramar", State = "Florida", Population = 134721, AreaSqKm = 74.9, LongitudeNorth = 25.97, LatitudeWest = 80.33,  },
        new() { Id = new("696c9748-94a6-4d19-bebe-15f47ddf11ae"), Name = "Mobile", State = "Alabama", Population = 187041, AreaSqKm = 361.3, LongitudeNorth = 30.66, LatitudeWest = 88.1,  },
        new() { Id = new("6ea5e1ff-d35b-4994-a7cd-26b4e6c9c957"), Name = "Modesto", State = "California", Population = 218464, AreaSqKm = 111.4, LongitudeNorth = 37.63, LatitudeWest = 121,  },
        new() { Id = new("5d59efab-b152-4d84-9ab7-4fdb1d2b28d4"), Name = "Montgomery", State = "Alabama", Population = 200603, AreaSqKm = 414.1, LongitudeNorth = 32.34, LatitudeWest = 86.26,  },
        new() { Id = new("da2dd02d-4dd5-4d8f-8205-72b3f7dc8e47"), Name = "Moreno Valley", State = "California", Population = 208634, AreaSqKm = 132.9, LongitudeNorth = 33.92, LatitudeWest = 117.2,  },
        new() { Id = new("430cc9bd-d6b5-4f63-b9d0-0a809edacca6"), Name = "Murfreesboro", State = "Tennessee", Population = 152769, AreaSqKm = 162.9, LongitudeNorth = 35.85, LatitudeWest = 86.41,  },
        new() { Id = new("cbc6106e-8299-482d-8fa1-dbbf2e4245b7"), Name = "Murrieta", State = "California", Population = 110949, AreaSqKm = 87, LongitudeNorth = 33.57, LatitudeWest = 117.19,  },
        new() { Id = new("39fafaeb-bb64-4c67-98c7-d98c006279da"), Name = "Nampa", State = "Idaho", Population = 100200, AreaSqKm = 86.8, LongitudeNorth = 43.57, LatitudeWest = 116.56,  },
        new() { Id = new("bfd49f2d-9f11-4400-b57d-a11a055937a5"), Name = "Naperville", State = "Illinois", Population = 149540, AreaSqKm = 101.3, LongitudeNorth = 41.74, LatitudeWest = 88.16,  },
        new() { Id = new("72852385-8d11-4935-b23b-ac40e6c5f5c2"), Name = "Nashville", State = "Tennessee", Population = 689447, AreaSqKm = 1232.3, LongitudeNorth = 36.17, LatitudeWest = 86.78,  },
        new() { Id = new("bb110bc9-e8dc-4f4b-a15f-b157aabab5ac"), Name = "New Bedford", State = "Massachusetts", Population = 101079, AreaSqKm = 51.8, LongitudeNorth = 41.64, LatitudeWest = 70.93,  },
        new() { Id = new("d36f5b18-c81d-4479-8cc3-222626bbf690"), Name = "New Haven", State = "Connecticut", Population = 134023, AreaSqKm = 48.4, LongitudeNorth = 41.31, LatitudeWest = 72.92,  },
        new() { Id = new("ec92e742-ddb0-4f54-9203-bb8c37f9b205"), Name = "New Orleans", State = "Louisiana", Population = 383997, AreaSqKm = 439, LongitudeNorth = 30.05, LatitudeWest = 89.93,  },
        new() { Id = new("676f96f7-cd11-4c44-aef3-1d0a4f9af38d"), Name = "New York", State = "New York", Population = 8804190, AreaSqKm = 778.3, LongitudeNorth = 40.66, LatitudeWest = 73.93,  },
        new() { Id = new("f75027eb-11b9-4669-a60a-6124ee3a6e99"), Name = "Newark", State = "New Jersey", Population = 311549, AreaSqKm = 62.4, LongitudeNorth = 40.72, LatitudeWest = 74.17,  },
        new() { Id = new("e1b845a3-8ad4-4833-8804-011bf4039aa1"), Name = "Newport News", State = "Virginia", Population = 186247, AreaSqKm = 178.7, LongitudeNorth = 37.07, LatitudeWest = 76.52,  },
        new() { Id = new("ab59c791-2e27-40f8-bbc8-4c008b94fee8"), Name = "Norfolk", State = "Virginia", Population = 238005, AreaSqKm = 138, LongitudeNorth = 36.92, LatitudeWest = 76.24,  },
        new() { Id = new("1492b85d-d23b-4fe8-8ea8-f230d48c67ba"), Name = "Norman", State = "Oklahoma", Population = 128026, AreaSqKm = 463.1, LongitudeNorth = 35.24, LatitudeWest = 97.34,  },
        new() { Id = new("84a045e6-660d-4388-a206-db367e5897ef"), Name = "North Charleston", State = "South Carolina", Population = 114852, AreaSqKm = 201, LongitudeNorth = 32.91, LatitudeWest = 80.06,  },
        new() { Id = new("2caafe96-d802-4178-a44c-bacb0cfd7ca9"), Name = "North Las Vegas", State = "Nevada", Population = 262527, AreaSqKm = 262.4, LongitudeNorth = 36.28, LatitudeWest = 115.09,  },
        new() { Id = new("facd3506-fa39-470d-aac6-066141fd502a"), Name = "Norwalk", State = "California", Population = 102773, AreaSqKm = 25.1, LongitudeNorth = 33.9, LatitudeWest = 118.08,  },
        new() { Id = new("c8315645-a190-45f3-97dc-2d0f5ef52b46"), Name = "Oakland", State = "California", Population = 440646, AreaSqKm = 144.8, LongitudeNorth = 37.76, LatitudeWest = 122.22,  },
        new() { Id = new("e30f503b-9656-4fc7-a47b-b0f8993ab4ef"), Name = "Oceanside", State = "California", Population = 174068, AreaSqKm = 107, LongitudeNorth = 33.22, LatitudeWest = 117.3,  },
        new() { Id = new("867e603a-3407-4b25-8948-6452edfa259d"), Name = "Odessa", State = "Texas", Population = 114428, AreaSqKm = 132.3, LongitudeNorth = 31.88, LatitudeWest = 102.34,  },
        new() { Id = new("b519c0b9-d06c-40a0-95ac-32033ef0db67"), Name = "Oklahoma City", State = "Oklahoma", Population = 681054, AreaSqKm = 1570.1, LongitudeNorth = 35.46, LatitudeWest = 97.51,  },
        new() { Id = new("d74f707e-e6af-41de-99e3-8864bf15a5a6"), Name = "Olathe", State = "Kansas", Population = 141290, AreaSqKm = 160.3, LongitudeNorth = 38.88, LatitudeWest = 94.81,  },
        new() { Id = new("b0bead3f-1e44-4f94-9d82-de9646f5a7ed"), Name = "Omaha", State = "Nebraska", Population = 486051, AreaSqKm = 345, LongitudeNorth = 41.26, LatitudeWest = 96.04,  },
        new() { Id = new("619da1ba-b5d6-45b4-984b-f4fcdff5e520"), Name = "Ontario", State = "California", Population = 175265, AreaSqKm = 129.5, LongitudeNorth = 34.03, LatitudeWest = 117.6,  },
        new() { Id = new("9e733a12-dd3c-487e-85f9-49d0e4d8017b"), Name = "Orange", State = "California", Population = 139911, AreaSqKm = 66.6, LongitudeNorth = 33.78, LatitudeWest = 117.86,  },
        new() { Id = new("ca823e9d-e351-4355-bdd2-d170a7d749b5"), Name = "Orlando", State = "Florida", Population = 307573, AreaSqKm = 286.5, LongitudeNorth = 28.41, LatitudeWest = 81.27,  },
        new() { Id = new("34a3fbe0-a319-4363-ac07-ebc29ff4430e"), Name = "Overland Park", State = "Kansas", Population = 197238, AreaSqKm = 194.8, LongitudeNorth = 38.88, LatitudeWest = 94.69,  },
        new() { Id = new("1c37a3ff-1905-47e3-ae53-19e3749f0da9"), Name = "Oxnard", State = "California", Population = 202063, AreaSqKm = 68.6, LongitudeNorth = 34.2, LatitudeWest = 119.2,  },
        new() { Id = new("1225341e-df8d-4ca4-bf52-47893eceac36"), Name = "Palm Bay", State = "Florida", Population = 119760, AreaSqKm = 223.8, LongitudeNorth = 27.98, LatitudeWest = 80.66,  },
        new() { Id = new("dd093616-d92c-4e1b-979f-b74a90666d8c"), Name = "Palmdale", State = "California", Population = 169450, AreaSqKm = 274.8, LongitudeNorth = 34.59, LatitudeWest = 118.1,  },
        new() { Id = new("f92e4618-ffc5-4178-9727-98ea3ea3cb3f"), Name = "Pasadena", State = "Texas", Population = 151950, AreaSqKm = 113.2, LongitudeNorth = 29.65, LatitudeWest = 95.15,  },
        new() { Id = new("0d0e04b6-fc43-489f-9acd-02d671fe1b47"), Name = "Pasadena", State = "California", Population = 138699, AreaSqKm = 59.6, LongitudeNorth = 34.16, LatitudeWest = 118.13,  },
        new() { Id = new("3ddc0f4d-949a-4a2c-af71-6e2e56435322"), Name = "Paterson", State = "New Jersey", Population = 159732, AreaSqKm = 21.8, LongitudeNorth = 40.91, LatitudeWest = 74.16,  },
        new() { Id = new("be090317-1acd-40fd-b3d9-3ba851b2ee9a"), Name = "Pearland", State = "Texas", Population = 125828, AreaSqKm = 126.1, LongitudeNorth = 29.55, LatitudeWest = 95.32,  },
        new() { Id = new("1c9d83ae-4ac6-4838-b7d1-ef523345f9a6"), Name = "Pembroke Pines", State = "Florida", Population = 171178, AreaSqKm = 84.7, LongitudeNorth = 26.02, LatitudeWest = 80.34,  },
        new() { Id = new("110ce80a-814b-44a2-80cc-cf5064597ab6"), Name = "Peoria", State = "Arizona", Population = 190985, AreaSqKm = 456.1, LongitudeNorth = 33.78, LatitudeWest = 112.3,  },
        new() { Id = new("b20e43af-4f31-435f-b865-89d834e4c944"), Name = "Peoria", State = "Illinois", Population = 113150, AreaSqKm = 124.3, LongitudeNorth = 40.75, LatitudeWest = 89.61,  },
        new() { Id = new("cd3d9e82-0db4-4a2e-bce4-a8189397521d"), Name = "Philadelphia", State = "Pennsylvania", Population = 1603797, AreaSqKm = 348.1, LongitudeNorth = 40, LatitudeWest = 75.13,  },
        new() { Id = new("fb3e46e6-49f5-47f1-a72c-54fa481e2dfa"), Name = "Phoenix", State = "Arizona", Population = 1608139, AreaSqKm = 1341.6, LongitudeNorth = 33.57, LatitudeWest = 112.09,  },
        new() { Id = new("09a27433-4b05-4185-9fd7-5ce08c165cbc"), Name = "Pittsburgh", State = "Pennsylvania", Population = 302971, AreaSqKm = 143.5, LongitudeNorth = 40.43, LatitudeWest = 79.97,  },
        new() { Id = new("b407e214-b68f-4e59-a2a3-d2c75cd9488d"), Name = "Plano", State = "Texas", Population = 285494, AreaSqKm = 185.7, LongitudeNorth = 33.05, LatitudeWest = 96.74,  },
        new() { Id = new("70ba9ccd-e771-4b13-9069-0123fac27d63"), Name = "Pomona", State = "California", Population = 151713, AreaSqKm = 59.6, LongitudeNorth = 34.05, LatitudeWest = 117.76,  },
        new() { Id = new("aabb08f2-6a87-4674-829f-cf3863768c44"), Name = "Pompano Beach", State = "Florida", Population = 112046, AreaSqKm = 62.2, LongitudeNorth = 26.24, LatitudeWest = 80.13,  },
        new() { Id = new("6eeb877a-d48d-4578-b734-784f3da01263"), Name = "Port St. Lucie", State = "Florida", Population = 204851, AreaSqKm = 308.7, LongitudeNorth = 27.28, LatitudeWest = 80.38,  },
        new() { Id = new("632cd4ae-f46f-4f5c-81a5-42e179768889"), Name = "Portland", State = "Oregon", Population = 652503, AreaSqKm = 345.8, LongitudeNorth = 45.53, LatitudeWest = 122.65,  },
        new() { Id = new("98f2abe4-0ed8-4f0a-9c97-1a55e6c9a7a3"), Name = "Providence", State = "Rhode Island", Population = 190934, AreaSqKm = 47.7, LongitudeNorth = 41.82, LatitudeWest = 71.41,  },
        new() { Id = new("1877e733-c8b3-4fbf-9541-0ed607ed6901"), Name = "Provo", State = "Utah", Population = 115162, AreaSqKm = 108, LongitudeNorth = 40.24, LatitudeWest = 111.64,  },
        new() { Id = new("f306f990-888a-4b31-b9ff-2c0e963ab037"), Name = "Pueblo", State = "Colorado", Population = 111876, AreaSqKm = 143.5, LongitudeNorth = 38.26, LatitudeWest = 104.61,  },
        new() { Id = new("250fb27b-7bc4-4a4c-b2b9-b5b800eaa9d9"), Name = "Quincy", State = "Massachusetts", Population = 101636, AreaSqKm = 43, LongitudeNorth = 42.25, LatitudeWest = 71,  },
        new() { Id = new("37dd12d0-c581-472f-9ed1-34e0108d9a47"), Name = "Raleigh", State = "North Carolina", Population = 467665, AreaSqKm = 375.8, LongitudeNorth = 35.83, LatitudeWest = 78.64,  },
        new() { Id = new("d2c985af-79ca-4eea-97fb-a0225db8cbd4"), Name = "Rancho Cucamonga", State = "California", Population = 174453, AreaSqKm = 103.9, LongitudeNorth = 34.12, LatitudeWest = 117.56,  },
        new() { Id = new("ae64f705-0bd6-4563-9439-53c8f71767fe"), Name = "Reno", State = "Nevada", Population = 264165, AreaSqKm = 281.8, LongitudeNorth = 39.54, LatitudeWest = 119.84,  },
        new() { Id = new("025c2566-ea41-4486-82fb-5815ee733baf"), Name = "Renton", State = "Washington", Population = 106785, AreaSqKm = 60.9, LongitudeNorth = 47.47, LatitudeWest = 122.19,  },
        new() { Id = new("71d61806-c605-4388-960f-0e93738c63c4"), Name = "Rialto", State = "California", Population = 104026, AreaSqKm = 62.4, LongitudeNorth = 34.11, LatitudeWest = 117.38,  },
        new() { Id = new("5432382f-5ab6-4722-9c53-0816c7a94a4c"), Name = "Richardson", State = "Texas", Population = 119469, AreaSqKm = 74.1, LongitudeNorth = 32.97, LatitudeWest = 96.7,  },
        new() { Id = new("4069c229-41d1-44ed-ad54-1df6c236b78f"), Name = "Richmond", State = "Virginia", Population = 226610, AreaSqKm = 155.1, LongitudeNorth = 37.53, LatitudeWest = 77.47,  },
        new() { Id = new("226e433a-6b94-4d03-8960-96e0cad54d1c"), Name = "Richmond", State = "California", Population = 116448, AreaSqKm = 78, LongitudeNorth = 37.95, LatitudeWest = 122.36,  },
        new() { Id = new("43f86760-8103-402b-aa10-dde896a6d213"), Name = "Rio Rancho", State = "New Mexico", Population = 104046, AreaSqKm = 267.8, LongitudeNorth = 35.29, LatitudeWest = 106.67,  },
        new() { Id = new("5d43d7a6-1083-4b27-9294-f1a2e378ad84"), Name = "Riverside", State = "California", Population = 314998, AreaSqKm = 210.3, LongitudeNorth = 33.93, LatitudeWest = 117.39,  },
        new() { Id = new("e2bce33d-7e16-4428-9ab3-674eb4578516"), Name = "Rochester", State = "Minnesota", Population = 121395, AreaSqKm = 143.7, LongitudeNorth = 44.01, LatitudeWest = 92.47,  },
        new() { Id = new("a27cb737-1090-4aa5-8594-6f8cc2c30f76"), Name = "Rochester", State = "New York", Population = 211328, AreaSqKm = 92.7, LongitudeNorth = 43.16, LatitudeWest = 77.61,  },
        new() { Id = new("7e693992-b6fa-4fc4-9dda-3176f5701cb7"), Name = "Rockford", State = "Illinois", Population = 148655, AreaSqKm = 167.1, LongitudeNorth = 42.25, LatitudeWest = 89.06,  },
        new() { Id = new("e3d56a1e-57aa-40ca-827e-6d0e2b565d94"), Name = "Roseville", State = "California", Population = 147773, AreaSqKm = 114.2, LongitudeNorth = 38.76, LatitudeWest = 121.31,  },
        new() { Id = new("18fa6622-8792-4875-a92a-b7cd18193d58"), Name = "Round Rock", State = "Texas", Population = 119468, AreaSqKm = 97.4, LongitudeNorth = 30.52, LatitudeWest = 97.66,  },
        new() { Id = new("84ddf9fb-ca79-4820-ae53-775344090ae2"), Name = "Sacramento", State = "California", Population = 524943, AreaSqKm = 255.4, LongitudeNorth = 38.56, LatitudeWest = 121.46,  },
        new() { Id = new("f149ad43-db5d-42a0-864d-073ffbaec9c6"), Name = "Saint Paul", State = "Minnesota", Population = 311527, AreaSqKm = 134.7, LongitudeNorth = 44.94, LatitudeWest = 93.1,  },
        new() { Id = new("b350bfcd-2c4a-4ca1-81a0-48a4d0594b37"), Name = "Salem", State = "Oregon", Population = 175535, AreaSqKm = 126.4, LongitudeNorth = 44.92, LatitudeWest = 123.02,  },
        new() { Id = new("5843bff1-8abf-4505-a7bb-274e53d20a9c"), Name = "Salinas", State = "California", Population = 163542, AreaSqKm = 60.9, LongitudeNorth = 36.69, LatitudeWest = 121.63,  },
        new() { Id = new("6a4cd6da-80a8-4253-b6ab-08e383b84078"), Name = "Salt Lake City", State = "Utah", Population = 199723, AreaSqKm = 285.7, LongitudeNorth = 40.77, LatitudeWest = 111.93,  },
        new() { Id = new("ced348b7-ab02-4fd0-b7b5-2b403540d402"), Name = "San Antonio", State = "Texas", Population = 1434625, AreaSqKm = 1291.9, LongitudeNorth = 29.47, LatitudeWest = 98.52,  },
        new() { Id = new("78a96953-9be4-47ce-bd3a-7907db911a9e"), Name = "San Bernardino", State = "California", Population = 222101, AreaSqKm = 160.8, LongitudeNorth = 34.14, LatitudeWest = 117.29,  },
        new() { Id = new("b96a0296-3ab1-4484-8875-ea270289a0f0"), Name = "San Diego", State = "California", Population = 1386932, AreaSqKm = 844.1, LongitudeNorth = 32.81, LatitudeWest = 117.13,  },
        new() { Id = new("85992dfa-c159-4cc3-85aa-ffa24059ada3"), Name = "San Francisco", State = "California", Population = 873965, AreaSqKm = 121.5, LongitudeNorth = 37.72, LatitudeWest = 123.03,  },
        new() { Id = new("3aca32aa-39ff-4bf1-bd02-77751726f69e"), Name = "San Jose", State = "California", Population = 1013240, AreaSqKm = 461.8, LongitudeNorth = 37.29, LatitudeWest = 121.81,  },
        new() { Id = new("d1bd691f-debc-4e5b-aa24-8059f60f2dff"), Name = "San Mateo", State = "California", Population = 105661, AreaSqKm = 31.3, LongitudeNorth = 37.56, LatitudeWest = 122.31,  },
        new() { Id = new("efa253f3-ca75-4956-8636-b7d5d2d1257e"), Name = "Sandy Springs", State = "Georgia", Population = 108080, AreaSqKm = 97.6, LongitudeNorth = 33.93, LatitudeWest = 84.36,  },
        new() { Id = new("aad615db-4f27-4f92-8b10-5b49eae58c28"), Name = "Santa Ana", State = "California", Population = 310227, AreaSqKm = 70.7, LongitudeNorth = 33.73, LatitudeWest = 117.88,  },
        new() { Id = new("47a221d5-5202-4ffa-a59a-69af2341787d"), Name = "Santa Clara", State = "California", Population = 127647, AreaSqKm = 47.4, LongitudeNorth = 37.36, LatitudeWest = 121.96,  },
        new() { Id = new("08d0f4da-13a4-4cdb-8cc5-075262209aad"), Name = "Santa Clarita", State = "California", Population = 228673, AreaSqKm = 183.4, LongitudeNorth = 34.4, LatitudeWest = 118.5,  },
        new() { Id = new("da2cfc06-ef23-4de6-8f26-87198bddb8cc"), Name = "Santa Maria", State = "California", Population = 109707, AreaSqKm = 59.1, LongitudeNorth = 34.93, LatitudeWest = 120.44,  },
        new() { Id = new("cbc21f99-71b1-4f36-b0a9-7d97a202bf28"), Name = "Santa Rosa", State = "California", Population = 178127, AreaSqKm = 110.1, LongitudeNorth = 38.44, LatitudeWest = 122.7,  },
        new() { Id = new("c5698d80-12e6-4bd3-8ae8-4c1a4d7b40a8"), Name = "Savannah", State = "Georgia", Population = 147780, AreaSqKm = 276.6, LongitudeNorth = 32, LatitudeWest = 81.15,  },
        new() { Id = new("91eeca8e-8dac-4108-927d-2f6bbed33a13"), Name = "Scottsdale", State = "Arizona", Population = 241361, AreaSqKm = 476.6, LongitudeNorth = 33.68, LatitudeWest = 111.86,  },
        new() { Id = new("96ce17c6-63e1-4c9c-9195-16c9c252d280"), Name = "Seattle", State = "Washington", Population = 737015, AreaSqKm = 217, LongitudeNorth = 47.62, LatitudeWest = 122.35,  },
        new() { Id = new("84bc65f4-cb60-4836-8d6d-623a7cc3b174"), Name = "Shreveport", State = "Louisiana", Population = 187593, AreaSqKm = 279.2, LongitudeNorth = 32.46, LatitudeWest = 93.79,  },
        new() { Id = new("26bcf9a1-d86c-42fb-868b-d8ffb66e3ff1"), Name = "Simi Valley", State = "California", Population = 126356, AreaSqKm = 107.5, LongitudeNorth = 34.26, LatitudeWest = 118.74,  },
        new() { Id = new("01f26e4d-898f-424c-b593-8d410f1e7870"), Name = "Sioux Falls", State = "South Dakota", Population = 192517, AreaSqKm = 204.9, LongitudeNorth = 43.53, LatitudeWest = 96.73,  },
        new() { Id = new("54f45ee2-59a0-4d7a-aa61-efe88655fff6"), Name = "South Bend", State = "Indiana", Population = 103453, AreaSqKm = 108.8, LongitudeNorth = 41.67, LatitudeWest = 86.26,  },
        new() { Id = new("c79d9db9-27c2-4936-93fa-901318bf1033"), Name = "South Fulton", State = "Georgia", Population = 107436, AreaSqKm = 220.7, LongitudeNorth = 33.59, LatitudeWest = 84.67,  },
        new() { Id = new("d5fcbc72-0e63-43f4-bec4-bcc3e72f247b"), Name = "Sparks", State = "Nevada", Population = 108445, AreaSqKm = 94.3, LongitudeNorth = 39.55, LatitudeWest = 119.73,  },
        new() { Id = new("2a0057c3-34ef-4d61-9bbb-e964b6fb3698"), Name = "Spokane", State = "Washington", Population = 228989, AreaSqKm = 178.2, LongitudeNorth = 47.66, LatitudeWest = 117.43,  },
        new() { Id = new("90e02070-edef-49a5-9c89-0bd14b96971d"), Name = "Spokane Valley", State = "Washington", Population = 102976, AreaSqKm = 97.6, LongitudeNorth = 47.67, LatitudeWest = 117.23,  },
        new() { Id = new("754eac8b-b450-4b75-93b0-7055e7f29e93"), Name = "Springfield", State = "Missouri", Population = 169176, AreaSqKm = 213.4, LongitudeNorth = 37.19, LatitudeWest = 93.29,  },
        new() { Id = new("bf6e9d38-1fc8-4719-b208-d708ab304b2a"), Name = "Springfield", State = "Illinois", Population = 114394, AreaSqKm = 158.2, LongitudeNorth = 39.79, LatitudeWest = 89.64,  },
        new() { Id = new("149d4002-2209-4a88-a691-418ac0c3a3c8"), Name = "Springfield", State = "Massachusetts", Population = 155929, AreaSqKm = 82.6, LongitudeNorth = 42.11, LatitudeWest = 72.54,  },
        new() { Id = new("7efc3a16-f6e7-4d44-b750-727b34a9210b"), Name = "St. Louis", State = "Missouri", Population = 301578, AreaSqKm = 159.8, LongitudeNorth = 38.63, LatitudeWest = 90.24,  },
        new() { Id = new("20a33cae-f6f3-443e-84ae-61cced9cc8e9"), Name = "St. Petersburg", State = "Florida", Population = 258308, AreaSqKm = 160.1, LongitudeNorth = 27.76, LatitudeWest = 82.64,  },
        new() { Id = new("3c447989-bb29-4b2e-a501-1ed361988a9f"), Name = "Stamford", State = "Connecticut", Population = 135470, AreaSqKm = 97.4, LongitudeNorth = 41.07, LatitudeWest = 73.54,  },
        new() { Id = new("c7624f9f-7129-406c-b6ea-2deb826028d8"), Name = "Sterling Heights", State = "Michigan", Population = 134346, AreaSqKm = 94.3, LongitudeNorth = 42.58, LatitudeWest = 83.03,  },
        new() { Id = new("11df0bfa-e21b-409f-80e4-63cfd4ed14ba"), Name = "Stockton", State = "California", Population = 320804, AreaSqKm = 161.1, LongitudeNorth = 37.97, LatitudeWest = 121.31,  },
        new() { Id = new("f52f58bf-6027-4f96-bc48-727dc9b95911"), Name = "Sugar Land", State = "Texas", Population = 111026, AreaSqKm = 104.9, LongitudeNorth = 29.59, LatitudeWest = 95.61,  },
        new() { Id = new("11217d02-ce12-45ca-b9c1-8d1a8a793bdc"), Name = "Sunnyvale", State = "California", Population = 155805, AreaSqKm = 57.2, LongitudeNorth = 37.38, LatitudeWest = 122.02,  },
        new() { Id = new("e16b65da-5bca-4aa1-8e04-0d5065b923e5"), Name = "Surprise", State = "Arizona", Population = 143148, AreaSqKm = 285.7, LongitudeNorth = 33.67, LatitudeWest = 112.45,  },
        new() { Id = new("d7b471fc-ed20-4a2c-9f9a-8b72a2011230"), Name = "Syracuse", State = "New York", Population = 148620, AreaSqKm = 65, LongitudeNorth = 43.04, LatitudeWest = 76.14,  },
        new() { Id = new("eb0e9c5a-d245-4a93-91e8-9abe89fa273f"), Name = "Tacoma", State = "Washington", Population = 219346, AreaSqKm = 128.7, LongitudeNorth = 47.25, LatitudeWest = 122.45,  },
        new() { Id = new("054401c2-d3c2-4335-8f59-d09a89abff48"), Name = "Tallahassee", State = "Florida", Population = 196169, AreaSqKm = 261.3, LongitudeNorth = 30.45, LatitudeWest = 84.25,  },
        new() { Id = new("251fbe0b-6f3e-485a-b5b1-6d473fd2db7e"), Name = "Tampa", State = "Florida", Population = 384959, AreaSqKm = 295.3, LongitudeNorth = 27.97, LatitudeWest = 82.47,  },
        new() { Id = new("d41e6ef0-2ad6-4c54-b77b-11ce81089b29"), Name = "Temecula", State = "California", Population = 110003, AreaSqKm = 96.6, LongitudeNorth = 33.49, LatitudeWest = 117.13,  },
        new() { Id = new("8f0b79a2-c6cd-470a-b6b8-e096a9cdb28b"), Name = "Tempe", State = "Arizona", Population = 180587, AreaSqKm = 103.3, LongitudeNorth = 33.38, LatitudeWest = 111.93,  },
        new() { Id = new("db1aaeff-a71d-4d54-9af0-d334eb52aca5"), Name = "Thornton", State = "Colorado", Population = 141867, AreaSqKm = 93, LongitudeNorth = 39.91, LatitudeWest = 104.94,  },
        new() { Id = new("96d743f4-7b40-4448-a8df-775b136798cf"), Name = "Thousand Oaks", State = "California", Population = 126966, AreaSqKm = 143.2, LongitudeNorth = 34.19, LatitudeWest = 118.87,  },
        new() { Id = new("44f8a4fb-68e0-4d6f-8bd6-aeafaa224ffb"), Name = "Toledo", State = "Ohio", Population = 270871, AreaSqKm = 208.5, LongitudeNorth = 41.66, LatitudeWest = 83.58,  },
        new() { Id = new("24daddd0-7603-40da-b796-8e9a96e8e061"), Name = "Topeka", State = "Kansas", Population = 126587, AreaSqKm = 159, LongitudeNorth = 39.03, LatitudeWest = 95.69,  },
        new() { Id = new("24b85d70-c866-4d0c-9d4c-993f7ac783db"), Name = "Torrance", State = "California", Population = 147067, AreaSqKm = 53.1, LongitudeNorth = 33.83, LatitudeWest = 118.34,  },
        new() { Id = new("05520abb-54d5-436b-a222-51296e9a4587"), Name = "Tucson", State = "Arizona", Population = 542629, AreaSqKm = 624.2, LongitudeNorth = 32.15, LatitudeWest = 110.87,  },
        new() { Id = new("b05fae4d-533c-4549-859b-298347441a96"), Name = "Tulsa", State = "Oklahoma", Population = 413066, AreaSqKm = 511.5, LongitudeNorth = 36.12, LatitudeWest = 95.9,  },
        new() { Id = new("7652e5c5-5c66-4263-a4a7-9f1fc6267fb7"), Name = "Tuscaloosa", State = "Alabama", Population = 99600, AreaSqKm = 160.3, LongitudeNorth = 33.21, LatitudeWest = 87.53,  },
        new() { Id = new("6e6698e6-99e9-4b78-9ed5-2c6e4cf16c3a"), Name = "Tyler", State = "Texas", Population = 105995, AreaSqKm = 148.9, LongitudeNorth = 32.31, LatitudeWest = 95.3,  },
        new() { Id = new("bee6373b-baeb-424b-b2ee-7c0b5a1ad4b4"), Name = "Vacaville", State = "California", Population = 102386, AreaSqKm = 77.4, LongitudeNorth = 38.35, LatitudeWest = 121.97,  },
        new() { Id = new("31f2a0b7-bdfd-4743-a200-ca47d6ea927c"), Name = "Vallejo", State = "California", Population = 126090, AreaSqKm = 78.7, LongitudeNorth = 38.1, LatitudeWest = 122.26,  },
        new() { Id = new("93d5c0b3-9e36-49d9-9698-044edca3e8e7"), Name = "Vancouver", State = "Washington", Population = 190915, AreaSqKm = 126.1, LongitudeNorth = 45.63, LatitudeWest = 122.59,  },
        new() { Id = new("f4d4410e-fdaa-4a0f-9565-4c30983f2d3e"), Name = "Ventura", State = "California", Population = 110763, AreaSqKm = 56.7, LongitudeNorth = 34.26, LatitudeWest = 119.25,  },
        new() { Id = new("353af7a4-f4fc-433b-bc66-3a81fd17f7e1"), Name = "Victorville", State = "California", Population = 134810, AreaSqKm = 190.9, LongitudeNorth = 34.52, LatitudeWest = 117.35,  },
        new() { Id = new("f98ad4a8-ef83-4bdb-9689-c0fbc0e3bfa6"), Name = "Virginia Beach", State = "Virginia", Population = 459470, AreaSqKm = 633.8, LongitudeNorth = 36.78, LatitudeWest = 76.02,  },
        new() { Id = new("378c48ae-d4cb-478f-adfe-52f4e9b0c116"), Name = "Visalia", State = "California", Population = 141384, AreaSqKm = 98.2, LongitudeNorth = 36.32, LatitudeWest = 119.32,  },
        new() { Id = new("1c8a4f8b-0671-4f52-a03a-2811b15d684d"), Name = "Waco", State = "Texas", Population = 138486, AreaSqKm = 229.7, LongitudeNorth = 31.56, LatitudeWest = 97.18,  },
        new() { Id = new("1b6f8aad-4bb2-430d-9f2b-9f549caeca1f"), Name = "Warren", State = "Michigan", Population = 139387, AreaSqKm = 89.1, LongitudeNorth = 42.49, LatitudeWest = 83.02,  },
        new() { Id = new("151f75c3-c6ed-4e32-9bb1-7a38ea476865"), Name = "Washington", State = "District of Columbia", Population = 689545, AreaSqKm = 158.2, LongitudeNorth = 38.9, LatitudeWest = 77.01,  },
        new() { Id = new("2ebb4d61-5931-489a-b12f-239f6abea157"), Name = "Waterbury", State = "Connecticut", Population = 114403, AreaSqKm = 73.8, LongitudeNorth = 41.55, LatitudeWest = 73.03,  },
        new() { Id = new("12addb37-64c4-48fc-8461-435c976bda97"), Name = "West Covina", State = "California", Population = 109501, AreaSqKm = 41.4, LongitudeNorth = 34.05, LatitudeWest = 117.9,  },
        new() { Id = new("dfb1b6d6-aa2d-4a90-a26b-b168df71cbdd"), Name = "West Jordan", State = "Utah", Population = 116961, AreaSqKm = 83.7, LongitudeNorth = 40.6, LatitudeWest = 112,  },
        new() { Id = new("fe1c404f-babf-4f1b-b9c8-2eb4feda0859"), Name = "West Palm Beach", State = "Florida", Population = 117415, AreaSqKm = 139.3, LongitudeNorth = 26.74, LatitudeWest = 80.12,  },
        new() { Id = new("58a03849-7d1b-4a67-9ae1-2ffc2663ba88"), Name = "West Valley City", State = "Utah", Population = 140230, AreaSqKm = 92.7, LongitudeNorth = 40.68, LatitudeWest = 112.01,  },
        new() { Id = new("b789ae3b-08a9-4771-9da4-8c7b1eed217b"), Name = "Westminster", State = "Colorado", Population = 116317, AreaSqKm = 81.8, LongitudeNorth = 39.88, LatitudeWest = 105.06,  },
        new() { Id = new("e074eb0c-97cb-4ad0-a223-ac38c300102d"), Name = "Wichita", State = "Kansas", Population = 397532, AreaSqKm = 419.6, LongitudeNorth = 37.69, LatitudeWest = 97.34,  },
        new() { Id = new("fe8c7f2c-cdf6-4e2c-8e42-47e897d5fe13"), Name = "Wichita Falls", State = "Texas", Population = 102316, AreaSqKm = 186.5, LongitudeNorth = 33.9, LatitudeWest = 98.52,  },
        new() { Id = new("2c0a91ca-3b85-4e5e-87ac-8d8695bd5953"), Name = "Wilmington", State = "North Carolina", Population = 115451, AreaSqKm = 133.1, LongitudeNorth = 34.2, LatitudeWest = 77.88,  },
        new() { Id = new("de5d2aa6-bd62-4418-9318-5055b2da8217"), Name = "Winston–Salem", State = "North Carolina", Population = 249545, AreaSqKm = 343.7, LongitudeNorth = 36.1, LatitudeWest = 80.26,  },
        new() { Id = new("015d1952-1de8-4d98-90d8-6eb4171100eb"), Name = "Woodbridge", State = "New Jersey", Population = 103639, AreaSqKm = 60.3, LongitudeNorth = 40.56, LatitudeWest = 74.28,  },
        new() { Id = new("c93e597a-f778-44c5-8922-37041d9a950e"), Name = "Worcester", State = "Massachusetts", Population = 206518, AreaSqKm = 96.9, LongitudeNorth = 42.26, LatitudeWest = 71.8,  },
        new() { Id = new("f9ace6fc-0c44-4ee7-bd3b-c6694da6bfb2"), Name = "Yonkers", State = "New York", Population = 211569, AreaSqKm = 46.6, LongitudeNorth = 40.94, LatitudeWest = 73.86,  },

    };
}