@page "/autocompletetextfield"

@inject IMBToastService ToastService

@using System.Runtime.InteropServices


<DemonstrationPage ComponentName="AutocompleteTextField"
                   DemoComponent="@this"
                   MinDensity="MBDensity.Minus4"
                   RequiresDisableSelection="true"
                   Title="Autocomplete Text Field Demonstration">
    <Description>
        <p>
            Shows autocomplete text fields which are Plus components.
        </p>
    </Description>

    <PageContent>
        <div class="mdc-layout-grid__cell--span-4">
            <MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Autocompletes
                    </h2>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Three varieties - one disallowing blank selection, one allowing, and the last ignoring whitespace in searches.
                        Each of these can display as Filled or Outlined and with
                        the full variety of icon foundries. These are used across the page but it we don't attempt to show each variant everywhere - see the Text Field demo for this.
                    </h3>

                    <p>
                        <MBAutocompleteTextField AllowBlankResult="false"
                                                 @bind-Value="@Autocomplete1"
                                                 Label="Blanks disallowed"
                                                 LeadingIcon="alarm"
                                                 SelectItems="@Fruits"
                                                 TextInputStyle="MBTextInputStyle.Filled" />
                    </p>
                    <p>
                        <MBAutocompleteTextField AllowBlankResult="true"
                                                 @bind-Value="@Autocomplete2"
                                                 Label="Blanks allowed"
                                                 SelectItems="@Fruits"
                                                 TextInputStyle="MBTextInputStyle.Outlined"
                                                 TrailingIcon="fa-dragon" IconFoundry="MBIconHelper.FAFoundry(relativeSize: MBIconFARelativeSize.Large)" />
                    </p>
                    <p>
                        <MBAutocompleteTextField AllowBlankResult="true"
                                                 @bind-Value="@Autocomplete3"
                                                 IgnoreWhitespace="true"
                                                 Label="Whitespace ignored"
                                                 SelectItems="@Fruits"
                                                 TextInputStyle="MBTextInputStyle.Filled" />
                    </p>
                </Primary>
            </MBCard>
        </div>



        <div class="mdc-layout-grid__cell--span-4">
            <MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Helper Text
                    </h2>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Shows persistent and non-persistent helper text.
                    </h3>

                    <p>
                        <MBAutocompleteTextField @bind-Value="@PopupHelperText"
                                                 HelperText="Some helper text that pops up"
                                                 Label="Popup Helper Text"
                                                 SelectItems="@Fruits" />
                    </p>
                    <p>
                        <MBAutocompleteTextField @bind-Value="@PersistentHelperText"
                                                 HelperText="Some persistent helper text"
                                                 HelperTextPersistent="true"
                                                 Label="Persistent Helper Text"
                                                 SelectItems="@Fruits" />
                    </p>
                </Primary>
            </MBCard>
        </div>


        <div class="mdc-layout-grid__cell--span-4">
            <MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Allow custom value
                    </h2>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        The auto-complete items may only be suggestions, but custom values may be permitted. The custom value can be styled with the <code>mb-autocomplete-custom-value</code> class, which we don't define - it's for your use. See this page's code for an example.
                    </h3>

                    <style>
                        li.mb-autocomplete-custom-value + li {
                            border-top: 1px solid darkgray;
                        }
                    </style>

                    <p>
                        <MBAutocompleteTextField AllowCustomValue="true"
                                                 @bind-Value="@CustomValue"
                                                 Label="Any value is valid"
                                                 SelectItems="@Fruits" />
                    </p>
                </Primary>
            </MBCard>
        </div>
    </PageContent>
</DemonstrationPage>


@code {
    string[] Fruits = { "Avocado", "Banana", "Blackberry", "Blueberry", "Cantaloupe", "Cherry", "Clementine", "Dragonfruit", "Fig", "Grape", "Guava", "Honeydew", "Huckleberry", "Jujube", "Kiwi", "Kumquat", "Lime", "Nectarine", "Orange", "Papaya", "Passion Fruit", "Pineapple", "Plum", "Pomegranate", "Raspberry", "Satsuma", "Strawberry", "Tangerine", "Tomato", "Watermelon" };

    private string _autocomplete1;
    private string Autocomplete1
    {
        get => _autocomplete1;
        set
        {
            _autocomplete1 = value;

            ToastService.ShowToast(
                heading: "Autocomplete blanks disallowed",
                level: MBToastLevel.Success,
                message: $"Value: '{_autocomplete1}'",
                showIcon: false);
        }
    }



    private string _autocomplete2;
    private string Autocomplete2
    {
        get => _autocomplete2;
        set
        {
            _autocomplete2 = value;

            ToastService.ShowToast(
                heading: "Autocomplete blanks allowed",
                level: MBToastLevel.Success,
                message: $"Value: '{_autocomplete2}'",
                showIcon: false);
        }
    }



    private string _autocomplete3;
    private string Autocomplete3
    {
        get => _autocomplete3;
        set
        {
            _autocomplete3 = value;

            ToastService.ShowToast(
                heading: "Autocomplete whitespace ignored",
                level: MBToastLevel.Success,
                message: $"Value: '{_autocomplete3}'",
                showIcon: false);
        }
    }


    private string _popupHelperText = "Avocado";
    private string PopupHelperText
    {
        get => _popupHelperText;
        set
        {
            _popupHelperText = value;

            ToastService.ShowToast(
                heading: "Popup Helper Text",
                level: MBToastLevel.Success,
                message: $"Value: '{_popupHelperText}'",
                showIcon: false);
        }
    }


    private string _customValue = "Customberry";
    private string CustomValue
    {
        get => _customValue;
        set
        {
            _customValue = value;

            ToastService.ShowToast(
                heading: "Custom Value",
                level: MBToastLevel.Success,
                message: $"Value: '{_customValue}'",
                showIcon: false);
        }
    }


    private string _persistentHelperText = "Banana";
    private string PersistentHelperText
    {
        get => _persistentHelperText;
        set
        {
            _persistentHelperText = value;

            ToastService.ShowToast(
                heading: "Persistent Helper Text",
                level: MBToastLevel.Success,
                message: $"Value: '{_persistentHelperText}'",
                showIcon: false);
        }
    }
}