@page "/cascadingdefaults"


<DemonstrationPage DemoComponent="@this"
                   DetailedArticle="CascadingDefaults"
                   Title="Cascading Defaults Demonstration">
    <Description>
        <h2>Non-component</h2>
        <p>
            Repeats the same block of components with differing values in an MBCascadingDefaults cascading value, showing a wide variety of options but not fully comprehensive.
        </p>
    </Description>

    <PageContent>
        <div class="mdc-layout-grid__cell--span-12">
            <MBCard AutoStyled="true">
                <Primary>
                    <div class="mdc-layout-grid__inner">
                        <div class="mdc-layout-grid__cell--span-12">
                            <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                                Without Cascading Defaults
                            </h2>

                            <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                                All components show default settings.
                            </h3>
                        </div>

                        <CascadingDefaultsPanel IconButtonIconName="eco" StoreIconName="local_grocery_store" />
                    </div>
                </Primary>
            </MBCard>
        </div>


        <div class="mdc-layout-grid__cell--span-12">
            <MBCard AutoStyled="true">
                <Primary>
                    <div class="mdc-layout-grid__inner">
                        <div class="mdc-layout-grid__cell--span-12">
                            <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                                Dense, Outlined, Right Aligned Text Field and Weekdays Only
                            </h2>

                            <MBCard AutoStyled="true"
                                    CardStyle="@MBCardStyle.Outlined"
                                    style="background-color: var(--mb-color-grey-100); color: var(--mb-color-blue-600); overflow: auto;">
                                <Primary>
<pre>
private MBCascadingDefaults Defaults1 = new MBCascadingDefaults()
{
    ThemeDensity = MBDensity.Minus3,
    ButtonStyle = MBButtonStyle.Outlined,
    TextInputStyle = MBTextInputStyle.Outlined,
    SelectInputStyle = MBSelectInputStyle.Outlined,
    ListStyle = MBListStyle.Outlined,
    CardStyle = MBCardStyle.Outlined,
    IconMITheme = MBIconMITheme.Outlined,
    TextAlignStyle = MBTextAlignStyle.Right,
    DateSelectionCriteria = MBDateSelectionCriteria.WeekdaysOnly
};
</pre>
                                </Primary>
                            </MBCard>
                        </div>

                        <CascadingValue IsFixed="true"
                                        Value="@Defaults1">
                            <CascadingDefaultsPanel IconButtonIconName="eco"
                                                    StoreIconName="local_grocery_store" />
                        </CascadingValue>
                    </div>
                </Primary>
            </MBCard>
        </div>


        <div class="mdc-layout-grid__cell--span-12">
            <MBCard AutoStyled="true">
                <Primary>
                    <div class="mdc-layout-grid__inner">
                        <div class="mdc-layout-grid__cell--span-12">
                            <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                                Disabled, Small Font Awesome Icons
                            </h2>

                            <MBCard AutoStyled="true"
                                    CardStyle="@MBCardStyle.Outlined"
                                    style="background-color: var(--mb-color-grey-100); color: var(--mb-color-blue-600); overflow: auto;">
                                <Primary>
<pre>
private MBCascadingDefaults Defaults2 = new MBCascadingDefaults()
{
    Disabled = true,
    IconFoundryName = MBIconFoundryName.FontAwesome,
    IconFARelativeSize = MBIconFARelativeSize.Small,
    ...
};
</pre>
                                </Primary>
                            </MBCard>
                        </div>

                        <CascadingValue IsFixed="true"
                                        Value="@Defaults2">
                            <CascadingDefaultsPanel IconButtonIconName="fa-frog"
                                                    StoreIconName="fa-atom" />
                        </CascadingValue>
                    </div>
                </Primary>
            </MBCard>
        </div>
    </PageContent>
</DemonstrationPage>



@code {
    private MBCascadingDefaults Defaults1 = new MBCascadingDefaults()
    {
        ThemeDensity = MBDensity.Minus3,
        ButtonStyle = MBButtonStyle.Outlined,
        TextInputStyle = MBTextInputStyle.Outlined,
        SelectInputStyle = MBSelectInputStyle.Outlined,
        ListStyle = MBListStyle.Outlined,
        CardStyle = MBCardStyle.Outlined,
        IconMITheme = MBIconMITheme.Outlined,
        TextAlignStyle = MBTextAlignStyle.Right,
        DateSelectionCriteria = MBDateSelectionCriteria.WeekdaysOnly
    };


    private MBCascadingDefaults Defaults2 = new MBCascadingDefaults()
    {
        Disabled = true,
        IconFoundryName = MBIconFoundryName.FontAwesome,
        IconFARelativeSize = MBIconFARelativeSize.Small,
        ThemeDensity = MBDensity.Minus3,
        ButtonStyle = MBButtonStyle.Outlined,
        TextInputStyle = MBTextInputStyle.Outlined,
        SelectInputStyle = MBSelectInputStyle.Outlined,
        ListStyle = MBListStyle.Outlined,
        CardStyle = MBCardStyle.Outlined,
        TextAlignStyle = MBTextAlignStyle.Right,
        DateSelectionCriteria = MBDateSelectionCriteria.WeekdaysOnly
    };
}