@page "/circularprogress"


<DemonstrationPage ComponentName="CircularProgress"
                   DemoComponent="@this"
                   MaterialIOPage="mdc-circular-progress#circular-progress"
                   Title="Circular Progress Demonstration">
    <Description>
        <p>
            Demonstrates circular progress indicators.
        </p>
    </Description>

    <Controls>
        <p>
            <MBRadioButtonGroup @bind-Value="@ProgressLevel"
                                Items="@ProgressLevels" />
        </p>

        <p>
            <MBSwitch @bind-Value="@ShowProgress"
                      Label="Show Progress Indicators" />
        </p>
    </Controls>

    <PageContent>
        <div class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
            <MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Circular Progress
                    </h2>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Large, medium and small indeterminate and determinate.
                    </h3>

                    <p>
                        <MBCircularProgress CircularProgressType="@CircularIndeterminate" />
                    </p>
                    <p>
                        <MBCircularProgress CircularProgressSize="MBCircularProgressSize.Medium"
                                            CircularProgressType="@CircularIndeterminate" />
                    </p>
                    <p>
                        <MBCircularProgress CircularProgressSize="MBCircularProgressSize.Small"
                                            CircularProgressType="@CircularIndeterminate" />
                    </p>
                    <p>
                        <MBCircularProgress CircularProgressType="@CircularDeterminate"
                                            Value="@ProgressLevel" />
                    </p>
                    <p>
                        <MBCircularProgress CircularProgressSize="MBCircularProgressSize.Medium"
                                            CircularProgressType="@CircularDeterminate"
                                            Value="@ProgressLevel" />
                    </p>
                    <p>
                        <MBCircularProgress CircularProgressSize="MBCircularProgressSize.Small"
                                            CircularProgressType="@CircularDeterminate"
                                            Value="@ProgressLevel" />
                    </p>
                </Primary>
            </MBCard>
        </div>
    </PageContent>
</DemonstrationPage>


@code {
    MBSelectElement<double>[] ProgressLevels = new MBSelectElement<double>[]
    {
        new MBSelectElement<double> { SelectedValue = 0.2, Label = "20% Progress" },
        new MBSelectElement<double> { SelectedValue = 0.5, Label = "50% Progress" },
        new MBSelectElement<double> { SelectedValue = 0.8, Label = "80% Progress" }
                    };

    private double ProgressLevel { get; set; } = 0.2;
    double? BufferLevel => ProgressLevel + (1 - ProgressLevel) / 3;

    private bool ShowProgress { get; set; } = true;

    MBCircularProgressType CircularIndeterminate => ShowProgress ? MBCircularProgressType.Indeterminate : MBCircularProgressType.Closed;
    MBCircularProgressType CircularDeterminate => ShowProgress ? MBCircularProgressType.Determinate : MBCircularProgressType.Closed;
}