@page "/confirmationdialog"


@inject IMBToastService ToastService



<DemonstrationPage ComponentName="ConfirmationDialog"
                   DemoComponent="@this"
                   MaterialIOPage="mdc-dialog#dialogs"
                   MinDensity="MBDensity.Minus4"
                   Title="ConfirmationDialog Demonstration">
    <Description>
        <p>
            ConfirmationDialog samples. Click each card to launch a dialog.
        </p>
    </Description>

    <PageContent>
        <div class="mdc-layout-grid__cell--span-4">
            <MBCard AutoStyled="true" @onclick="@ShowDialog2Async">
                <PrimaryAction>
                    <div class="mb-card__autostyled">
                        <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                            Default Confirmation Dialog
                        </h2>
                        <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                            Launches a confirmation dialog using its default confirmation of a random six digit number.
                        </h3>
                    </div>
                </PrimaryAction>
            </MBCard>
        </div>


        <div class="mdc-layout-grid__cell--span-4">
            <MBCard AutoStyled="true"
                    @onclick="@ShowDialog3Async">
                <PrimaryAction>
                    <div class="mb-card__autostyled">
                        <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                            Tailored Confirmation Dialog
                        </h2>
                        <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                            A confirmation dialog with a tailored security confirmation string.
                        </h3>
                    </div>
                </PrimaryAction>
            </MBCard>
        </div>


        <div class="mdc-layout-grid__cell--span-4">
            <MBCard AutoStyled="true"
                    @onclick="@ShowDialog6Async">
                <PrimaryAction>
                    <div class="mb-card__autostyled">
                        <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                            Date Picker Dialog
                        </h2>
                        <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                            Shows that a date picker's popup menu is able to render outside of a confirmation dialog <code>&lt;div&gt;</code> block.
                        </h3>
                    </div>
                </PrimaryAction>
            </MBCard>
        </div>


    </PageContent>
</DemonstrationPage>


<MBConfirmationDialog @ref="@Dialog2"
                      Title="Default confirmation dialog" />


<MBConfirmationDialog ActionPhrase="to play handball"
                      ConfirmationDisabled="@DisableInput"
                      @ref="@Dialog3"
                      Title="Tailored confirmation dialog" ConfirmationPhrase="overridden confirmation">
    <Body>
        <p>Some markup before the confirmation message and input.</p>
        <p>
            <MBCheckbox @bind-Value="@DisableInput"
                        Label="Disable confirmation input field" />
        </p>
    </Body>
    <UnconfirmedButtons>
        <MBButton DialogAction="bish"
                  Label="Bish"
                  LeadingIcon="alarm_on" />
        <MBButton DialogAction="bash"
                  Label="Bash"
                  LeadingIcon="accessibility_new" />
        <MBButton ButtonStyle="MBButtonStyle.ContainedRaised"
                  DialogAction="bosh"
                  Disabled="true"
                  Label="Bosh"
                  LeadingIcon="sports_handball" />
    </UnconfirmedButtons>
    <ConfirmedButtons>
        <MBButton DialogAction="bish"
                  Label="Bish"
                  LeadingIcon="alarm_on" />
        <MBButton DialogAction="bash"
                  Label="Bash"
                  LeadingIcon="accessibility_new" />
        <MBButton ButtonStyle="MBButtonStyle.ContainedRaised"
                  DialogAction="bosh"
                  Label="Bosh"
                  LeadingIcon="sports_handball" />
    </ConfirmedButtons>
</MBConfirmationDialog>


<MBConfirmationDialog OverflowVisible="true"
                      @ref="@Dialog6"
                      Title="Date Picker Confirmation Dialog">
    <Body>
        <p>Set the date.</p>
        <MBDatePicker @bind-Value="@Date6"
                      Label="The date"
                      MaxDate="@MaxDate"
                      MinDate="@MinDate"
                      SelectInputStyle="MBSelectInputStyle.Outlined" />
    </Body>
</MBConfirmationDialog>


@code {
    private bool DisableInput { get; set; } = false;
    private MBConfirmationDialog Dialog2 { get; set; }
    private MBConfirmationDialog Dialog3 { get; set; }
    private MBConfirmationDialog Dialog6 { get; set; }

    private async Task ShowDialog2Async()
    {
        var result = await Dialog2.ShowAsync();
        ToastService.ShowToast(heading: "Dialog 2 Result", message: $"Value: '{result}'", level: MBToastLevel.Success, showIcon: false);
    }

    private async Task ShowDialog3Async()
    {
        var result = await Dialog3.ShowAsync();
        ToastService.ShowToast(heading: "Dialog 3 Result", message: $"Value: '{result}'", level: MBToastLevel.Success, showIcon: false);
    }

    private DateTime MinDate { get; set; } = new DateTime(2015, 1, 1);
    private DateTime MaxDate { get; set; } = new DateTime(2025, 12, 31);

    private DateTime Date6 { get; set; } = DateTime.Today;

    private async Task ShowDialog6Async()
    {
        var result = await Dialog6.ShowAsync();
        ToastService.ShowToast(heading: "Dialog 6 Result", message: $"Value: '{result}'", level: MBToastLevel.Success, showIcon: false);
    }
}