@page "/datatable"

@using System.Linq


<style>
    .overflow-auto {
        overflow: auto;
        width: 100%;
    }

    .my-data-table {
        min-width: 100%;
    }

        .my-data-table > th {
            font-weight: bold;
        }
</style>



<DemonstrationPage ComponentName="DataTable"
                   DemoComponent="@this"
                   MaterialIOPage="mdc-data-table#data-tables"
                   MinDensity="MBDensity.Minus4"
                   Title="Data Table Demonstration">
    <Description>
        <p>
            Demonstrates a data table. Material.Blazor presently only implements "Standard" data tables without row interaction.
        </p>
    </Description>

    <PageContent>
        <div class="mdc-layout-grid__cell--span-12">
            <MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        A Standard Data Table
                    </h2>

                    <div class="overflow-auto">
                        <p>
                            <MBDataTable class="my-data-table"
                                         Context="item"
                                         Items="@Biscuits">
                                <TableHeader>
                                    <th class="mdc-data-table__header-cell header-bold" role="columnheader" scope="col">Biscuit</th>
                                    <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric header-bold" role="columnheader" scope="col">Price</th>
                                    <th class="mdc-data-table__header-cell header-bold" role="columnheader" scope="col">Review</th>
                                </TableHeader>
                                <TableRow>
                                    <td class="mdc-data-table__cell">@item.Name</td>
                                    <td class="mdc-data-table__cell mdc-data-table__cell--numeric">@item.Price.ToString("C2")</td>
                                    <td class="mdc-data-table__cell">@item.Review</td>
                                </TableRow>
                            </MBDataTable>
                        </p>
                    </div>
                </Primary>
            </MBCard>
        </div>


        <div class="mdc-layout-grid__cell--span-12">
            <MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Data Table with Progress Bar
                    </h2>

                    <p>
                        <MBSwitch @bind-Value="@ShowProgress"
                                    Label="Show Progress" />
                    </p>

                    <div class="overflow-auto">
                        <p>
                            <MBDataTable class="my-data-table"
                                         Context="item"
                                         HasProgressBar="true"
                                         Items="@Biscuits"
                                         ShowProgress="@ShowProgress">
                                <TableHeader>
                                    <th class="mdc-data-table__header-cell header-bold" role="columnheader" scope="col">Biscuit</th>
                                    <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric header-bold" role="columnheader" scope="col">Price</th>
                                    <th class="mdc-data-table__header-cell header-bold" role="columnheader" scope="col">Review</th>
                                </TableHeader>
                                <TableRow>
                                    <td class="mdc-data-table__cell">@item.Name</td>
                                    <td class="mdc-data-table__cell mdc-data-table__cell--numeric">@item.Price.ToString("C2")</td>
                                    <td class="mdc-data-table__cell">@item.Review</td>
                                </TableRow>
                            </MBDataTable>
                        </p>
                    </div>
                </Primary>
            </MBCard>
        </div>


        <div class="mdc-layout-grid__cell--span-12">
            <MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Data Table with Pagination
                    </h2>

                    <div class="overflow-auto">
                        <p>
                            <MBDataTable class="my-data-table"
                                         Context="item"
                                         Items="@SelectedPeople">
                                <TableHeader>
                                    <th class="mdc-data-table__header-cell header-bold" role="columnheader" scope="col">Salutation</th>
                                    <th class="mdc-data-table__header-cell header-bold" role="columnheader" scope="col">Given Name</th>
                                    <th class="mdc-data-table__header-cell header-bold" role="columnheader" scope="col">Family Name</th>
                                </TableHeader>
                                <TableRow>
                                    <td class="mdc-data-table__cell">@item.Salutation</td>
                                    <td class="mdc-data-table__cell">@item.GivenName</td>
                                    <td class="mdc-data-table__cell">@item.FamilyName</td>
                                </TableRow>
                                <Paginator>
                                    <MBPaginator @bind-ItemsPerPage="@PersonItemsPerPage"
                                                 @bind-PageNumber="@PersonPageNumber"
                                                 ItemsPerPageSelection="@PersonItemsPerPageSelection"
                                                 ItemCount="@People.Length" />
                                </Paginator>
                            </MBDataTable>
                        </p>
                    </div>
                </Primary>
            </MBCard>
        </div>


        <div class="mdc-layout-grid__cell--span-12">
            <MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Data Table with sticky header
                    </h2>

                    <div class="overflow-auto">
                        <p>
                            <MBDataTable class="my-data-table"
                                         Context="item"
                                         Items="@People"
                                         StickyHeader="true"
                                         style="max-height: 400px;">
                                <TableHeader>
                                    <th class="mdc-data-table__header-cell header-bold" role="columnheader" scope="col">Salutation</th>
                                    <th class="mdc-data-table__header-cell header-bold" role="columnheader" scope="col">Given Name</th>
                                    <th class="mdc-data-table__header-cell header-bold" role="columnheader" scope="col">Family Name</th>
                                </TableHeader>
                                <TableRow>
                                    <td class="mdc-data-table__cell">@item.Salutation</td>
                                    <td class="mdc-data-table__cell">@item.GivenName</td>
                                    <td class="mdc-data-table__cell">@item.FamilyName</td>
                                </TableRow>
                            </MBDataTable>
                        </p>
                    </div>
                </Primary>
            </MBCard>
        </div>
    </PageContent>
</DemonstrationPage>



@code {
    private bool ShowProgress { get; set; }

    private class Biscuit
    {
        public string Name { get; set; }
        public double Price { get; set; }
        public string Review { get; set; }
    }

    private Biscuit[] Biscuits =
    {
        new Biscuit() { Name = "Hobnob", Price = 1.56, Review = "For oat lovers" },
        new Biscuit() { Name = "Rich Tea", Price = 1.32, Review = "To be dunked" },
        new Biscuit() { Name = "Digestive", Price = 2.12, Review = "The classic" },
        new Biscuit() { Name = "Bourbon", Price = 0.99, Review = "Kids will leave the biscuit and eat the chocolate cream" },
        new Biscuit() { Name = "Maryland", Price = 0.78, Review = "Try not to eat a pack in one go" }
    };

    IEnumerable<MBSelectElement<MBDensity>> DensityItems => from d in (MBDensity[])Enum.GetValues(typeof(MBDensity))
                                                            select new MBSelectElement<MBDensity>
                                                            {
                                                                SelectedValue = d,
                                                                Label = d.ToString(),
                                                                Disabled = false
                                                            };


    private class Person
    {
        public string Salutation { get; set; }
        public string GivenName { get; set; }
        public string FamilyName { get; set; }

        public override string ToString()
        {
            return $"ToString(): {Salutation} {GivenName} {FamilyName}";
        }
    }

    private Person[] People =
    {
        new Person() { Salutation = "Prof", GivenName = "Marie", FamilyName = "Curie" },
        new Person() { Salutation = "Prof", GivenName = "Albert", FamilyName = "Einstein" },
        new Person() { Salutation = "Prof", GivenName = "Andrew", FamilyName = "Huxley" },
        new Person() { Salutation = "Mr", GivenName = "Bob", FamilyName = "Dylan" },
        new Person() { Salutation = "Mr", GivenName = "Barack", FamilyName = "Obama" },
        new Person() { Salutation = "Ms", GivenName = "Nadine", FamilyName = "Gordimer" },
        new Person() { Salutation = "Mr", GivenName = "Muhammad", FamilyName = "Yunus" },
        new Person() { Salutation = "RtHon", GivenName = "Lord", FamilyName = "Rayleigh" },
        new Person() { Salutation = "Ms", GivenName = "Grazia", FamilyName = "Deledda" },
        new Person() { Salutation = "Mr", GivenName = "Jean-Paul", FamilyName = "Sartre" },
        new Person() { Salutation = "Prof", GivenName = "Esther", FamilyName = "Duflo" },
        new Person() { Salutation = "Prof", GivenName = "Yoshinori", FamilyName = "Ohsumi" },
        new Person() { Salutation = "Prof", GivenName = "Robert", FamilyName = "Merton" },
        new Person() { Salutation = "Prof", GivenName = "Barbara", FamilyName = "McClintock" },
        new Person() { Salutation = "Mr", GivenName = "Boris", FamilyName = "Pasternak" },
        new Person() { Salutation = "Mr", GivenName = "Willy", FamilyName = "Brandt" },
        new Person() { Salutation = "Mr", GivenName = "Isaac", FamilyName = "Bashevis Singer" },
        new Person() { Salutation = "Ms", GivenName = "Olga", FamilyName = "Tokarczuk" },
        new Person() { Salutation = "Mr", GivenName = "Günter", FamilyName = "Grass" },
        new Person() { Salutation = "Mr", GivenName = "John", FamilyName = "Hume" },
    };

    private int[] PersonItemsPerPageSelection = { 2, 4, 6 };

    private int PersonItemsPerPage = 6;
    private int PersonPageNumber = 0;

    IEnumerable<Person> SelectedPeople => People.Skip(PersonItemsPerPage * PersonPageNumber).Take(PersonItemsPerPage);
}