@page "/draganddroplist"

@using Humanizer
@inject IMBToastService ToastService


<DemonstrationPage ComponentName="DragAndDropList"
                   DemoComponent="@this"
                   IsGeneric="true"
                   Title="Drag and Drop List Demonstration">
    <Description>
        <p>
            Demonstrates a drag and drop data list, which is a Material.Blazor Plus component. Presents content in a vertical set of cards that can be re-ordered by dragging and dropping.
        </p>
    </Description>

    <PageContent>
        <div class="mdc-layout-grid__cell--span-12">
            <MBDragAndDropList Value="@Amounts" Context="amount">
                <Content>
                    <div class="mdc-layout-grid__inner" style="width: 100%;">
                        <div class="mdc-layout-grid__cell--span-12 mdc-typography--headline6">
                            @(GetText(amount))
                        </div>
                        <div class="mdc-layout-grid__cell--span-3">
                            <MBButton Label="Button" ButtonStyle="@MBButtonStyle.ContainedUnelevated" />
                        </div>
                        <div class="mdc-layout-grid__cell--span-3">
                            <MBCheckbox Label="Checkbox" />
                        </div>
                        <div class="mdc-layout-grid__cell--span-3">
                            <MBTextField Label="Text Field" TextInputStyle="@MBTextInputStyle.Outlined" />
                        </div>
                    </div>
                </Content>
            </MBDragAndDropList>
        </div>

        <div class="mdc-layout-grid__cell--span-12">
            @{
                var dash = "";
            }

            @foreach (var amount in Amounts)
            {
                <span>@dash @(GetText(amount))</span>
                dash = " - ";
            }
        </div>
    </PageContent>
</DemonstrationPage>



@code {
    private List<decimal> Amounts = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        for (int i = 1; i <= 10; i++)
        {
            Amounts.Add(i);
        }
    }


    string GetText(decimal amount)
    {
        return Convert.ToInt32(amount).ToWords().Titleize();
    }
}
