@page "/iconbuttontoggle"

@inject IMBToastService ToastService



<DemonstrationPage ComponentName="IconButtonToggle"
                   DemoComponent="@this"
                   MinDensity="MBDensity.Minus3"
                   RequiresDisableSelection="true"
                   Title="Icon Button Toggle Demonstration">
    <Description>
        <p>
            Shows a toggle icon button and density.
        </p>
    </Description>

    <PageContent>
        <div class="mdc-layout-grid__cell--span-4">
            <MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Icon Button Toggle
                    </h2>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Toggle icon bottons using a Font Awesome icon.
                    </h3>

                    <p>
                        <MBIconButtonToggle @bind-Value="@ToggleState"
                                            IconFoundry="@MBIconHelper.FAFoundry()"
                                            IconOff="fa-cat"
                                            IconOn="fa-dog" />
                    </p>
                    <p>
                        <MBIconButtonToggle @bind-Value="@ToggleState"
                                            IconFoundry="@MBIconHelper.FAFoundry()"
                                            IconOff="fa-cat"
                                            IconOn="fa-dog" />
                    </p>
                    <p>
                        <MBIconButtonToggle @bind-Value="@ToggleState"
                                            IconFoundry="@MBIconHelper.FAFoundry()"
                                            IconOff="fa-cat"
                                            IconOn="fa-dog" />
                    </p>
                    <p>
                        <MBIconButtonToggle @bind-Value="@ToggleState"
                                            IconFoundry="@MBIconHelper.FAFoundry()"
                                            IconOff="fa-cat"
                                            IconOn="fa-dog" />
                    </p>
                </Primary>
            </MBCard>
        </div>



        <div class="mdc-layout-grid__cell--span-4">
            <MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Icon Button Toggle Two-Way Binding
                    </h2>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Shows two-way binding for toggle buttons using Open Iconic icons.
                    </h3>

                    <p>
                        <MBIconButtonToggle @bind-Value="@ToggleTwoWayBindingState"
                                            IconFoundry="@MBIconHelper.OIFoundry()"
                                            IconOff="minus"
                                            IconOn="check" />
                    </p>
                    <p>
                        <MBIconButtonToggle @bind-Value="@ToggleTwoWayBindingState"
                                            IconFoundry="@MBIconHelper.OIFoundry()"
                                            IconOn="check" IconOff="minus" />
                    </p>
                </Primary>
            </MBCard>
        </div>



        <div class="mdc-layout-grid__cell--span-4">
            <MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Icon Button Toggle Density
                    </h2>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Shows density subsystem from default to minus 3, with FontAwesome Icons fonts.
                    </h3>

                    <p>
                        <MBIconButtonToggle @bind-Value="@ToggleState"
                                            IconFoundry="@MBIconHelper.FAFoundry()"
                                            IconOff="fa-cat"
                                            IconOn="fa-dog"
                                            Density="@MBDensity.Default"
                                            @onclick="@(() => ButtonClick("Icon Button Toggle Default Density"))" />
                    </p>
                    <p>
                        <MBIconButtonToggle @bind-Value="@ToggleState"
                                            Density="@MBDensity.Minus1"
                                            IconFoundry="@MBIconHelper.FAFoundry()"
                                            IconOff="fa-cat"
                                            IconOn="fa-dog"
                                            @onclick="@(() => ButtonClick("Icon Button Toggle Density Minus 1"))" />
                    </p>
                    <p>
                        <MBIconButtonToggle @bind-Value="@ToggleState"
                                            Density="@MBDensity.Minus2"
                                            IconFoundry="@MBIconHelper.FAFoundry()"
                                            IconOff="fa-cat"
                                            IconOn="fa-dog"
                                            @onclick="@(() => ButtonClick("Icon Button Toggle Density Minus 2"))" />
                    </p>
                    <p>
                        <MBIconButtonToggle @bind-Value="@ToggleState"
                                            Density="@MBDensity.Minus3"
                                            IconFoundry="@MBIconHelper.FAFoundry()"
                                            IconOff="fa-cat"
                                            IconOn="fa-dog"
                                            @onclick="@(() => ButtonClick("Icon Button Toggle Density Minus 3"))" />
                    </p>
                </Primary>
            </MBCard>
        </div>
    </PageContent>
</DemonstrationPage>



@code {
    private bool _toggleTwoWayBindingState;
    private bool ToggleTwoWayBindingState
    {
        get => _toggleTwoWayBindingState;
        set
        {
            _toggleTwoWayBindingState = value;

            ToastService.ShowToast(heading: "Toggle Icon Button Clicked", message: $"Two way binding Value: {_toggleTwoWayBindingState}", level: MBToastLevel.Success, showIcon: false);
        }
    }



    private bool _toggleState;
    private bool ToggleState
    {
        get => _toggleState;
        set
        {
            _toggleState = value;

            ToastService.ShowToast(heading: "Toggle Icon Button Clicked", message: $"Value: {_toggleState} / {(_toggleState ? "Dog" : "Cat")}", level: MBToastLevel.Success, showIcon: false);
        }
    }



    private void ButtonClick(string notification)
    {
        ToastService.ShowToast(heading: "Button Clicked", message: notification, level: MBToastLevel.Success, showIcon: false);
    }
}