@page "/iconbutton"

@inject IMBToastService ToastService



<DemonstrationPage ComponentName="IconButton"
                   DemoComponent="@this"
                   MaterialIOPage="mdc-icon-button#icon-buttons"
                   MinDensity="MBDensity.Minus3"
                   RequiresDisableSelection="true"
                   Title="Icon Button Demonstration">
    <Description>
        <p>
            Shows an icon button and density.
        </p>
    </Description>

    <PageContent>
        <div class="mdc-layout-grid__cell--span-4">
            <MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Icon Button
                    </h2>

                    <p>
                        <MBIconButton Icon="access_alarms"
                                      @onclick="@(() => ButtonClick("Icon Button"))" />
                    </p>
                    <p>
                        <MBIconButton Icon="fa-dog"
                                      IconFoundry="@MBIconHelper.FAFoundry()"
                                      @onclick="@(() => ButtonClick("Icon Button"))" />
                    </p>
                    <p>
                        <MBIconButton Icon="fa-cat"
                                      IconFoundry="@MBIconHelper.FAFoundry()"
                                      @onclick="@(() => ButtonClick("Icon Button"))" />
                    </p>
                    <p>
                        <MBIconButton Icon="fa-horse"
                                      IconFoundry="@MBIconHelper.FAFoundry()"
                                      @onclick="@(() => ButtonClick("Icon Button"))" />
                    </p>
                </Primary>
            </MBCard>
        </div>



        <div class="mdc-layout-grid__cell--span-4">
            <MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Icon Button Density
                    </h2>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Shows density subsystem from default to minus 3, with alternative Material Icons fonts.
                    </h3>

                    <p>
                        <MBIconButton Density="@MBDensity.Default"
                                      Icon="access_alarms"
                                      IconFoundry="@MBIconHelper.MIFoundry(MBIconMITheme.Outlined)"
                                      @onclick="@(() => ButtonClick("Icon Button Default Density"))" />
                    </p>
                    <p>
                        <MBIconButton Density="@MBDensity.Minus1"
                                      Icon="access_alarms"
                                      IconFoundry="@MBIconHelper.MIFoundry(MBIconMITheme.Round)"
                                      @onclick="@(() => ButtonClick("Icon Button Density Minus 1"))" />
                    </p>
                    <p>
                        <MBIconButton Density="@MBDensity.Minus2"
                                      Icon="access_alarms"
                                      IconFoundry="@MBIconHelper.MIFoundry(MBIconMITheme.Sharp)"
                                      @onclick="@(() => ButtonClick("Icon Button Density Minus 2"))" />
                    </p>
                    <p>
                        <MBIconButton Density="@MBDensity.Minus3"
                                      Icon="access_alarms"
                                      IconFoundry="@MBIconHelper.MIFoundry(MBIconMITheme.TwoTone)"
                                      @onclick="@(() => ButtonClick("Icon Button Density Minus 3"))" />
                    </p>
                </Primary>
            </MBCard>
        </div>
    </PageContent>
</DemonstrationPage>



@code {
    private void ButtonClick(string notification)
    {
        ToastService.ShowToast(heading: "Button Clicked", message: notification, level: MBToastLevel.Success, showIcon: false);
    }
}