@page "/linearprogress"


<DemonstrationPage ComponentName="LinearProgress"
                   DemoComponent="@this"
                   MaterialIOPage="mdc-linear-progress#linear-progress"
                   Title="Linear Progress Demonstration">
    <Description>
        <p>
            Demonstrates linear progress indicators.
        </p>
    </Description>

    <Controls>
        <p>
            <MBRadioButtonGroup @bind-Value="@ProgressLevel"
                                Items="@ProgressLevels" />
        </p>

        <p>
            <MBSwitch @bind-Value="@ShowProgress"
                      Label="Show Progress Indicators" />
        </p>
    </Controls>

    <PageContent>
        <div class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
            <MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Linear Progress
                    </h2>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Indeterminate, determinate without buffer, and determinate with buffer.
                    </h3>

                    <p>
                        <MBLinearProgress LinearProgressType="@LinearIndeterminate" />
                    </p>
                    <p>
                        <MBLinearProgress LinearProgressType="@LinearDeterminate"
                                          Value="@ProgressLevel" />
                    </p>
                    <p>
                        <MBLinearProgress BufferValue="@BufferLevel"
                                          LinearProgressType="@LinearDeterminate"
                                          Value="@ProgressLevel" />
                    </p>
                </Primary>
            </MBCard>
        </div>
    </PageContent>
</DemonstrationPage>


@code {
    MBSelectElement<double>[] ProgressLevels = new MBSelectElement<double>[]
    {
        new MBSelectElement<double> { SelectedValue = 0.2, Label = "20% Progress" },
        new MBSelectElement<double> { SelectedValue = 0.5, Label = "50% Progress" },
        new MBSelectElement<double> { SelectedValue = 0.8, Label = "80% Progress" }
                    };

    private double ProgressLevel { get; set; } = 0.2;
    double? BufferLevel => ProgressLevel + (1 - ProgressLevel) / 3;

    private bool ShowProgress { get; set; } = true;

    MBLinearProgressType LinearIndeterminate => ShowProgress ? MBLinearProgressType.Indeterminate : MBLinearProgressType.Closed;
    MBLinearProgressType LinearDeterminate => ShowProgress ? MBLinearProgressType.Determinate : MBLinearProgressType.Closed;
}