@page "/menu"

@inject IMBToastService ToastService


<DemonstrationPage ComponentName="Menu"
                   DemoComponent="@this"
                   MaterialIOPage="mdc-menu#menus"
                   Title="Menu Demonstration">
    <Description>
        <p>
            Demonstrates a menu.
        </p>
    </Description>

    <PageContent>
        <div class="mdc-layout-grid__cell--span-4">
            <MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Menu Example
                    </h2>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Click the button to open the menu.
                    </h3>

                    <p>
                        <MBButton Label="Open Menu" @onclick="@OpenMenuAsync" />
                    </p>

                    <div class="mdc-menu-surface--anchor">
                        <MBMenu @ref="@MenuElement">
                            <MBListItem Label="One"
                                        @onclick="@(() => OnClickHandler("One"))" />
                            <MBListItem Label="Two"
                                        @onclick="@(() => OnClickHandler("Two"))" />
                            <MBListItem Label="Three"
                                        @onclick="@(() => OnClickHandler("Three"))" />
                            <MBListDivider />
                            <MBListItem Label="Four"
                                        LeadingIcon="home"
                                        @onclick="@(() => OnClickHandler("Four"))" />
                            <MBListItem Label="Five"
                                        LeadingIcon="alarm"
                                        @onclick="@(() => OnClickHandler("Five"))" />
                            <MBListItem IconFoundry="@MBIconHelper.OIFoundry()"
                                        Label="Six"
                                        LeadingIcon="shield"
                                        @onclick="@(() => OnClickHandler("Six"))" />
                            <MBListDivider />
                            <MBMenuSelectionGroup>
                                <MBListItem IsSelectedMenuItem="@SevenSelected"
                                            Label="Seven"
                                            LeadingIcon="done"
                                            @onclick="@(() => OnClickHandler("Seven"))" />
                                <MBListItem IsSelectedMenuItem="@EightSelected"
                                            Label="Eight"
                                            LeadingIcon="done"
                                            @onclick="@(() => OnClickHandler("Eight"))" />
                            </MBMenuSelectionGroup>
                            <MBListDivider />
                            <MBListItem Disabled="true"
                                        Label="Nine (disabled)"
                                        @onclick="@(() => OnClickHandler("Nine"))" />
                        </MBMenu>
                    </div>
                </Primary>
            </MBCard>
        </div>
    </PageContent>
</DemonstrationPage>



@code {
    private MBMenu MenuElement { get; set; }
    private bool SevenSelected { get; set; }
    private bool EightSelected { get; set; }

    private async Task OpenMenuAsync()
    {
        await MenuElement.ToggleAsync();
    }

    protected void OnClickHandler(string NavigationReference)
    {
        var result = NavigationReference;
        ToastService.ShowToast(heading: "Menu result", message: $"Value: '{result}'", level: MBToastLevel.Success, showIcon: false);

        SevenSelected = (result == "Seven") ? !SevenSelected : SevenSelected;
        EightSelected = (result == "Eight") ? !EightSelected : EightSelected;
    }
}