@page "/radiobutton"

@inject IMBToastService ToastService


<DemonstrationPage ComponentName="RadioButton"
                   DemoComponent="@this"
                   IsGeneric="true"
                   MaterialIOPage="mdc-radio#selection-controls-radio-buttons"
                   MinDensity="MBDensity.Minus3"
                   RequiresDisableSelection="true"
                   Title="Radio Button Demonstration">
    <Description>
        <p>
            Individual and grouped radio buttons.
        </p>
    </Description>

    <PageContent>
        <div class="mdc-layout-grid__cell--span-12">
            <MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Individual Radio Buttons
                    </h2>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Radio Buttons are rendered individually and grouped by id. The second line demonstrates two-way binding.
                        Bound data is an <code>enum</code>.
                    </h3>

                    <p>
                        <MBRadioButton @bind-Value="@Animal"
                                       class="supplied-test-class"
                                       id="supplied-test-id"
                                       Label=@AnimalEnum.Dog.ToString()
                                       RadioGroupName="animal-group"
                                       TargetCheckedValue=@AnimalEnum.Dog />

                        <MBRadioButton @bind-Value="@Animal"
                                       Label=@AnimalEnum.Fish.ToString()
                                       RadioGroupName="animal-group"
                                       TargetCheckedValue=@AnimalEnum.Fish />

                        <MBRadioButton @bind-Value="@Animal"
                                       Label=@AnimalEnum.Zebra.ToString()
                                       RadioGroupName="animal-group"
                                       TargetCheckedValue=@AnimalEnum.Zebra />
                    </p>
                    <p>
                        <MBRadioButton @bind-Value="@Animal"
                                       Label=@RepeatedDogLabel
                                       RadioGroupName="repeat-group"
                                       TargetCheckedValue=@AnimalEnum.Dog />

                    </p>
                </Primary>
            </MBCard>
        </div>
    </PageContent>
</DemonstrationPage>


@code {
    private enum AnimalEnum { Dog, Fish, Zebra };
    private string RepeatedDogLabel => AnimalEnum.Dog.ToString() + " repeated";

    private AnimalEnum _animal = AnimalEnum.Fish;
    private AnimalEnum Animal
    {
        get => _animal;
        set
        {
            _animal = value;

            ToastService.ShowToast(heading: "Individual radio buttons", message: $"Value: '{_animal.ToString()}'", level: MBToastLevel.Success, showIcon: false);
        }
    }
}