@page "/slider"

@inject IMBToastService ToastService


<DemonstrationPage ComponentName="Slider"
                   DemoComponent="@this"
                   MaterialIOPage="mdc-slider#slider"
                   RequiresDisableSelection="true"
                   Title="Single Thumb Slider">
    <Description>
        <p>
            Single thumb sliders, responding to user events in three ways:

            <ol>
                <li><strong>Thumb-up</strong> emits events when the user lets releases the slider after movement.</li>
                <li><strong>Continuous Debounced</strong> emits events while the user is holding the thumb, but only after pausing motion.</li>
                <li><strong>Continuous Throttled</strong> emits events while the user is moving the thumb, but throttled against the specified delay.</li>
            </ol>
        </p>
    </Description>

    <PageContent>
        <div class="mdc-layout-grid__cell--span-12">
            <MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Continuous Slider
                    </h2>

                    <p>With non-continuous input, yielding a value of @Value1a.ToString("N2")</p>
                    <p>
                        <MBSlider AriaLabel="Continuous Slider"
                                  @bind-Value="@Value1a"
                                  DecimalPlaces="2"
                                  SliderType="@MBSliderType.Continuous"
                                  ValueMax="100"
                                  ValueMin="0" />
                    </p>
                    <p>
                        <MBSlider AriaLabel="Continuous Slider"
                                  @bind-Value="@Value1a"
                                  DecimalPlaces="2"
                                  SliderType="@MBSliderType.Continuous"
                                  ValueMax="100"
                                  ValueMin="0" />
                    </p>

                    <p>With continuous input and 300ms debounce delay, yielding a value of @Value1b.ToString("N2")</p>
                    <p>
                        <MBSlider AriaLabel="Continuous Slider"
                                  @bind-Value="@Value1b"
                                  ContinuousInputDelay="@DebounceDelay"
                                  DecimalPlaces="2"
                                  EventType="@MBInputEventType.OnInputDebounced"
                                  SliderType="@MBSliderType.Continuous"
                                  ValueMin="0" ValueMax="100" />
                    </p>
                    <p>
                        <MBSlider AriaLabel="Continuous Slider"
                                  @bind-Value="@Value1b"
                                  ContinuousInputDelay="@DebounceDelay"
                                  DecimalPlaces="2"
                                  EventType="@MBInputEventType.OnInputDebounced"
                                  SliderType="@MBSliderType.Continuous"
                                  ValueMax="100"
                                  ValueMin="0" />
                    </p>

                    <p>With continuous input and 300ms throttle delay, yielding a value of @Value1c.ToString("N2")</p>
                    <p>
                        <MBSlider AriaLabel="Continuous Slider"
                                  @bind-Value="@Value1c"
                                  ContinuousInputDelay="@DebounceDelay"
                                  DecimalPlaces="2"
                                  EventType="@MBInputEventType.OnInputThrottled"
                                  SliderType="@MBSliderType.Continuous"
                                  ValueMax="100"
                                  ValueMin="0" />
                    </p>
                    <p>
                        <MBSlider AriaLabel="Continuous Slider"
                                  @bind-Value="@Value1c"
                                  ContinuousInputDelay="@DebounceDelay"
                                  DecimalPlaces="2"
                                  EventType="@MBInputEventType.OnInputThrottled"
                                  SliderType="@MBSliderType.Continuous"
                                  ValueMax="100"
                                  ValueMin="0" />
                    </p>
                </Primary>
            </MBCard>
        </div>


        <div class="mdc-layout-grid__cell--span-12">
            <MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Discrete Sliders
                    </h2>

                    <p>With non-continuous input, yielding a value of @Value2a.ToString("N2")</p>
                    <p>
                        <MBSlider AriaLabel="Discrete Slider"
                                  @bind-Value="@Value2a"
                                  DecimalPlaces="0"
                                  SliderType="@MBSliderType.Discrete"
                                  ValueMax="10"
                                  ValueMin="0" />
                    </p>
                    <p>
                        <MBSlider AriaLabel="Discrete Slider"
                                  @bind-Value="@Value2a"
                                  DecimalPlaces="0"
                                  SliderType="@MBSliderType.DiscreteWithTickmarks"
                                  ValueMax="10"
                                  ValueMin="0" />
                    </p>

                    <p>With continuous input and 300ms debounce delay, yielding a value of @Value2b.ToString("N2")</p>
                    <p>
                        <MBSlider AriaLabel="Discrete Slider"
                                  @bind-Value="@Value2b"
                                  ContinuousInputDelay="@DebounceDelay"
                                  DecimalPlaces="0"
                                  EventType="@MBInputEventType.OnInputDebounced"
                                  SliderType="@MBSliderType.Discrete"
                                  ValueMax="10"
                                  ValueMin="0" />
                    </p>
                    <p>
                        <MBSlider AriaLabel="Discrete Slider"
                                  @bind-Value="@Value2b"
                                  ContinuousInputDelay="@DebounceDelay"
                                  DecimalPlaces="0"
                                  EventType="@MBInputEventType.OnInputDebounced"
                                  SliderType="@MBSliderType.DiscreteWithTickmarks"
                                  ValueMax="10"
                                  ValueMin="0" />
                    </p>

                    <p>With continuous input and 300ms throttle delay, yielding a value of @Value2c.ToString("N2")</p>
                    <p>
                        <MBSlider AriaLabel="Discrete Slider"
                                  @bind-Value="@Value2c"
                                  ContinuousInputDelay="@DebounceDelay"
                                  DecimalPlaces="0"
                                  EventType="@MBInputEventType.OnInputThrottled"
                                  SliderType="@MBSliderType.Discrete"
                                  ValueMax="10"
                                  ValueMin="0" />
                    </p>
                    <p>
                        <MBSlider AriaLabel="Discrete Slider"
                                  @bind-Value="@Value2c"
                                  ContinuousInputDelay="@DebounceDelay"
                                  DecimalPlaces="0"
                                  EventType="@MBInputEventType.OnInputThrottled"
                                  SliderType="@MBSliderType.DiscreteWithTickmarks"
                                  ValueMax="10"
                                  ValueMin="0" />
                    </p>
                </Primary>
            </MBCard>


            <div class="mdc-layout-grid__cell--span-12">
                <MBCard AutoStyled="true">
                    <Primary>
                        <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                            Test Slider
                        </h2>

                        <p>Discrete with tickmarks, 0-10, 1 decimal, 1 step, yielding a value of @Value3.ToString("N2")</p>
                        <p>
                            <MBSlider AriaLabel="Discrete Slider"
                                      @bind-Value="@Value3"
                                      DecimalPlaces="1"
                                      NumSteps="1"
                                      SliderType="@MBSliderType.DiscreteWithTickmarks"
                                      ValueMax="10"
                                      ValueMin="0" />
                        </p>
                    </Primary>
                </MBCard>
            </div>

        </div>

    </PageContent>
</DemonstrationPage>


@code {
    double Value1a = 16.67;
    double Value1b = 33.33;
    double Value1c = 66.67;
    double Value2a = 3;
    double Value2b = 5;
    double Value2c = 7;
    double Value3 = 5;

    uint DebounceDelay = 300;
}