@page "/slider"

@inject IMBToastService ToastService


<DemonstrationPage ComponentName="Slider"
                   DemoComponent="@this"
                   MaterialIOPage="mdc-slider#slider"
                   RequiresDisableSelection="true"
                   Title="Single Thumb Slider">
    <Description>
        <p>
            Single thumb sliders, responding to user events in three ways:

            <ol>
                <li><strong>Thumb-up</strong> emits events when the user lets releases the slider after movement.</li>
                <li><strong>Continuous Debounced</strong> emits events while the user is holding the thumb, but only after pausing motion.</li>
                <li><strong>Continuous Throttled</strong> emits events while the user is moving the thumb, but throttled against the specified delay.</li>
            </ol>
        </p>
    </Description>

    <PageContent>
        <div class="mdc-layout-grid__cell--span-12">
            <MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Continuous Slider
                    </h2>

                    <p>With non-continuous input, 0-100 range, 0 decimal, yielding a value of @Value1a.ToString("N0")</p>
                    <p>
                        <MBSlider AriaLabel="Continuous Slider"
                                  @bind-Value="@Value1a"
                                  DecimalPlaces="0"
                                  SliderType="@MBSliderType.Continuous"
                                  ValueMax="100"
                                  ValueMin="0" />
                    </p>
                    <p>
                        <MBSlider AriaLabel="Continuous Slider"
                                  @bind-Value="@Value1a"
                                  DecimalPlaces="0"
                                  SliderType="@MBSliderType.Continuous"
                                  ValueMax="100"
                                  ValueMin="0" />
                    </p>

                    <p>With continuous input, 0-100 range, 1 decimal, and 300ms debounce delay, yielding a value of @Value1b.ToString("N1")</p>
                    <p>
                        <MBSlider AriaLabel="Continuous Slider"
                                  @bind-Value="@Value1b"
                                  ContinuousInputDelay="@DebounceDelay"
                                  DecimalPlaces="1"
                                  EventType="@MBInputEventType.OnInputDebounced"
                                  SliderType="@MBSliderType.Continuous"
                                  ValueMin="0" ValueMax="100" />
                    </p>
                    <p>
                        <MBSlider AriaLabel="Continuous Slider"
                                  @bind-Value="@Value1b"
                                  ContinuousInputDelay="@DebounceDelay"
                                  DecimalPlaces="1"
                                  EventType="@MBInputEventType.OnInputDebounced"
                                  SliderType="@MBSliderType.Continuous"
                                  ValueMax="100"
                                  ValueMin="0" />
                    </p>

                    <p>With continuous input, 0-100 range, 2 decimal, and 300ms throttle delay, yielding a value of @Value1c.ToString("N2")</p>
                    <p>
                        <MBSlider AriaLabel="Continuous Slider"
                                  @bind-Value="@Value1c"
                                  ContinuousInputDelay="@DebounceDelay"
                                  DecimalPlaces="2"
                                  EventType="@MBInputEventType.OnInputThrottled"
                                  SliderType="@MBSliderType.Continuous"
                                  ValueMax="100"
                                  ValueMin="0" />
                    </p>
                    <p>
                        <MBSlider AriaLabel="Continuous Slider"
                                  @bind-Value="@Value1c"
                                  ContinuousInputDelay="@DebounceDelay"
                                  DecimalPlaces="2"
                                  EventType="@MBInputEventType.OnInputThrottled"
                                  SliderType="@MBSliderType.Continuous"
                                  ValueMax="100"
                                  ValueMin="0" />
                    </p>
                </Primary>
            </MBCard>
        </div>


        <div class="mdc-layout-grid__cell--span-12">
            <MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Discrete Sliders
                    </h2>

                    <p>Note that presently discrete sliders' tooltips show the wrong value. This is because Material.Blazor (hopefully) temporarily normalizes input to work around <a href="https://github.com/material-components/material-components-web/issues/7404" target="_blank">Material Components Web issue #7404</a></p>
                    <br />

                    <p>With non-continuous input, tickmarks on the second slider, 0-10 range, 0 decimal, 2 steps, yielding a value of @Value2a.ToString("N0")</p>
                    <p>Before you think this slider doesn't work, it only accepts three positions - full left, center and full right.</p>
                    <p>
                        <MBSlider AriaLabel="Discrete Slider"
                                  @bind-Value="@Value2a"
                                  DecimalPlaces="0"
                                  NumSteps="2"
                                  SliderType="@MBSliderType.Discrete"
                                  ValueMax="10"
                                  ValueMin="0" />
                    </p>
                    <p>
                        <MBSlider AriaLabel="Discrete Slider"
                                  @bind-Value="@Value2a"
                                  DecimalPlaces="0"
                                  NumSteps="2"
                                  SliderType="@MBSliderType.DiscreteWithTickmarks"
                                  ValueMax="10"
                                  ValueMin="0" />
                    </p>

                    <p>With continuous input, tickmarks on the second slider, 0-10 range, 0 decimal, 10 steps, and 300ms debounce delay, yielding a value of @Value2b.ToString("N0")</p>
                    <p>
                        <MBSlider AriaLabel="Discrete Slider"
                                  @bind-Value="@Value2b"
                                  ContinuousInputDelay="@DebounceDelay"
                                  DecimalPlaces="0"
                                  EventType="@MBInputEventType.OnInputDebounced"
                                  NumSteps="10"
                                  SliderType="@MBSliderType.Discrete"
                                  ValueMax="10"
                                  ValueMin="0" />
                    </p>
                    <p>
                        <MBSlider AriaLabel="Discrete Slider"
                                  @bind-Value="@Value2b"
                                  ContinuousInputDelay="@DebounceDelay"
                                  DecimalPlaces="0"
                                  EventType="@MBInputEventType.OnInputDebounced"
                                  NumSteps="10"
                                  SliderType="@MBSliderType.DiscreteWithTickmarks"
                                  ValueMax="10"
                                  ValueMin="0" />
                    </p>

                    <p>With continuous input, tickmarks on the second slider, 0-10 range, 1 decimal, 20 steps, and 300ms throttle delay, yielding a value of @Value2c.ToString("N1")</p>
                    <p>
                        <MBSlider AriaLabel="Discrete Slider"
                                  @bind-Value="@Value2c"
                                  ContinuousInputDelay="@DebounceDelay"
                                  DecimalPlaces="1"
                                  EventType="@MBInputEventType.OnInputThrottled"
                                  NumSteps="20"
                                  SliderType="@MBSliderType.Discrete"
                                  ValueMax="10"
                                  ValueMin="0" />
                    </p>
                    <p>
                        <MBSlider AriaLabel="Discrete Slider"
                                  @bind-Value="@Value2c"
                                  ContinuousInputDelay="@DebounceDelay"
                                  DecimalPlaces="1"
                                  EventType="@MBInputEventType.OnInputThrottled"
                                  NumSteps="20"
                                  SliderType="@MBSliderType.DiscreteWithTickmarks"
                                  ValueMax="10"
                                  ValueMin="0" />
                    </p>
                </Primary>
            </MBCard>
        </div>

    </PageContent>
</DemonstrationPage>


@code {
    decimal Value1a = 17M;
    decimal Value1b = 33.3M;
    decimal Value1c = 66.67M;
    decimal Value2a = 5;
    decimal Value2b = 3;
    decimal Value2c = 7.5M;

    uint DebounceDelay = 300;
}