@page "/slidingtabbar"

@inject IMBToastService ToastService


<DemonstrationPage ComponentName="SlidingTabBar"
                   DemoComponent="@this"
                   IsGeneric="true"
                   Title="Sliding Tab Bar Demonstration"
                   MaterialIOPage="mdc-tab-bar#tab-bar"
                   MinDensity="MBDensity.Minus4">
    <Description>
        <p>
            Demonstrates the Sliding Tab Bar, which is a <a href="https://material-blazor.com/docs/articles/PlusComponents.html" target="_blank">Material.Blazor Plus Component</a>.
            The Sliding Tab Bar uses the <a href="/tabbar">Sliding Content </a> Plus Component to manage transitions as tabs are selected giving subtle animated feedback.
        </p>
    </Description>

    <Controls>
        <p>
            <MBSwitch @bind-Value="@StackIcons"
                      Label="Stack Icons" />
        </p>
    </Controls>

    <PageContent>
        <div @key="@StackIcons" class="mdc-layout-grid__cell--span-12">
            <MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Simple content with scrolling
                    </h2>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Uses a simple view model consisting of an icon name for a header and some text for a paragraph. A complex view model can equally well
                        be used, requiring for instance form component for detailed rendering.
                    </h3>

                    <p style="margin-bottom: 2em;"><MBButton Label="Go to Alarm" @onclick="@AlarmButtonClick" /></p>

                    <p>
                        <MBSlidingTabBar @bind-Value="@FirstTabIndex"
                                         Context="item"
                                         Items="@SlidingTabItems"
                                         StackIcons="@StackIcons">

                            <Label>
                                @item.IconName
                            </Label>

                            <Icon>
                                <MBIcon IconName="@item.IconName" />
                            </Icon>

                            <Content>
                                <h3 class="mdc-typography--headline6">@item.IconName.ToUpper()</h3>
                                <p class="mdc-typography">@item.Text</p>
                            </Content>
                        </MBSlidingTabBar>
                    </p>
                </Primary>
            </MBCard>
        </div>


        <div class="mdc-layout-grid__cell--span-12">
            <MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Complex content
                    </h2>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        An alternative where the content rendered is either a form or simple text.
                    </h3>

                    <p>
                        <MBSlidingTabBar @bind-Value="@SecondTabIndex"
                                         Context="item"
                                         Items="@SecondTabIdentifiers">

                            <Label>
                                Tab @item
                            </Label>
                            <Content>
                                @if (item == SecondTabIdentifiers[0])
                                {
                                    <h3 class="mdc-typography--headline6">Validated Form</h3>

                                    <EditForm Model="@Model">
                                        <DataAnnotationsValidator />

                                        <div class="mdc-layout-grid__inner">
                                            <div class="mdc-layout-grid__cell--span-12" style="margin-top: 6px;">
                                                <MBTextField @bind-Value="@Model.Text"
                                                             Label="Text Field"
                                                             TextInputStyle="@MBTextInputStyle.Outlined"
                                                             ValidationMessageFor="@(() => Model.Text)" />
                                            </div>
                                            <div class="mdc-layout-grid__cell--span-12">
                                                <MBTextArea @bind-Value="@Model.Area"
                                                            HelperText="Min 20 Characters"
                                                            HelperTextPersistent="true"
                                                            Label="Text Area"
                                                            TextInputStyle="@MBTextInputStyle.Outlined"
                                                            ValidationMessageFor="@(() => Model.Area)" />
                                            </div>
                                            <div class="mdc-layout-grid__cell--span-12">
                                                <MBAutocompleteTextField @bind-Value="@Model.Autocomplete"
                                                                         Label="Autocomplete Text Field"
                                                                         SelectItems="@Fruits"
                                                                         TextInputStyle="@MBTextInputStyle.Outlined"
                                                                         ValidationMessageFor="@(() => Model.Autocomplete)" />
                                            </div>
                                            <div class="mdc-layout-grid__cell--span-12">
                                                <MBNumericDoubleField @bind-Value="@Model.NumericDouble"
                                                                      DecimalPlaces="2"
                                                                      Label="Numeric Double"
                                                                      NumericFormat="N2"
                                                                      TextInputStyle="@MBTextInputStyle.Outlined"
                                                                      ValidationMessageFor="@(() => Model.NumericDouble)" />
                                            </div>
                                            <div class="mdc-layout-grid__cell--span-12">
                                                <MBNumericIntField @bind-Value="@Model.NumericInt"
                                                                   Label="Numeric Int"
                                                                   NumericFormat="N0"
                                                                   TextInputStyle="@MBTextInputStyle.Outlined"
                                                                   ValidationMessageFor="@(() => Model.NumericInt)" />
                                            </div>
                                            <div class="mdc-layout-grid__cell--span-12" style="text-align: right;">
                                                <MBButton Label="submit"
                                                          type="submit"
                                                          style="margin: 0.75em 0.25em 0.25em 0.25em;" />
                                                <MBButton Label="cancel"
                                                          style="margin: 0.75em 0.25em 0.25em 0.25em;" />
                                            </div>
                                        </div>
                                    </EditForm>
                                }
                                else
                                {
                                    <h3 class="mdc-typography--headline6">@SlidingTabItems[item].IconName.ToUpper()</h3>
                        <p class="mdc-typography">@SlidingTabItems[item].Text</p>
                    }
                                </Content>
                                </MBSlidingTabBar>
                                </p>
                            </Primary>
                        </MBCard>
                    </div>
                </PageContent>
            </DemonstrationPage>


            @code {
                private bool StackIcons { get; set; } = false;


                private int FirstTabIndex { get; set; } = 5;


                private SlidingTabItem[] SlidingTabItems { get; set; } =
                {
        new SlidingTabItem() { IconName="home", Text = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque lobortis tortor, quis vestibulum libero faucibus ac. Aenean pretium, risus vel pulvinar bibendum, enim felis iaculis elit, a elementum metus nunc sed massa. Vivamus eros elit, faucibus auctor scelerisque eu, tincidunt quis turpis. Fusce fermentum quis odio molestie tincidunt. Morbi auctor mattis nibh, laoreet aliquet tellus congue a. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam vitae nunc tempor, scelerisque ligula sit amet, posuere massa. Nullam vitae arcu imperdiet, accumsan mi iaculis, eleifend purus. Etiam lacinia massa a orci elementum, faucibus euismod eros varius. Vivamus efficitur erat ac lacus mattis malesuada. Morbi semper ac erat sit amet sollicitudin. Morbi elit mi, malesuada eu sem ut, lacinia condimentum augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis et vestibulum risus, id venenatis quam. Fusce ultricies luctus ullamcorper. Phasellus laoreet egestas justo, eget consectetur risus." },
        new SlidingTabItem() { IconName="alarm", Text = "Curabitur nulla nibh, ultrices et tincidunt eget, consequat vel risus. Morbi luctus laoreet neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla orci ante, pellentesque eu fermentum sed, gravida ornare metus. Sed elit purus, vehicula nec elit vitae, vulputate gravida purus. Sed quis ligula diam. Morbi fringilla arcu eget commodo placerat. Nullam a nisl sodales, tempor sapien non, consequat leo. Maecenas vehicula diam leo, aliquet egestas massa pulvinar ut. Aenean semper enim urna, in eleifend mi hendrerit feugiat. Mauris ut viverra ligula, nec interdum ligula. In in finibus tortor, ac accumsan tellus." },
        new SlidingTabItem() { IconName="book", Text = "Duis lorem sem, mollis at faucibus ut, viverra eu dolor. Nulla facilisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus euismod arcu eu lectus pellentesque, sed consequat purus bibendum. Nulla facilisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in ligula rutrum, interdum turpis ut, pellentesque massa. Nulla laoreet efficitur libero, a euismod justo. Cras tincidunt non diam eu imperdiet. Integer quis tincidunt tortor. Nullam facilisis nec justo id faucibus. Nam pharetra accumsan pretium. Nunc ac justo non lacus accumsan euismod a ut enim." },
        new SlidingTabItem() { IconName="copyright", Text = "Donec et ex sit amet ante facilisis tempor vitae ac ipsum. Morbi vulputate ac nunc vitae gravida. Duis nisi metus, lacinia quis massa id, elementum fermentum odio. Vivamus eu justo nunc. Duis sit amet dictum velit, vel finibus erat. Duis lobortis sodales lectus. Nullam sit amet varius leo." },
        new SlidingTabItem() { IconName="eco", Text = "Etiam nec erat a augue pulvinar luctus eu eu elit. Aliquam vehicula tellus arcu, sit amet efficitur sapien interdum viverra. In hac habitasse platea dictumst. Vestibulum eget odio nec orci semper condimentum. Aliquam congue ante quis sodales egestas. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam velit leo, porta a rutrum nec, pulvinar a neque. Maecenas egestas eleifend purus, id porttitor est. Duis eu lobortis erat. Sed semper tempus turpis, id scelerisque lorem. Quisque auctor mi enim. Aenean in ultrices dui." },
        new SlidingTabItem() { IconName="label", Text = "Sed at semper leo. Aliquam at libero eu libero mattis pharetra. Aenean et convallis sem. Nullam ullamcorper ullamcorper nibh. Vivamus est metus, interdum id leo et, placerat aliquam felis. Suspendisse semper ex eu mi efficitur, in tempor ipsum facilisis. Quisque maximus lobortis metus, nec hendrerit mauris ullamcorper sed. Donec dignissim, nulla in suscipit pharetra, libero libero mollis neque, id tempus sem metus et risus. In hac habitasse platea dictumst. Ut semper, ipsum nec fermentum sagittis, justo nunc mattis tellus, vel congue ipsum risus et eros. Quisque urna turpis, molestie et felis ut, placerat dapibus augue. Vivamus sagittis nec lacus eu tempor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos." },
        new SlidingTabItem() { IconName="lock", Text = "Fusce eget pretium felis, condimentum gravida ipsum. Pellentesque eget felis pharetra, auctor magna et, lacinia quam. Aenean vel tempus diam. Ut pretium velit sit amet vulputate tempus. Proin lacus erat, scelerisque eget placerat sit amet, consequat tempor dolor. Nullam mattis hendrerit nunc ac congue. Phasellus mollis, ex sed suscipit vehicula, dui neque ultricies magna, et fermentum erat tortor nec enim. Integer hendrerit lectus nibh, ut aliquam urna ultricies finibus. Duis feugiat vel felis blandit accumsan. Maecenas posuere aliquet gravida. Praesent viverra porttitor ipsum, sit amet fermentum velit tempor vitae. Pellentesque aliquet fringilla est, accumsan congue massa. Aenean ligula nisl, imperdiet non purus pellentesque, hendrerit efficitur magna. Morbi consectetur sollicitudin erat, id luctus nisl ultricies posuere. Quisque congue dolor leo, quis ornare felis pellentesque non." },
        new SlidingTabItem() { IconName="restore", Text = "Aenean mollis orci dapibus libero maximus, a mattis odio mollis. Suspendisse potenti. Aenean feugiat faucibus mi quis laoreet. Cras blandit elit in arcu sagittis, id elementum dui consectetur. In vitae dui nec elit semper sodales aliquet sed dui. Donec consectetur molestie odio at pharetra. Morbi molestie, magna in convallis viverra, nibh ipsum efficitur leo, ut pulvinar dolor eros et turpis. Proin vel semper diam. Ut id hendrerit sapien. Aliquam eget finibus dolor. Vivamus ut enim dictum, consectetur felis non, porttitor enim." },
        new SlidingTabItem() { IconName="work", Text = "Morbi luctus tristique eleifend. Proin viverra facilisis erat et pulvinar. Duis bibendum, turpis at malesuada condimentum, ipsum purus facilisis metus, ut sodales nibh urna quis dui. Nulla laoreet metus dolor, vitae bibendum nunc varius ac. Duis vestibulum mauris quis justo aliquam volutpat. Sed ut gravida turpis. Etiam auctor, velit id vulputate ornare, mauris ante porttitor augue, vitae accumsan magna ex eu orci. Quisque eget enim vel augue laoreet mattis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse feugiat venenatis commodo. Suspendisse ultricies odio vel gravida laoreet." },
        new SlidingTabItem() { IconName="album", Text = "Duis ultrices risus vitae ligula consequat porttitor. Donec nec consequat dui. Duis consectetur et ex a vulputate. Ut et augue interdum, bibendum justo nec, venenatis velit. Cras mollis, velit vitae faucibus vestibulum, nibh metus vulputate lectus, eu vehicula urna augue a arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec lacus lacinia, tempus nibh at, lobortis massa. Phasellus eu purus hendrerit eros faucibus vulputate ac vel elit. Pellentesque quis consectetur sem. Aenean imperdiet sed ipsum quis cursus. Vestibulum et pellentesque tortor. Duis gravida ligula eget imperdiet congue." },
        new SlidingTabItem() { IconName="mic", Text = "Nulla volutpat diam nibh, vitae faucibus magna sagittis at. Ut porttitor dictum condimentum. Ut rhoncus mauris laoreet dapibus facilisis. Suspendisse interdum vulputate pulvinar. Nullam lacinia, leo eu laoreet iaculis, leo dui aliquam nibh, et gravida lacus ipsum eu lectus. Fusce varius commodo commodo. Proin eget sapien fermentum, sodales purus accumsan, dignissim orci. Vestibulum vestibulum eros urna, sit amet bibendum dui posuere quis. Integer eu tincidunt massa." },
        new SlidingTabItem() { IconName="speed", Text = "Sed tincidunt, magna a scelerisque laoreet, elit mi pharetra lorem, facilisis ultrices nunc erat quis velit. Praesent mattis facilisis velit eget ullamcorper. Maecenas facilisis ante nunc, in efficitur sapien pharetra vel. Proin lorem orci, facilisis eget metus sit amet, ultricies consequat nisi. Praesent pellentesque cursus ipsum in pellentesque. Donec venenatis, ante vel facilisis placerat, sapien erat rhoncus lectus, eget elementum erat tortor nec nunc. Etiam venenatis ex nec sodales ultricies. Vivamus malesuada nisl laoreet, euismod erat quis, lobortis neque. Curabitur pulvinar purus at nisi aliquam convallis. Suspendisse leo eros, lacinia quis nisl eget, faucibus gravida neque. Morbi a pretium metus." },
        new SlidingTabItem() { IconName="dialpad", Text = "Sed venenatis mattis mi, nec pharetra ipsum vulputate ut. Quisque dapibus sem in turpis cursus volutpat. Nulla euismod accumsan hendrerit. Duis pulvinar pulvinar sapien vel fermentum. Mauris accumsan mollis magna, eu maximus justo iaculis vel. Nunc sit amet pharetra diam, vel volutpat dui. Integer varius vestibulum gravida. Etiam pharetra tortor nec odio dictum tincidunt. Sed fringilla ex luctus, semper est at, faucibus felis. Fusce mollis, erat sed varius imperdiet, nisi orci accumsan urna, sit amet fringilla ipsum nibh iaculis nisi." },
        new SlidingTabItem() { IconName="flag", Text = "Nam vitae lacus pellentesque, sodales quam ac, consectetur leo. Ut libero dolor, lacinia et quam id, sollicitudin condimentum libero. Ut hendrerit iaculis nunc, vitae pulvinar turpis vehicula sit amet. Phasellus porta efficitur lectus, sit amet vulputate urna vulputate a. Fusce sagittis sed nisl quis gravida. Vivamus sit amet pretium mi, nec feugiat ipsum. Praesent dictum ultricies leo nec porta. Donec congue elementum sapien, vitae ullamcorper libero malesuada eget. Phasellus a arcu lobortis, rhoncus sem et, feugiat turpis." },
        new SlidingTabItem() { IconName="cloud", Text = "Quisque ullamcorper est consequat, imperdiet dui eget, mattis metus. Nunc venenatis at orci a facilisis. Donec eget tempor lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at iaculis arcu, non elementum enim. Cras dignissim libero a tincidunt luctus. Praesent dictum cursus tellus nec hendrerit. Mauris tempor fringilla elit a imperdiet. Donec mattis feugiat ullamcorper. Fusce ullamcorper, lectus id sollicitudin tristique, lacus ex gravida quam, a euismod nisl velit eget felis. Nam faucibus orci consectetur ullamcorper semper. In urna metus, aliquet non finibus ut, laoreet in tellus. Vestibulum et urna tincidunt, accumsan massa at, lobortis ligula. Phasellus ullamcorper porta tortor vitae iaculis." },
        new SlidingTabItem() { IconName="laptop", Text = "Maecenas efficitur sagittis sem, non cursus lectus condimentum at. Etiam vel scelerisque est. Duis id aliquam mi, in ultricies tortor. Duis eu viverra lectus, ac ultricies nibh. Nullam convallis id est a consectetur. Proin diam ex, ullamcorper quis consequat ut, vulputate in magna. Morbi in lacus eros. Cras ultrices vel libero nec volutpat. Quisque convallis, urna non viverra accumsan, nibh velit commodo elit, id finibus ipsum quam quis lectus. Suspendisse a aliquam velit, vitae aliquet ipsum. Nam et tempus tortor, eget dignissim nisl. Proin posuere non nibh eget consectetur." },
        new SlidingTabItem() { IconName="colorize", Text = "Sed convallis felis mattis lacus bibendum, a varius lacus malesuada. Cras consequat vulputate felis, ac finibus turpis rutrum a. Donec luctus eros ac neque tempor congue. Sed hendrerit, eros dignissim rhoncus semper, metus urna pretium quam, id finibus quam ex id metus. Nulla laoreet diam vel tortor lobortis, vel imperdiet neque consequat. Morbi libero risus, ornare at tempus sit amet, dapibus posuere sem. Etiam turpis nisi, ornare nec finibus a, commodo eget turpis. Nam non eros et quam ullamcorper interdum ac vel odio. Praesent vel ultrices enim. Praesent feugiat ex vel turpis fermentum, at vulputate mauris blandit. Aliquam erat volutpat. Sed tellus eros, ullamcorper non quam sed, viverra porta velit. Donec nisi lectus, pretium ut iaculis nec, venenatis quis turpis." },
        new SlidingTabItem() { IconName="nature", Text = "Donec gravida diam massa, vitae congue risus molestie ut. Fusce a ex dolor. Sed ut convallis dui. Nulla varius nisi at cursus aliquet. Curabitur rutrum pretium diam, quis euismod lectus. Sed malesuada sapien ut enim efficitur laoreet. In tincidunt sapien et elit accumsan, ut mollis sapien mollis. Suspendisse facilisis, dolor a finibus commodo, augue lectus vestibulum nisl, non pellentesque risus mi vel turpis. Suspendisse ipsum risus, dapibus id bibendum ornare, gravida vel velit. Integer convallis, lacus sit amet scelerisque pellentesque, eros ipsum rhoncus lorem, nec congue metus lectus ac orci. Morbi at felis tincidunt, sollicitudin felis ac, dapibus turpis. Aliquam blandit venenatis est, nec dictum odio. Morbi aliquam ultrices nulla, non vehicula ex mattis ut. Quisque blandit tempus lorem, sed mattis nisl finibus sit amet. Fusce ut tempus tellus, non gravida ipsum." },
        new SlidingTabItem() { IconName="layers", Text = "Nullam varius lacus sed elementum euismod. In hac habitasse platea dictumst. Duis tempor nec leo vitae posuere. Morbi rhoncus tortor non gravida dictum. Pellentesque feugiat mollis est, et volutpat est semper non. Curabitur vel massa eu sem rutrum viverra. Pellentesque mollis arcu sed iaculis vulputate." },
        new SlidingTabItem() { IconName="map", Text = "Vestibulum nunc dolor, placerat facilisis dui sed, pretium eleifend nulla. Ut varius facilisis erat. Nullam condimentum blandit ex at pulvinar. Mauris vulputate semper venenatis. Donec eu ex sit amet odio imperdiet gravida. Etiam et dui ac arcu ornare eleifend. Etiam sollicitudin urna a aliquam varius. Vestibulum vel rutrum dolor, commodo lobortis libero. Sed iaculis rutrum euismod. Curabitur a quam nec dui pulvinar volutpat. Integer dictum orci nec facilisis pellentesque. Fusce maximus pulvinar diam, eu posuere arcu. Mauris lorem nulla, pretium at luctus nec, tincidunt nec est. Vivamus sit amet sagittis tellus, quis pellentesque libero. Pellentesque a felis erat. Sed non ex est." }
    };


                public class SlidingTabItem
                {
                    public string IconName;
                    public string Text;
                }


                public string[] Fruits = { "Avocado", "Banana", "Blackberry", "Blueberry", "Cantaloupe", "Cherry", "Clementine", "Dragonfruit", "Fig", "Grape", "Guava", "Honeydew", "Huckleberry", "Jujube", "Kiwi", "Kumquat", "Lime", "Nectarine", "Orange", "Papaya", "Passion Fruit", "Pineapple", "Plum", "Pomegranate", "Raspberry", "Satsuma", "Strawberry", "Tangerine", "Tomato", "Watermelon" };


                private void AlarmButtonClick() => FirstTabIndex = 1;

                private int[] SecondTabIdentifiers { get; set; } = { 1, 2, 3 };
                private int SecondTabIndex { get; set; } = 0;
                private FormValidation.FormModel Model { get; set; } = new();
            }