@page "/slider"

@inject IMBToastService ToastService


<DemonstrationPage ComponentName="Slider"
                   Title="Single Thumb Slider"
                   DemoComponent="@this"
                   MaterialIOPage="mdc-slider#slider"
                   RequiresDisableSelection="true">
    <Description>
        <p>
            Single thumb sliders, responding to user events in three ways:

            <ol>
                <li><strong>Thumb-up</strong> emits events when the user lets releases the slider after movement.</li>
                <li><strong>Continuous Debounced</strong> emits events while the user is holding the thumb, but only after pausing motion.</li>
                <li><strong>Continuous Throttled</strong> emits events while the user is moving the thumb, but throttled against the specified delay.</li>
            </ol>
        </p>
    </Description>

    <PageContent>
        <div class="mdc-layout-grid__cell--span-12">
            <MBCard AutoStyled="true">
                <Primary>
                    <div class="mdc-slider mdc-slider--range">
                        <input class="mdc-slider__input" type="range" min="0" max="70" value="30" name="rangeStart" aria-label="Range slider demo">
                        <input class="mdc-slider__input" type="range" min="30" max="100" value="70" name="rangeEnd" aria-label="Range slider demo">
                        <div class="mdc-slider__track">
                            <div class="mdc-slider__track--inactive"></div>
                            <div class="mdc-slider__track--active">
                                <div class="mdc-slider__track--active_fill"
                                     style="transform:scaleX(.4); left:30%"></div>
                            </div>
                        </div>
                        <div class="mdc-slider__thumb" style="left:calc(30%-24px)">
                            <div class="mdc-slider__thumb-knob"></div>
                        </div>
                        <div class="mdc-slider__thumb" style="left:calc(70%-24px)">
                            <div class="mdc-slider__thumb-knob"></div>
                        </div>
                    </div>


                    <div id="slider2" class="mdc-slider">
                        <input class="mdc-slider__input" type="range" min="0" max="100" value="16.7" name="volume" aria-label="Continuous slider demo">
                        <div class="mdc-slider__track">
                            <div class="mdc-slider__track--inactive"></div>
                            <div class="mdc-slider__track--active">
                                <div class="mdc-slider__track--active_fill" style="transform: scaleX(0.167);"></div>
                            </div>
                        </div>
                        <div class="mdc-slider__thumb" style="left: calc(16.7% - 24px)">
                            <div class="mdc-slider__thumb-knob"></div>
                        </div>
                    </div>
                </Primary>
            </MBCard>
        </div>


        <div class="mdc-layout-grid__cell--span-12">
            <MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Continuous Slider
                    </h2>

                    <p>With non-continuous input, yielding a value of @Value1a.ToString("N2")</p>
                    <p><MBSlider @bind-Value="@Value1a" SliderType="@MBSliderType.Continuous" ValueMin="0" ValueMax="100" DecimalPlaces="2" AriaLabel="Continuous Slider" /></p>
                    <p><MBSlider @bind-Value="@Value1a" SliderType="@MBSliderType.Continuous" ValueMin="0" ValueMax="100" DecimalPlaces="2" AriaLabel="Continuous Slider" /></p>

                    <p>With continuous input and 300ms debounce delay, yielding a value of @Value1b.ToString("N2")</p>
                    <p><MBSlider @bind-Value="@Value1b" SliderType="@MBSliderType.Continuous" ValueMin="0" ValueMax="100" DecimalPlaces="2" AriaLabel="Continuous Slider" EventType="@MBInputEventType.OnInputDebounced" ContinuousInputDelay="@DebounceDelay" /></p>
                    <p><MBSlider @bind-Value="@Value1b" SliderType="@MBSliderType.Continuous" ValueMin="0" ValueMax="100" DecimalPlaces="2" AriaLabel="Continuous Slider" EventType="@MBInputEventType.OnInputDebounced" ContinuousInputDelay="@DebounceDelay" /></p>

                    <p>With continuous input and 300ms throttle delay, yielding a value of @Value1c.ToString("N2")</p>
                    <p><MBSlider @bind-Value="@Value1c" SliderType="@MBSliderType.Continuous" ValueMin="0" ValueMax="100" DecimalPlaces="2" AriaLabel="Continuous Slider" EventType="@MBInputEventType.OnInputThrottled" ContinuousInputDelay="@DebounceDelay" /></p>
                    <p><MBSlider @bind-Value="@Value1c" SliderType="@MBSliderType.Continuous" ValueMin="0" ValueMax="100" DecimalPlaces="2" AriaLabel="Continuous Slider" EventType="@MBInputEventType.OnInputThrottled" ContinuousInputDelay="@DebounceDelay" /></p>
                </Primary>
            </MBCard>
        </div>


        <div class="mdc-layout-grid__cell--span-12">
            <MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Discrete Sliders
                    </h2>

                    <p>With non-continuous input, yielding a value of @Value2a.ToString("N2")</p>
                    <p><MBSlider @bind-Value="@Value2a" SliderType="@MBSliderType.Discrete" ValueMin="0" ValueMax="10" DecimalPlaces="0" AriaLabel="Discrete Slider" /></p>
                    <p><MBSlider @bind-Value="@Value2a" SliderType="@MBSliderType.DiscreteWithTickmarks" ValueMin="0" ValueMax="10" DecimalPlaces="0" AriaLabel="Discrete Slider" /></p>

                    <p>With continuous input and 300ms debounce delay, yielding a value of @Value2b.ToString("N2")</p>
                    <p><MBSlider @bind-Value="@Value2b" SliderType="@MBSliderType.Discrete" ValueMin="0" ValueMax="10" DecimalPlaces="0" AriaLabel="Discrete Slider" EventType="@MBInputEventType.OnInputDebounced" ContinuousInputDelay="@DebounceDelay" /></p>
                    <p><MBSlider @bind-Value="@Value2b" SliderType="@MBSliderType.DiscreteWithTickmarks" ValueMin="0" ValueMax="10" DecimalPlaces="0" AriaLabel="Discrete Slider" EventType="@MBInputEventType.OnInputDebounced" ContinuousInputDelay="@DebounceDelay" /></p>

                    <p>With continuous input and 300ms throttle delay, yielding a value of @Value2c.ToString("N2")</p>
                    <p><MBSlider @bind-Value="@Value2c" SliderType="@MBSliderType.Discrete" ValueMin="0" ValueMax="10" DecimalPlaces="0" AriaLabel="Discrete Slider" EventType="@MBInputEventType.OnInputThrottled" ContinuousInputDelay="@DebounceDelay" /></p>
                    <p><MBSlider @bind-Value="@Value2c" SliderType="@MBSliderType.DiscreteWithTickmarks" ValueMin="0" ValueMax="10" DecimalPlaces="0" AriaLabel="Discrete Slider" EventType="@MBInputEventType.OnInputThrottled" ContinuousInputDelay="@DebounceDelay" /></p>
                </Primary>
            </MBCard>
        </div>
    </PageContent>
</DemonstrationPage>


@code {
    double Value1a = 16.67;
    double Value1b = 33.33;
    double Value1c = 66.67;
    double Value2a = 3;
    double Value2b = 5;
    double Value2c = 7;

    uint DebounceDelay = 300;
}