@page "/textarea"

@inject IMBToastService ToastService


<DemonstrationPage ComponentName="TextArea"
                   DemoComponent="@this"
                   MaterialIOPage="mdc-textfield#text-field"
                   MinDensity="MBDensity.Minus4"
                   RequiresDisableSelection="true"
                   Title="Text Area Demonstration">
    <Description>
        <p>
            Filled and outlined text fields with icon usage, class and style application and finally density.
        </p>
    </Description>

    <PageContent>
        <div class="mdc-layout-grid__cell--span-4">
            <MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Default Style
                    </h2>

                    <MBTextArea @bind-Value="@DefaultStyle"
                                class="supplied-test-class"
                                id="supplied-test-id"
                                Label="Filled"
                                Rows="3"
                                style="margin: 6px; " />
                </Primary>
            </MBCard>
        </div>



        <div class="mdc-layout-grid__cell--span-4">
            <MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Filled Style
                    </h2>

                    <MBTextArea @bind-Value="@FilledStyle"
                                Label="Filled"
                                Rows="3"
                                style="margin: 6px; "
                                TextInputStyle="MBTextInputStyle.Filled" />
                </Primary>
            </MBCard>
        </div>



        <div class="mdc-layout-grid__cell--span-4">
            <MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Outlined Style
                    </h2>

                    <MBTextArea @bind-Value="@OutlinedStyle"
                                Label="Filled"
                                Rows="3"
                                style="margin: 6px; "
                                TextInputStyle="MBTextInputStyle.Outlined" />
                </Primary>
            </MBCard>
        </div>



        <div class="mdc-layout-grid__cell--span-4">
            <MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Helper Text
                    </h2>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Shows persistent and non-persistent helper text.
                    </h3>

                    <MBTextArea @bind-Value="@PopupHelperText"
                                HelperText="Some helper text that pops up"
                                Label="Popup Helper Text"
                                style="margin: 6px; " />

                    <MBTextArea @bind-Value="@PersistentHelperText"
                                Label="Persistent Helper Text"
                                HelperText="Some persistent helper text"
                                HelperTextPersistent="true"
                                style="margin: 6px; " />
                </Primary>
            </MBCard>
        </div>
    </PageContent>
</DemonstrationPage>


@code {
    private string DefaultStyle { get; set; }

    private string FilledStyle { get; set; }

    private string OutlinedStyle { get; set; }

    private string PopupHelperText { get; set; }

    private string PersistentHelperText { get; set; }
}