@page "/textfield"

@inject IMBToastService ToastService


<DemonstrationPage ComponentName="TextField"
                   DemoComponent="@this"
                   MaterialIOPage="mdc-textfield#text-field"
                   MinDensity="MBDensity.Minus4"
                   RequiresDisableSelection="true"
                   Title="Text Field Demonstration">
    <Description>
        <p>
            Filled and outlined text fields with icon usage, class and style application and finally density.
        </p>
    </Description>

    <PageContent>
        <div class="mdc-layout-grid__cell--span-4">
            <MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Text Field Styles
                    </h2>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Default and explicit text field styles.
                    </h3>

                    <MBTextField @bind-Value="@DefaultStyle"
                                 class="supplied-test-class"
                                 id="supplied-test-id"
                                 Label="Default (Filled) Style"
                                 style="margin: 6px; " />
                    <MBTextField @bind-Value="@FilledStyle"
                                 Label="Explicit Filled Style"
                                 style="margin: 6px; "
                                 TextInputStyle="MBTextInputStyle.Filled" />
                    <MBTextField @bind-Value="@OutlinedStyle"
                                 Label="Outlined Style"
                                 style="margin: 6px; "
                                 TextInputStyle="MBTextInputStyle.Outlined" />
                </Primary>
            </MBCard>
        </div>



        <div class="mdc-layout-grid__cell--span-4">
            <MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Icons
                    </h2>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Leading and trailing icons - both using icons from the Material Icons, Font Awesome and Open Iconic foundries.
                    </h3>

                    <MBTextField IconFoundry="@MBIconHelper.MIFoundry(MBIconMITheme.TwoTone)"
                                 Label="Leading Icon"
                                 LeadingIcon="print"
                                 style="margin: 6px; "
                                 TextInputStyle="MBTextInputStyle.Filled" />
                    <MBTextField IconFoundry="@MBIconHelper.MIFoundry(MBIconMITheme.Round)"
                                 Label="Trailing Icon"
                                 style="margin: 6px; "
                                 TextInputStyle="MBTextInputStyle.Filled"
                                 TrailingIcon="import_contacts" />
                    <MBTextField IconFoundry="@MBIconHelper.FAFoundry()"
                                 Label="Leading Icon"
                                 LeadingIcon="fa-car-crash"
                                 style="margin: 6px; "
                                 TextInputStyle="MBTextInputStyle.Outlined" />
                    <MBTextField IconFoundry="@MBIconHelper.OIFoundry()"
                                 Label="Trailing Icon"
                                 style="margin: 6px; "
                                 TextInputStyle="MBTextInputStyle.Outlined"
                                 TrailingIcon="microphone" />
                </Primary>
            </MBCard>
        </div>



        <div class="mdc-layout-grid__cell--span-4">
            <MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Prefix and Suffix
                    </h2>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Prefix and Suffix text applied within fields.
                    </h3>

                    <MBTextField Label="Prefix"
                                 Prefix="$"
                                 style="margin: 6px; "
                                 TextInputStyle="MBTextInputStyle.Filled" />
                    <MBTextField Label="Suffix"
                                 Suffix="%"
                                 style="margin: 6px; "
                                 TextInputStyle="MBTextInputStyle.Filled" />
                    <MBTextField Label="Prefix"
                                 Prefix="$"
                                 style="margin: 6px; "
                                 TextInputStyle="MBTextInputStyle.Outlined" />
                    <MBTextField Label="Suffix"
                                 Suffix="%"
                                 style="margin: 6px; "
                                 TextInputStyle="MBTextInputStyle.Outlined" />
                </Primary>
            </MBCard>
        </div>



        <div class="mdc-layout-grid__cell--span-4">
            <MBCard AutoStyled="true">
                <Primary>
                    <style>
                        .text-green {
                            background-color: var(--mb-color-light-green-600) !important;
                        }
                    </style>

                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Class and Style
                    </h2>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Background color set by CSS class and style attributes.
                    </h3>

                    <MBTextField class="text-green"
                                 Label="Green by class"
                                 style="margin: 6px; " />
                    <MBTextField Label="Amber by style"
                                 style="margin: 6px; background-color: var(--mb-color-amber-800);" />
                </Primary>
            </MBCard>
        </div>



        <div class="mdc-layout-grid__cell--span-4">
            <MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Contents Alignment
                    </h2>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Left, center and right aligned text (not the same as right-to-left script).
                    </h3>

                    <MBTextField Label="Left Aligned"
                                 style="margin: 6px; "
                                 TextAlignStyle="@MBTextAlignStyle.Left" />
                    <MBTextField Label="Centered"
                                 style="margin: 6px; "
                                 TextAlignStyle="@MBTextAlignStyle.Center" />
                    <MBTextField Label="Right Aligned"
                                 style="margin: 6px; "
                                 TextAlignStyle="@MBTextAlignStyle.Right" />
                </Primary>
            </MBCard>
        </div>



        <div class="mdc-layout-grid__cell--span-4">
            <MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Passwords
                    </h2>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Standard HTML input obscuring with <code>type="password"</code>
                    </h3>

                    <MBTextField @bind-Value="@Password"
                                 Label="Password"
                                 style="margin: 6px; "
                                 type="password" />
                </Primary>
            </MBCard>
        </div>



        <div class="mdc-layout-grid__cell--span-4">
            <MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Two Way Binding
                    </h2>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Shows two way binding for text fields.
                    </h3>

                    <MBTextField @bind-Value="@TwoWayBinding"
                                 Label="First Linked Field"
                                 style="margin: 6px; " />
                    <MBTextField @bind-Value="@TwoWayBinding"
                                 Label="Second Linked Field"
                                 style="margin: 6px; " />
                </Primary>
            </MBCard>
        </div>



        <div class="mdc-layout-grid__cell--span-4">
            <MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Helper Text
                    </h2>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Shows persistent and non-persistent helper text.
                    </h3>

                    <MBTextField @bind-Value="@PopupHelperText"
                                 HelperText="Some helper text that pops up<br />More"
                                 Label="Popup Helper Text"
                                 style="margin: 6px; " />
                    <MBTextField @bind-Value="@PersistentHelperText"
                                 HelperText="Some persistent helper text"
                                 HelperTextPersistent="true"
                                 Label="Persistent Helper Text"
                                 style="margin: 6px; " />
                </Primary>
            </MBCard>
        </div>



        <div class="mdc-layout-grid__cell--span-4">
            <MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Filled Density
                    </h2>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Filled density subsystem from default to minus 4.
                    </h3>

                    <MBTextField Density="@MBDensity.Default"
                                 Label="Default Density"
                                 style="margin: 6px; "
                                 TextInputStyle="MBTextInputStyle.Filled" />
                    <MBTextField Density="@MBDensity.Minus1"
                                 Label="Density Minus 1"
                                 style="margin: 6px; "
                                 TextInputStyle="MBTextInputStyle.Filled" />
                    <MBTextField Density="@MBDensity.Minus2"
                                 Label="Density Minus 2"
                                 style="margin: 6px; "
                                 TextInputStyle="MBTextInputStyle.Filled" />
                    <MBTextField Density="@MBDensity.Minus3"
                                 Label="Density Minus 3"
                                 style="margin: 6px; "
                                 TextInputStyle="MBTextInputStyle.Filled" />
                    <MBTextField Density="@MBDensity.Minus4"
                                 Label="Density Minus 4"
                                 style="margin: 6px; "
                                 TextInputStyle="MBTextInputStyle.Filled" />
                </Primary>
            </MBCard>
        </div>



        <div class="mdc-layout-grid__cell--span-4">
            <MBCard AutoStyled="true">
                <Primary>
                    <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                        Outlined Density
                    </h2>

                    <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Outlined density subsystem from default to minus 4.
                    </h3>

                    <MBTextField Density="@MBDensity.Default"
                                 Label="Default Density"
                                 style="margin: 6px; "
                                 TextInputStyle="MBTextInputStyle.Outlined" />
                    <MBTextField Density="@MBDensity.Minus1"
                                 Label="Density Minus 1"
                                 style="margin: 6px; "
                                 TextInputStyle="MBTextInputStyle.Outlined" />
                    <MBTextField Density="@MBDensity.Minus2"
                                 Label="Density Minus 2"
                                 style="margin: 6px; "
                                 TextInputStyle="MBTextInputStyle.Outlined" />
                    <MBTextField Density="@MBDensity.Minus3"
                                 Label="Density Minus 3"
                                 style="margin: 6px; "
                                 TextInputStyle="MBTextInputStyle.Outlined" />
                    <MBTextField Density="@MBDensity.Minus4"
                                 Label="Density Minus 4"
                                 style="margin: 6px; "
                                 TextInputStyle="MBTextInputStyle.Outlined" />
                </Primary>
            </MBCard>
        </div>
    </PageContent>
</DemonstrationPage>


@code {
    private string DefaultStyle { get; set; }

    private string FilledStyle { get; set; }

    private string OutlinedStyle { get; set; }

    private string Password { get; set; }

    private string TwoWayBinding { get; set; }

    private string PopupHelperText { get; set; }

    private string PersistentHelperText { get; set; }
}