@page "/typography"


<DemonstrationPage DemoComponent="@this"
                   Title="Typography Demonstration">
    <Description>
        <h2>Non-component</h2>
        <p>
            Demonstrates typography variations.
        </p>
    </Description>

    <PageContent>
        <div class="mdc-layout-grid__cell--span-12">
            <MBCard AutoStyled="true">
                <Primary>
                    <div class="mdc-layout-grid__inner" style="white-space: nowrap;">
                        <div class="mdc-layout-grid__cell--span-12">
                            <h2 class="mb-card__title mdc-typography mdc-typography--headline6">
                                Typography
                            </h2>

                            <h3 class="mb-card__subtitle mdc-typography mdc-typography--subtitle2">
                                Shows the styles available from Material Theme.
                            </h3>
                        </div>

                        <div class="mdc-layout-grid__cell--span-4">
                            <MBCard CardStyle="@MBCardStyle.Outlined"
                                    style="overflow: auto; padding: 1rem;"
                                    Tooltip="mdc-typography--headline1">
                                <Primary>
                                    <h1 class="mdc-typography--headline1">Headline 1</h1>
                                </Primary>
                            </MBCard>
                        </div>

                        <div class="mdc-layout-grid__cell--span-4">
                            <MBCard CardStyle="@MBCardStyle.Outlined"
                                    style="overflow: auto; padding: 1rem;"
                                    Tooltip="mdc-typography--headline2">
                                <Primary>
                                    <h2 class="mdc-typography--headline2">Headline 2</h2>
                                </Primary>
                            </MBCard>
                        </div>

                        <div class="mdc-layout-grid__cell--span-4">
                            <MBCard CardStyle="@MBCardStyle.Outlined"
                                    style="overflow: auto; padding: 1rem;"
                                    Tooltip="mdc-typography--headline3">
                                <Primary>
                                    <h3 class="mdc-typography--headline3">Headline 3</h3>
                                </Primary>
                            </MBCard>
                        </div>

                        <div class="mdc-layout-grid__cell--span-4">
                            <MBCard CardStyle="@MBCardStyle.Outlined"
                                    style="overflow: auto; padding: 1rem;"
                                    Tooltip="mdc-typography--headline4">
                                <Primary>
                                    <h4 class="mdc-typography--headline4">Headline 4</h4>
                                </Primary>
                            </MBCard>
                        </div>

                        <div class="mdc-layout-grid__cell--span-4">
                            <MBCard CardStyle="@MBCardStyle.Outlined"
                                    style="overflow: auto; padding: 1rem;"
                                    Tooltip="mdc-typography--headline5">
                                <Primary>
                                    <h5 class="mdc-typography--headline5">Headline 5</h5>
                                </Primary>
                            </MBCard>
                        </div>

                        <div class="mdc-layout-grid__cell--span-4">
                            <MBCard CardStyle="@MBCardStyle.Outlined"
                                    style="overflow: auto; padding: 1rem;"
                                    Tooltip="mdc-typography--headline6">
                                <Primary>
                                    <h6 class="mdc-typography--headline6">Headline 6</h6>
                                </Primary>
                            </MBCard>
                        </div>

                        <div class="mdc-layout-grid__cell--span-4">
                            <MBCard CardStyle="@MBCardStyle.Outlined"
                                    style="overflow: auto; padding: 1rem;"
                                    Tooltip="mdc-typography--subtitle1">
                                <Primary>
                                    <h6 class="mdc-typography--subtitle1">Subtitle 1</h6>
                                </Primary>
                            </MBCard>
                        </div>

                        <div class="mdc-layout-grid__cell--span-4">
                            <MBCard CardStyle="@MBCardStyle.Outlined"
                                    style="overflow: auto; padding: 1rem;"
                                    Tooltip="mdc-typography--subtitle2">
                                <Primary>
                                    <h6 class="mdc-typography--subtitle2">Subtitle 2</h6>
                                </Primary>
                            </MBCard>
                        </div>

                        <div class="mdc-layout-grid__cell--span-4">
                            <MBCard CardStyle="@MBCardStyle.Outlined"
                                    style="overflow: auto; padding: 1rem;"
                                    Tooltip="mdc-typography--body1">
                                <Primary>
                                    <p class="mdc-typography--body1">Body 1</p>
                                </Primary>
                            </MBCard>
                        </div>

                        <div class="mdc-layout-grid__cell--span-4">
                            <MBCard CardStyle="@MBCardStyle.Outlined"
                                    style="overflow: auto; padding: 1rem;"
                                    Tooltip="mdc-typography--body2">
                                <Primary>
                                    <p class="mdc-typography--body2">Body 2</p>
                                </Primary>
                            </MBCard>
                        </div>

                        <div class="mdc-layout-grid__cell--span-4">
                            <MBCard CardStyle="@MBCardStyle.Outlined"
                                    style="overflow: auto; padding: 1rem;"
                                    Tooltip="mdc-typography--caption">
                                <Primary>
                                    <p class="mdc-typography--caption">Caption</p>
                                </Primary>
                            </MBCard>
                        </div>

                        <div class="mdc-layout-grid__cell--span-4">
                            <MBCard CardStyle="@MBCardStyle.Outlined"
                                    style="overflow: auto; padding: 1rem;"
                                    Tooltip="mdc-typography--overline">
                                <Primary>
                                    <p class="mdc-typography--overline">Overline</p>
                                </Primary>
                            </MBCard>
                        </div>

                        <div class="mdc-layout-grid__cell--span-4">
                            <MBCard CardStyle="@MBCardStyle.Outlined"
                                    style="overflow: auto; padding: 1rem;"
                                    Tooltip="mdc-typography">
                                <Primary>
                                    <p class="mdc-typography">Regular paragraph with the 'mdc-typography' class applied</p>
                                </Primary>
                            </MBCard>
                        </div>

                        <div class="mdc-layout-grid__cell--span-4">
                            <MBCard CardStyle="@MBCardStyle.Outlined"
                                    style="overflow: auto; padding: 1rem;"
                                    Tooltip="mdc-typography + style attribute">
                                <Primary>
                                    <p class="mdc-typography" style="color: var(--mb-color-red-300);">Material Theme color 'red 300' from a CSS variable</p>
                                </Primary>
                            </MBCard>
                        </div>
                    </div>
                </Primary>
            </MBCard>
        </div>
    </PageContent>
</DemonstrationPage>