@namespace Material.Blazor

@inherits InputComponent<double>

<div @ref="@ElementReference"
     class="mdc-circular-progress @ActiveConditionalClasses @(@class)"
     style="@SizeStyle @style"
     id="@id"
     @attributes="AttributesToSplat()"
     role="progressbar"
     aria-label="@AriaLabel"
     aria-valuemin="0"
     aria-valuemax="1"
     aria-valuenow="@IntialValue">
    <div class="mdc-circular-progress__determinate-container">
        @SVGDeterminate
    </div>
    <div class="mdc-circular-progress__indeterminate-container">
        <div class="mdc-circular-progress__spinner-layer">
            <div class="mdc-circular-progress__circle-clipper mdc-circular-progress__circle-left">
                @SVGIndeterminate
            </div>
            <div class="mdc-circular-progress__gap-patch">
                @SVGIndeterminate
            </div>
            <div class="mdc-circular-progress__circle-clipper mdc-circular-progress__circle-right">
                @SVGIndeterminate
            </div>
        </div>
    </div>
</div>