@namespace Material.Blazor

@inherits SingleSelectComponent<TItem, MBSelectElement<TItem>>
@typeparam TItem


<div @attributes="@AttributesToSplat()">

    @foreach (var item in Items)
    {
        <MBRadioButton @bind-Value="@ComponentValue"
                       Density="@Density"
                       Disabled="@item.Disabled"
                       @key="@KeyGenerator(item.SelectedValue)"
                       Label="@item.Label"
                       RadioGroupName="@RadioGroupName"
                       TargetCheckedValue="@item.SelectedValue"
                       TItem="TItem" />
    }

</div>