@namespace Material.Blazor
@inherits SingleSelectComponentFoundation<TItem, MBSelectElement<TItem>>
@typeparam TItem


<div @attributes="@AttributesToSplat()">

    @foreach (var item in Items)
    {
        <MBRadioButton @key="@KeyGenerator(item.SelectedValue)"
                       @bind-Value="@ComponentValue"
                       TItem="TItem"
                       Disabled="@item.Disabled"
                       EnableTouchWrapper="@EnableTouchWrapper"
                       Label="@item.Label"
                       Density="@Density"
                       TargetCheckedValue="@item.SelectedValue"
                       RadioGroupName="@RadioGroupName" />
    }

</div>