@namespace Material.Blazor
@inherits ComponentFoundation

<table border="1">
    <tr>
        <th align="left">Property</th>
        <th align="left">Value</th>
    </tr>
    <tr>
        <td>mbIconColor</td>
        <td>@color</td>
    </tr>
    <tr>
        <td>mbIconFill</td>
        <td>@fill.ToString()</td>
    </tr>
    <tr>
        <td>mbIconGradient</td>
        <td>@gradient.ToString()</td>
    </tr>
    <tr>
        <td>mbIconSize</td>
        <td>@size.ToString()</td>
    </tr>
    <tr>
        <td>mbIconStyle</td>
        <td>@styleZ.ToString()</td>
    </tr>
    <tr>
        <td>mbIconWeight</td>
        <td>@weight.ToString()</td>
    </tr>
</table>
