@namespace BlazorMdc.Demo

@page "/radiobuttons"

@using BlazorMdc

<h1 class="@MdcTypography.Heading4">Radio button samples</h1>

<p>See <code>RadioButtonsSample.razor</code> for sources.</p>

<MdcRadioButton @bind-Value="@animal"
                CheckedValue=@zebraCheckedValue
                Label="zebra"
                RadioGroupName="demoGroup" />

<MdcRadioButton @bind-Value="@animal"
                CheckedValue=@dogCheckedValue
                Label="dog"
                RadioGroupName="demoGroup" />
<p style="margin-bottom: 4em;">Selected: '<strong>@(animal ?? "")</strong>'</p>



<PMdcRadioButtonGroup @bind-Value="@kittenBreed"
                      Items="stringItems"
                      ItemValidation="@MdcItemValidation.DefaultToFirst" />
<p style="margin-bottom: 4em;">Selected: '<strong>@(kittenBreed ?? "")</strong>'</p>


<PMdcRadioButtonGroup @bind-Value="@colour"
                      Items="colourItems"
                      Vertical="true"
                      EnableTouchWrapper="false" />
<p style="margin-bottom: 4em;">Selected: '<strong>@(colour.ToString())</strong>'</p>


@code {
    string animal = "zebra";
    string zebraCheckedValue = "zebra";
    string dogCheckedValue = "dog";


    string kittenBreed;
    MdcListElement<string>[] stringItems = new MdcListElement<string>[]
    {
        new MdcListElement<string> { SelectedValue = "brit-short", Label = "British Shorthair" },
        new MdcListElement<string> { SelectedValue = "russ-blue", Label = "Russian Blue" },
        new MdcListElement<string> { SelectedValue = "ice-invis", Label = "Icelandic Invisible" }
    };


    Colour colour;
    enum Colour { Red, Orange, Yellow, Green, Blue, Indigo, Violet };
    IEnumerable<MdcListElement<Colour>> colourItems => from c in (Colour[])Enum.GetValues(typeof(Colour))
                                                       select new MdcListElement<Colour>
                                                       {
                                                           SelectedValue = c,
                                                           Label = c.ToString() + ((c == Colour.Blue) ? " (disabled)" : ""),
                                                           Disabled = c == Colour.Blue
                                                       };
}