@namespace BlazorMdc

<div class="mdc-card__primary-action @myClass" 
     tabindex="0"
     @onclick="@OnClick"
     @onmousedown="@OnMouseDown" 
     @onkeydown="@OnKeyDown" 
     @ontouchstart="@OnTouchStart">
    @ChildContent
</div>

@code {
    [CascadingParameter]
    private MdcCard Parent { get; set; }

    [Parameter] public EventCallback OnClick { get; set; }
    [Parameter] public EventCallback OnMouseDown { get; set; }
    [Parameter] public EventCallback OnKeyDown { get; set; }
    [Parameter] public EventCallback OnTouchStart { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }

    private string myClass => Parent.AutoStyled ? "bmdc-card__primary-action" : "";
}