@namespace BlazorMdc.Demo

@page "/dialog"


@if (!HideHeading)
{
    <h1 class="@MdcTypography.Heading4">Dialog samples</h1>

    <p>See <code>DialogSample.razor</code> for sources.</p>

    <p>Note that the user can also press 'escape' or click in the scrim to dismiss the dialog (unless those actions are disabled, see example 4 below), and this produces a different result string.</p>
}


<p><MdcButton Label="Show general dialog" OnClick="@ShowDialog1"></MdcButton></p>

<p>Result: <strong>'@(result1 ?? "")'</strong></p>

<MdcDialog @ref="@dialog1" Title="General dialog">
    <Body>
        <p>Please choose a fruit.</p>
        <MdcCheckbox @bind-Value="@checkMe" Label="Check me" />
        <PMdcRadioButtonGroup Items="stringItems" Vertical="true" />
    </Body>
    <Buttons>
        <MdcButton Label="Orange" DialogAction="orange"></MdcButton>
        <MdcButton Label="Apple" DialogAction="apple" ButtonStyle="@MdcButtonStyle.Text"></MdcButton>
    </Buttons>
</MdcDialog>



<p style="margin-top: 3rem;"><MdcButton Label="Show default confirmation dialog" OnClick="@ShowDialog2"></MdcButton></p>

<p>Result: <strong>'@(result2 ?? "")'</strong></p>

<PMdcConfirmationDialog @ref="@dialog2" Title="Default confirmation dialog"></PMdcConfirmationDialog>



<p style="margin-top: 3rem;"><MdcButton Label="Show tailored confirmation dialog" OnClick="@ShowDialog3"></MdcButton></p>

<p>Result: <strong>'@(result3 ?? "")'</strong></p>

<PMdcConfirmationDialog @ref="@dialog3" Title="Tailored confirmation dialog" InputText="overridden confirmation" ActionText="to play handball" InputDisabled="@disableInput">
    <Body>
        <p>Some markup before the confirmation message and input.</p>
        <p><MdcCheckbox @bind-Value="@disableInput" Label="Disable confirmation input field" /></p>
    </Body>
    <UnconfirmedButtons>
        <MdcButton Label="Bish" LeadingIcon="alarm_on" DialogAction="bish" />
        <MdcButton Label="Bash" LeadingIcon="accessibility_new" DialogAction="bash" />
        <MdcButton Label="Bosh" LeadingIcon="sports_handball" Disabled="true" DialogAction="bosh" ButtonStyle="MdcButtonStyle.ContainedRaised" />
    </UnconfirmedButtons>
    <ConfirmedButtons>
        <MdcButton Label="Bish" LeadingIcon="alarm_on" DialogAction="bish" />
        <MdcButton Label="Bash" LeadingIcon="accessibility_new" DialogAction="bash" />
        <MdcButton Label="Bosh" LeadingIcon="sports_handball" DialogAction="bosh" ButtonStyle="MdcButtonStyle.ContainedRaised" />
    </ConfirmedButtons>
</PMdcConfirmationDialog>


<p style="margin-top: 3rem;"><MdcButton Label="Show general dialog with scrim and escape disabled (using HideAsync)" OnClick="@ShowDialog4"></MdcButton></p>

<p>Logical result: <strong>'@(result4 ?? "")'</strong></p>
<p>Dialog result: <strong>'@(dialogResult4 ?? "")'</strong></p>

<MdcDialog @ref="@dialog4" Title="General dialog with scrim and escape disabled (using HideAsync)"
           ScrimClickAction=""
           EscapeKeyAction="">
    <Body>
        <p>Please choose a fruit.</p>
        <p><MdcCheckbox @bind-Value="@checkMe" Label="Check me" /></p>
    </Body>
    <Buttons>
        <MdcButton Label="Orange" OnClick="orangeClick"></MdcButton>
        <MdcButton Label="Apple" OnClick="appleClick" ButtonStyle="@MdcButtonStyle.Text"></MdcButton>
    </Buttons>
</MdcDialog>


<p style="margin-top: 3rem;"><MdcButton Label="Dialog with Date Picker & OverflowVisible" OnClick="@ShowDialog5"></MdcButton></p>

<p>Result: <strong>'@(date5.ToString("d") ?? "")'</strong></p>

<MdcDialog @ref="@dialog5" Title="Date Picker Dialog"
           OverflowVisible="true">
    <Body>
        <p>Set the date.</p>
        <PMdcDatePicker Label="The date" @bind-Value="@date5" SelectInputStyle="MdcSelectInputStyle.Outlined" MinDate="minDate" MaxDate="maxDate"></PMdcDatePicker>
    </Body>
    <Buttons>
        <MdcButton Label="Orange" DialogAction="orange"></MdcButton>
        <MdcButton Label="Apple" DialogAction="apple" ButtonStyle="@MdcButtonStyle.Text"></MdcButton>
    </Buttons>
</MdcDialog>


<p style="margin-top: 3rem;"><MdcButton Label="Confirmation Dialog with Date Picker & OverflowVisible" OnClick="@ShowDialog6"></MdcButton></p>

<p>Result: <strong>'@(date6.ToString("d") ?? "")'</strong></p>

<PMdcConfirmationDialog @ref="@dialog6" Title="Date Picker Confirmation Dialog" OverflowVisible="true">
    <Body>
        <p>Set the date.</p>
        <PMdcDatePicker Label="The date" @bind-Value="@date6" SelectInputStyle="MdcSelectInputStyle.Outlined" MinDate="minDate" MaxDate="maxDate"></PMdcDatePicker>
    </Body>
</PMdcConfirmationDialog>






@code {
    [Parameter] public bool HideHeading { get; set; }

    MdcDialog dialog1;
    string result1;
    bool checkMe;
    bool disableInput;

    async Task ShowDialog1()
    {
        result1 = await dialog1.ShowAsync();
    }

    PMdcRadioButtonGroup<string>.Item<string>[] stringItems = new PMdcRadioButtonGroup<string>.Item<string>[]
    {
        new PMdcRadioButtonGroup<string>.Item<string> { DataValue = "brit-short", Label = "British Shorthair" },
        new PMdcRadioButtonGroup<string>.Item<string> { DataValue = "russ-blue", Label = "Russian Blue" },
        new PMdcRadioButtonGroup<string>.Item<string> { DataValue = "ice-invis", Label = "Icelandic Invisible" }
            };

    PMdcConfirmationDialog dialog2;
    string result2;

    async Task ShowDialog2()
    {
        result2 = await dialog2.ShowAsync();
    }

    PMdcConfirmationDialog dialog3;
    string result3;

    async Task ShowDialog3()
    {
        result3 = await dialog3.ShowAsync();
    }

    MdcDialog dialog4;
    string dialogResult4;
    string result4;

    async Task ShowDialog4()
    {
        dialogResult4 = await dialog4.ShowAsync();
    }

    async Task appleClick()
    {
        await dialog4.HideAsync();
        result4 = "apple (via OnClick)";
    }

    async Task orangeClick()
    {
        await dialog4.HideAsync();
        result4 = "orange (via OnClick)";
    }

    MdcDialog dialog5;
    DateTime minDate = new DateTime(2015, 1, 1);
    DateTime maxDate = new DateTime(2025, 12, 31);
    DateTime date5 = DateTime.Today;

    async Task ShowDialog5()
    {
        _ = await dialog5.ShowAsync();
    }

    PMdcConfirmationDialog dialog6;
    DateTime date6 = DateTime.Today;

    async Task ShowDialog6()
    {
        _ = await dialog6.ShowAsync();
    }
}
