@namespace BlazorMdc.Demo

@page "/dialog"


@if (!HideHeading)
{
    <h1 class="mdc-typography--headline4">Dialog samples</h1>

    <p>See <code>DialogSample.razor</code> for sources.</p>

    <p>Note that the user can also press 'escape' or click in the scrim to dismiss the dialog (unless those actions are disabled, see example 4 below), and this produces a different result string.</p>
}


<p><BMdc.Button Label="Show general dialog" @onclick="@ShowDialog1"></BMdc.Button></p>

<p>Result: <strong>'@(result1 ?? "")'</strong></p>
<p>Button result: <strong>'@(radioButtonResult1 ?? "")'</strong></p>

<BMdc.Dialog @ref="@dialog1" 
           Title="General dialog">
    <Body>
        <p>Please choose a fruit.</p>
        <BMdc.Checkbox @bind-Value="@checkMe" Label="Check me" />
        <BMdcPlus.RadioButtonGroup @bind-Value="@radioButtonResult1"
                              Items="stringItems"
                              Vertical="true"
                              ItemValidation="@BMdcModel.ItemValidation.DefaultToFirst" />
    </Body>
    <Buttons>
        <BMdc.Button Label="Orange" DialogAction="orange"></BMdc.Button>
        <BMdc.Button Label="Apple" DialogAction="apple" ButtonStyle="@BMdcModel.ButtonStyle.Text"></BMdc.Button>
    </Buttons>
</BMdc.Dialog>



<p style="margin-top: 3rem;"><BMdc.Button Label="Show default confirmation dialog" @onclick="@ShowDialog2"></BMdc.Button></p>

<p>Result: <strong>'@(result2 ?? "")'</strong></p>

<BMdcPlus.ConfirmationDialog @ref="@dialog2" 
                        Title="Default confirmation dialog" />



<p style="margin-top: 3rem;"><BMdc.Button Label="Show tailored confirmation dialog" @onclick="@ShowDialog3"></BMdc.Button></p>

<p>Result: <strong>'@(result3 ?? "")'</strong></p>

<BMdcPlus.ConfirmationDialog @ref="@dialog3" 
                        Title="Tailored confirmation dialog" ConfirmationPhrase="overridden confirmation" 
                        ActionPhrase="to play handball" 
                        ConfirmationDisabled="@disableInput">
    <Body>
        <p>Some markup before the confirmation message and input.</p>
        <p><BMdc.Checkbox @bind-Value="@disableInput" Label="Disable confirmation input field" /></p>
    </Body>
    <UnconfirmedButtons>
        <BMdc.Button Label="Bish" LeadingIcon="alarm_on" DialogAction="bish" />
        <BMdc.Button Label="Bash" LeadingIcon="accessibility_new" DialogAction="bash" />
        <BMdc.Button Label="Bosh" LeadingIcon="sports_handball" Disabled="true" DialogAction="bosh" ButtonStyle="BMdcModel.ButtonStyle.ContainedRaised" />
    </UnconfirmedButtons>
    <ConfirmedButtons>
        <BMdc.Button Label="Bish" LeadingIcon="alarm_on" DialogAction="bish" />
        <BMdc.Button Label="Bash" LeadingIcon="accessibility_new" DialogAction="bash" />
        <BMdc.Button Label="Bosh" LeadingIcon="sports_handball" DialogAction="bosh" ButtonStyle="BMdcModel.ButtonStyle.ContainedRaised" />
    </ConfirmedButtons>
</BMdcPlus.ConfirmationDialog>


<p style="margin-top: 3rem;"><BMdc.Button Label="Show general dialog with scrim and escape disabled (using HideAsync)" @onclick="@ShowDialog4"></BMdc.Button></p>

<p>Logical result: <strong>'@(result4 ?? "")'</strong></p>
<p>Dialog result: <strong>'@(dialogResult4 ?? "")'</strong></p>

<BMdc.Dialog @ref="@dialog4" Title="General dialog with scrim and escape disabled (using HideAsync)"
           ScrimClickAction=""
           EscapeKeyAction="">
    <Body>
        <p>Please choose a fruit.</p>
        <p><BMdc.Checkbox @bind-Value="@checkMe" Label="Check me" /></p>
    </Body>
    <Buttons>
        <BMdc.Button Label="Orange" @onclick="orangeClick"></BMdc.Button>
        <BMdc.Button Label="Apple" @onclick="appleClick" ButtonStyle="@BMdcModel.ButtonStyle.Text"></BMdc.Button>
    </Buttons>
</BMdc.Dialog>


<p style="margin-top: 3rem;"><BMdc.Button Label="Dialog with Date Picker & OverflowVisible" @onclick="@ShowDialog5"></BMdc.Button></p>

<p>Result: <strong>'@(date5.ToString("d") ?? "")'</strong></p>

<BMdc.Dialog @ref="@dialog5" Title="Date Picker Dialog"
           OverflowVisible="true">
    <Body>
        <p>Set the date.</p>
        <BMdcPlus.DatePicker Label="The date" @bind-Value="@date5" SelectInputStyle="BMdcModel.SelectInputStyle.Outlined" MinDate="minDate" MaxDate="maxDate"></BMdcPlus.DatePicker>
    </Body>
    <Buttons>
        <BMdc.Button Label="Orange" DialogAction="orange"></BMdc.Button>
        <BMdc.Button Label="Apple" DialogAction="apple" ButtonStyle="@BMdcModel.ButtonStyle.Text"></BMdc.Button>
    </Buttons>
</BMdc.Dialog>


<p style="margin-top: 3rem;"><BMdc.Button Label="Confirmation Dialog with Date Picker & OverflowVisible" @onclick="@ShowDialog6"></BMdc.Button></p>

<p>Result: <strong>'@(date6.ToString("d") ?? "")'</strong></p>

<BMdcPlus.ConfirmationDialog @ref="@dialog6" 
                        Title="Date Picker Confirmation Dialog" 
                        OverflowVisible="true">
    <Body>
        <p>Set the date.</p>
        <BMdcPlus.DatePicker Label="The date" @bind-Value="@date6" SelectInputStyle="BMdcModel.SelectInputStyle.Outlined" MinDate="minDate" MaxDate="maxDate"></BMdcPlus.DatePicker>
    </Body>
</BMdcPlus.ConfirmationDialog>






@code {
    [Parameter] public bool HideHeading { get; set; }

    BMdc.Dialog dialog1;
    string result1;
    string radioButtonResult1;
    bool checkMe;
    bool disableInput;

    async Task ShowDialog1()
    {
        result1 = await dialog1.ShowAsync();
    }

    BMdcModel.ListElement<string>[] stringItems = new BMdcModel.ListElement<string>[]
{
        new BMdcModel.ListElement<string> { SelectedValue = "brit-short", Label = "British Shorthair" },
        new BMdcModel.ListElement<string> { SelectedValue = "russ-blue", Label = "Russian Blue" },
        new BMdcModel.ListElement<string> { SelectedValue = "ice-invis", Label = "Icelandic Invisible" }
 };

    BMdcPlus.ConfirmationDialog dialog2;
    string result2;

    async Task ShowDialog2()
    {
        result2 = await dialog2.ShowAsync();
    }

    BMdcPlus.ConfirmationDialog dialog3;
    string result3;

    async Task ShowDialog3()
    {
        result3 = await dialog3.ShowAsync();
    }

    BMdc.Dialog dialog4;
    string dialogResult4;
    string result4;

    async Task ShowDialog4()
    {
        dialogResult4 = await dialog4.ShowAsync();
    }

    async Task appleClick()
    {
        await dialog4.HideAsync();
        result4 = "apple (via OnClick)";
    }

    async Task orangeClick()
    {
        await dialog4.HideAsync();
        result4 = "orange (via OnClick)";
    }

    BMdc.Dialog dialog5;
    DateTime minDate = new DateTime(2015, 1, 1);
    DateTime maxDate = new DateTime(2025, 12, 31);
    DateTime date5 = DateTime.Today;

    async Task ShowDialog5()
    {
        _ = await dialog5.ShowAsync();
    }

    BMdcPlus.ConfirmationDialog dialog6;
    DateTime date6 = DateTime.Today;

    async Task ShowDialog6()
    {
        _ = await dialog6.ShowAsync();
    }
}
