@page "/card"

@inject IMTToastService ToastService



<DemonstrationPageLayout ComponentNames=@(new string[] { "Card" })
                         Title="Card Demonstration"
                         DemoComponent="@this"
                         MaterialIOPages="@(new string[] { "mdc-card#cards" })"
                         RequiresDisableSelection="true">
    <Description>
        <p>
            Demonstrates cards, with a focus on actions. The demonstration website already makes substantial use of varying card types. Note that cards cannot be disabled, although buttons on the cards can.
        </p>
    </Description>

    <PageContent>
        <div class="mdc-layout-grid__cell--span-4">
            <MTCard AutoStyled="true" @onclick="@(() => CardClick("First card"))">
                <PrimaryAction>
                    <div class="mdc-card__media mdc-card__media--16-9 bmdc-card__media" style="background-image: url(&quot;https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg&quot;);"></div>
                    <div class="bmdc-card__primary">
                        <h2 class="bmdc-card__title mdc-typography mdc-typography--headline6">Our Changing Planet</h2>
                        <h3 class="bmdc-card__subtitle mdc-typography mdc-typography--subtitle2">by Kurt Wagner</h3>
                    </div>
                    <div class="bmdc-card__secondary mdc-typography mdc-typography--body2">Visit ten places on our planet that are undergoing the biggest changes today.</div>
                </PrimaryAction>

                <ActionButtons>
                    <MTButton Label="Read" @onclick="@ButtonClick" />
                    <MTButton Label="Bookmark" @onclick="@ButtonClick" />
                </ActionButtons>

                <ActionIcons>
                    <MTIconButton Icon="share" @onclick="@IconButtonClick" />
                    <MTIconButton Icon="more_vert" @onclick="@IconButtonClick" />
                </ActionIcons>
            </MTCard>
        </div>


        <div class="mdc-layout-grid__cell--span-4">
            <MTCard class="bmdc-basic-with-text-over-media" AutoStyled="true" @onclick="@(() => CardClick("Second card"))">
                <PrimaryAction>
                    <div class="mdc-card__media mdc-card__media--16-9 bmdc-card__media" style="background-image: url(&quot;https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg&quot;);">
                        <div class="mdc-card__media-content bmdc-card__media-content">
                            <div class="bmdc-card__primary">
                                <h2 class="bmdc-card__title mdc-typography mdc-typography--headline6">Our Changing Planet</h2>
                                <h3 class="bmdc-card__subtitle mdc-typography mdc-typography--subtitle2">by Kurt Wagner</h3>
                            </div>
                        </div>
                    </div>
                </PrimaryAction>
            </MTCard>
        </div>


        <div class="mdc-layout-grid__cell--span-4">
            <MTCard class="bmdc-basic-with-header" AutoStyled="true" @onclick="@(() => CardClick("Third card"))" CardStyle="MTCardStyle.Outlined">
                <Primary>
                    <h2 class="bmdc-card__title mdc-typography mdc-typography--headline6">Our Changing Planet</h2>
                    <h3 class="bmdc-card__subtitle mdc-typography mdc-typography--subtitle2">by Kurt Wagner</h3>
                </Primary>

                <PrimaryAction>
                    <div class="mdc-card__media mdc-card__media--16-9 bmdc-card__media" style="background-image: url(&quot;https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg&quot;);"></div>
                    <div class="bmdc-card__secondary mdc-typography mdc-typography--body2">by Kurt Wagner</div>
                </PrimaryAction>

                <ActionButtons>
                    <MTButton Label="Read" @onclick="@ButtonClick" />
                    <MTButton Label="Bookmark" @onclick="@ButtonClick" />
                </ActionButtons>

                <ActionIcons>
                    <MTIconButton Icon="share" @onclick="@IconButtonClick" />
                    <MTIconButton Icon="more_vert" @onclick="@IconButtonClick" />
                </ActionIcons>
            </MTCard>
        </div>


        <div class="mdc-layout-grid__cell--span-4">
            <MTCard AutoStyled="true" @onclick="@(() => CardClick("Fourth card"))">
                <PrimaryAction>
                    <div class="mdc-card__media mdc-card__media--16-9 bmdc-card__media" style="background-image: url(&quot;https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg&quot;);"></div>
                    <div class="bmdc-card__primary">
                        <h2 class="bmdc-card__title mdc-typography mdc-typography--headline6">Our Changing Planet</h2>
                        <h3 class="bmdc-card__subtitle mdc-typography mdc-typography--subtitle2">by Kurt Wagner</h3>
                    </div>
                    <div class="bmdc-card__secondary mdc-typography mdc-typography--body2">Visit ten places on our planet that are undergoing the biggest changes today.</div>
                </PrimaryAction>

                <ActionButtons>
                    <MTButton Label="Read" @onclick="@ButtonClick" />
                    <MTButton Label="Bookmark" @onclick="@ButtonClick" />
                </ActionButtons>
            </MTCard>
        </div>


        <div class="mdc-layout-grid__cell--span-4">
            <MTCard AutoStyled="true" @onclick="@(() => CardClick("Fifth card"))">
                <PrimaryAction>
                    <div class="mdc-card__media mdc-card__media--16-9 bmdc-card__media" style="background-image: url(&quot;https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg&quot;);"></div>
                    <div class="bmdc-card__primary">
                        <h2 class="bmdc-card__title mdc-typography mdc-typography--headline6">Our Changing Planet</h2>
                        <h3 class="bmdc-card__subtitle mdc-typography mdc-typography--subtitle2">by Kurt Wagner</h3>
                    </div>
                    <div class="bmdc-card__secondary mdc-typography mdc-typography--body2">Visit ten places on our planet that are undergoing the biggest changes today.</div>
                </PrimaryAction>

                <ActionIcons>
                    <MTIconButton Icon="share" @onclick="@IconButtonClick" />
                    <MTIconButton Icon="more_vert" @onclick="@IconButtonClick" />
                </ActionIcons>
            </MTCard>
        </div>


        <div class="mdc-layout-grid__cell--span-4">
            <MTCard class="bmdc-ui-control" AutoStyled="true" @onclick="@(() => CardClick("Sixth card"))">
                <PrimaryAction>
                    <div class="mdc-card__media mdc-card__media--square bmdc-card__media" style="background-image: url(&quot;https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg&quot;);"></div>
                    <div class="bmdc-card__primary">
                        <h2 class="bmdc-card__title mdc-typography mdc-typography--headline6">Our Changing Planet</h2>
                        <h3 class="bmdc-card__subtitle mdc-typography mdc-typography--subtitle2">by Kurt Wagner</h3>
                    </div>
                </PrimaryAction>

                <ActionButtons>
                    <MTButton Label="Read" @onclick="@ButtonClick" />
                    <MTButton Label="Bookmark" @onclick="@ButtonClick" />
                </ActionButtons>

                <ActionIcons>
                    <MTIconButton Icon="share" @onclick="@IconButtonClick" />
                    <MTIconButton Icon="more_vert" @onclick="@IconButtonClick" />
                </ActionIcons>
            </MTCard>
        </div>
    </PageContent>
</DemonstrationPageLayout>



@code {
    private void CardClick(string notification)
    {
        ToastService.ShowToast(heading: "Card Clicked", message: notification, level: MTToastLevel.Success, showIcon: false);
    }



    private void ButtonClick()
    {
        ToastService.ShowToast(heading: "Button Clicked", message: "", level: MTToastLevel.Success, showIcon: false);
    }



    private void IconButtonClick()
    {
        ToastService.ShowToast(heading: "Icon Button Clicked", message: "", level: MTToastLevel.Success, showIcon: false);
    }
}