@page "/dialog"


@inject IMTToastService ToastService



<DemonstrationPageLayout ComponentNames=@(new string[] { "Dialog" })
                         Title="Dialog Demonstration"
                         DemoComponent="@this"
                         MaterialIOPages="@(new string[] { "mdc-dialog#dialogs" })"
                         MinDensity="MTDensity.Minus4">
    <Description>
        <p>
            Dialog samples. Click each card to launch a dialog.
        </p>
    </Description>

    <PageContent>
        <div class="mdc-layout-grid__cell--span-4">
            <MTCard AutoStyled="true" @onclick="@ShowDialog1Async">
                <PrimaryAction>
                    <div class="bmdc-card__primary">
                        <h2 class="bmdc-card__title mdc-typography mdc-typography--headline6">
                            General Dialog
                        </h2>
                        <h3 class="bmdc-card__subtitle mdc-typography mdc-typography--subtitle2">
                            Launches a general dialog. Look at the result shown in a toast when you click a button, hit escape of click the scrim. Shows
                            a checkbox and radio buttons to demonstrate that these are correctly initiated with Material Theme javascript when rendered inside a dialog.
                        </h3>
                    </div>
                </PrimaryAction>
            </MTCard>
        </div>


        <div class="mdc-layout-grid__cell--span-4">
            <MTCard AutoStyled="true" @onclick="@ShowDialog2Async">
                <PrimaryAction>
                    <div class="bmdc-card__primary">
                        <h2 class="bmdc-card__title mdc-typography mdc-typography--headline6">
                            Default Confirmation Dialog
                        </h2>
                        <h3 class="bmdc-card__subtitle mdc-typography mdc-typography--subtitle2">
                            Launches a confirmation dialog using its default confirmation of a random six digit number.
                        </h3>
                    </div>
                </PrimaryAction>
            </MTCard>
        </div>


        <div class="mdc-layout-grid__cell--span-4">
            <MTCard AutoStyled="true" @onclick="@ShowDialog3Async">
                <PrimaryAction>
                    <div class="bmdc-card__primary">
                        <h2 class="bmdc-card__title mdc-typography mdc-typography--headline6">
                            Tailored Confirmation Dialog
                        </h2>
                        <h3 class="bmdc-card__subtitle mdc-typography mdc-typography--subtitle2">
                            A confirmation dialog with a tailored security confirmation string.
                        </h3>
                    </div>
                </PrimaryAction>
            </MTCard>
        </div>


        <div class="mdc-layout-grid__cell--span-4">
            <MTCard AutoStyled="true" @onclick="@ShowDialog4Async">
                <PrimaryAction>
                    <div class="bmdc-card__primary">
                        <h2 class="bmdc-card__title mdc-typography mdc-typography--headline6">
                            Disabled Scrim and Escape
                        </h2>
                        <h3 class="bmdc-card__subtitle mdc-typography mdc-typography--subtitle2">
                            A general dialog with scrim and escape key actions disabled.
                        </h3>
                    </div>
                </PrimaryAction>
            </MTCard>
        </div>


        <div class="mdc-layout-grid__cell--span-4">
            <MTCard AutoStyled="true" @onclick="@ShowDialog5Async">
                <PrimaryAction>
                    <div class="bmdc-card__primary">
                        <h2 class="bmdc-card__title mdc-typography mdc-typography--headline6">
                            Date Picker Dialog
                        </h2>
                        <h3 class="bmdc-card__subtitle mdc-typography mdc-typography--subtitle2">
                            Shows that a date picker's popup menu is able to render outside the dialog <code>&lt;div&gt;</code> block.
                        </h3>
                    </div>
                </PrimaryAction>
            </MTCard>
        </div>


        <div class="mdc-layout-grid__cell--span-4">
            <MTCard AutoStyled="true" @onclick="@ShowDialog6Async">
                <PrimaryAction>
                    <div class="bmdc-card__primary">
                        <h2 class="bmdc-card__title mdc-typography mdc-typography--headline6">
                            Date Picker Dialog
                        </h2>
                        <h3 class="bmdc-card__subtitle mdc-typography mdc-typography--subtitle2">
                            Shows that a date picker's popup menu is able to render outside of a confirmation dialog <code>&lt;div&gt;</code> block.
                        </h3>
                    </div>
                </PrimaryAction>
            </MTCard>
        </div>


    </PageContent>
</DemonstrationPageLayout>


<MTDialog @ref="@Dialog1"
          Title="General dialog">
    <Body>
        <p>Please choose a fruit.</p>
        <MTCheckbox @bind-Value="@Check" Label="Check me" />
        <MTRadioButtonGroup @bind-Value="@RadioButtonResult1"
                            Items="@StringItems"
                            Vertical="true"
                            ItemValidation="@MTItemValidation.DefaultToFirst" />
    </Body>
    <Buttons>
        <MTButton Label="Orange" DialogAction="orange button clicked"></MTButton>
        <MTButton Label="Apple" DialogAction="apple button clicked" ButtonStyle="@MTButtonStyle.Text"></MTButton>
    </Buttons>
</MTDialog>


<MTConfirmationDialog @ref="@Dialog2"
                      Title="Default confirmation dialog" />


<MTConfirmationDialog @ref="@Dialog3"
                      Title="Tailored confirmation dialog" ConfirmationPhrase="overridden confirmation"
                      ActionPhrase="to play handball"
                      ConfirmationDisabled="@DisableInput">
    <Body>
        <p>Some markup before the confirmation message and input.</p>
        <p><MTCheckbox @bind-Value="@DisableInput" Label="Disable confirmation input field" /></p>
    </Body>
    <UnconfirmedButtons>
        <MTButton Label="Bish" LeadingIcon="alarm_on" DialogAction="bish" />
        <MTButton Label="Bash" LeadingIcon="accessibility_new" DialogAction="bash" />
        <MTButton Label="Bosh" LeadingIcon="sports_handball" Disabled="true" DialogAction="bosh" ButtonStyle="MTButtonStyle.ContainedRaised" />
    </UnconfirmedButtons>
    <ConfirmedButtons>
        <MTButton Label="Bish" LeadingIcon="alarm_on" DialogAction="bish" />
        <MTButton Label="Bash" LeadingIcon="accessibility_new" DialogAction="bash" />
        <MTButton Label="Bosh" LeadingIcon="sports_handball" DialogAction="bosh" ButtonStyle="MTButtonStyle.ContainedRaised" />
    </ConfirmedButtons>
</MTConfirmationDialog>


<MTDialog @ref="@Dialog4" Title="General dialog with scrim and escape disabled (using HideAsync)"
          ScrimClickAction=""
          EscapeKeyAction="">
    <Body>
        <p>Please choose a fruit.</p>
        <p><MTCheckbox @bind-Value="@Check" Label="Check me" /></p>
    </Body>
    <Buttons>
        <MTButton Label="Orange" @onclick="@(() => OnButtonClick("orange notified by @onclick"))"></MTButton>
        <MTButton Label="Apple" @onclick="@(() => OnButtonClick("orange notified by @onclick"))" ButtonStyle="@MTButtonStyle.Text"></MTButton>
    </Buttons>
</MTDialog>


<MTDialog @ref="@Dialog5" Title="Date Picker Dialog"
          OverflowVisible="true">
    <Body>
        <p>Set the date.</p>
        <MTDatePicker Label="The date" @bind-Value="@Date5" SelectInputStyle="MTSelectInputStyle.Outlined" MinDate="@MinDate" MaxDate="@MaxDate"></MTDatePicker>
    </Body>
    <Buttons>
        <MTButton Label="Orange" DialogAction="orange"></MTButton>
        <MTButton Label="Apple" DialogAction="apple" ButtonStyle="@MTButtonStyle.Text"></MTButton>
    </Buttons>
</MTDialog>


<MTConfirmationDialog @ref="@Dialog6"
                      Title="Date Picker Confirmation Dialog"
                      OverflowVisible="true">
    <Body>
        <p>Set the date.</p>
        <MTDatePicker Label="The date" @bind-Value="@Date6" SelectInputStyle="MTSelectInputStyle.Outlined" MinDate="@MinDate" MaxDate="@MaxDate"></MTDatePicker>
    </Body>
</MTConfirmationDialog>


@code {
    private bool DisableInput { get; set; } = false;
    private MTDialog Dialog1 { get; set; }
    private MTConfirmationDialog Dialog2 { get; set; }
    private MTConfirmationDialog Dialog3 { get; set; }
    private MTDialog Dialog4 { get; set; }
    private MTDialog Dialog5 { get; set; }
    private MTConfirmationDialog Dialog6 { get; set; }

    private bool Check { get; set; }

    private string _radioButtonResult1 = "brit-short";
    private string RadioButtonResult1
    {
        get => _radioButtonResult1;
        set
        {
            _radioButtonResult1 = value;

            ToastService.ShowToast(heading: "Dialog 1 Radio Click", message: $"Value: '{_radioButtonResult1}'", level: MTToastLevel.Success, showIcon: false);
        }
    }

    private MTListElement<string>[] StringItems = new MTListElement<string>[]
    {
        new MTListElement<string> { SelectedValue = "brit-short", Label = "British Shorthair" },
        new MTListElement<string> { SelectedValue = "russ-blue", Label = "Russian Blue" },
        new MTListElement<string> { SelectedValue = "ice-invis", Label = "Icelandic Invisible" }
        };

    private async Task ShowDialog1Async()
    {
        var result = await Dialog1.ShowAsync();
        ToastService.ShowToast(heading: "Dialog 1 Result", message: $"Value: '{result}'", level: MTToastLevel.Success, showIcon: false);
    }

    private async Task ShowDialog2Async()
    {
        var result = await Dialog2.ShowAsync();
        ToastService.ShowToast(heading: "Dialog 2 Result", message: $"Value: '{result}'", level: MTToastLevel.Success, showIcon: false);
    }

    private async Task ShowDialog3Async()
    {
        var result = await Dialog3.ShowAsync();
        ToastService.ShowToast(heading: "Dialog 3 Result", message: $"Value: '{result}'", level: MTToastLevel.Success, showIcon: false);
    }

    private async Task ShowDialog4Async()
    {
        var result = await Dialog4.ShowAsync();
        ToastService.ShowToast(heading: "Dialog 4 Result", message: $"Value: '{result}'", level: MTToastLevel.Success, showIcon: false);
    }

    private async Task OnButtonClick(string button)
    {
        await Dialog4.HideAsync();
        ToastService.ShowToast(heading: "Dialog 4 By @onclick", message: $"Value: '{button}'", level: MTToastLevel.Success, showIcon: false);
    }

    private DateTime MinDate { get; set; } = new DateTime(2015, 1, 1);
    private DateTime MaxDate { get; set; } = new DateTime(2025, 12, 31);
    private DateTime Date5 { get; set; } = DateTime.Today;

    private async Task ShowDialog5Async()
    {
        var result = await Dialog6.ShowAsync();
        ToastService.ShowToast(heading: "Dialog 5 Result", message: $"Value: '{result}'", level: MTToastLevel.Success, showIcon: false);
    }

    private DateTime Date6 { get; set; } = DateTime.Today;

    private async Task ShowDialog6Async()
    {
        var result = await Dialog6.ShowAsync();
        ToastService.ShowToast(heading: "Dialog 6 Result", message: $"Value: '{result}'", level: MTToastLevel.Success, showIcon: false);
    }
}