@page "/linearprogress"


<DemonstrationPage ComponentName="LinearProgress"
                   Title="Linear Progress Demonstration"
                   DemoComponent="@this"
                   MaterialIOPage="mdc-linear-progress#linear-progress">
    <Description>
        <p>
            Demonstrates linear progress indicators.
        </p>
    </Description>

    <Controls>
        <p>
            <MTRadioButtonGroup @bind-Value="@ProgressLevel"
                                Items="@ProgressLevels"
                                EnableTouchWrapper="true" />
        </p>

        <p><MTSwitch @bind-Value="@ShowProgress" Label="Show Progress Indicators" /></p>
    </Controls>

    <PageContent>
        <div class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
            <MTCard AutoStyled="true">
                <Primary>
                    <h2 class="bmdc-card__title mdc-typography mdc-typography--headline6">
                        Linear Progress
                    </h2>

                    <h3 class="bmdc-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Indeterminate, determinate without buffer, determinate with buffer and reversed determinate without and with buffer.
                    </h3>

                    <p><MTLinearProgress LinearProgressType="@LinearIndeterminate" /></p>
                    <p><MTLinearProgress LinearProgressType="@LinearDeterminate" Value="@ProgressLevel" /></p>
                    <p><MTLinearProgress LinearProgressType="@LinearDeterminate" Value="@ProgressLevel" BufferValue="@BufferLevel" /></p>
                    <p><MTLinearProgress LinearProgressType="@LinearReversed" Value="@ProgressLevel" /></p>
                    <p><MTLinearProgress LinearProgressType="@LinearReversed" Value="@ProgressLevel" BufferValue="@BufferLevel" /></p>
                </Primary>
            </MTCard>
        </div>
    </PageContent>
</DemonstrationPage>


@code {
    MTListElement<double>[] ProgressLevels = new MTListElement<double>[]
    {
        new MTListElement<double> { SelectedValue = 0.2, Label = "20% Progress" },
        new MTListElement<double> { SelectedValue = 0.5, Label = "50% Progress" },
        new MTListElement<double> { SelectedValue = 0.8, Label = "80% Progress" }
        };

    private double ProgressLevel { get; set; } = 0.2;
    double? BufferLevel => ProgressLevel + (1 - ProgressLevel) / 3;

    private bool ShowProgress { get; set; } = true;

    MTLinearProgressType LinearIndeterminate => ShowProgress ? MTLinearProgressType.Indeterminate : MTLinearProgressType.Closed;
    MTLinearProgressType LinearDeterminate => ShowProgress ? MTLinearProgressType.Determinate : MTLinearProgressType.Closed;
    MTLinearProgressType LinearReversed => ShowProgress ? MTLinearProgressType.ReversedDeterminate : MTLinearProgressType.Closed;
}