@page "/radiobutton"

@inject IMTToastService ToastService


<DemonstrationPage ComponentName="RadioButton"
                   Title="Radio Button Demonstration"
                   DemoComponent="@this"
                   MaterialIOPage="mdc-radio#selection-controls-radio-buttons"
                   IsGeneric="true"
                   MinDensity="MTDensity.Minus3"
                   RequiresDisableSelection="true">
    <Description>
        <p>
            Individual and grouped radio buttons.
        </p>
    </Description>

    <PageContent>
        <div class="mdc-layout-grid__cell--span-12">
            <MTCard AutoStyled="true">
                <Primary>
                    <h2 class="bmdc-card__title mdc-typography mdc-typography--headline6">
                        Individual Radio Buttons
                    </h2>

                    <h3 class="bmdc-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Radio Buttons are rendered individually and grouped by id. The second line demonstrates two-way binding.
                        Bound data is an <code>enum</code>.
                    </h3>

                    <p>
                        <MTRadioButton @bind-Value="@Animal"
                                       TargetCheckedValue=@AnimalEnum.Dog
                                       Label=@AnimalEnum.Dog.ToString()
                                       RadioGroupName="animal-group" />

                        <MTRadioButton @bind-Value="@Animal"
                                       TargetCheckedValue=@AnimalEnum.Fish
                                       Label=@AnimalEnum.Fish.ToString()
                                       RadioGroupName="animal-group" />

                        <MTRadioButton @bind-Value="@Animal"
                                       TargetCheckedValue=@AnimalEnum.Zebra
                                       Label=@AnimalEnum.Zebra.ToString()
                                       RadioGroupName="animal-group" />
                    </p>
                    <p>
                        <MTRadioButton @bind-Value="@Animal"
                                       TargetCheckedValue=@AnimalEnum.Dog
                                       Label=@RepeatedDogLabel
                                       RadioGroupName="repeat-group" />

                    </p>
                </Primary>
            </MTCard>
        </div>
    </PageContent>
</DemonstrationPage>


@code {
    private enum AnimalEnum { Dog, Fish, Zebra };
    private string RepeatedDogLabel => AnimalEnum.Dog.ToString() + " repeated";

    private AnimalEnum _animal = AnimalEnum.Fish;
    private AnimalEnum Animal
    {
        get => _animal;
        set
        {
            _animal = value;

            ToastService.ShowToast(heading: "Individual radio buttons", message: $"Value: '{_animal.ToString()}'", level: MTToastLevel.Success, showIcon: false);
        }
    }
    private MTDensity Density = MTDensity.Default;
}