@page "/select"

@inject IMTToastService ToastService


<DemonstrationPage ComponentName="Select"
                   Title="Select Demonstration"
                   DemoComponent="@this"
                   MaterialIOPage="mdc-select#select-menus"
                   IsGeneric="true"
                   MinDensity="MTDensity.Minus4"
                   RequiresDisableSelection="true">
    <Description>
        <p>
            Filled and outlined text fields with icon usage, class and style application and finally density.
        </p>
    </Description>

    <PageContent>
        <div class="mdc-layout-grid__cell--span-4">
            <MTCard AutoStyled="true">
                <Primary>
                    <h2 class="bmdc-card__title mdc-typography mdc-typography--headline6">
                        Select Styles
                    </h2>

                    <h3 class="bmdc-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Default and explicit select styles.
                    </h3>

                    <p><MTSelect Label="Default Style" @bind-Value="@DefaultStyle" Items="KittenBreeds" ItemValidation="@MTItemValidation.NoSelection" /></p>
                    <p><MTSelect Label="Filled Style" @bind-Value="@FilledStyle" Items="KittenBreeds" SelectInputStyle="MTSelectInputStyle.Filled" ItemValidation="@MTItemValidation.NoSelection" /></p>
                    <p><MTSelect Label="Outlined Style" @bind-Value="@OutlinedStyle" Items="KittenBreeds" SelectInputStyle="MTSelectInputStyle.Outlined" ItemValidation="@MTItemValidation.NoSelection" /></p>
                </Primary>
            </MTCard>
        </div>



        <div class="mdc-layout-grid__cell--span-4">
            <MTCard AutoStyled="true">
                <Primary>
                    <h2 class="bmdc-card__title mdc-typography mdc-typography--headline6">
                        Icons
                    </h2>

                    <h3 class="bmdc-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Icons - both using icons from the Material Icons, Font Awesome and Open Iconic foundries.
                    </h3>

                    <p><MTSelect Label="Filled With Icon" @bind-Value="@Icon1" Items="KittenBreeds" LeadingIcon="print" IconFoundry="@MTIconHelper.MIFoundry(MTIconMITheme.TwoTone)" SelectInputStyle="MTSelectInputStyle.Filled" ItemValidation="@MTItemValidation.NoSelection" /></p>
                    <p><MTSelect Label="Outlined With Icon" @bind-Value="@Icon2" Items="KittenBreeds" LeadingIcon="fa-car-crash" IconFoundry="@MTIconHelper.FAFoundry()" SelectInputStyle="MTSelectInputStyle.Outlined" ItemValidation="@MTItemValidation.NoSelection" /></p>
                </Primary>
            </MTCard>
        </div>



        <div class="mdc-layout-grid__cell--span-4">
            <MTCard AutoStyled="true">
                <Primary>
                    <h2 class="bmdc-card__title mdc-typography mdc-typography--headline6">
                        Contents Alignment
                    </h2>

                    <h3 class="bmdc-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Left, center and right aligned text (not the same as right-to-left script).
                    </h3>

                    <p><MTSelect Label="Left Aligned" @bind-Value="@LeftAligned" Items="KittenBreeds" TextAlignStyle="@MTTextAlignStyle.Left" ItemValidation="@MTItemValidation.NoSelection" /></p>
                    <p><MTSelect Label="Right Aligned" @bind-Value="@RightAligned" Items="KittenBreeds" TextAlignStyle="@MTTextAlignStyle.Right" ItemValidation="@MTItemValidation.NoSelection" /></p>
                </Primary>
            </MTCard>
        </div>



        <div class="mdc-layout-grid__cell--span-4">
            <MTCard AutoStyled="true">
                <Primary>
                    <h2 class="bmdc-card__title mdc-typography mdc-typography--headline6">
                        Two Way Binding
                    </h2>

                    <h3 class="bmdc-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Shows two way binding for selects.
                    </h3>

                    <p><MTSelect Label="Two Way Binding" @bind-Value="@TwoWayBinding" Items="KittenBreeds" ItemValidation="@MTItemValidation.NoSelection" /></p>
                    <p><MTSelect Label="Two Way Binding" @bind-Value="@TwoWayBinding" Items="KittenBreeds" ItemValidation="@MTItemValidation.NoSelection" /></p>
                </Primary>
            </MTCard>
        </div>



        <div class="mdc-layout-grid__cell--span-4">
            <MTCard AutoStyled="true">
                <Primary>
                    <h2 class="bmdc-card__title mdc-typography mdc-typography--headline6">
                        Filled Density
                    </h2>

                    <h3 class="bmdc-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Filled density subsystem from default to minus 4.
                    </h3>

                    <p><MTSelect Label="Default Density" @bind-Value="@FilledDensityDefault" Items="KittenBreeds" Density="@MTDensity.Default" SelectInputStyle="MTSelectInputStyle.Filled" ItemValidation="@MTItemValidation.NoSelection" /></p>
                    <p><MTSelect Label="Density Minus 1" @bind-Value="@FilledDensityMinus1" Items="KittenBreeds" Density="@MTDensity.Minus1" SelectInputStyle="MTSelectInputStyle.Filled" ItemValidation="@MTItemValidation.NoSelection" /></p>
                    <p><MTSelect Label="Density Minus 3" @bind-Value="@FilledDensityMinus2" Items="KittenBreeds" Density="@MTDensity.Minus2" SelectInputStyle="MTSelectInputStyle.Filled" ItemValidation="@MTItemValidation.NoSelection" /></p>
                    <p><MTSelect Label="Density Minus 3" @bind-Value="@FilledDensityMinus3" Items="KittenBreeds" Density="@MTDensity.Minus3" SelectInputStyle="MTSelectInputStyle.Filled" ItemValidation="@MTItemValidation.NoSelection" /></p>
                    <p><MTSelect Label="Density Minus 4" @bind-Value="@FilledDensityMinus4" Items="KittenBreeds" Density="@MTDensity.Minus4" SelectInputStyle="MTSelectInputStyle.Filled" ItemValidation="@MTItemValidation.NoSelection" /></p>
                </Primary>
            </MTCard>
        </div>



        <div class="mdc-layout-grid__cell--span-4">
            <MTCard AutoStyled="true">
                <Primary>
                    <h2 class="bmdc-card__title mdc-typography mdc-typography--headline6">
                        Outlined Density
                    </h2>

                    <h3 class="bmdc-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Outlined density subsystem from default to minus 4.
                    </h3>

                    <p><MTSelect Label="Default Density" @bind-Value="@OutlinedDensityDefault" Items="KittenBreeds" Density="@MTDensity.Default" SelectInputStyle="MTSelectInputStyle.Outlined" ItemValidation="@MTItemValidation.NoSelection" /></p>
                    <p><MTSelect Label="Density Minus 1" @bind-Value="@OutlinedDensityMinus1" Items="KittenBreeds" Density="@MTDensity.Minus1" SelectInputStyle="MTSelectInputStyle.Outlined" ItemValidation="@MTItemValidation.NoSelection" /></p>
                    <p><MTSelect Label="Density Minus 3" @bind-Value="@OutlinedDensityMinus2" Items="KittenBreeds" Density="@MTDensity.Minus2" SelectInputStyle="MTSelectInputStyle.Outlined" ItemValidation="@MTItemValidation.NoSelection" /></p>
                    <p><MTSelect Label="Density Minus 3" @bind-Value="@OutlinedDensityMinus3" Items="KittenBreeds" Density="@MTDensity.Minus3" SelectInputStyle="MTSelectInputStyle.Outlined" ItemValidation="@MTItemValidation.NoSelection" /></p>
                    <p><MTSelect Label="Density Minus 4" @bind-Value="@OutlinedDensityMinus4" Items="KittenBreeds" Density="@MTDensity.Minus4" SelectInputStyle="MTSelectInputStyle.Outlined" ItemValidation="@MTItemValidation.NoSelection" /></p>
                </Primary>
            </MTCard>
        </div>
    </PageContent>
</DemonstrationPage>


@code {
    MTListElement<string>[] KittenBreeds = new MTListElement<string>[]
    {
        new MTListElement<string> { SelectedValue = "brit-short", Label = "British Shorthair" },
        new MTListElement<string> { SelectedValue = "russ-blue", Label = "Russian Blue" },
        new MTListElement<string> { SelectedValue = "ice-invis", Label = "Icelandic Invisible" }
        };


    private string _defaultStyle;
    private string DefaultStyle
    {
        get => _defaultStyle;
        set
        {
            _defaultStyle = value;

            ToastService.ShowToast(heading: "Default Style", message: $"Value: '{_defaultStyle}'", level: MTToastLevel.Success, showIcon: false);
        }
    }



    private string _filledStyle;
    private string FilledStyle
    {
        get => _filledStyle;
        set
        {
            _filledStyle = value;

            ToastService.ShowToast(heading: "Filled Style", message: $"Value: '{_filledStyle}", level: MTToastLevel.Success, showIcon: false);
        }
    }



    private string _outlinedStyle;
    private string OutlinedStyle
    {
        get => _outlinedStyle;
        set
        {
            _outlinedStyle = value;

            ToastService.ShowToast(heading: "Outlined Style", message: $"Value: '{_outlinedStyle}", level: MTToastLevel.Success, showIcon: false);
        }
    }

    private string Icon1;
    private string Icon2;

    private string LeftAligned;
    private string RightAligned;

    private string TwoWayBinding;

    private string FilledDensityDefault;
    private string FilledDensityMinus1;
    private string FilledDensityMinus2;
    private string FilledDensityMinus3;
    private string FilledDensityMinus4;

    private string OutlinedDensityDefault;
    private string OutlinedDensityMinus1;
    private string OutlinedDensityMinus2;
    private string OutlinedDensityMinus3;
    private string OutlinedDensityMinus4;
}