@page "/textfield"

@inject IMTToastService ToastService


<DemonstrationPage ComponentName="TextField"
                   Title="Text Field Demonstration"
                   DemoComponent="@this"
                   MaterialIOPage="mdc-textfield#text-field"
                   MinDensity="MTDensity.Minus4"
                   RequiresDisableSelection="true">
    <Description>
        <p>
            Filled and outlined text fields with icon usage, class and style application and finally density.
        </p>
    </Description>

    <PageContent>
        <div class="mdc-layout-grid__cell--span-4">
            <MTCard AutoStyled="true">
                <Primary>
                    <h2 class="bmdc-card__title mdc-typography mdc-typography--headline6">
                        Text Field Styles
                    </h2>

                    <h3 class="bmdc-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Default and explicit text field styles.
                    </h3>

                    <p><MTTextField Label="Default (Filled) Style" @bind-Value="@DefaultStyle" /></p>
                    <p><MTTextField Label="Explicit Filled Style" @bind-Value="@FilledStyle" TextInputStyle="MTTextInputStyle.Filled" /></p>
                    <p><MTTextField Label="Outlined Style" @bind-Value="@OutlinedStyle" TextInputStyle="MTTextInputStyle.Outlined" /></p>
                </Primary>
            </MTCard>
        </div>



        <div class="mdc-layout-grid__cell--span-4">
            <MTCard AutoStyled="true">
                <Primary>
                    <h2 class="bmdc-card__title mdc-typography mdc-typography--headline6">
                        Icons
                    </h2>

                    <h3 class="bmdc-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Leading and trailing icons - both using icons from the Material Icons, Font Awesome and Open Iconic foundries.
                    </h3>

                    <p><MTTextField Label="Leading Icon" LeadingIcon="print" IconFoundry="@MTIconHelper.MIFoundry(MTIconMITheme.TwoTone)" TextInputStyle="MTTextInputStyle.Filled" /></p>
                    <p><MTTextField Label="Trailing Icon" TrailingIcon="import_contacts" IconFoundry="@MTIconHelper.MIFoundry(MTIconMITheme.Round)" TextInputStyle="MTTextInputStyle.Filled" /></p>
                    <p><MTTextField Label="Leading Icon" LeadingIcon="fa-car-crash" IconFoundry="@MTIconHelper.FAFoundry()" TextInputStyle="MTTextInputStyle.Outlined" /></p>
                    <p><MTTextField Label="Trailing Icon" TrailingIcon="microphone" IconFoundry="@MTIconHelper.OIFoundry()" TextInputStyle="MTTextInputStyle.Outlined" /></p>
                </Primary>
            </MTCard>
        </div>



        <div class="mdc-layout-grid__cell--span-4">
            <MTCard AutoStyled="true">
                <Primary>
                    <h2 class="bmdc-card__title mdc-typography mdc-typography--headline6">
                        Prefix and Suffix
                    </h2>

                    <h3 class="bmdc-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Prefix and Suffix text applied within fields.
                    </h3>

                    <p><MTTextField Label="Prefix" Prefix="$" TextInputStyle="MTTextInputStyle.Filled" /></p>
                    <p><MTTextField Label="Suffix" Suffix="%" TextInputStyle="MTTextInputStyle.Filled" /></p>
                    <p><MTTextField Label="Prefix" Prefix="$" TextInputStyle="MTTextInputStyle.Outlined" /></p>
                    <p><MTTextField Label="Suffix" Suffix="%" TextInputStyle="MTTextInputStyle.Outlined" /></p>
                </Primary>
            </MTCard>
        </div>



        <div class="mdc-layout-grid__cell--span-4">
            <MTCard AutoStyled="true">
                <Primary>
                    <style>
                        .text-green {
                            background-color: var(--bmdc-color-light-green-600) !important;
                        }
                    </style>

                    <h2 class="bmdc-card__title mdc-typography mdc-typography--headline6">
                        Class and Style
                    </h2>

                    <h3 class="bmdc-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Background color set by CSS class and style attributes.
                    </h3>

                    <p><MTTextField Label="Green by class" class="text-green" /></p>
                    <p><MTTextField Label="Amber by style" style="background-color: var(--bmdc-color-amber-800);" /></p>
                </Primary>
            </MTCard>
        </div>



        <div class="mdc-layout-grid__cell--span-4">
            <MTCard AutoStyled="true">
                <Primary>
                    <h2 class="bmdc-card__title mdc-typography mdc-typography--headline6">
                        Contents Alignment
                    </h2>

                    <h3 class="bmdc-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Left, center and right aligned text (not the same as right-to-left script).
                    </h3>

                    <p><MTTextField Label="Left Aligned" TextAlignStyle="@MTTextAlignStyle.Left" /></p>
                    <p><MTTextField Label="Centered" TextAlignStyle="@MTTextAlignStyle.Center" /></p>
                    <p><MTTextField Label="Right Aligned" TextAlignStyle="@MTTextAlignStyle.Right" /></p>
                </Primary>
            </MTCard>
        </div>



        <div class="mdc-layout-grid__cell--span-4">
            <MTCard AutoStyled="true">
                <Primary>
                    <h2 class="bmdc-card__title mdc-typography mdc-typography--headline6">
                        Passwords
                    </h2>

                    <h3 class="bmdc-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Standard HTML input obscuring with <code>type="password"</code>
                    </h3>

                    <p><MTTextField Label="Password" type="password" @bind-Value="@Password" /></p>
                </Primary>
            </MTCard>
        </div>



        <div class="mdc-layout-grid__cell--span-4">
            <MTCard AutoStyled="true">
                <Primary>
                    <h2 class="bmdc-card__title mdc-typography mdc-typography--headline6">
                        Two Way Binding
                    </h2>

                    <h3 class="bmdc-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Shows two way binding for text fields.
                    </h3>

                    <p><MTTextField Label="First Linked Field" @bind-Value="@TwoWayBinding" /></p>
                    <p><MTTextField Label="Second Linked Field" @bind-Value="@TwoWayBinding" /></p>
                </Primary>
            </MTCard>
        </div>



        <div class="mdc-layout-grid__cell--span-4">
            <MTCard AutoStyled="true">
                <Primary>
                    <h2 class="bmdc-card__title mdc-typography mdc-typography--headline6">
                        Filled Density
                    </h2>

                    <h3 class="bmdc-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Filled density subsystem from default to minus 4.
                    </h3>

                    <p><MTTextField Label="Default Density" Density="@MTDensity.Default" TextInputStyle="MTTextInputStyle.Filled" /></p>
                    <p><MTTextField Label="Density Minus 1" Density="@MTDensity.Minus1" TextInputStyle="MTTextInputStyle.Filled" /></p>
                    <p><MTTextField Label="Density Minus 2" Density="@MTDensity.Minus2" TextInputStyle="MTTextInputStyle.Filled" /></p>
                    <p><MTTextField Label="Density Minus 3" Density="@MTDensity.Minus3" TextInputStyle="MTTextInputStyle.Filled" /></p>
                </Primary>
            </MTCard>
        </div>



        <div class="mdc-layout-grid__cell--span-4">
            <MTCard AutoStyled="true">
                <Primary>
                    <h2 class="bmdc-card__title mdc-typography mdc-typography--headline6">
                        Outlined Density
                    </h2>

                    <h3 class="bmdc-card__subtitle mdc-typography mdc-typography--subtitle2">
                        Outlined density subsystem from default to minus 4.
                    </h3>

                    <p><MTTextField Label="Default Density" Density="@MTDensity.Default" TextInputStyle="MTTextInputStyle.Outlined" /></p>
                    <p><MTTextField Label="Density Minus 1" Density="@MTDensity.Minus1" TextInputStyle="MTTextInputStyle.Outlined" /></p>
                    <p><MTTextField Label="Density Minus 2" Density="@MTDensity.Minus2" TextInputStyle="MTTextInputStyle.Outlined" /></p>
                    <p><MTTextField Label="Density Minus 3" Density="@MTDensity.Minus3" TextInputStyle="MTTextInputStyle.Outlined" /></p>
                </Primary>
            </MTCard>
        </div>
    </PageContent>
</DemonstrationPage>


@code {
    private string _defaultStyle;
    private string DefaultStyle
    {
        get => _defaultStyle;
        set
        {
            _defaultStyle = value;

            ToastService.ShowToast(heading: "Default Style", message: $"Value: '{_defaultStyle}'", level: MTToastLevel.Success, showIcon: false);
        }
    }



    private string _filledStyle;
    private string FilledStyle
    {
        get => _filledStyle;
        set
        {
            _filledStyle = value;

            ToastService.ShowToast(heading: "Filled Style", message: $"Value: '{_filledStyle}'", level: MTToastLevel.Success, showIcon: false);
        }
    }



    private string _outlinedStyle;
    private string OutlinedStyle
    {
        get => _outlinedStyle;
        set
        {
            _outlinedStyle = value;

            ToastService.ShowToast(heading: "Outlined Style", message: $"Value: '{_outlinedStyle}'", level: MTToastLevel.Success, showIcon: false);
        }
    }



    private string _password;
    private string Password
    {
        get => _password;
        set
        {
            _password = value;

            ToastService.ShowToast(heading: "Your Revealed Password", message: $"Value: '{_password}'", level: MTToastLevel.Success, showIcon: false);
        }
    }


    private string TwoWayBinding { get; set; }
}