@page "/typography"


<DemonstrationPage Title="Typography Demonstration"
                   DemoComponent="@this">
    <PageContent>
        <div class="mdc-layout-grid__cell--span-12">
            <MTCard AutoStyled="true">
                <Primary>
                    <div class="mdc-layout-grid__inner" style="white-space: nowrap;">
                        <div class="mdc-layout-grid__cell--span-12">
                            <h2 class="bmdc-card__title mdc-typography mdc-typography--headline6">
                                Typography
                            </h2>

                            <h3 class="bmdc-card__subtitle mdc-typography mdc-typography--subtitle2">
                                Shows the styles available from Material Theme.
                            </h3>
                        </div>

                        <div class="mdc-layout-grid__cell--span-4">
                            <MTCard CardStyle="@MTCardStyle.Outlined" Tooltip="mdc-typography--headline1" style="overflow: auto; padding: 1rem;">
                                <Primary>
                                    <h1 class="mdc-typography--headline1">Headline 1</h1>
                                </Primary>
                            </MTCard>
                        </div>

                        <div class="mdc-layout-grid__cell--span-4">
                            <MTCard CardStyle="@MTCardStyle.Outlined" Tooltip="mdc-typography--headline2" style="overflow: auto; padding: 1rem;">
                                <Primary>
                                    <h2 class="mdc-typography--headline2">Headline 2</h2>
                                </Primary>
                            </MTCard>
                        </div>

                        <div class="mdc-layout-grid__cell--span-4">
                            <MTCard CardStyle="@MTCardStyle.Outlined" Tooltip="mdc-typography--headline3" style="overflow: auto; padding: 1rem;">
                                <Primary>
                                    <h3 class="mdc-typography--headline3">Headline 3</h3>
                                </Primary>
                            </MTCard>
                        </div>

                        <div class="mdc-layout-grid__cell--span-4">
                            <MTCard CardStyle="@MTCardStyle.Outlined" Tooltip="mdc-typography--headline4" style="overflow: auto; padding: 1rem;">
                                <Primary>
                                    <h4 class="mdc-typography--headline4">Headline 4</h4>
                                </Primary>
                            </MTCard>
                        </div>

                        <div class="mdc-layout-grid__cell--span-4">
                            <MTCard CardStyle="@MTCardStyle.Outlined" Tooltip="mdc-typography--headline5" style="overflow: auto; padding: 1rem;">
                                <Primary>
                                    <h5 class="mdc-typography--headline5">Headline 5</h5>
                                </Primary>
                            </MTCard>
                        </div>

                        <div class="mdc-layout-grid__cell--span-4">
                            <MTCard CardStyle="@MTCardStyle.Outlined" Tooltip="mdc-typography--headline6" style="overflow: auto; padding: 1rem;">
                                <Primary>
                                    <h6 class="mdc-typography--headline6">Headline 6</h6>
                                </Primary>
                            </MTCard>
                        </div>

                        <div class="mdc-layout-grid__cell--span-4">
                            <MTCard CardStyle="@MTCardStyle.Outlined" Tooltip="mdc-typography--subtitle1" style="overflow: auto; padding: 1rem;">
                                <Primary>
                                    <h6 class="mdc-typography--subtitle1">Subtitle 1</h6>
                                </Primary>
                            </MTCard>
                        </div>

                        <div class="mdc-layout-grid__cell--span-4">
                            <MTCard CardStyle="@MTCardStyle.Outlined" Tooltip="mdc-typography--subtitle2" style="overflow: auto; padding: 1rem;">
                                <Primary>
                                    <h6 class="mdc-typography--subtitle2">Subtitle 2</h6>
                                </Primary>
                            </MTCard>
                        </div>

                        <div class="mdc-layout-grid__cell--span-4">
                            <MTCard CardStyle="@MTCardStyle.Outlined" Tooltip="mdc-typography--body1" style="overflow: auto; padding: 1rem;">
                                <Primary>
                                    <p class="mdc-typography--body1">Body 1</p>
                                </Primary>
                            </MTCard>
                        </div>

                        <div class="mdc-layout-grid__cell--span-4">
                            <MTCard CardStyle="@MTCardStyle.Outlined" Tooltip="mdc-typography--body2" style="overflow: auto; padding: 1rem;">
                                <Primary>
                                    <p class="mdc-typography--body2">Body 2</p>
                                </Primary>
                            </MTCard>
                        </div>

                        <div class="mdc-layout-grid__cell--span-4">
                            <MTCard CardStyle="@MTCardStyle.Outlined" Tooltip="mdc-typography--caption" style="overflow: auto; padding: 1rem;">
                                <Primary>
                                    <p class="mdc-typography--caption">Caption</p>
                                </Primary>
                            </MTCard>
                        </div>

                        <div class="mdc-layout-grid__cell--span-4">
                            <MTCard CardStyle="@MTCardStyle.Outlined" Tooltip="mdc-typography--overline" style="overflow: auto; padding: 1rem;">
                                <Primary>
                                    <p class="mdc-typography--overline">Overline</p>
                                </Primary>
                            </MTCard>
                        </div>

                        <div class="mdc-layout-grid__cell--span-4">
                            <MTCard CardStyle="@MTCardStyle.Outlined" Tooltip="mdc-typography" style="overflow: auto; padding: 1rem;">
                                <Primary>
                                    <p class="mdc-typography">Regular paragraph with the 'mdc-typography' class applied</p>
                                </Primary>
                            </MTCard>
                        </div>

                        <div class="mdc-layout-grid__cell--span-4">
                            <MTCard CardStyle="@MTCardStyle.Outlined" Tooltip="mdc-typography + style attribute" style="overflow: auto; padding: 1rem;">
                                <Primary>
                                    <p class="mdc-typography" style="color: var(--bmdc-color-red-300);">Material Theme color 'red 300' from a CSS variable</p>
                                </Primary>
                            </MTCard>
                        </div>
                    </div>
                </Primary>
            </MTCard>
        </div>
    </PageContent>
</DemonstrationPage>