@namespace Material.Blazor
@inherits ComponentFoundation


@if (Drawer != null)
{
    <a class="mdc-deprecated-list-item @ActiveConditionalClasses @(@class)"
        style="@style"
        id="@id"
        @attributes="@AttributesToSplat()">

        <span class="mdc-deprecated-list-item__ripple"></span>

        @if (LeadingIcon != null)
        {
            <span class="mdc-deprecated-list-item__graphic mdc-menu__selection-group-icon">
                <MBIcon IconFoundry="@IconFoundry"
                        IconName="@LeadingIcon" />
            </span>
        }

        <span class="mdc-deprecated-list-item__text">@Label</span>
    </a>
}
else if (Menu != null)
{
    <li class="mdc-deprecated-list-item @ActiveConditionalClasses @(@class)"
        style="@style"
        id="@id"
        @attributes="@AttributesToSplat()"
        role="menuitem">

        <span class="mdc-deprecated-list-item__ripple"></span>

        @if (LeadingIcon != null && IsSelectedMenuItem)
        {
            <span class="mdc-deprecated-list-item__graphic mdc-menu__selection-group-icon">
                <MBIcon IconFoundry="@IconFoundry"
                        IconName="@LeadingIcon" />
            </span>
        }

        <span class="mdc-deprecated-list-item__text">@Label @IsSelectedMenuItem</span>
    </li>
}