@namespace Material.Blazor
@inherits ComponentFoundation
@using Microsoft.AspNetCore.Components.Forms


@if (DragAndDropArea)
{
    <MBCard AutoStyled="false"
            class="mb-file-upload--drag-and-drop"
            CardStyle="@MBCardStyle.Outlined">
        <PrimaryAction>
            <div class="mb-file-upload__card-content">
                <div class="mb-card__title mdc-typography--subtitle1">
                    @if (!string.IsNullOrWhiteSpace(LeadingIcon))
                    {
                        <MBIcon class="mb-file-upload__leading-icon" IconFoundry="@IconFoundry" IconName="@LeadingIcon" />
                    }

                    @Label

                    @if (!string.IsNullOrWhiteSpace(TrailingIcon))
                    {
                        <MBIcon class="mb-file-upload__trailing-icon" IconFoundry="@IconFoundry" IconName="@TrailingIcon" />
                    }
                </div>

                <InputFile OnChange="@OnLoadFiles" multiple="@Multiple" />
            </div>
        </PrimaryAction>
    </MBCard>
}
else
{
    <div @ref="@ElementReference" class="mb-file-upload--button">
        <MBButton ButtonStyle="@ButtonStyle"
                  Density="@Density"
                  Label="@Label"
                  LeadingIcon="@LeadingIcon"
                  TrailingIcon="@TrailingIcon"
                  TouchTarget="@TouchTarget"
                  IconFoundry="@IconFoundry"
                  @onclick="@OnClick">

        </MBButton>

        <InputFile OnChange="@OnLoadFiles" multiple="@Multiple" />
    </div>
}