@namespace Material.Blazor
@inherits ComponentFoundation
@using Microsoft.AspNetCore.Components.Forms


<div @ref="@ElementReference" class="mb-file-upload--button">
    <MBButton ButtonStyle="@ButtonStyle"
              Density="@Density"
              Label="@Label"
              LeadingIcon="@LeadingIcon"
              TrailingIcon="@TrailingIcon"
              TouchTarget="@TouchTarget"
              IconFoundry="@IconFoundry"
              @onclick="@ButtonClick">

    </MBButton>

    <InputFile OnChange="@OnLoadFiles" multiple="@Multiple" />
</div>


