@typeparam TItem

@namespace BlazorMdc

@inherits MdcComponentBase

@using System.Linq

@inject IJSRuntime jsRuntime


<div class="@ClassMapper.ToString() @visibilityClass"
     style="@StyleMapper.ToString()">

	<div class="@contentClass @ListTemplateClass">
		@ListTemplate(@:@{
			foreach(TItem item in CurrentPage)
			{
				@ItemTemplate(item)
			}}
		)
	</div>

    <div class="@PaginatorClass">
        <PMdcPaginator @bind-ItemsPerPage="@ItemsPerPage" @bind-PageNumber="@PageNumber" ItemsPerPageSelection="@ItemsPerPageSelection" ItemCount="@Data.Count()"></PMdcPaginator>
    </div>
</div>


@code
{
    [Parameter] public string ListTemplateClass { get; set; } = "";
    [Parameter] public string PaginatorClass { get; set; } = "";
    [Parameter] public IEnumerable<int> ItemsPerPageSelection { get; set; }
    [Parameter] public IEnumerable<TItem> Data { get; set; }
    [Parameter] public RenderFragment<TItem> ItemTemplate { get; set; }
    [Parameter] public RenderFragment<RenderFragment> ListTemplate { get; set; }


    private int _pageNumber;
    [Parameter] public int PageNumber
    {
        get => _pageNumber;
        set
        {
            if (value != _pageNumber)
            {
                if (hasRendered)
                {
                    InvokeAsync(() => OnPageNumberChange(value));
                }
                else
                {
                    _pageNumber = value;
                }
            }
        }
    }
    [Parameter] public EventCallback<int> PageNumberChanged { get; set; }


    private int _itemsPerPage;
    [Parameter] public int ItemsPerPage
    {
        get => _itemsPerPage;
        set
        {
            if (value != _itemsPerPage)
            {
                _itemsPerPage = value;
                if (hasRendered)
                    _ = ItemsPerPageChanged.InvokeAsync(value);
            }
        }
    }
    [Parameter] public EventCallback<int> ItemsPerPageChanged { get; set; }


    private string contentClass = "";
    private bool hideContent = false;
    private string visibilityClass => hideContent ? PMdcSlidingContent<object>.Hidden : PMdcSlidingContent<object>.Visible;
    private bool hasRendered = false;
    private IEnumerable<TItem> CheckedData => Data ?? Array.Empty<TItem>();
    public IEnumerable<TItem> CurrentPage => CheckedData.Skip(PageNumber * ItemsPerPage).Take(ItemsPerPage);


    private async Task OnPageNumberChange(int newPageNumber)
    {
        if (newPageNumber != _pageNumber)
        {
            string nextClass = "";

            if (newPageNumber < _pageNumber)
            {
                nextClass = PMdcSlidingContent<object>.InFromLeft;
                contentClass = PMdcSlidingContent<object>.OutToRight;
            }
            else
            {
                nextClass = PMdcSlidingContent<object>.InFromRight;
                contentClass = PMdcSlidingContent<object>.OutToLeft;
            }

            await Task.Delay(100);

            hideContent = true;
            contentClass = nextClass;
            _pageNumber = newPageNumber;
            hideContent = false;

            StateHasChanged();
        }
    }


    protected override void OnParametersSet()
    {
        if (ItemTemplate == null)
        {
            ItemTemplate = (item) => @:@{ 
				<li @key=item>@item.ToString()</li>}
			;
		}

		if (ListTemplate == null)
		{
			ListTemplate = _ => @:@{ 
				<ul>
					@foreach(TItem item in CurrentPage)
					{
						@ItemTemplate(item)
					}
				</ul>}
			;
        }
    }


    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        hasRendered = true;
    }
}
