@namespace Material.Blazor
@inherits ComponentFoundation


<span class="mb-shield @MappedClassesAndUserClasses"
      style="@MappedStylesAndUserStyles"
      id="@id"
      @attributes="AttributesToSplat()">
    @if (ShieldType != MBShieldType.ValueOnly)
    {
        <span class="mb-shield--label @LabelClass" style="@LabelStyle">
            @if (!string.IsNullOrWhiteSpace(LabelIcon))
            {
                <span>
                    <MBIcon IconFoundry="@IconFoundry"
                            IconName="@LabelIcon" />
                </span>
            }

            <span>@Label</span>
        </span>
    }

    @if (ShieldType != MBShieldType.LabelOnly)
    {
        <span class="mb-shield--value @ValueClass" style="@ValueStyle">
            @if (!string.IsNullOrWhiteSpace(ValueIcon))
            {
                <span>
                    <MBIcon IconFoundry="@IconFoundry"
                            IconName="@ValueIcon" />
                </span>
            }

            <span>@Value</span>
        </span>
    }
</span>