@namespace Material.Blazor.MD2
@inherits ComponentFoundation


<header @ref="HeaderElem"
        class="mdc-top-app-bar @ActiveConditionalClasses @(@class)"
        style="@style"
        id="@id"
        @attributes="@OtherAttributesToSplat()">

    <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            @if (NavIcon != null)
            {
                <MBIconButton @attributes="@EventAttributesToSplat()"
                              class="mdc-top-app-bar__action-item--unbounded"
                              IconName="@NavIcon" />
            }

            <span class="mdc-top-app-bar__title">@Title</span>
        </section>
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" style="padding-right: 20px;">
            @if (ChildContent != null)
            {
                @ChildContent
            }
        </section>
    </div>
</header>
