@inherits MdcInputComponentBase<DateTime>
@inject IJSRuntime jsRuntime



<div @ref="elementReference" class="mdc-select @mainDivClass">
    <div class="mdc-select__anchor">
        <i class="mdc-select__dropdown-icon"></i>
        <div class="mdc-select__selected-text" role="button" aria-haspopup="listbox" aria-labelledby="@labelId" aria-disabled="Disabled">@initialText</div>

        @if (myInputStyle == MdcInputStyle.Filled)
        {
            <span id="@labelId" class="mdc-floating-label mdc-floating-label--float-above">@Label</span>
            <div class="mdc-line-ripple"></div>
        }
        else
        {
            <span class="mdc-notched-outline">
                <span class="mdc-notched-outline__leading"></span>
                <span class="mdc-notched-outline__notch">
                    <span id="@labelId" class="mdc-floating-label mdc-floating-label--float-above">@Label</span>
                </span>
                <span class="mdc-notched-outline__trailing"></span>
            </span>
        }
    </div>

    <div class="mdc-select__menu mdc-menu mdc-menu-surface">
        <MdcDatePicker @bind-Value="CurrentValue" DateSelectionCriteria="DateSelectionCriteria" />
    </div>
</div>



@code {
    [CascadingParameter(Name = "MdcCascadingDefaults")]
    private MdcCascadingDefaults MdcCascadingDefaults { get; set; }
    private MdcCascadingDefaults myCascadingDefaults => (MdcCascadingDefaults is null) ? new MdcCascadingDefaults() : MdcCascadingDefaults;


    [Parameter] public MdcInputStyle? InputStyle { get; set; }
    [Parameter] public string Label { get; set; }
    [Parameter] public MdcDateSelectionCriteria? DateSelectionCriteria { get; set; }



    private ElementReference elementReference;
    private MdcInputStyle myInputStyle;
    private string labelId = Utilities.GenerateCssElementSelector();
    private string mainDivClass = "";
    private string initialText = "";
    private DateTime initialValue;
    private DateTime cachedCurrentValue;


    protected override void OnInitialized()
    {
        base.OnInitialized();

        SetParameters(true);
    }


    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        SetParameters();
    }


    private void SetParameters(bool initialize = false)
    {
        // All values that are bound to HTML are set once at initialization and then left unchanged
        // because allowing Blazor to re-render conflicts with the Material Theme js rendering. This
        // results in the floating label jumping to the wrong place.
        if (initialize || Value != cachedCurrentValue)
        {
            myInputStyle = (InputStyle is null) ? myCascadingDefaults.InputStyle : (MdcInputStyle)InputStyle;
            initialValue = Value;
            cachedCurrentValue = Value;
            initialText = Utilities.DateToString(Value);
            mainDivClass = ((myInputStyle == MdcInputStyle.Outlined) ? " mdc-select--outlined" : "") +
                            (Disabled ? " mdc-select--disabled" : "");
        }
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await jsRuntime.InvokeAsync<object>("BlazorMdc.select.init", elementReference);
        }
    }
}
