@inherits MdcInputComponentBase<bool>

@inject IJSRuntime jsRuntime


<div class="mdc-switch @switchClass" @ref="@elementReference">
    <div class="mdc-switch__track"></div>
    <div class="mdc-switch__thumb-underlay">
        <div class="mdc-switch__thumb">
            <input type="checkbox" id="@Id" checked="@CurrentValue" @onchange=@OnChange class="mdc-switch__native-control" role="switch" disabled="@Disabled" />
        </div>
    </div>
</div>
<label for="@Id" style="margin-left: 1rem;">@Label</label>


@code {
    [Parameter] public string Label { get; set; } = "On/off";
    [Parameter] public EventCallback OnChange { get; set; }


    private string switchClass => (Disabled ? " mdc-switch--disabled" : "") + (CurrentValue ? " mdc-switch--checked" : "");
    ElementReference elementReference;


    //async Task HandleChangeAsync()
    //{
    //    await OnChange.InvokeAsync(null);
    //}

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await jsRuntime.InvokeAsync<object>("BlazorMdc.switch.setChecked", elementReference, CurrentValue);
        }
    }
}
