@namespace BMdc
@inherits ComponentFoundation


@if (isOpen)
{
    <div @key="@key"
         @ref="DialogElem"
         aria-labelledby="@titleId"
         aria-describedby="@descId"
         @attributes="@AttributesToSplat()">

        <CascadingValue Value="this">
            <div class="mdc-dialog__container">
                <div class="mdc-dialog__surface @OverflowClass">
                    <h2 id="@titleId" class="mdc-dialog__title">@Title</h2>
                    
                    <div id="@descId" class="mdc-dialog__content @OverflowClass">
                        @Body
                    </div>

                    @if (Buttons != null)
                    {
                        <footer class="mdc-dialog__actions">
                            @Buttons
                        </footer>
                    }
                </div>
            </div>
        </CascadingValue>

        <div class="mdc-dialog__scrim"></div>
    </div>
}