@namespace BlazorMdc.Demo

@page "/textfield"

@inject IJSRuntime jsRuntime

<style>
    .my-orange-background {
        background-color: orange !important;
    }
</style>

<h1 class="mdc-typography--headline4">Text field samples</h1>

<p>See <code>TextFieldSample.razor</code> for sources.</p>

<p style="margin-top: 3rem;">Filled style</p>
<p><MTTextField class="my-orange-background" Label="Filled" @bind-Value="@currentValueFilled" TextInputStyle="MTTextInputStyle.Filled" TrailingIcon="account_balance_wallet" Disabled="@DisableComponents" /></p>
<p><MTTextField Label="Filled (repeated)" @bind-Value="@currentValueFilled" TextInputStyle="MTTextInputStyle.Filled" TrailingIcon="account_balance_wallet" Disabled="@DisableComponents" /></p>
<p>You typed: <strong>'@(currentValueFilled ?? "")'</strong></p>


<p style="margin-top: 3rem;">Filled style</p>
<p><MTTextField style="background-color: aquamarine;" Label="Filled" @bind-Value="@currentValueFilled" TextInputStyle="MTTextInputStyle.Filled" TrailingIcon="account_balance_wallet" Disabled="@DisableComponents" /></p>
<p>You typed: <strong>'@(currentValueFilled ?? "")'</strong></p>

<p style="margin-top: 3rem;">Outlined style</p>
<p><MTTextField Label="Outlined" @bind-Value="@currentValueOutlined" TextInputStyle="MTTextInputStyle.Outlined" LeadingIcon="account_balance_wallet" Disabled="@DisableComponents" /></p>
<p>You typed: <strong>'@(currentValueOutlined ?? "")'</strong></p>

<p style="margin-top: 3rem;">Right aligned</p>
<p><MTTextField Label="Right aligned" @bind-Value="@currentValueRight" TextInputStyle="MTTextInputStyle.Outlined" TextAlignStyle="MTTextAlignStyle.Right" Disabled="@DisableComponents" /></p>
<p>You typed: <strong>'@(currentValueRight ?? "")'</strong></p>

<p style="margin-top: 3rem;">Password</p>
<p><MTTextField Label="Password" @bind-Value="@currentValuePassword" TextInputStyle="MTTextInputStyle.Outlined" type="password" Disabled="@DisableComponents" /></p>
<p>You typed: <strong>'@(currentValuePassword ?? "")'</strong></p>

<p style="margin-top: 3rem;">Password</p>
<p><MTTextField Label="Prefix/Suffix" @bind-Value="@currentValuePS" Prefix="$" Suffix="%" TextInputStyle="MTTextInputStyle.Outlined" Disabled="@DisableComponents" /></p>
<p>You typed: <strong>'@(currentValuePS ?? "")'</strong></p>

<p style="margin-top: 3rem;">Filled style</p>
<p><MTTextField Label="Density Minus 1" Density="@MTDensity.Minus1" TextInputStyle="MTTextInputStyle.Outlined" @bind-Value="@currentValueDensityM1" TextInputStyle="MTTextInputStyle.Filled" TrailingIcon="account_balance_wallet" Disabled="@DisableComponents" /></p>
<p>You typed: <strong>'@(currentValueDensityM1 ?? "")'</strong></p>

<p style="margin-top: 3rem;">Filled style</p>
<p><MTTextField Label="Density Minus 2" Density="@MTDensity.Minus2" TextInputStyle="MTTextInputStyle.Outlined" @bind-Value="@currentValueDensityM2" TextInputStyle="MTTextInputStyle.Filled" TrailingIcon="account_balance_wallet" Disabled="@DisableComponents" /></p>
<p>You typed: <strong>'@(currentValueDensityM2 ?? "")'</strong></p>

<p style="margin-top: 3rem;">Filled style</p>
<p><MTTextField Label="Density Minus 3" Density="@MTDensity.Minus3" TextInputStyle="MTTextInputStyle.Outlined" @bind-Value="@currentValueDensityM3" TextInputStyle="MTTextInputStyle.Filled" TrailingIcon="account_balance_wallet" Disabled="@DisableComponents" /></p>
<p>You typed: <strong>'@(currentValueDensityM3 ?? "")'</strong></p>


@code {
    [CascadingParameter(Name = "DisableComponents")] private bool DisableComponents { get; set; }

    string currentValueFilled;
    string currentValueOutlined;
    string currentValueRight;
    string currentValuePassword;
    string currentValuePS;
    string currentValueDensityM1;
    string currentValueDensityM2;
    string currentValueDensityM3;
}
