@namespace Material.Blazor.Internal
@inherits ComponentFoundation


<div class="@SeparatorClass">
    @if (ShowDropZone)
    {
        <div class="mb-drag-and-drop-list__drop-target @HoverClass"
             ondragover="event.preventDefault(); event.dataTransfer.dropEffect = 'move';"
             ondragstart="event.dataTransfer.setData('', event.target.id);"
             @ondragenter="@OnDragEnter"
             @ondragleave="@OnDragLeave"
             @ondrop="@OnDropAsync">

            <hr />
        </div>
    }
</div>
