@namespace Material.Blazor
@inherits InputComponent<List<TItem>>
@typeparam TItem


<div @ref="@ElementReference"
     class="mb-drag-and-drop-list @ActiveConditionalClasses @(@class)"
     style="@style"
     id="@id"
     @attributes="@AttributesToSplat()">

    <InternalDragAndDropSpacer Index="0" DropNotifier="@DropNotifier" />

    @{
        var index = 1;
    }

    @foreach (var item in Value)
    {
        <MBCard CardStyle="@MBCardStyle.Outlined">
            <Primary>
                <div class="mb-drag-and-drop-list__card-contents">
                    <div class="mb-drag-and-drop-list__draggable"
                         draggable="true">
                        <MBIcon IconName="drag_indicator" />
                    </div>
                    <div class="mb-drag-and-drop-list__user-content mb-card__autostyled">
                        @Content(item)
                    </div>
                </div>
            </Primary>
        </MBCard>

        <InternalDragAndDropSpacer Index="@(index++)" DropNotifier="@DropNotifier" />
    }
</div>