@namespace BlazorMdc.Demo

@page "/card"

<h1 class="mdc-typography--headline4">Card samples</h1>

<p>See <code>CardSample.razor</code> for sources.</p>

<style>
    .my-card {
        width: 350px;
        margin-bottom: 2rem;
    }
</style>



<BMdc.Card Class="my-card" AutoStyled="true" @onclick="@OnClick">
    <PrimaryAction>
        <div class="mdc-card__media mdc-card__media--16-9 bmdc-card__media" style="background-image: url(&quot;https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg&quot;);"></div>
        <div class="bmdc-card__primary">
            <h2 class="bmdc-card__title mdc-typography mdc-typography--headline6">Our Changing Planet</h2>
            <h3 class="bmdc-card__subtitle mdc-typography mdc-typography--subtitle2">by Kurt Wagner</h3>
        </div>
        <div class="bmdc-card__secondary mdc-typography mdc-typography--body2">Visit ten places on our planet that are undergoing the biggest changes today.</div>
    </PrimaryAction>

    <ActionButtons>
        <BMdc.Button Label="Read" />
        <BMdc.Button Label="Bookmark" />
    </ActionButtons>

    <ActionIcons>
        <BMdc.IconButton Icon="share" />
        <BMdc.IconButton Icon="more_vert" />
    </ActionIcons>
</BMdc.Card>



<BMdc.Card Class="my-card bmdc-basic-with-text-over-media" AutoStyled="true" @onclick="@OnClick">
    <PrimaryAction>
        <div class="mdc-card__media mdc-card__media--16-9 bmdc-card__media" style="background-image: url(&quot;https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg&quot;);">
            <div class="mdc-card__media-content bmdc-card__media-content">
                <div class="bmdc-card__primary">
                    <h2 class="bmdc-card__title mdc-typography mdc-typography--headline6">Our Changing Planet</h2>
                    <h3 class="bmdc-card__subtitle mdc-typography mdc-typography--subtitle2">by Kurt Wagner</h3>
                </div>
            </div>
        </div>
    </PrimaryAction>
</BMdc.Card>



<BMdc.Card Class="my-card bmdc-basic-with-header" AutoStyled="true" @onclick="@OnClick" CardStyle="BMdcModel.CardStyle.Outlined">
    <Primary>
        <h2 class="bmdc-card__title mdc-typography mdc-typography--headline6">Our Changing Planet</h2>
        <h3 class="bmdc-card__subtitle mdc-typography mdc-typography--subtitle2">by Kurt Wagner</h3>
    </Primary>

    <PrimaryAction>
        <div class="mdc-card__media mdc-card__media--16-9 bmdc-card__media" style="background-image: url(&quot;https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg&quot;);"></div>
        <div class="bmdc-card__secondary mdc-typography mdc-typography--body2">Clicked at '@clickTime.ToString()'.</div>
    </PrimaryAction>

    <ActionButtons>
        <BMdc.Button Label="Read" />
        <BMdc.Button Label="Bookmark" />
    </ActionButtons>

    <ActionIcons>
        <BMdc.IconButton Icon="share" />
        <BMdc.IconButton Icon="more_vert" />
    </ActionIcons>
</BMdc.Card>



<BMdc.Card Class="my-card" AutoStyled="true" @onclick="@OnClick">
    <PrimaryAction>
        <div class="mdc-card__media mdc-card__media--16-9 bmdc-card__media" style="background-image: url(&quot;https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg&quot;);"></div>
        <div class="bmdc-card__primary">
            <h2 class="bmdc-card__title mdc-typography mdc-typography--headline6">Our Changing Planet</h2>
            <h3 class="bmdc-card__subtitle mdc-typography mdc-typography--subtitle2">by Kurt Wagner</h3>
        </div>
        <div class="bmdc-card__secondary mdc-typography mdc-typography--body2">Visit ten places on our planet that are undergoing the biggest changes today.</div>
    </PrimaryAction>

    <ActionButtons>
        <BMdc.Button Label="Read" />
        <BMdc.Button Label="Bookmark" />
    </ActionButtons>
</BMdc.Card>



<BMdc.Card Class="my-card" AutoStyled="true" @onclick="@OnClick">
    <PrimaryAction>
        <div class="mdc-card__media mdc-card__media--16-9 bmdc-card__media" style="background-image: url(&quot;https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg&quot;);"></div>
        <div class="bmdc-card__primary">
            <h2 class="bmdc-card__title mdc-typography mdc-typography--headline6">Our Changing Planet</h2>
            <h3 class="bmdc-card__subtitle mdc-typography mdc-typography--subtitle2">by Kurt Wagner</h3>
        </div>
        <div class="bmdc-card__secondary mdc-typography mdc-typography--body2">Visit ten places on our planet that are undergoing the biggest changes today.</div>
    </PrimaryAction>

    <ActionIcons>
        <BMdc.IconButton Icon="share" />
        <BMdc.IconButton Icon="more_vert" />
    </ActionIcons>
</BMdc.Card>



<BMdc.Card Class="my-card bmdc-ui-control" AutoStyled="true" @onclick="@OnClick">
    <PrimaryAction>
        <div class="mdc-card__media mdc-card__media--square bmdc-card__media" style="background-image: url(&quot;https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg&quot;);"></div>
        <div class="bmdc-card__primary">
            <h2 class="bmdc-card__title mdc-typography mdc-typography--headline6">Our Changing Planet</h2>
            <h3 class="bmdc-card__subtitle mdc-typography mdc-typography--subtitle2">by Kurt Wagner</h3>
        </div>
    </PrimaryAction>

    <ActionButtons>
        <BMdc.Button Label="Read" />
        <BMdc.Button Label="Bookmark" />
    </ActionButtons>

    <ActionIcons>
        <BMdc.IconButton Icon="share" />
        <BMdc.IconButton Icon="more_vert" />
    </ActionIcons>
</BMdc.Card>






@code {
    DateTime clickTime = DateTime.Now;

    private void OnClick()
    {
        clickTime = DateTime.Now;
    }
}
