@namespace BlazorMdc.Demo

@page "/paginator"

<style>
    .my-container {
        display: inline-block;
        width: 100%;
    }
</style>

<h1 class="mdc-typography--headline4">Paginator samples</h1>

<p>See <code>PaginatorSamples.razor</code> for sources.</p>

<hr style="margin: 1rem 0 1rem 0;" />

<h2 class="mdc-typography--headline6">Plain MTPaginator</h2>

<MTPaginator @bind-ItemsPerPage="@itemsPerPage" @bind-PageNumber="@pageNumber" ItemsPerPageSelection="@itemsPerPageSelection" ItemCount="@items.Length"></MTPaginator>

@foreach (var item in selection)
{
    <p>@item</p>
}

<hr style="margin: 1rem 0 1rem 0;" />


@code {
    private string[] items = { "one", "two", "three", "four", "five", "six", "seven", "eight", "nine", "ten", "eleven", "twelve", "thirteen", "fourteen", "fifteen", "sixteen", "seventeen", "eighteen", "nineteen", "twenty" };
    private int[] itemsPerPageSelection = { 2, 4, 6 };
    private int itemsPerPage = 6;
    private int pageNumber = 0;

    private IEnumerable<string> selection => items.Skip(itemsPerPage * pageNumber).Take(itemsPerPage);
}

