@namespace Material.Blazor
@inherits ComponentFoundation


<div class="mdc-touch-target-wrapper">
    <button @ref="@ElementReference"
            @attributes="@AttributesToSplat()"
            data-mdc-dialog-action="@DialogAction">
        <div class="mdc-button__ripple"></div>

        @if (!string.IsNullOrWhiteSpace(LeadingIcon))
        {
            <MBIcon aria-hidden="true"
                    class="mdc-button__icon"
                    IconFoundry="@IconFoundry"
                    IconName="@LeadingIcon" />
        }

        <span class="mdc-button__label">@Label</span>

        @if (!string.IsNullOrWhiteSpace(TrailingIcon))
        {
            <MBIcon aria-hidden="true"
                    class="mdc-button__icon"
                    IconFoundry="@IconFoundry"
                    IconName="@TrailingIcon" />
        }
    </button>
</div>
