@namespace Material.Blazor
@inherits ComponentFoundation

<MBTouchTargetWrapper ApplyTouchTargetWrapper="AppliedTouchTarget">
    <button @ref="@ElementReference"
            class="mdc-button @ActiveConditionalClasses @(@class)"
            style="@style"
            id="@id"
            @attributes="@AttributesToSplat()"
            data-mdc-dialog-action="@DialogAction">

        <span class="mdc-button__ripple" />
        <span class="mdc-button__touch" />

        @if (!string.IsNullOrWhiteSpace(LeadingIcon))
        {
            <MBIcon aria-hidden="true"
                    class="mdc-button__icon"
                    IconFoundry="@IconFoundry"
                    IconName="@LeadingIcon" />
        }

        <span class="mdc-button__label">@Label</span>

        @if (!string.IsNullOrWhiteSpace(TrailingIcon))
        {
            <MBIcon aria-hidden="true"
                    class="mdc-button__icon"
                    IconFoundry="@IconFoundry"
                    IconName="@TrailingIcon" />
        }

        @if (HasBadge)
        {
            <span class="mb-badge-container">
                <MBBadge BadgeStyle="@BadgeStyle" Value="@BadgeValue" Exited="@BadgeExited" />
            </span>
        }
    </button>
</MBTouchTargetWrapper>
