@namespace BlazorMdc.Demo

@page "/cascadingdefaults"


<h1 class="mdc-typography--headline4">Cascading defaults samples</h1>

<p>Shows how MdcpCascadingDefaults can be used as a cascading value to set default component styles.</p>
<p>See <code>CascadingDefaultsSample.razor</code> for sources.</p>

<h3 class="mdc-typography--headline5" style="margin-top: 4rem;">BlazorMdc default styles</h3>
<p><MdcSelect Label="Select" @bind-Value="@selectDefault" Items="items" ItemValidation="@BEnum.ItemValidation.NoSelection" /></p>
<p><PMdcDatePicker Label="Date" @bind-Value="dateDefault" MinDate="min" MaxDate="max" /></p>
<p><MdcTextField Label="Text Field" @bind-Value="textFieldDefault" /></p>
<p><MdcTextArea Label="Text Area" Rows="2" @bind-Value="textAreaDefault" /></p>
<p><MdcButton Label="Button" /></p>
<p><PMdcIcon Icon="thumb_up" /></p>

<CascadingValue Value="defaults1">
    <h3 class="mdc-typography--headline5" style="margin-top: 4rem;">Variant 1</h3>
    <p><MdcSelect Label="Select" @bind-Value="@selectVariant1" Items="items" /></p>
    <p><PMdcDatePicker Label="Date" @bind-Value="dateVariant1" MinDate="min" MaxDate="max" /></p>
    <p><MdcTextField Label="Text Field" @bind-Value="textFieldVariant1" /></p>
    <p><MdcTextArea Label="Text Area" Rows="2" @bind-Value="textAreaVariant1" /></p>
    <p><MdcButton Label="Button" /></p>
    <p><PMdcIcon Icon="thumb_up" /></p>
</CascadingValue>

<CascadingValue Value="defaults2">
    <h3 class="mdc-typography--headline5" style="margin-top: 4rem;">Variant 2</h3>
    <p><MdcSelect Label="Select" @bind-Value="@selectVariant2" Items="items" /></p>
    <p><PMdcDatePicker Label="Date" @bind-Value="dateVariant2" MinDate="min" MaxDate="max" /></p>
    <p><MdcTextField Label="Text Field" @bind-Value="textFieldVariant2" /></p>
    <p><MdcTextArea Label="Text Area" Rows="2" @bind-Value="textAreaVariant2" /></p>
    <p><MdcButton Label="Button" /></p>
    <p><PMdcIcon Icon="thumb_up" /></p>
</CascadingValue>

<CascadingValue Value="defaults3">
    <h3 class="mdc-typography--headline5" style="margin-top: 4rem;">Variant 3</h3>
    <p><MdcSelect Label="Select" @bind-Value="@selectVariant3" Items="items" /></p>
    <p><PMdcDatePicker Label="Date" @bind-Value="dateVariant3" MinDate="min" MaxDate="max" /></p>
    <p><MdcTextField Label="Text Field" @bind-Value="textFieldVariant3" /></p>
    <p><MdcTextArea Label="Text Area" Rows="2" @bind-Value="textAreaVariant3" /></p>
    <p><MdcButton Label="Button" /></p>
    <p><PMdcIcon Icon="fa-hiking" /></p>
</CascadingValue>



@code {
    string selectDefault;
    string textFieldDefault;
    string textAreaDefault;
    DateTime dateDefault = new DateTime(2020, 2, 29);
    DateTime min = new DateTime(2019, 1, 1);
    DateTime max = new DateTime(2078, 12, 31);


    BModel.CascadingDefaults defaults1 = new BModel.CascadingDefaults()
    {
        SelectInputStyle = BEnum.SelectInputStyle.Outlined,
        TextInputStyle = BEnum.TextInputStyle.Outlined,
        ButtonStyle = BEnum.ButtonStyle.Outlined,
        DateSelectionCriteria = BEnum.DateSelectionCriteria.WeekdaysOnly,
        ItemValidation = BEnum.ItemValidation.NoSelection,
        IconMITheme = BEnum.IconMITheme.Outlined
    };
    string selectVariant1;
    string textFieldVariant1;
    string textAreaVariant1;
    DateTime dateVariant1 = new DateTime(2020, 2, 29);


    BModel.CascadingDefaults defaults2 = new BModel.CascadingDefaults()
    {
        SelectInputStyle = BEnum.SelectInputStyle.Filled,
        TextInputStyle = BEnum.TextInputStyle.FullWidth,
        ButtonStyle = BEnum.ButtonStyle.ContainedUnelevated,
        DateSelectionCriteria = BEnum.DateSelectionCriteria.WeekendsOnly,
        ItemValidation = BEnum.ItemValidation.NoSelection,
        IconMITheme = BEnum.IconMITheme.TwoTone
    };
    string selectVariant2;
    string textFieldVariant2;
    string textAreaVariant2;
    DateTime dateVariant2 = new DateTime(2020, 2, 29);


    BModel.CascadingDefaults defaults3 = new BModel.CascadingDefaults()
    {
        SelectInputStyle = BEnum.SelectInputStyle.Outlined,
        TextInputStyle = BEnum.TextInputStyle.Filled,
        ButtonStyle = BEnum.ButtonStyle.ContainedRaised,
        DateSelectionCriteria = BEnum.DateSelectionCriteria.AllowAll,
        ItemValidation = BEnum.ItemValidation.NoSelection,
        IconFoundryName = BEnum.IconFoundryName.FontAwesome,
        IconFARelativeSize = BEnum.IconFARelativeSize.TenTimes
    };
    string selectVariant3;
    string textFieldVariant3;
    string textAreaVariant3;
    DateTime dateVariant3 = new DateTime(2020, 2, 29);



    BModel.ListElement<string>[] items = new BModel.ListElement<string>[]
    {
        new BModel.ListElement<string> { SelectedValue = "", Label = "" },
        new BModel.ListElement<string> { SelectedValue = "brit-short", Label = "British Shorthair" },
        new BModel.ListElement<string> { SelectedValue = "russ-blue", Label = "Russian Blue" },
        new BModel.ListElement<string> { SelectedValue = "ice-invis", Label = "Icelandic Invisible" }
    };
}