@namespace Material.Blazor
@inherits InputComponentFoundation<string>


<label @ref="ElementReference"
       @attributes="@AttributesToSplat(SplatType.IdClassAndStyleOnly)">

    @if (AppliedInputStyle == MBTextInputStyle.Filled)
    {
        <span class="mdc-text-field__ripple"></span>
    }

    <span class="mdc-text-field__resizer">
        <textarea @attributes="@AttributesToSplat(SplatType.ExcludeIdClassAndStyle)"
                  id="@id"
                  class="mdc-text-field__input @AppliedTextInputStyleClass @FieldClass"
                  @bind="@ReportingValue"
                  aria-labelledby="@labelId"
                  rows="@Rows"
                  cols="@Cols"
                  disabled="@AppliedDisabled"></textarea>
    </span>

    @if (AppliedInputStyle == MBTextInputStyle.Outlined)
    {
        <span class="mdc-notched-outline">
            <span class="mdc-notched-outline__leading"></span>

            @if (ShowLabel)
            {
                <span class="mdc-notched-outline__notch">
                    <span class="mdc-floating-label @FloatingLabelClass" for="@CrossReferenceId" id="@labelId">@Label</span>
                </span>
            }

            <span class="mdc-notched-outline__trailing"></span>
        </span>
    }
    else
    {
        @if (ShowLabel)
        {
            <span class="mdc-floating-label @FloatingLabelClass" for="@CrossReferenceId" id="@labelId">@Label</span>
        }

        <span class="mdc-line-ripple"></span>
    }
</label>