@namespace BlazorMdc.Demo

@inherits LayoutComponentBase

@inject IAnimatedNavigationManager AnimatedNavigationManager
@inject DemoConfiguration DemoConfiguration

<BMdcPlus.ToastAnchor />

<BMdc.Drawer @ref="@sidebar"
           IsDismissible="true">
    <div class="mdc-list">
        <BMdc.ListItem NavigationReference="" LeadingIcon="home" Text="Home" OnClick="@ListItemClickHandler" />
        <BMdc.ListItem NavigationReference="" LeadingIcon="home" Text="Home (Disabled)" OnClick="@ListItemClickHandler" Disabled="true" />
        <BMdc.ListItem NavigationReference="autocomplete" LeadingIcon="keyboard" Text="Autocomplete" OnClick="@ListItemClickHandler" />
        <BMdc.ListItem NavigationReference="button" LeadingIcon="touch_app" Text="Button" OnClick="@ListItemClickHandler" />
        <BMdc.ListItem NavigationReference="card" LeadingIcon="dashboard" Text="Card" OnClick="@ListItemClickHandler" />
        <BMdc.ListItem NavigationReference="cascadingdefaults" LeadingIcon="web" Text="CascadingDefaults" OnClick="@ListItemClickHandler" />
        <BMdc.ListItem NavigationReference="checkbox" LeadingIcon="check_box" Text="Checkbox" OnClick="@ListItemClickHandler" />
        <BMdc.ListItem NavigationReference="datatable" LeadingIcon="table_chart" Text="Data Table" OnClick="@ListItemClickHandler" />
        <BMdc.ListItem NavigationReference="datepicker" LeadingIcon="date_range" Text="Date Picker" OnClick="@ListItemClickHandler" />
        <BMdc.ListItem NavigationReference="debouncedtextfield" LeadingIcon="search" Text="Debounced Text Field" OnClick="@ListItemClickHandler" />
        <BMdc.ListItem NavigationReference="dialog" LeadingIcon="picture_in_picture" Text="Dialog" OnClick="@ListItemClickHandler" />
        <BMdc.ListItem NavigationReference="form" LeadingIcon="ballot" Text="Form" OnClick="@ListItemClickHandler" />
        <BMdc.ListItem NavigationReference="list" LeadingIcon="list" Text="List" OnClick="@ListItemClickHandler" />
        <BMdc.ListItem NavigationReference="menu" LeadingIcon="menu" Text="Menu" OnClick="@ListItemClickHandler" />
        <BMdc.ListItem NavigationReference="miscellaneous" LeadingIcon="text_format" Text="Miscellaneous" OnClick="@ListItemClickHandler" />
        <BMdc.ListItem NavigationReference="numericfield" LeadingIcon="money" Text="Numeric Field" OnClick="@ListItemClickHandler" />
        <BMdc.ListItem NavigationReference="pageddatalist" LeadingIcon="view_list" Text="Paged Data List" OnClick="@ListItemClickHandler" />
        <BMdc.ListItem NavigationReference="paginator" LeadingIcon="pages" Text="Paginator" OnClick="@ListItemClickHandler" />
        <BMdc.ListItem NavigationReference="progress" LeadingIcon="access_time" Text="Progress" OnClick="@ListItemClickHandler" />
        <BMdc.ListItem NavigationReference="radiobuttons" LeadingIcon="radio_button_checked" Text="Radio Buttons" OnClick="@ListItemClickHandler" />
        <BMdc.ListItem NavigationReference="select" LeadingIcon="arrow_drop_down" Text="Select" OnClick="@ListItemClickHandler" />
        <BMdc.ListItem NavigationReference="slidingcontent" LeadingIcon="compare_arrows" Text="Sliding Content" OnClick="@ListItemClickHandler" />
        <BMdc.ListItem NavigationReference="switch" LeadingIcon="toggle_on" Text="Switch" OnClick="@ListItemClickHandler" />
        <BMdc.ListItem NavigationReference="tabbar" LeadingIcon="tab" Text="Tab Bar" OnClick="@ListItemClickHandler" />
        <BMdc.ListItem NavigationReference="textarea" LeadingIcon="assignment" Text="Text Area" OnClick="@ListItemClickHandler" />
        <BMdc.ListItem NavigationReference="textfield" LeadingIcon="text_format" Text="Text Field" OnClick="@ListItemClickHandler" />
        <BMdc.ListItem NavigationReference="toast" LeadingIcon="textsms" Text="Toast" OnClick="@ListItemClickHandler" />
        <BMdc.ListDivider />
        <BMdc.ListItem NavigationReference="wrappedinput" LeadingIcon="menu" Text="Wrapped input component" OnClick="@ListItemClickHandler" />
    </div>
</BMdc.Drawer>

<div class="mdc-drawer-app-content">
    <BMdc.TopAppBar Title="BlazorMdc - Material Theme components for Blazor"
                  @onclick="@SideBarToggle"
                  NavIcon="menu"
                  ScrollTarget="#main-content"
                  TopAppBarType="@DemoConfiguration.TopAppBarType"
                  Class="mdc-top-app-bar--short-has-action-item">
        <div id="account-target">
            <BMdc.IconButtonToggle @bind-Value="AnimatedNavigationManager.Configuration.ApplyAnimation" IconOn="directions_run" IconOff="airline_seat_individual_suite" />
        </div>
    </BMdc.TopAppBar>

    <main class="main-content" id="main-content">
        <BMdcPlus.AnimatedNavigation>
            <div class="mdc-top-app-bar--fixed-adjust">
                <div class="mdc-card main-content-card">
                    <div class="mdc-layout-grid">
                        <div class="mdc-layout-grid__inner">
                            <div class="mdc-layout-grid__cell--span-12">
                                @Body
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </BMdcPlus.AnimatedNavigation>
    </main>
</div>

@code {
    BMdc.Drawer sidebar;

    private void ListItemClickHandler(string NavigationReference)
    {
        sidebar.NotifyNavigation();
        AnimatedNavigationManager.NavigateTo(NavigationReference);
    }

    private void SideBarToggle()
    {
        sidebar.Toggle();
    }
}
