@namespace BlazorMdc.Demo

@inherits LayoutComponentBase

@inject IMTAnimatedNavigationManager AnimatedNavigationManager
@inject DemoConfiguration DemoConfiguration

<MTToastAnchor />

<MTDrawer @ref="@sidebar"
          IsDismissible="true">
    <div class="mdc-list">
        <MTListItem NavigationReference="" LeadingIcon="home" Text="Home" OnClick="@ListItemClickHandler" />
        <MTListItem NavigationReference="" LeadingIcon="home" Text="Home (Disabled)" OnClick="@ListItemClickHandler" Disabled="true" />
        <MTListItem NavigationReference="autocomplete" LeadingIcon="keyboard" Text="Autocomplete" OnClick="@ListItemClickHandler" />
        <MTListItem NavigationReference="button" LeadingIcon="touch_app" Text="Button" OnClick="@ListItemClickHandler" />
        <MTListItem NavigationReference="card" LeadingIcon="dashboard" Text="Card" OnClick="@ListItemClickHandler" />
        <MTListItem NavigationReference="cascadingdefaults" LeadingIcon="web" Text="CascadingDefaults" OnClick="@ListItemClickHandler" />
        <MTListItem NavigationReference="checkbox" LeadingIcon="check_box" Text="Checkbox" OnClick="@ListItemClickHandler" />
        <MTListItem NavigationReference="datatable" LeadingIcon="table_chart" Text="Data Table" OnClick="@ListItemClickHandler" />
        <MTListItem NavigationReference="datepicker" LeadingIcon="date_range" Text="Date Picker" OnClick="@ListItemClickHandler" />
        <MTListItem NavigationReference="debouncedtextfield" LeadingIcon="search" Text="Debounced Text Field" OnClick="@ListItemClickHandler" />
        <MTListItem NavigationReference="dialog" LeadingIcon="picture_in_picture" Text="Dialog" OnClick="@ListItemClickHandler" />
        <MTListItem NavigationReference="form" LeadingIcon="ballot" Text="Form" OnClick="@ListItemClickHandler" />
        <MTListItem NavigationReference="list" LeadingIcon="list" Text="List" OnClick="@ListItemClickHandler" />
        <MTListItem NavigationReference="menu" LeadingIcon="menu" Text="Menu" OnClick="@ListItemClickHandler" />
        <MTListItem NavigationReference="miscellaneous" LeadingIcon="text_format" Text="Miscellaneous" OnClick="@ListItemClickHandler" />
        <MTListItem NavigationReference="numericfield" LeadingIcon="money" Text="Numeric Field" OnClick="@ListItemClickHandler" />
        <MTListItem NavigationReference="pageddatalist" LeadingIcon="view_list" Text="Paged Data List" OnClick="@ListItemClickHandler" />
        <MTListItem NavigationReference="paginator" LeadingIcon="pages" Text="Paginator" OnClick="@ListItemClickHandler" />
        <MTListItem NavigationReference="progress" LeadingIcon="access_time" Text="Progress" OnClick="@ListItemClickHandler" />
        <MTListItem NavigationReference="radiobuttons" LeadingIcon="radio_button_checked" Text="Radio Buttons" OnClick="@ListItemClickHandler" />
        <MTListItem NavigationReference="select" LeadingIcon="arrow_drop_down" Text="Select" OnClick="@ListItemClickHandler" />
        <MTListItem NavigationReference="slidingcontent" LeadingIcon="compare_arrows" Text="Sliding Content" OnClick="@ListItemClickHandler" />
        <MTListItem NavigationReference="switch" LeadingIcon="toggle_on" Text="Switch" OnClick="@ListItemClickHandler" />
        <MTListItem NavigationReference="tabbar" LeadingIcon="tab" Text="Tab Bar" OnClick="@ListItemClickHandler" />
        <MTListItem NavigationReference="textarea" LeadingIcon="assignment" Text="Text Area" OnClick="@ListItemClickHandler" />
        <MTListItem NavigationReference="textfield" LeadingIcon="text_format" Text="Text Field" OnClick="@ListItemClickHandler" />
        <MTListItem NavigationReference="toast" LeadingIcon="textsms" Text="Toast" OnClick="@ListItemClickHandler" />
        <MTListDivider />
        <MTListItem NavigationReference="wrappedinput" LeadingIcon="menu" Text="Wrapped input component" OnClick="@ListItemClickHandler" />
    </div>
</MTDrawer>

<div class="mdc-drawer-app-content">
    <MTTopAppBar Title="BlazorMdc - Material Theme components for Blazor"
                 @onclick="@SideBarToggle"
                 NavIcon="menu"
                 ScrollTarget="#main-content"
                 TopAppBarType="@DemoConfiguration.TopAppBarType"
                 class="mdc-top-app-bar--short-has-action-item">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
            <MTIconButtonToggle @bind-Value="@AnimatedNavigationManager.Configuration.ApplyAnimation" IconOn="directions_run" IconOff="airline_seat_individual_suite" @onmouseup="@MouseUp" />
            <MTIconButtonToggle @bind-Value="@disableComponents" IconOn="pause_circle_outline" IconOff="play_circle_outline" @onmouseup="@MouseUp" />
        </section>
    </MTTopAppBar>

    <main class="main-content" id="main-content">
        <MTAnimatedNavigation>
            <div class="mdc-top-app-bar--fixed-adjust">
                <div class="mdc-card main-content-card">
                    <div class="mdc-layout-grid">
                        <div class="mdc-layout-grid__inner">
                            <div class="mdc-layout-grid__cell--span-12">
                                <CascadingValue Value="disableComponents" Name="DisableComponents">
                                    @Body
                                </CascadingValue>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </MTAnimatedNavigation>
    </main>
</div>

@code {
    MTDrawer sidebar;
    private bool disableComponents = false;

    private void ListItemClickHandler(string NavigationReference)
    {
        sidebar.NotifyNavigation();
        AnimatedNavigationManager.NavigateTo(NavigationReference);
    }

    private void SideBarToggle()
    {
        sidebar.Toggle();
    }

    private void MouseUp()
    {
        StateHasChanged();
    }
}
