@namespace BlazorMdc.Demo

@inherits LayoutComponentBase

@inject IMTAnimatedNavigationManager AnimatedNavigationManager
@inject DemoConfiguration DemoConfiguration

<MTAnchor />

<MTDrawer @ref="@sidebar"
          IsDismissible="true">
    <div class="mdc-list">
        <MTListItem LeadingIcon="home" Label="Home" @onclick="@(() => ListItemClickHandler(""))" />
        <MTListItem LeadingIcon="home" Label="Home (Disabled)" @onclick="@(() => ListItemClickHandler(""))" Disabled="true" />
        <MTListItem LeadingIcon="keyboard" Label="Autocomplete" @onclick="@(() => ListItemClickHandler("autocomplete"))" />
        <MTListItem LeadingIcon="touch_app" Label="Button" @onclick="@(() => ListItemClickHandler("button"))" />
        <MTListItem LeadingIcon="dashboard" Label="Card" @onclick="@(() => ListItemClickHandler("card"))" />
        <MTListItem LeadingIcon="web" Label="CascadingDefaults" @onclick="@(() => ListItemClickHandler("cascadingdefaults"))" />
        <MTListItem LeadingIcon="check_box" Label="Checkbox" @onclick="@(() => ListItemClickHandler("checkbox"))" />
        <MTListItem LeadingIcon="table_chart" Label="Data Table" @onclick="@(() => ListItemClickHandler("datatable"))" />
        <MTListItem LeadingIcon="date_range" Label="Date Picker" @onclick="@(() => ListItemClickHandler("datepicker"))" />
        <MTListItem LeadingIcon="search" Label="Debounced Text Field" @onclick="@(() => ListItemClickHandler("debouncedtextfield"))" />
        <MTListItem LeadingIcon="picture_in_picture" Label="Dialog" @onclick="@(() => ListItemClickHandler("dialog"))" />
        <MTListItem LeadingIcon="ballot" Label="Form" @onclick="@(() => ListItemClickHandler("form"))" />
        <MTListItem LeadingIcon="list" Label="List" @onclick="@(() => ListItemClickHandler("list"))" />
        <MTListItem LeadingIcon="menu" Label="Menu" @onclick="@(() => ListItemClickHandler("menu"))" />
        <MTListItem LeadingIcon="text_format" Label="Miscellaneous" @onclick="@(() => ListItemClickHandler("miscellaneous"))" />
        <MTListItem LeadingIcon="money" Label="Numeric Field" @onclick="@(() => ListItemClickHandler("numericfield"))" />
        <MTListItem LeadingIcon="view_list" Label="Paged Data List" @onclick="@(() => ListItemClickHandler("pageddatalist"))" />
        <MTListItem LeadingIcon="pages" Label="Paginator" @onclick="@(() => ListItemClickHandler("paginator"))" />
        <MTListItem LeadingIcon="access_time" Label="Progress" @onclick="@(() => ListItemClickHandler("progress"))" />
        <MTListItem LeadingIcon="radio_button_checked" Label="Radio Buttons" @onclick="@(() => ListItemClickHandler("radiobuttons"))" />
        <MTListItem LeadingIcon="arrow_drop_down" Label="Select" @onclick="@(() => ListItemClickHandler("select"))" />
        <MTListItem LeadingIcon="compare_arrows" Label="Sliding Content" @onclick="@(() => ListItemClickHandler("slidingcontent"))" />
        <MTListItem LeadingIcon="toggle_on" Label="Switch" @onclick="@(() => ListItemClickHandler("switch"))" />
        <MTListItem LeadingIcon="tab" Label="Tab Bar" @onclick="@(() => ListItemClickHandler("tabbar"))" />
        <MTListItem LeadingIcon="assignment" Label="Text Area" @onclick="@(() => ListItemClickHandler("textarea"))" />
        <MTListItem LeadingIcon="text_format" Label="Text Field" @onclick="@(() => ListItemClickHandler("textfield"))" />
        <MTListItem LeadingIcon="textsms" Label="Toast" @onclick="@(() => ListItemClickHandler("toast"))" />
        <MTListDivider />
        <MTListItem LeadingIcon="menu" Label="Wrapped input component" @onclick="@(() => ListItemClickHandler("wrappedinput"))" />
    </div>
</MTDrawer>

<div class="mdc-drawer-app-content">
    <MTTopAppBar Title="BlazorMdc - Material Theme components for Blazor"
                 @onclick="@SideBarToggle"
                 NavIcon="menu"
                 ScrollTarget="#main-content"
                 TopAppBarType="@DemoConfiguration.TopAppBarType"
                 class="mdc-top-app-bar--short-has-action-item">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
            <MTIconButtonToggle @bind-Value="@AnimatedNavigationManager.Configuration.ApplyAnimation" IconOn="directions_run" IconOff="airline_seat_individual_suite" @onmouseup="@MouseUp" />
            <MTIconButtonToggle @bind-Value="@disableComponents" IconOn="pause_circle_outline" IconOff="play_circle_outline" @onmouseup="@MouseUp" />
        </section>
    </MTTopAppBar>

    <main class="main-content" id="main-content">
        <MTAnimatedNavigation>
            <div class="mdc-top-app-bar--fixed-adjust">
                <div class="mdc-card main-content-card">
                    <div class="mdc-layout-grid">
                        <div class="mdc-layout-grid__inner">
                            <div class="mdc-layout-grid__cell--span-12">
                                <CascadingValue Value="disableComponents" Name="DisableComponents">
                                    @Body
                                </CascadingValue>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </MTAnimatedNavigation>
    </main>
</div>

@code {
    MTDrawer sidebar;
    private bool disableComponents = false;

    private void ListItemClickHandler(string NavigationReference)
    {
        sidebar.NotifyNavigation();
        AnimatedNavigationManager.NavigateTo(NavigationReference);
    }

    private void SideBarToggle()
    {
        sidebar.Toggle();
    }

    private void MouseUp()
    {
        StateHasChanged();
    }
}
