@namespace BlazorMdc.Demo

@inherits LayoutComponentBase

@inject IPMdcAnimatedNavigationManager PMdcAnimatedNavigationManager

<PMdcToasts Position="ToastPosition.BottomRight"
            Timeout="3"
            IconType="IconType.Material"
            ErrorIcon="error_outline"
            InfoIcon="school"
            SuccessIcon="done_outline"
            WarningIcon="warning" />

<MdcDrawer @ref="@sidebar"
           IsDismissible="true">
    <div class="mdc-list">
        <MdcListItem NavigationReference="" LeadingIcon="home" Text="Home" OnClick="@ListItemClickHandler" />
        <MdcListItem NavigationReference="" LeadingIcon="home" Text="Home (Disabled)" OnClick="@ListItemClickHandler" Disabled="true" />
        <MdcListItem NavigationReference="autocomplete" LeadingIcon="keyboard" Text="Autocomplete" OnClick="@ListItemClickHandler" />
        <MdcListItem NavigationReference="button" LeadingIcon="touch_app" Text="Button" OnClick="@ListItemClickHandler" />
        <MdcListItem NavigationReference="card" LeadingIcon="dashboard" Text="Card" OnClick="@ListItemClickHandler" />
        <MdcListItem NavigationReference="cascadingdefaults" LeadingIcon="web" Text="CascadingDefaults" OnClick="@ListItemClickHandler" />
        <MdcListItem NavigationReference="checkbox" LeadingIcon="check_box" Text="Checkbox" OnClick="@ListItemClickHandler" />
        <MdcListItem NavigationReference="datatable" LeadingIcon="table_chart" Text="Data Table" OnClick="@ListItemClickHandler" />
        <MdcListItem NavigationReference="datepicker" LeadingIcon="date_range" Text="Date Picker" OnClick="@ListItemClickHandler" />
        <MdcListItem NavigationReference="debouncedtextfield" LeadingIcon="search" Text="Debounced Text Field" OnClick="@ListItemClickHandler" />
        <MdcListItem NavigationReference="dialog" LeadingIcon="picture_in_picture" Text="Dialog" OnClick="@ListItemClickHandler" />
        <MdcListItem NavigationReference="list" LeadingIcon="list" Text="List" OnClick="@ListItemClickHandler" />
        <MdcListItem NavigationReference="menu" LeadingIcon="menu" Text="Menu" OnClick="@ListItemClickHandler" />
        <MdcListItem NavigationReference="numericfield" LeadingIcon="money" Text="Numeric Field" OnClick="@ListItemClickHandler" />
        <MdcListItem NavigationReference="pageddatalist" LeadingIcon="view_list" Text="Paged Data List" OnClick="@ListItemClickHandler" />
        <MdcListItem NavigationReference="paginator" LeadingIcon="pages" Text="Paginator" OnClick="@ListItemClickHandler" />
        <MdcListItem NavigationReference="progress" LeadingIcon="access_time" Text="Progress" OnClick="@ListItemClickHandler" />
        <MdcListItem NavigationReference="radiobuttons" LeadingIcon="radio_button_checked" Text="Radio Buttons" OnClick="@ListItemClickHandler" />
        <MdcListItem NavigationReference="select" LeadingIcon="arrow_drop_down" Text="Select" OnClick="@ListItemClickHandler" />
        <MdcListItem NavigationReference="slidingcontent" LeadingIcon="compare_arrows" Text="Sliding Content" OnClick="@ListItemClickHandler" />
        <MdcListItem NavigationReference="switch" LeadingIcon="toggle_on" Text="Switch" OnClick="@ListItemClickHandler" />
        <MdcListItem NavigationReference="tabbar" LeadingIcon="tab" Text="Tab Bar" OnClick="@ListItemClickHandler" />
        <MdcListItem NavigationReference="textarea" LeadingIcon="assignment" Text="Text Area" OnClick="@ListItemClickHandler" />
        <MdcListItem NavigationReference="textfield" LeadingIcon="text_format" Text="Text Field" OnClick="@ListItemClickHandler" />
        <MdcListItem NavigationReference="toast" LeadingIcon="textsms" Text="Toast" OnClick="@ListItemClickHandler" />
        <MdcListItem NavigationReference="typography" LeadingIcon="@MdcIcons.Icon__text_format" Text="Typography" OnClick="@ListItemClickHandler" />
        <MdcListDivider />
        <MdcListItem NavigationReference="wrappedinput" LeadingIcon="menu" Text="Wrapped input component" OnClick="@ListItemClickHandler" />
    </div>
</MdcDrawer>

<div class="mdc-drawer-app-content">
    <MdcTopAppBar Title="BlazorMdc - Material Theme components for Blazor"
                  OnNavClicked="@(() => sidebar.Toggle())"
                  NavIcon="menu"
                  NavAriaLabel="Menu"
                  ScrollTarget="#main-content"
                  TopAppBarType="MdcTopAppBarType.Short"
                  Class="mdc-top-app-bar--short-has-action-item">
        <div id="account-target">
            <button class="mdc-icon-button material-icons mdc-top-app-bar__action-item--unbounded" aria-label="Account">person</button>
        </div>
    </MdcTopAppBar>

    <main class="main-content" id="main-content">
        <PMdcAnimatedNavigation>
            <div class="mdc-top-app-bar--fixed-adjust">
                <div class="mdc-card main-content-card">
                    <div class="mdc-layout-grid">
                        <div class="mdc-layout-grid__inner">
                            <div class="mdc-layout-grid__cell--span-12">
                                @Body
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </PMdcAnimatedNavigation>
    </main>
</div>

@code {
    MdcDrawer sidebar;

    protected async Task ListItemClickHandler(string NavigationReference)
    {
        sidebar.NotifyNavigation();
        await PMdcAnimatedNavigationManager.NavigateToAsync(NavigationReference).ConfigureAwait(false);
    }
}
