@namespace BlazorMdc.Demo

@inject IPMdcAnimatedNavigationManager PMdcAnimatedNavigationManager

@page "/"

<h1 class="@MdcTypography.Heading3">Hello, world!</h1>

<p>This sample demonstrates the use of RazorComponents.MaterialDesign components.</p>

<p>Currently executing on <strong>@runtime</strong> built in <strong>@mode</strong> mode.</p>

<p><PMdcNumericIntField @bind-Value="@PMdcAnimatedNavigationManager.Configuration.AnimationTime" Label="Page animation time (ms)" NumericFormat="N0" Min="50" Max="3000" /></p>

<p><MdcCheckbox @bind-Value="@PMdcAnimatedNavigationManager.Configuration.ApplyAnimation" Label="Apply animiations to page navigation" /></p>

<p style="margin-top: 80rem;">&nbsp;</p>
