@namespace BlazorMdc.Demo

@inject IMTAnimatedNavigationManager AnimatedNavigationManager
@inject DemoConfiguration DemoConfiguration

@page "/"

<h1 class="mdc-typography--headline3">Hello, world!</h1>

<p>This sample demonstrates the use of RazorComponents.MaterialDesign components.</p>

<p>Currently executing on <strong>@runtime</strong> built in <strong>@mode</strong> mode.</p>



<h5 class="mdc-typography--headline5">Top App Bar</h5>

<MTRadioButtonGroup @bind-Value="@DemoConfiguration.TopAppBarType" Items="@appBarTypes" />

<h5 class="mdc-typography--headline5">Animated Navigation</h5>

<p>
    <MTTooltip>
        <Target>
            <MTCheckbox @bind-Value="@AnimatedNavigationManager.Configuration.ApplyAnimation" Label="Apply animiations to page navigation" />
        </Target>
        <Content>
            Tooltip contents
        </Content>
    </MTTooltip>
</p>


<p style="margin-top: 80rem;">&nbsp;</p>


@code {
    
    IEnumerable<MTListElement<MTTopAppBarType>> appBarTypes => from c in (MTTopAppBarType[])Enum.GetValues(typeof(MTTopAppBarType))
                                                                 select new MTListElement<MTTopAppBarType>
                                                                 {
                                                                     SelectedValue = c,
                                                                     Label = c.ToString(),
                                                                 };
}
