@namespace Material.Blazor.Website.Shared
@using Material.Blazor;

<PageTitle>@Title</PageTitle>

<div class="mdc-layout-grid__cell--span-12">
    <Material.Blazor.MD2.MBCard>
        <Primary>
            <div class="mb-card__autostyled">
                <h2 class="mb-card__title mdc-typography--headline4">@Title</h2>
            </div>
            <div class="mb-card__secondary">
                @Description

                @if (NeedsTable)
                {
                    <p style="overflow: auto;">
                        <Material.Blazor.MD2.MBDataTable Items="@Items"
                                                         Context="item"
                                                         class="dr-table">

                            <TableHeader>
                                <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Reference</th>
                                <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Link Source</th>
                            </TableHeader>

                            <TableRow>
                                <td class="mdc-data-table__cell">@item.Title</td>
                                <td class="mdc-data-table__cell">@item.ContentMarkup</td>
                            </TableRow>

                        </Material.Blazor.MD2.MBDataTable>
                    </p>
                }

                @if (RequiresDisableSelection)
                {
                    <p style="display: flex; flex-flow: row nowrap; align-items: center;">
                        <span class="mdc-typography--body1" style="margin-right: 24px;">Disable Components:</span>
                        <MBSwitch @bind-Value="@CascadingDefaults.Disabled"
                                  @bind-Value:after="@AfterCascadingDefaultsChange" />
                    </p>
                }

                @if (MinDensity != Material.Blazor.MBDensity.Default)
                {
                    <p>
                        <Material.Blazor.MD2.MBRadioButtonGroup @bind-Value="@CascadingDefaults.ThemeDensity"
                                                                @bind-Value:after="@AfterCascadingDefaultsChange"
                                                                Items="@Densities" />
                    </p>
                }

                @Controls

            </div>
        </Primary>
    </Material.Blazor.MD2.MBCard>
</div>



@*  Using a key of the defaults' version number forces a complete re-render
    of the block when defaults change, however components don't check for
    updates to defaults because we use IsFixed="true" *@

<div class="mdc-layout-grid__cell--span-12">
    <div class="mdc-layout-grid__inner">
        <CascadingValue Value="@CascadingDefaults">
            @PageContent
        </CascadingValue>
    </div>
</div>
