@inherits LayoutComponentBase

@namespace Material.Blazor.Website.Shared

@inject NavigationManager NavigationService
@inject IJSRuntime JsRuntime

@using Material.Blazor.MD2

<MBDrawer @ref="@Drawer"
          StartOpen=false
          IsDismissible="true">

    <nav class="mdc-list">
        <MBListItem ListItemColor="black"
                    LeadingIcon="home"
                    Label="Home"
                    @onclick="@(() => ListItemClickHandler(""))" />
        <MBListItem ListItemColor="darkgreen"
                    LeadingIcon="touch_app"
                    Label="Button"
                    @onclick="@(() => ListItemClickHandler("button"))" />
        <MBListItem ListItemColor="darkred"
                    LeadingIcon="dashboard"
                    Label="Card"
                    @onclick="@(() => ListItemClickHandler("card"))" />
        <MBListItem ListItemColor="darkgreen"
                    LeadingIcon="check_box"
                    Label="Checkbox"
                    @onclick="@(() => ListItemClickHandler("checkbox"))" />
        <MBListItem ListItemColor="darkgreen"
                    LeadingIcon="toggle_off"
                    Label="ChipSet"
                    @onclick="@(() => ListItemClickHandler("chipset"))" />
        <MBListItem ListItemColor="darkred"
                    LeadingIcon="table_chart"
                    Label="Data Table"
                    @onclick="@(() => ListItemClickHandler("datatable"))" />
        <MBListItem ListItemColor="darkred"
                    LeadingIcon="picture_in_picture"
                    Label="Dialog"
                    @onclick="@(() => ListItemClickHandler("dialog"))" />
        <MBListItem ListItemColor="darkred"
                    LeadingIcon="view_headline"
                    Label="Drawer"
                    @onclick="@(() => ListItemClickHandler("drawer"))" />
        <MBListItem ListItemColor="darkgreen"
                    LeadingIcon="touch_app"
                    Label="Icon"
                    @onclick="@(() => ListItemClickHandler("icon"))" />
        <MBListItem ListItemColor="darkgreen"
                    LeadingIcon="touch_app"
                    Label="Icon Button"
                    @onclick="@(() => ListItemClickHandler("iconbutton"))" />
        <MBListItem ListItemColor="darkgreen"
                    LeadingIcon="list"
                    Label="List"
                    @onclick="@(() => ListItemClickHandler("list"))" />
        <MBListItem ListItemColor="darkgreen"
                    LeadingIcon="menu"
                    Label="Menu"
                    @onclick="@(() => ListItemClickHandler("menu"))" />
        <MBListItem ListItemColor="darkblue"
                    LeadingIcon="money"
                    Label="Numeric Fields"
                    @onclick="@(() => ListItemClickHandler("numericfield"))" />
        <MBListItem ListItemColor="darkgreen"
                    LeadingIcon="access_time"
                    Label="Progress Indicator"
                    @onclick="@(() => ListItemClickHandler("progress"))" />
        <MBListItem ListItemColor="darkgreen"
                    LeadingIcon="radio_button_checked"
                    Label="Radio Button"
                    @onclick="@(() => ListItemClickHandler("radiobutton"))" />
        <MBListItem ListItemColor="darkblue"
                    LeadingIcon="radio_button_checked"
                    Label="Radio Button Group"
                    @onclick="@(() => ListItemClickHandler("radiobuttongroup"))" />
        <MBListItem ListItemColor="darkgreen"
                    LeadingIcon="arrow_drop_down"
                    Label="Select"
                    @onclick="@(() => ListItemClickHandler("select"))" />
        <MBListItem ListItemColor="darkgreen"
                    LeadingIcon="straighten"
                    Label="Slider"
                    @onclick="@(() => ListItemClickHandler("slider"))" />
        <MBListItem ListItemColor="darkgreen"
                    LeadingIcon="switch_left"
                    Label="Switch"
                    @onclick="@(() => ListItemClickHandler("switch"))" />
        <MBListItem ListItemColor="darkgreen"
                    LeadingIcon="text_format"
                    Label="Text Field"
                    @onclick="@(() => ListItemClickHandler("textfield"))" />
        <MBListItem ListItemColor="darkblue"
                    LeadingIcon="textsms"
                    Label="Toast"
                    @onclick="@(() => ListItemClickHandler("toast"))" />
        <MBListItem ListItemColor="darkred"
                    LeadingIcon="border_top"
                    Label="Top App Bar"
                    @onclick="@(() => ListItemClickHandler("topappbar"))" />
        <MBListItem ListItemColor="darkred"
                    LeadingIcon="http"
                    Label="Typography"
                    @onclick="@(() => ListItemClickHandler("typography"))" />
    </nav>
</MBDrawer>

<div class="mdc-drawer-app-content">
    <MBTopAppBar Title="Material.Blazor"
                 @onclick="@SideBarToggle"
                 NavIcon="menu"
                 NavIconColor="white"
                 ScrollTarget="#main-content"
                 TopAppBarType="@MBTopAppBarTypeMD2.Dense"
                 class="app-bar mdc-top-app-bar--short-has-action-item mdc-elevation--z5">
    </MBTopAppBar>

    <main class="main-content" id="main-content">
        <div class="max-width-content">
            <div class="mdc-top-app-bar--dense-fixed-adjust">
                <div class="mdc-layout-grid">
                    <div class="mdc-layout-grid__inner">
                        @Body
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
