@inherits LayoutComponentBase

@namespace Material.Blazor.Website.Shared

@inject NavigationManager NavigationService
@inject IJSRuntime JsRuntime

<div class="mw3-main-appbar">
    <MBMenu AnchorType="MBMenuAnchorType.Icon"
            IconDescriptor="@MBIcon.IconDescriptorConstructor(
                                    name: "menu",
                                    color: "darkblue")"
            MenuItems="@mainMenuItems"
            MenuPositioning="MBMenuPositioning.Popover"
            @onmenuselectionreport="MainMenuSelectionReportHandler" />
    <h3>Material.Blazor.MD3</h3>
    <MBMenu AnchorType="MBMenuAnchorType.Icon"
            IconDescriptor="@MBIcon.IconDescriptorConstructor(
                                    name: "more_vert",
                                    color: "darkblue")"
            MenuItems="@themeMenuItems"
            MenuPositioning="MBMenuPositioning.Popover"
            @onmenuselectionreport="ThemeMenuSelectionReportHandler" />
</div>

<CascadingValue Value="@this" IsFixed="true">
    <div class="mw3-main-body" style="margin:50px;">
        @Body
    </div>
</CascadingValue>
