@inherits LayoutComponentBase

@namespace Material.Blazor.Website.Shared

@inject NavigationManager NavigationService
@inject IJSRuntime JsRuntime

@using Material.Blazor.MD2

<MBDrawer @ref="@Drawer"
          StartOpen=false
          IsDismissible="true">

    <nav class="mdc-list">
        <MBListItem LeadingIcon="home" Label="Home" @onclick="@(() => ListItemClickHandler(""))" />
        <MBListItem style="color: darkred; "
                    LeadingIcon="error"
                    Label="Badges"
                    @onclick="@(() => ListItemClickHandler("badge"))" />
        <MBListItem style="color: darkgreen"
                    LeadingIcon="check_box"
                    Label="Checkbox"
                    @onclick="@(() => ListItemClickHandler("checkbox"))" />
        <MBListItem style="color: darkgreen"
                    LeadingIcon="access_time"
                    Label="Circular Progress Indicator"
                    @onclick="@(() => ListItemClickHandler("circularprogress"))" />
        <MBListItem style="color: darkgreen"
                    LeadingIcon="touch_app"
                    Label="Icon" @onclick="@(() => ListItemClickHandler("icon"))" />
        <MBListItem style="color: darkgreen"
                    LeadingIcon="access_time"
                    Label="Linear Progress Indicator"
                    @onclick="@(() => ListItemClickHandler("linearprogress"))" />
        <MBListItem style="color: darkblue"
                    LeadingIcon="money"
                    Label="Numeric Decimal Field"
                    @onclick="@(() => ListItemClickHandler("numericdecimalfield"))" />
        <MBListItem style="color: darkblue"
                    LeadingIcon="money"
                    Label="Numeric Decimal Field 2"
                    @onclick="@(() => ListItemClickHandler("numericdecimalfield2"))" />
        <MBListItem style="color: darkblue"
                    LeadingIcon="money"
                    Label="Numeric Double Field"
                    @onclick="@(() => ListItemClickHandler("numericdoublefield"))" />
        <MBListItem style="color: darkblue"
                    LeadingIcon="money"
                    Label="Numeric Int Field"
                    @onclick="@(() => ListItemClickHandler("numericintfield"))" />
        <MBListItem style="color: darkgreen"
                    LeadingIcon="access_time"
                    Label="Progress Indicator"
                    @onclick="@(() => ListItemClickHandler("progress"))" />
        <MBListItem style="color: darkgreen"
                    LeadingIcon="radio_button_checked"
                    Label="Radio Button"
                    @onclick="@(() => ListItemClickHandler("radiobutton"))" />
        <MBListItem style="color: darkblue"
                    LeadingIcon="radio_button_checked"
                    Label="Radio Button Group"
                    @onclick="@(() => ListItemClickHandler("radiobuttongroup"))" />
        <MBListItem style="color: darkgreen"
                    LeadingIcon="switch_left"
                    Label="Switch"
                    @onclick="@(() => ListItemClickHandler("switch"))" />
        <MBListItem style="color: darkgreen"
                    LeadingIcon="text_format"
                    Label="Text Field"
                    @onclick="@(() => ListItemClickHandler("textfield"))" />
        <MBListItem style="color: darkgreen"
                    LeadingIcon="text_format"
                    Label="Text Field 2"
                    @onclick="@(() => ListItemClickHandler("textfield2"))" />
        <MBListItem style="color: darkblue; "
                    LeadingIcon="textsms"
                    Label="Toast"
                    @onclick="@(() => ListItemClickHandler("toast"))" />
        <MBListItem style="color: darkred; "
                    LeadingIcon="http"
                    Label="Typography"
                    @onclick="@(() => ListItemClickHandler("typography"))" />
    </nav>
</MBDrawer>

<div class="mdc-drawer-app-content">
    <MBTopAppBar Title="Material.Blazor"
                 @onclick="@SideBarToggle"
                 NavIcon="menu"
                 ScrollTarget="#main-content"
                 TopAppBarType="@MBTopAppBarType.Dense"
                 class="app-bar mdc-top-app-bar--short-has-action-item mdc-elevation--z5">
    </MBTopAppBar>

    <main class="main-content" id="main-content">
        <div class="max-width-content">
            <div class="mdc-top-app-bar--dense-fixed-adjust">
                <div class="mdc-layout-grid">
                    <div class="mdc-layout-grid__inner">
                        @Body
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
