@inherits LayoutComponentBase

@namespace Material.Blazor.Website.Shared

@inject NavigationManager NavigationService
@inject IJSRuntime JsRuntime

@using Material.Blazor.MD2

<MBDrawer @ref="@Drawer"
          StartOpen=false
          IsDismissible="true">

    <nav class="mdc-list">
        <MBListItem LeadingIcon="home" Label="Home" @onclick="@(() => ListItemClickHandler(""))" />
        <MBListItem LeadingIcon="check_box" Label="Checkbox" @onclick="@(() => ListItemClickHandler("checkbox"))" />
        <MBListItem LeadingIcon="access_time" Label="Circular Progress Indicator" @onclick="@(() => ListItemClickHandler("circularprogress"))" />
        <MBListItem LeadingIcon="touch_app" Label="Icon" @onclick="@(() => ListItemClickHandler("icon"))" />
        <MBListItem LeadingIcon="access_time" Label="Linear Progress Indicator" @onclick="@(() => ListItemClickHandler("linearprogress"))" />
        <MBListItem LeadingIcon="money" Label="Numeric Decimal Field" @onclick="@(() => ListItemClickHandler("numericdecimalfield"))" />
        <MBListItem LeadingIcon="money" Label="Numeric Decimal Field 2" @onclick="@(() => ListItemClickHandler("numericdecimalfield2"))" />
        <MBListItem LeadingIcon="money" Label="Numeric Double Field" @onclick="@(() => ListItemClickHandler("numericdoublefield"))" />
        <MBListItem LeadingIcon="money" Label="Numeric Int Field" @onclick="@(() => ListItemClickHandler("numericintfield"))" />
        <MBListItem LeadingIcon="access_time" Label="Progress Indicator" @onclick="@(() => ListItemClickHandler("progress"))" />
        <MBListItem LeadingIcon="switch_left" Label="Switch" @onclick="@(() => ListItemClickHandler("switch"))" />
        <MBListItem LeadingIcon="text_format" Label="Text Field" @onclick="@(() => ListItemClickHandler("textfield"))" />
        <MBListItem LeadingIcon="text_format" Label="Text Field 2" @onclick="@(() => ListItemClickHandler("textfield2"))" />
        <MBListItem LeadingIcon="textsms" Label="Toast" @onclick="@(() => ListItemClickHandler("toast"))" />
        <MBListItem LeadingIcon="http" Label="Typography" @onclick="@(() => ListItemClickHandler("typography"))" />
    </nav>
</MBDrawer>

<div class="mdc-drawer-app-content">
    <MBTopAppBar Title="Material.Blazor"
                 @onclick="@SideBarToggle"
                 NavIcon="menu"
                 ScrollTarget="#main-content"
                 TopAppBarType="@MBTopAppBarType.Dense"
                 class="app-bar mdc-top-app-bar--short-has-action-item mdc-elevation--z5">
    </MBTopAppBar>

    <main class="main-content" id="main-content">
        <div class="max-width-content">
            <div class="mdc-top-app-bar--dense-fixed-adjust">
                <div class="mdc-layout-grid">
                    <div class="mdc-layout-grid__inner">
                        @Body
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
