@inherits LayoutComponentBase

@namespace Material.Blazor.Website.MD3.Shared

@inject NavigationManager NavigationService
@inject IJSRuntime JsRuntime

@using Material.Blazor

<MBDrawer @ref="@Drawer"
          IsDismissible="true">

    <nav class="mdc-list">
        <MBListItem LeadingIcon="money" Label="Numeric Decimal Field" @onclick="@(() => ListItemClickHandler("numericdecimalfield"))" />
        <MBListItem LeadingIcon="text_format" Label="Text Field" @onclick="@(() => ListItemClickHandler("textfield"))" />
    </nav>
</MBDrawer>

<div class="mdc-drawer-app-content">
    <MBTopAppBar Title="Material.Blazor"
                 @onclick="@SideBarToggle"
                 NavIcon="menu"
                 ScrollTarget="#main-content"
                 TopAppBarType="@MBTopAppBarType.Dense"
                 class="app-bar mdc-top-app-bar--short-has-action-item mdc-elevation--z5">
    </MBTopAppBar>

    <MBBladeSet MainContentAdditionalCss="demo-blade-main-content"
                BladesAdditionalCss="mdc-elevation--z3">
        <PageContent>
            <main class="main-content" id="main-content">
                <div class="max-width-content">
                    <CascadingValue Name="MaterialDocRef" Value="@materialDocRef" IsFixed="true">
                        <div class="mdc-top-app-bar--dense-fixed-adjust">
                            <div class="mdc-layout-grid">
                                <div class="mdc-layout-grid__inner">
                                    @Body
                                </div>
                            </div>
                        </div>
                    </CascadingValue>
                </div>
            </main>
        </PageContent>
    </MBBladeSet>
</div>


@code {
    private const string materialDocRef = "https://github.com/material-components/material-components-web/tree/master/packages/";

    private MBDrawer Drawer { get; set; }

    private void ListItemClickHandler(string NavigationReference)
    {
        Drawer.NotifyNavigation();
        NavigationService.NavigateTo(NavigationReference);
    }

    private void SideBarToggle()
    {
        Drawer.Toggle();
    }
}
