@page "/datepicker"



<h1 class="@MdcTypography.H4">Select samples</h1>

<p>See <code>DatePickerSample.razor</code> for sources.</p>

<MdcDatePicker Label="Filled" @bind-Value="@filled" InputStyle="MdcInputStyle.Filled" MinDate="min" MaxDate="max"></MdcDatePicker>
<p style="margin-bottom: 4em;">Selected: '<strong>@filled.ToString()</strong>'</p>

<MdcDatePicker Label="Weekdays Outlined" @bind-Value="@outlined" InputStyle="MdcInputStyle.Outlined" DateSelectionCriteria="MdcDateSelectionCriteria.WeekdaysOnly" MinDate="min" MaxDate="max"></MdcDatePicker>
<p style="margin-bottom: 20em;">Selected: '<strong>@outlined.ToString()</strong>'</p>

<p>Inline date picker purely for test purposes - in production please use <code>MatDatePickerSelect</code></p>
<MdcDatePickerPanel @bind-Value="@inline" Class="mdc-elevation--z3" MinDate="min" MaxDate="max"></MdcDatePickerPanel>
<p style="margin-bottom: 4em;">Selected: '<strong>@inline.ToString()</strong>'</p>



@code {
    DateTime inline = DateTime.Today.AddMonths(1);
    DateTime filled = DateTime.Today.AddMonths(1);
    DateTime outlined = DateTime.Today.AddMonths(1);

    DateTime min = new DateTime(2019, 12, 14);
    DateTime max = new DateTime(2021, 6, 14);
}