@namespace BlazorMdc
@inherits InputComponentFoundation<string>


<div class="bmdc-autocomplete">
    <MTTextField @ref="@TextField"
                 @bind-Value="@SelectInfo.SelectedText"
                 TextAlignStyle="@TextAlignStyle"
                 TextInputStyle="@TextInputStyle"
                 Label="@Label"
                 LeadingIcon="@LeadingIcon"
                 TrailingIcon="@TrailingIcon"
                 IconFoundry="@IconFoundry"
                 Disabled="@Disabled"
                 @oninput="@OnInput"
                 @onchange="@OnTextChangeAsync"
                 @onfocusout="@OnTextFocusOutAsync"
                 @attributes="@AttributesToSplat()" />

    <div class="mdc-select mdc-select--filled">
        <div class="mdc-select__anchor"
             role="button"
             aria-disabled="@Disabled"
             aria-haspopup="@MenuReference"
             aria-labelledby="@TextField">
        </div>

        <div @ref="@MenuReference"
             class="mdc-select__menu mdc-menu mdc-menu-surface mdc-menu-surface--fullwidth"
             @onfocusin="OnMenuFocusIn"
             @onfocusout="OnMenuFocusOut"
             tabindex="-1">

            <ul class="mdc-list"
                tabindex="-1">

                @if (AllowBlankResult)
                {
                    var item = "";
                    <li @key="@item"
                        class="mdc-list-item bmdc-autocomplete--blank"
                        data-value="@item"
                        aria-selected="false"
                        role="option"
                        tabindex="-1">

                        <span class="mdc-list-item__text bmdc-full-width">
                            @item
                        </span>
                    </li>
                }

                @foreach (var item in SelectInfo.SelectList)
                {
                    var clickItem = string.Copy(item);
                    var listClass = "mdc-list-item" + (item.Equals(Value) ? " mdc-list-item--selected" : "");
                    var ariaSelected = item.Equals(Value);

                    <li @key="@item"
                        class="@listClass"
                        data-value="@item"
                        aria-selected="@ariaSelected"
                        role="option"
                        tabindex="0"
                        @onclick="@(() => OnItemClickAsync(clickItem))">
                        <span class="mdc-list-item__ripple"></span>
                        <span class="mdc-list-item__text bmdc-full-width">@item</span>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>