@namespace Material.Blazor.MD2

@inherits MultiSelectComponent<TItem, MBIconBearingSelectElement<TItem>>
@typeparam TItem


<span @ref="@ChipsReference"
      id="@id"
      class="mdc-evolution-chip-set @ActiveConditionalClasses @(@class)"
      style="@style"
      role="listbox"
      aria-multiselectable="@IsMultiSelect"
      aria-orientation="horizontal"       
      @attributes="AttributesToSplat()" >

    <span class="mdc-evolution-chip-set__chips" role="presentation">
        @for (int j = 0; j < ItemsArray.Length; j++)
        {
            int i = j;
            string id = $"{_chipSetName}__chip-{i}";
            int tabIndex = (i == 0) ? 0 : -1;
            var selected = Value.Contains(ItemsArray[i].SelectedValue);
            @*var chipClass = "mdc-evolution-chip mdc-evolution-chip--selectable mdc-evolution-chip--filter " + (selected ? "mdc-evolution-chip--selected" : "mdc-evolution-chip--deselected") + (AppliedDisabled ? " mdc-evolution-chip--disabled" : "");*@
            var chipClass = "mdc-evolution-chip mdc-evolution-chip--selectable mdc-evolution-chip--filter" + (AppliedDisabled ? " mdc-evolution-chip--disabled" : "");

            <span id="@id"
                  class="@chipClass"
                  role="presentation"
                  @key="@KeyGenerator(ItemsArray[i].SelectedValue)">
                
                <span class="mdc-evolution-chip__action mdc-evolution-chip__action--primary"
                      role="option"
                      aria-selected="@selected"
                      tabindex="@tabIndex">

                    <span class="mdc-evolution-chip__ripple mdc-evolution-chip__ripple--primary"></span>

                    <span class="mdc-evolution-chip__graphic">
                        @*@if (!string.IsNullOrWhiteSpace(ItemsArray[i].Icon))
                        {
                            var iconClass = "mdc-evolution-chip__icon mdc-evolution-chip__icon--primary" + (selected ? " mdc-evolution-chip__icon--leading-hidden" : "");

                            <MBIcon class="mdc-evolution-chip__icon mdc-evolution-chip__icon--primary"
                                    IconFoundry="@IconFoundry"
                                    IconName="@ItemsArray[i].Icon" />
                        }*@

                        @if (true || !IsMultiSelect)
                        {
                            <span class="mdc-evolution-chip__checkmark">
                                <svg class="mdc-evolution-chip__checkmark-svg" viewBox="-2 -3 30 30">
                                    <path class="mdc-evolution-chip__checkmark-path" fill="none" stroke="black"
                                            d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                                </svg>
                            </span>
                        }
                    </span>

                    <span class="mdc-evolution-chip__text-label">@ItemsArray[i].Label</span>
                </span>
            </span>
        }
    </span>
</span>
