@namespace BMdcPlus

<BMdc.Dialog @ref="@Dialog" Title="@Title" OverflowVisible="@OverflowVisible">
    <Body>
        @Body
        <p>Please type <strong>@MyConfirmationPhrase</strong> @ActionPhrase.</p>
        <p><BMdc.TextField @bind-Value="@EnteredText" @oninput="@OnInput" TextInputStyle="@ETextInputStyle.FullWidth" Disabled="ConfirmationDisabled" /></p>
    </Body>
    <Buttons>
        @if (ConfirmedButtons is null || UnconfirmedButtons is null)
        { 
            <BMdc.Button Label="OK" LeadingIcon="@("check")" DialogAction="@ConfirmActionResult" Disabled="@(!Confirmed)" />
            <BMdc.Button Label="Cancel" LeadingIcon="@("cancel")" DialogAction="@CancelActionResult" ButtonStyle="EButtonStyle.Text" />
        }
        else
        {
            if (Confirmed)
            {
                @ConfirmedButtons
            }
            else
            {
                @UnconfirmedButtons
            }
        }
    </Buttons>
</BMdc.Dialog>
