@namespace BMdc
@inherits InputComponentBase<bool>


<div @attributes="@AttributesToSplat(BMdcBase.SplatType.ExcludeClassAndStyle)">
    <button @ref="@ElementReference"
            @attributes="@AttributesToSplat(BMdcBase.SplatType.ClassAndStyleOnly)"
            type="button"
            @onclick="@ToggleOnClick">

        <BMdcPlus.Icon IconName="@IconOn" IconFoundry="@IconFoundry" Class="mdc-icon-button__icon mdc-icon-button__icon--on bmdc-dp-menu__icon-button" />
        <BMdcPlus.Icon IconName="@IconOff" IconFoundry="@IconFoundry" Class="mdc-icon-button__icon bmdc-dp-menu__icon-button" />
    </button>
</div>