@namespace BlazorMdc
@typeparam TItem
@inherits ComponentFoundation


<div @attributes="AttributesToSplat()">

    <div class="@ContentClass @ListTemplateClass">
        @ListTemplate(@:@{
            foreach (TItem item in CurrentPage)
            {
                @ItemTemplate(item)
            }}
        )
    </div>

    <div class="@PaginatorClass">
        <MTPaginator @bind-ItemsPerPage="@BackingItemsPerPage" @bind-PageNumber="@BackingPageNumber" ItemsPerPageSelection="@ItemsPerPageSelection" ItemCount="@Data.Count()"></MTPaginator>
    </div>
</div>


@code {
    // Would like to use <inheritdoc/> however DocFX cannot resolve to references outside BlazorMdc
    protected override void OnParametersSet()
    {
        KeyGenerator = GetKeysFunc ?? delegate (TItem item) { return item; };

        if (ItemTemplate == null)
        {
            ItemTemplate = (item) => @:@{
                <li @key="@KeyGenerator(item)">@item.ToString()</li>}
            ;
        }

        if (ListTemplate == null)
        {
            ListTemplate = _ => @:@{
            <ul>
                @foreach (TItem item in CurrentPage)
                {
                    @ItemTemplate(item)
                }
            </ul>}
            ;
        }
    }
}