@namespace BlazorMdc

@inherits BBase.ComponentBase

@using System.Linq

@inject IJSRuntime jsRuntime


<div @attributes="AttributesToSplat()">

    <div class="bmdc-paginator">
        <span>@ItemsText</span>

        <div>
            <MdcIconButtonToggle @ref="@IconButtonToggle" @bind-Value="@ToggleOn" @onclick="@OnMenuToggleAsync" IconOn="arrow_drop_up" IconOff="arrow_drop_down" />
            <div class="mdc-menu-surface--anchor">
                <MdcMenu @ref="Menu">
                    @foreach (var itemsPerPage in ItemsPerPageSelection)
                    {
                        <MdcListItem @key="@itemsPerPage" Text="@itemsPerPage.ToString("G0")" OnClick="@(_ => OnMenuItemClick(itemsPerPage))" />
                    }
                </MdcMenu>
            </div>
        </div>

        <div class="bmdc-paginator__position-text">
            @* This hidden element serves to give the actual position text a constant width equal to the maximum width that may be required *@
            <span class="bmdc-paginator__position-text-hidden">@MaxPositionText</span>
            <span>@PositionText</span>
        </div>

        <MdcIconButton Icon="chevron_left" @onclick="@OnPreviousClick" Disabled="@PreviousDisabled" />

        <MdcIconButton Icon="chevron_right" @onclick="@OnNextClick" Disabled="@NextDisabled" />
    </div>
</div>