@namespace BlazorMdc

@typeparam TItem

@inherits MdcComponentBase

@inject IJSRuntime jsRuntime


<div @ref="elementReference"
     role="tablist"
     class="@ClassMapper.ToString()"
     style="@StyleMapper.ToString()">

    <div class="mdc-tab-scroller">
        <div class="mdc-tab-scroller__scroll-area">
            <div class="mdc-tab-scroller__scroll-content">
                @{ int i = 0; }
                @foreach (var item in Items)
                {
                    int index = i++;
                    bool selected = (index == initialTabIndex);
                    string buttonActive = selected ? "mdc-tab--active" : "";
                    string indicatorActive = selected ? "mdc-tab-indicator--active" : "";

                    <button @key="item" class="mdc-tab @stackClass @buttonActive" role="tab" aria-selected="@selected" tabindex="-1" @onclick="(_ => OnTabClickAsync(index))">
                        <span class="mdc-tab__content">
                            @if (Icon != null)
                            {
                                <span class="mdc-tab__icon material-icons" aria-hidden="true">@Icon(item)</span>
                            }

                            <span class="mdc-tab__text-label">@Label(item)</span>
                        </span>
                        <span class="mdc-tab-indicator @indicatorActive">
                            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                        </span>
                        <span class="mdc-tab__ripple"></span>
                    </button>
                }
            </div>
        </div>
    </div>
</div>


@code {
    private int initialTabIndex;
    private int _requestedTabIndex;
    private int _tabIndex;

    [Parameter]
    public int TabIndex
    {
        get => _tabIndex;

        set
        {
            _requestedTabIndex = value;

            if (!SuppressTwoWayBinding && value != _tabIndex)
            {
                _ = SetTabIndexAsync(value);
                _tabIndex = value;
            }

            if (!hasRendered)
            {
                _tabIndex = value;
            }
        }
    }


    [Parameter] public EventCallback<int> TabIndexChanged { get; set; }
    [Parameter] public bool StackIcons { get; set; }
    [Parameter] public EventCallback<int> OnTabClick { get; set; }
    [Parameter] public IEnumerable<TItem> Items { get; set; }
    [Parameter] public RenderFragment<TItem> Label { get; set; }
    [Parameter] public RenderFragment<TItem> Icon { get; set; }


    internal bool SuppressTwoWayBinding = false;


    private string stackClass => StackIcons ? "mdc-tab--stacked" : "";
    private ElementReference elementReference;
    private bool hasRendered = false;


    protected override void OnInitialized()
    {
        base.OnInitialized();

        ClassMapper
            .Add("mdc-tab-bar");

        initialTabIndex = _requestedTabIndex;
    }


    private async Task OnTabClickAsync(int index)
    {
        if (index != TabIndex)
        {
            await OnTabClick.InvokeAsync(index);
        }
    }


    public async Task SetTabIndexAsync(int index)
    {
        await jsRuntime.InvokeAsync<object>("BlazorMdc.tabBar.setTab", elementReference, index);
    }


    protected override bool ShouldRender()
    {
        return false;
    }


    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await jsRuntime.InvokeAsync<object>("BlazorMdc.tabBar.init", elementReference);
            hasRendered = true;
        }
    }
}