@namespace BlazorMdc

@typeparam TItem

@inherits MdcComponentBase

@inject IJSRuntime jsRuntime


@if (Icon is null)
{
    <MdcTabBar @bind-TabIndex="@TabIndex"
               Items="@Items"
               Context="item"
               StackIcons="@StackIcons">

        <Label>@Label(item)</Label>
    </MdcTabBar>
}
else
{
    <MdcTabBar @bind-TabIndex="@TabIndex"
               Items="@Items"
               Context="item"
               StackIcons="@StackIcons">

        <Label>@Label(item)</Label>
        <Icon>@Icon(item)</Icon>
    </MdcTabBar>
}


<PMdcSlidingContent Items="@Items"
                    ItemIndex="@TabIndex"
                    Context="item">

    <Content>
        @Content(item)
    </Content>
</PMdcSlidingContent>