@namespace BlazorMdc
@inherits ComponentFoundation


<span @attributes="AttributesToSplat()">
    @if (ShieldType != MTShieldType.ValueOnly)
    {
        <span class="bmdc-shield--label @LabelClass" style="@LabelStyle">
            @if (!string.IsNullOrWhiteSpace(LabelIcon))
            {
                <span>
                    <MTIcon IconName="@LabelIcon" IconFoundry="@IconFoundry" />
                </span>
            }

            <span>@Label</span>
        </span>
    }

    @if (ShieldType != MTShieldType.LabelOnly)
    {
        <span class="bmdc-shield--value @ValueClass" style="@ValueStyle">
            @if (!string.IsNullOrWhiteSpace(ValueIcon))
            {
                <span>
                    <MTIcon IconName="@ValueIcon" IconFoundry="@IconFoundry" />
                </span>
            }
            
            <span>@Value</span>
        </span>
    }
</span>