@namespace Material.Blazor.MD2
@inherits ComponentFoundationMD2


<aside @ref="DrawerElem"
       class="mdc-drawer @ActiveConditionalClasses @(@class)"
       style="@style"
       id="@id"
       @attributes="@AttributesToSplat()">

    <div class="mdc-drawer__content">
        <CascadingValue Value="@this" IsFixed="true">
            @if (ChildContent != null)
            {
                @ChildContent
            }
        </CascadingValue>
    </div>

</aside>