@namespace Material.Blazor
@inherits InputComponent<double>


<div @ref="@ElementReference"
     class="mdc-linear-progress @ActiveConditionalClasses @(@class)"
     style="@style"
     id="@id"
     @attributes="AttributesToSplat()"
     role="progressbar" 
     aria-label="@AriaLabel"
     aria-valuemin="0" 
     aria-valuemax="1" 
     aria-valuenow="@InitialValue">

    <div class="mdc-linear-progress__buffer">
        <div class="mdc-linear-progress__buffer-bar"></div>
        <div class="mdc-linear-progress__buffer-dots"></div>
    </div>
    <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
        <span class="mdc-linear-progress__bar-inner"></span>
    </div>
    <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
        <span class="mdc-linear-progress__bar-inner"></span>
    </div>
</div>