@namespace Material.Blazor.MD2
@inherits ComponentFoundation
@using Microsoft.AspNetCore.Components.Forms


<div @ref="@ElementReference" class="mb-file-upload--button">
    <MBButton ButtonStyle="@ButtonStyle"
              class="@(@class)"
              Density="@Density"
              Disabled="@Disabled"
              IconFoundry="@IconFoundry"
              id="@id"
              Label="@Label"
              LeadingIcon="@LeadingIcon"
              style="@style"
              TrailingIcon="@TrailingIcon"
              TouchTarget="@TouchTarget"
              @onclick="@OnClick">

    </MBButton>

    <InputFile OnChange="@OnLoadFiles"
               @attributes="@AttributesToSplat()" />
</div>
