@namespace Material.Blazor

@inherits InputComponent<int>
@typeparam TItem


<div @ref="ElementReference"
     class="mdc-tab-bar @ActiveConditionalClasses @(@class)"
     style="@style"
     id="@id"
     @attributes="@AttributesToSplat()"
     role="tablist">

    <div class="mdc-tab-scroller">
        <div class="mdc-tab-scroller__scroll-area">
            <div class="mdc-tab-scroller__scroll-content">
                @{ int i = 0; }
                @foreach (var item in Items)
                {
                    int index = i++;
                    bool selected = (index == Value);
                    int tabIndex = selected ? 0 : -1;
                    string buttonActive = selected ? "mdc-tab--active" : "";
                    string indicatorActive = selected ? "mdc-tab-indicator--active" : "";

                    <button @key="@KeyGenerator(item)" 
                            class="mdc-tab @StackClass @buttonActive" 
                            role="tab" 
                            aria-selected="@selected" 
                            tabindex="@tabIndex">

                        <span class="mdc-tab__content">
                            @if (Icon != null)
                            {
                                <CascadingValue Value="@tabBarIdentifierObject" Name="@TabBarIdentifier" IsFixed="true">
                                    @Icon(item)
                                </CascadingValue>
                            }

                            @if (Label != null)
                            {
                                <span class="mdc-tab__text-label">@Label(item)</span>
                            }
                        </span>
                        <span class="mdc-tab-indicator @indicatorActive">
                            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                        </span>
                        <span class="mdc-tab__ripple"></span>
                    </button>
                }
            </div>
        </div>
    </div>
</div>