@namespace BlazorMdc.Demo

@page "/switch"

<h1 class="@MdcTypography.Heading4">Switch samples</h1>

<p>See <code>SwitchSample.razor</code> for sources.</p>

<p>
    <MdcSwitch Label="Switch 1" @bind-Value="@isCheckedA" /><span style="margin-left: 3em;">@labelA</span>
    <MdcSwitch Label="Switch 1" @bind-Value="@isCheckedA" /><span style="margin-left: 3em;">@labelA</span>
</p>

<p>
    <MdcSwitch Label="Switch 2" @bind-Value="@isCheckedB" /><span style="margin-left: 3em;">@labelB</span>
</p>

<p>
    <MdcSwitch Label="Disabled" @bind-Value="@isCheckedC" Disabled="true" />
</p>

@code {
    bool isCheckedA;
    string labelA => "This switch is " + (isCheckedA ? "set" : "unset");

    bool isCheckedB = true;
    string labelB => "This switch is " + (isCheckedB ? "set" : "unset");

    bool isCheckedC;
}
