@namespace Material.Blazor

@inherits InputComponent<bool>


<div @attributes="@EventAttributesToSplat()"
     class="@(@class)"
     style="@style">
    <button @ref="@ElementReference"
            class="mdc-icon-button @ActiveConditionalClasses"
            id="@id"
            @attributes="@OtherAttributesToSplat()"
            @onclick="@ToggleOnClick">

        <div class="mdc-icon-button__ripple"></div>
        <MBIcon class="mdc-icon-button__icon mdc-icon-button__icon--on mb-dp-menu__icon-button"
                IconFoundry="@IconFoundry"
                IconName="@IconOn" />
        <MBIcon class="mdc-icon-button__icon mb-dp-menu__icon-button"
                IconFoundry="@IconFoundry"
                IconName="@IconOff" />
    </button>
</div>