@namespace Material.Blazor

@inherits InputComponent<bool>


<div @attributes="@EventAttributesToSplat()">
    <button @ref="@ElementReference"
            class="mdc-icon-button @MappedClassesAndUserClasses"
            style="@MappedStylesAndUserStyles"
            id="@id"
            @attributes="@OtherAttributesToSplat()"
            @onclick="@ToggleOnClick">

        <MBIcon class="mdc-icon-button__icon mdc-icon-button__icon--on mb-dp-menu__icon-button"
                IconFoundry="@IconFoundry"
                IconName="@IconOn" />
        <MBIcon class="mdc-icon-button__icon mb-dp-menu__icon-button"
                IconFoundry="@IconFoundry"
                IconName="@IconOff" />
    </button>
</div>