@namespace BlazorMdc

@typeparam TItem

@inherits InputComponentFoundation<int>


@if (Icon is null && Label is null)
{
    <MTTabBar @bind-Value="@Value"
              Items="@Items"
              Context="item"
              StackIcons="@StackIcons"
              Disabled="@AppliedDisabled"
              Density="@Density">

    </MTTabBar>
}
else if (Label is null)
{
    <MTTabBar @bind-Value="@Value"
              Items="@Items"
              Context="item"
              StackIcons="@StackIcons"
              Disabled="@AppliedDisabled"
              Density="@Density">

        <Icon>@Icon(item)</Icon>
    </MTTabBar>
}
else if (Icon is null)
{
    <MTTabBar @bind-Value="@Value"
              Items="@Items"
              Context="item"
              StackIcons="@StackIcons"
              Disabled="@AppliedDisabled"
              Density="@Density">

        <Label>@Label(item)</Label>
    </MTTabBar>
}
else
{
    <MTTabBar @bind-Value="@Value"
              Items="@Items"
              Context="item"
              StackIcons="@StackIcons"
              Disabled="@AppliedDisabled"
              Density="@Density">

        <Label>@Label(item)</Label>
        <Icon>@Icon(item)</Icon>
    </MTTabBar>
}


<MTSlidingContent Items="@Items"
                  ItemIndex="@Value"
                  Context="item">

    <Content>
        @Content(item)
    </Content>
</MTSlidingContent>