@namespace Material.Blazor.MD2
@inherits ComponentFoundation


<MBTouchTargetWrapper ApplyTouchTargetWrapper="false">
    <button @ref="@ElementReference"
            class="mdc-icon-button @ActiveConditionalClasses @(@class)"
            style="@style"
            id="@id"
            type="button"
            @attributes="@AttributesToSplat()">

        <div class="mdc-icon-button__ripple"></div>

        <MBIcon Descriptor="@MBIcon.IconDescriptorConstructor(
                    color: @IconColor,
                    name: @IconName)" />

    </button>
</MBTouchTargetWrapper>
