@namespace BMdcPlus
@inherits ComponentFoundation


<div @attributes="AttributesToSplat()">
    @if (ShieldType != EShieldType.ValueOnly)
    {
        <div class="bmdc-shield--label @LabelClass" style="@LabelStyle">
            @if (!string.IsNullOrWhiteSpace(LabelIcon))
            {
                <div>
                    <BMdcPlus.Icon IconName="@LabelIcon" IconFoundry="@IconFoundry" Class="bmdc-shield--icon" />
                </div>
            }

            <div>@Label</div>
        </div>
    }

    @if (ShieldType != EShieldType.LabelOnly)
    {
        <div class="bmdc-shield--value @ValueClass" style="@ValueStyle">
            @if (!string.IsNullOrWhiteSpace(ValueIcon))
            {
                <div>
                    <BMdcPlus.Icon IconName="@ValueIcon" IconFoundry="@IconFoundry" Class="bmdc-shield--icon" />
                </div>
            }
            
            <div>@Value</div>
        </div>
    }
</div>