<PageTitle>@Title</PageTitle>

<div @key="@CascadingDefaults" class="mdc-layout-grid__cell--span-12">
    <MBCard>
        <Primary>
            <div class="mb-card__autostyled">
                <h2 class="mb-card__title mdc-typography--headline4">@Title</h2>
            </div>
            <div class="mb-card__secondary" style="display: flex; flex-flow: row nowrap; justify-content: space-between;">
                <div>
                    @Description

                    @if (NeedsTable)
                    {
                        <p style="overflow: auto;">
                            <MBDataTable Items="@Items"
                                         Context="item"
                                         class="dr-table">
                                <TableHeader>
                                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Reference</th>
                                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Link Source</th>
                                </TableHeader>

                                <TableRow>
                                    <td class="mdc-data-table__cell">@item.Title</td>
                                    <td class="mdc-data-table__cell">@item.ContentMarkup</td>
                                </TableRow>
                            </MBDataTable>
                        </p>
                    }

                    @if (RequiresDisableSelection)
                    {
                        <p>
                            <MBSwitch @bind-Value="@CascadingDefaults.Disabled" Label="Disable Components" />
                        </p>
                    }

                    @if (MinDensity != MBDensity.Default)
                    {
                        <p>
                            <MBRadioButtonGroup @bind-Value="@CascadingDefaults.ThemeDensity"
                                                Items="@Densities" />
                        </p>
                    }

                    @Controls
                </div>
                <div>
                    <MBSwitch @bind-Value="@IsRTL"
                              @bind-Value:after="@(() => OnRTLToggle())"
                              Label="RTL" />
                </div>
            </div>
        </Primary>
    </MBCard>
</div>



@*  Using a key of the defaults' version number forces a complete re-render
    of the block when defaults change, however components don't check for
    updates to defaults because we use IsFixed="true" *@

<div @key="@CascadingDefaults.Version"
     class="mdc-layout-grid__cell--span-12">

    <div class="mdc-layout-grid__inner">
        <CascadingValue Value="@CascadingDefaults" IsFixed="true">
            @PageContent
        </CascadingValue>
    </div>
</div>