@namespace BlazorMdc.Demo

@page "/checkbox"

<h1 class="mdc-typography--headline4">Checkbox samples</h1>

See <code>CheckboxSample.razor</code> for sources.

<p>
    <MTCheckbox Label="@labelA" @bind-Value="@isCheckedA" Disabled="@DisableComponents" />
</p>

<p>
    <MTCheckbox Label="@labelB" @bind-Value="@isCheckedB" Disabled="@DisableComponents" />
    <MTCheckbox Label="@labelB" Density="@MTDensity.Minus1" @bind-Value="@isCheckedB" Disabled="@DisableComponents" />
    <MTCheckbox Label="@labelB" Density="@MTDensity.Minus2" @bind-Value="@isCheckedB" Disabled="@DisableComponents" />
    <MTCheckbox Label="@labelB" Density="@MTDensity.Minus3" @bind-Value="@isCheckedB" Disabled="@DisableComponents" />
</p>

<p>
    <MTCheckbox Label="Disabled" @bind-Value="@isCheckedC" Disabled="true" />
</p>

@code {
    [CascadingParameter(Name = "DisableComponents")] private bool DisableComponents { get; set; }

    bool isCheckedA;
    string labelA => "This checbox is " + (isCheckedA ? "set" : "unset");

    bool isCheckedB = true;
    string labelB => "This checbox is " + (isCheckedB ? "set" : "unset");

    bool isCheckedC;
}

