@namespace BlazorMdc.Demo

@page "/checkbox"

<h1 class="mdc-typography--headline4">Checkbox samples</h1>

See <code>CheckboxSample.razor</code> for sources.

<p>
    <BMdc.Checkbox Label="@labelA" @bind-Value="@isCheckedA" />
</p>

<p>
    <BMdc.Checkbox Label="@labelB" @bind-Value="@isCheckedB" />
</p>

<p>
    <BMdc.Checkbox Label="Disabled" @bind-Value="@isCheckedC" Disabled="true" />
</p>

@code {
    bool isCheckedA;
    string labelA => "This checbox is " + (isCheckedA ? "set" : "unset");

    bool isCheckedB = true;
    string labelB => "This checbox is " + (isCheckedB ? "set" : "unset");

    bool isCheckedC;
}

