@namespace BMdc
@inherits BMdcComponentBase


<CascadingValue Value="@this">
    <div @attributes="@AttributesToSplat(BMdcBase.SplatType.ExcludeEvents)">

        @if (Primary != null)
        {
            <div class="@PrimaryClass">
                @Primary
            </div>
        }

        @if (PrimaryAction != null)
        {
            <div @ref="@PrimaryActionReference"
                 class="mdc-card__primary-action @PrimaryActionClass"
                 tabindex="0"
                 @attributes="@AttributesToSplat(BMdcBase.SplatType.EventsOnly)">

                @PrimaryAction
            </div>
        }

        @if (ActionButtons != null || ActionIcons != null)
        {
            <div class="mdc-card__actions">
                @if (ActionButtons != null)
                {
                    <div class="mdc-card__action-buttons">
                        @ActionButtons
                    </div>
                }

                @if (ActionIcons != null)
                {
                    <div class="mdc-card__action-icons">
                        @ActionIcons
                    </div>
                }
            </div>
        }
    </div>
</CascadingValue>

