@namespace Material.Blazor.MD2
@inherits ComponentFoundation
@typeparam TItem


<ul class="mdc-deprecated-list @ActiveConditionalClasses @(@class)"
    style="@style"
    id="@id"
    @attributes="@AttributesToSplat()"
    @ref="@ElementReference"
    @key="@AppliedDisabled"
    aria-orientation="vertical">

    @{ var index = 0; }
    @foreach (var item in Items)
    {
        var tabIndex = "";
        var clickIndex = index++;

        @if (clickIndex == 0)
        {
            tabIndex = "0";
        }
        else if (ShowSeparators)
        {
            <li role="separator" class="mdc-deprecated-list-divider"></li>
        }

        <li @key="@KeyGenerator(item)" class="mdc-deprecated-list-item__wrapper" role="presentation">
            <div class="mdc-deprecated-list-item mb-list-item"
                 tabindex="@tabIndex"
                 @onclick="@(() => OnItemClickAsync(clickIndex))"
                 @onmousedown="@(() => OnItemMouseDownAsync(clickIndex))"
                 @onkeydown="@(() => OnItemKeyDownAsync(clickIndex))"
                 @ontouchstart="@(() => OnItemTouchStartAsync(clickIndex))">

                @if (PrimaryActions != null)
                {
                    <span class="mdc-deprecated-list-item__graphic" aria-hidden="true">@PrimaryActions(item)</span>
                }

                @if (!SuppressIcons && Icon != null)
                {
                    <span class="mdc-deprecated-list-item__graphic" aria-hidden="true">@Icon(item)</span>
                }

                @if (!AppliedDisabled && KeyboardInteractions && Ripple)
                {
                    <span class="mdc-deprecated-list-item__ripple"></span>
                }

                <span class="mdc-deprecated-list-item__text mb-full-width @ListItemClass " disabled="@AppliedDisabled">
                    @if (Title != null)
                    {
                        <span class="@TitleClass">@Title(item)</span>
                    }

                    @if (HasLineTwo && (LineTwo != null))
                    {
                        <span class="@LineTwoClass">@LineTwo(item)</span>
                    }

                    @if (HasLineThree && (LineThree != null))
                    {
                        <span class="@LineThreeClass">@LineThree(item)</span>
                    }
                </span>

                @if (SecondaryActions != null)
                {
                    <span class="mdc-deprecated-list-item__meta" aria-hidden="true">@SecondaryActions(item)</span>
                }
            </div>

            @if (MultiLevelElements != null)
            {
                @MultiLevelElements(item)
            }
        </li>
    }
</ul>