@namespace Material.Blazor
@inherits MultiSelectComponentFoundation<TItem, MBSegmentedButtonElement<TItem>>
@typeparam TItem


<div @ref="@SegmentedButtonReference"
        @attributes="AttributesToSplat()"
        role="group">

    @for (int i = 0; i < ItemsArray.Length; i++)
    {
        var isPressed = @Value.Where(v => v.Equals(ItemsArray[i].SelectedValue)).Any();
        var sbClass = "mdc-segmented-button__segment mdc-segmented-button--touch" + (isPressed ? " mdc-segmented-button__segment--selected" : "");
            
        <div class="mdc-touch-target-wrapper">
            <button @key="@ItemsArray[i].SelectedValue" class="@sbClass" aria-pressed="@Value.Where(v => v.Equals(ItemsArray[i].SelectedValue)).Any()">
                <div class="mdc-segmented-button__ripple"></div>

                @if (!string.IsNullOrWhiteSpace(ItemsArray[i].Icon))
                {
                    <MBIcon IconName="@ItemsArray[i].Icon" IconFoundry="@IconFoundry" class="mdc-segmented-button__icon" />
                }

                @if (!string.IsNullOrWhiteSpace(ItemsArray[i].Label))
                {
                    <div class="mdc-segmented-button__label">@ItemsArray[i].Label</div>
                }

                <div class="mdc-segmented-button__touch"></div>
            </button>
        </div>
    }
</div>
