@namespace Material.Blazor

@inherits MultiSelectComponent<TItem, MBIconBearingSelectElement<TItem>>
@typeparam TItem


<div @ref="@SegmentedButtonReference"
     class="mdc-segmented-button @ActiveConditionalClasses @(@class)"
     style="@style"
     id="@id"
     @attributes="AttributesToSplat()"
     role="@GroupRole">

    @for (int j = 0; j < ItemsArray.Length; j++)
    {
        int i = j;
        <MBTouchTargetWrapper @key="@KeyGenerator(ItemsArray[i].SelectedValue)" ApplyTouchTargetWrapper="AppliedTouchTarget">
            <button @attributes="@SegmentAttributes[i]">
                <div class="mdc-segmented-button__ripple"></div>

                @if (!string.IsNullOrWhiteSpace(ItemsArray[i].Icon))
                {
                    <MBIcon class="mdc-segmented-button__icon"
                            IconFoundry="@IconFoundry"
                            IconName="@ItemsArray[i].Icon" />
                }

                @if (!string.IsNullOrWhiteSpace(ItemsArray[i].Label))
                {
                    <div class="mdc-segmented-button__label">@ItemsArray[i].Label</div>
                }

                <div class="mdc-segmented-button__touch"></div>
            </button>
        </MBTouchTargetWrapper>
    }
</div>
