@namespace BMdcPlus
@typeparam TItem
@inherits BMdcBase.ComponentBase


<div @attributes="AttributesToSplat()">

    <div class="@contentClass @ListTemplateClass">
        @ListTemplate(@:@{
            foreach (TItem item in CurrentPage)
            {
                @ItemTemplate(item)
            }}
        )
    </div>

    <div class="@PaginatorClass">
        <Paginator @bind-ItemsPerPage="@ItemsPerPage" @bind-PageNumber="@PageNumber" ItemsPerPageSelection="@ItemsPerPageSelection" ItemCount="@Data.Count()"></Paginator>
    </div>
</div>


@code {

    /// <inheritdoc/>
    protected override void OnParametersSet()
    {

        if (ItemTemplate == null)
        {
            ItemTemplate = (item) => @:@{
                <li @key=item>@item.ToString()</li>}
            ;
        }

        if (ListTemplate == null)
        {
            ListTemplate = _ => @:@{
                <ul>
                    @foreach (TItem item in CurrentPage)
                    {
                        @ItemTemplate(item)
                    }
                </ul>}
            ;
        }
    }
}