@namespace Material.Blazor
@inherits ComponentFoundation


@if (IsOpen)
{
    <div @key="@Key"
         @ref="DialogElem"
         @attributes="@MyAttributes"
         aria-modal="true">

        <CascadingValue Value="@this" IsFixed="true">
            <div class="mdc-dialog__container">
                <div class="mdc-dialog__surface @OverflowClass">
                    @if (HasTitle)
                    {
                        <h2 id="@titleId" class="mdc-dialog__title">@Title</h2>
                    }

                    @if (HasCustomHeader)
                    {
                        <div id="@headerId" class="mb-dialog__header">
                            @CustomHeader
                        </div>
                    }

                    @if (HasBody)
                    {
                        <div id="@bodyId" class="mdc-dialog__content">
                            @Body
                        </div>
                    }

                    @if (HasButtons)
                    {
                        <footer class="mdc-dialog__actions">
                            @Buttons
                        </footer>
                    }
                </div>
            </div>
        </CascadingValue>

        <div class="mdc-dialog__scrim"></div>
    </div>
}