@namespace BlazorMdc.Demo

@page "/select"



<h1 class="@MdcTypography.Heading4">Select samples</h1>

<p>See <code>SelectSample.razor</code> for sources.</p>

<p>
    <MdcSelect Label="Filled"
               @bind-Value="@kittenBreed1"
               Items="stringItems"
               SelectInputStyle="MdcSelectInputStyle.Filled"
               ItemValidation="@MdcItemValidation.NoSelection" />
</p>
<p style="margin-bottom: 4em;">Selected: '<strong>@(kittenBreed1 ?? "")</strong>'</p>

<p>
    <MdcSelect Label="Outlined"
               @bind-Value="@kittenBreed2"
               Items="stringItems"
               SelectInputStyle="MdcSelectInputStyle.Outlined"
               ItemValidation="@MdcItemValidation.NoSelection" />
</p>
<p style="margin-bottom: 4em;">Selected: '<strong>@(kittenBreed2 ?? "")</strong>'</p>

<p>
    <MdcSelect Label="Right Aligned"
               @bind-Value="@kittenBreed3"
               Items="stringItems"
               SelectInputStyle="MdcSelectInputStyle.Outlined"
               TextAlignStyle="MdcTextAlignStyle.Right"
               ItemValidation="@MdcItemValidation.DefaultToFirst" />

    <MdcSelect Label="Right Aligned (repeated)"
               @bind-Value="@kittenBreed3"
               Items="stringItems"
               SelectInputStyle="MdcSelectInputStyle.Outlined"
               TextAlignStyle="MdcTextAlignStyle.Right"
               ItemValidation="@MdcItemValidation.DefaultToFirst" />

</p>
<p style="margin-bottom: 4em;">Selected: '<strong>@(kittenBreed3 ?? "")</strong>'</p>

<p>
    <MdcSelect Label="Colour Enumeration" @bind-Value="@colour" Items="colourItems"></MdcSelect>
    <MdcSelect Label="Colour Enumeration (repeated)" @bind-Value="@colour" Items="colourItems"></MdcSelect>
</p>
<p style="margin-bottom: 4em;">Selected: '<strong>@(colour.ToString())</strong>'</p>



@code {
    string kittenBreed1;
    string kittenBreed2;
    string kittenBreed3;
    Colour colour;

    MdcListElement<string>[] stringItems = new MdcListElement<string>[]
    { 
        new MdcListElement<string> { SelectedValue = "brit-short", Label = "British Shorthair" },
        new MdcListElement<string> { SelectedValue = "russ-blue", Label = "Russian Blue" },
        new MdcListElement<string> { SelectedValue = "ice-invis", Label = "Icelandic Invisible" }
    };

    enum Colour { Red, Orange, Yellow, Green, Blue, Indigo, Violet };

    IEnumerable<MdcListElement<Colour>> colourItems => from c in (Colour[])Enum.GetValues(typeof(Colour))
                                                       select new MdcListElement<Colour>
                                                       {
                                                           SelectedValue = c,
                                                           Label = c.ToString()
                                                       };
}