@namespace BlazorMdc.Demo

@page "/select"



<h1 class="@MdcTypography.Heading4">Select samples</h1>

<p>See <code>SelectSample.razor</code> for sources.</p>

<MdcSelect Label="Filled" @bind-Value="@kittenBreed1" Items="stringItems" InputStyle="MdcSelectInputStyle.Filled"></MdcSelect>
<p style="margin-bottom: 4em;">Selected: '<strong>@(kittenBreed1 ?? "")</strong>'</p>

<MdcSelect Label="Outlined" @bind-Value="@kittenBreed2" Items="stringItems" InputStyle="MdcSelectInputStyle.Outlined"></MdcSelect>
<p style="margin-bottom: 4em;">Selected: '<strong>@(kittenBreed2 ?? "")</strong>'</p>

<MdcSelect Label="Right Aligned" @bind-Value="@kittenBreed3" Items="stringItems" InputStyle="MdcSelectInputStyle.Outlined" TextAlign="MdcTextAlignStyle.Right"></MdcSelect>
<p style="margin-bottom: 4em;">Selected: '<strong>@(kittenBreed3 ?? "")</strong>'</p>

<MdcSelect Label="Colour Enumeration" @bind-Value="@colour" Items="colourItems"></MdcSelect>
<p style="margin-bottom: 4em;">Selected: '<strong>@(colour.ToString())</strong>'</p>



@code {
    string kittenBreed1;
    string kittenBreed2;
    string kittenBreed3;
    Colour colour;

    MdcSelect<string>.Item<string>[] stringItems = new MdcSelect<string>.Item<string>[]
    {
        new MdcSelect<string>.Item<string> { DataValue = "", Text = "" },
        new MdcSelect<string>.Item<string> { DataValue = "brit-short", Text = "British Shorthair" },
        new MdcSelect<string>.Item<string> { DataValue = "russ-blue", Text = "Russian Blue" },
        new MdcSelect<string>.Item<string> { DataValue = "ice-invis", Text = "Icelandic Invisible" }
            };

    enum Colour { Red, Orange, Yellow, Green, Blue, Indigo, Violet };

    IEnumerable<MdcSelect<Colour>.Item<Colour>> colourItems => from c in (Colour[])Enum.GetValues(typeof(Colour))
                                                               select new MdcSelect<Colour>.Item<Colour>
                                                               {
                                                                   DataValue = c,
                                                                   Text = c.ToString()
                                                               };
}