@namespace BlazorMdc.Demo

@page "/select"



<h1 class="mdc-typography--headline4">Select samples</h1>

<p>See <code>SelectSample.razor</code> for sources.</p>

<div class="mdc-layout-grid mdc-layout-grid__inner">
	<div class="mdc-layout-grid__cell">
		<h2 class="mdc-typography--headline5">Default alignment</h2>
		<p>
			<MTSelect Label="Filled"
						 @bind-Value="@kittenBreed1"
   						 Items="stringItems"
						 SelectInputStyle="SelectInputStyleEnum.Filled"
			 			 ItemValidation="@ItemValidation.NoSelection"
						 Disabled="@DisableComponents"/>
		</p>
		<p style="margin-bottom: 4em;">Selected: '<strong>@(kittenBreed1 ?? "")</strong>'</p>

		<p>
            <MTSelect Label="Outlined"
                         @bind-Value="@kittenBreed2"
                         Items="stringItems"
                         SelectInputStyle="SelectInputStyleEnum.Outlined"
                         ItemValidation="@ItemValidation.NoSelection"
                         Disabled="@DisableComponents" />
		</p>
		<p style="margin-bottom: 4em;">Selected: '<strong>@(kittenBreed2 ?? "")</strong>'</p>

		<p>
            <MTSelect Label="Default to First"
                         @bind-Value="@kittenBreed3"
                         Items="stringItems"
                         SelectInputStyle="SelectInputStyleEnum.Outlined"
                         ItemValidation="@ItemValidation.DefaultToFirst"
                         Disabled="@DisableComponents" />

            <MTSelect Label="Default to First (repeated)"
                         @bind-Value="@kittenBreed3"
                         Items="stringItems"
                         SelectInputStyle="SelectInputStyleEnum.Outlined"
                         ItemValidation="@ItemValidation.DefaultToFirst"
                         Disabled="@DisableComponents" />

		</p>
		<p style="margin-bottom: 4em;">Selected: '<strong>@(kittenBreed3 ?? "")</strong>'</p>

		<p>
            <MTSelect Label="Colour Enumeration"
                         @bind-Value="@colour"
                         Items="colourItems"
                         Disabled="@DisableComponents" />

            <MTSelect Label="Colour Enumeration (repeated)"
                         @bind-Value="@colour"
                         Items="colourItems"
                         Disabled="@DisableComponents" />
		</p>
		<p style="margin-bottom: 4em;">Selected: '<strong>@(colour.ToString())</strong>'</p>

	</div>
	<div class="mdc-layout-grid__cell">
		<h2 class="mdc-typography--headline5">Right aligned</h2>
		<p>
            <MTSelect Label="Filled"
                         @bind-Value="@kittenBreed1"
                         Items="stringItems"
                         SelectInputStyle="SelectInputStyleEnum.Filled"
                         TextAlignStyle="TextAlignStyle.Right"
                         ItemValidation="ItemValidation.NoSelection"
                         Disabled="@DisableComponents" />
		</p>
		<p style="margin-bottom: 4em;">Selected: '<strong>@(kittenBreed1 ?? "")</strong>'</p>

		<p>
            <MTSelect Label="Outlined"
                         @bind-Value="@kittenBreed2"
                         Items="stringItems"
                         SelectInputStyle="SelectInputStyleEnum.Outlined"
                         TextAlignStyle="TextAlignStyle.Right"
                         ItemValidation="ItemValidation.NoSelection"
                         Disabled="@DisableComponents" />
		</p>
		<p style="margin-bottom: 4em;">Selected: '<strong>@(kittenBreed2 ?? "")</strong>'</p>

		<p>
            <MTSelect Label="Default to First"
                         @bind-Value="@kittenBreed3"
                         Items="stringItems"
                         SelectInputStyle="SelectInputStyleEnum.Outlined"
                         TextAlignStyle="TextAlignStyle.Right"
                         ItemValidation="ItemValidation.DefaultToFirst"
                         Disabled="@DisableComponents" />

            <MTSelect Label="Default to First (repeated)"
                         @bind-Value="@kittenBreed3"
                         Items="stringItems"
                         SelectInputStyle="SelectInputStyleEnum.Outlined"
                         TextAlignStyle="TextAlignStyle.Right"
                         ItemValidation="ItemValidation.DefaultToFirst"
                         Disabled="@DisableComponents" />

		</p>
		<p style="margin-bottom: 4em;">Selected: '<strong>@(kittenBreed3 ?? "")</strong>'</p>

		<p>
            <MTSelect Label="Colour Enumeration"
                         @bind-Value="@colour"
                         TextAlignStyle="TextAlignStyle.Right"
                         Items="colourItems"
                         Disabled="@DisableComponents" />
			
            <MTSelect Label="Colour Enumeration (repeated)"
                         @bind-Value="@colour"
                         TextAlignStyle="TextAlignStyle.Right"
                         Items="colourItems"
                         Disabled="@DisableComponents" />
		</p>
		<p style="margin-bottom: 4em;">Selected: '<strong>@(colour.ToString())</strong>'</p>

	</div>
</div>


@code {
    [CascadingParameter(Name = "DisableComponents")] private bool DisableComponents { get; set; }

    string kittenBreed1;
    string kittenBreed2;
    string kittenBreed3;
    Colour colour;

    MTListElement<string>[] stringItems = new MTListElement<string>[]
    {
                new MTListElement<string> { SelectedValue = "brit-short", Label = "British Shorthair" },
                new MTListElement<string> { SelectedValue = "russ-blue", Label = "Russian Blue" },
                new MTListElement<string> { SelectedValue = "ice-invis", Label = "Icelandic Invisible" }
        };

    enum Colour { Red, Orange, Yellow, Green, Blue, Indigo, Violet };

    IEnumerable<MTListElement<Colour>> colourItems => from c in (Colour[])Enum.GetValues(typeof(Colour))
                                                    select new MTListElement<Colour>
                                                    {
                                                        SelectedValue = c,
                                                        Label = c.ToString()
                                                    };
}