@namespace BlazorMdc.Demo

@page "/datatable"



<h1 class="mdc-typography--headline4">Data table samples</h1>

<p>See <code>DataTableSample.razor</code> for sources.</p>

<style>
    .full-width {
        width: 100%;
    }

    .header-bold {
        font-weight: bold;
    }
</style>

<p>Density:</p>
<p>
    <MTRadioButtonGroup @bind-Value="@Density"
                        Items="@DensityItems"
                        EnableTouchWrapper="true" />
</p>

<MTDataTable Items="@biscuits"
             Context="item"
             Class="full-width"
             Density="@Density"
             @key="@Density">
    <TableHeader>
        <th class="mdc-data-table__header-cell header-bold" role="columnheader" scope="col">Biscuit</th>
        <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric header-bold" role="columnheader" scope="col">Price</th>
        <th class="mdc-data-table__header-cell header-bold" role="columnheader" scope="col">Review</th>
    </TableHeader>
    <TableRow>
        <td class="mdc-data-table__cell">@item.Name</td>
        <td class="mdc-data-table__cell mdc-data-table__cell--numeric">@item.Price.ToString("C2")</td>
        <td class="mdc-data-table__cell">@item.Review</td>
    </TableRow>
</MTDataTable>



@code {
    private class Biscuit
    {
        public string Name { get; set; }
        public double Price { get; set; }
        public string Review { get; set; }
    }

    private Biscuit[] biscuits =
    {
        new Biscuit() { Name = "Hobnob", Price = 1.56, Review = "For oat lovers" },
        new Biscuit() { Name = "Rich Tea", Price = 1.32, Review = "To be dunked" },
        new Biscuit() { Name = "Digestive", Price = 2.12, Review = "The classic" },
        new Biscuit() { Name = "Bourbon", Price = 0.99, Review = "Kids will leave the biscuit and eat the chocolate cream" },
        new Biscuit() { Name = "Maryland", Price = 0.78, Review = "Try not to eat a pack in one go" }
    };

    IEnumerable<MTListElement<MTDensity>> DensityItems => from d in (MTDensity[])Enum.GetValues(typeof(MTDensity))
                                                          select new MTListElement<MTDensity>
                                                          {
                                                              SelectedValue = d,
                                                              Label = d.ToString(),
                                                              Disabled = false
                                                          };

    private MTDensity Density { get; set; } = MTDensity.Default;
}