@namespace BlazorMdc.Demo

@page "/autocomplete"



<h1 class="mdc-typography--headline4">Autocomplete samples</h1>

<p>See <code>AutocompleteSample.razor</code> for sources.</p>

<p>Selection disallowing blanks: '<strong>@(selection1 ?? "")</strong>'</p>

<p><MTAutocomplete @bind-Value="@selection1" Label="Blanks disallowed" TextInputStyle="MTTextInputStyle.Filled" SelectItems="@fruits" LeadingIcon="alarm" AllowBlankResult="false" Disabled="@DisableComponents" /></p>
<p><MTAutocomplete @bind-Value="@selection1" Label="Blanks disallowed (repeated)" TextInputStyle="MTTextInputStyle.Filled" SelectItems="@fruits" LeadingIcon="alarm" AllowBlankResult="false" Disabled="@DisableComponents" /></p>

<p style="margin-top: 4em;">Selection allowing blanks: '<strong>@(selection2 ?? "")</strong>'</p>

<p><MTAutocomplete @bind-Value="@selection2" Label="Blanks allowed" TextInputStyle="MTTextInputStyle.Outlined" SelectItems="@fruits" AllowBlankResult="true" TrailingIcon="fa-dragon" IconFoundry="MTIconHelper.FAFoundry(relativeSize: MTIconFARelativeSize.Large)" Disabled="@DisableComponents" /></p>

<p style="margin-top: 4em;">Selection ignoring whitespace for comparison: '<strong>@(selection3 ?? "")</strong>'</p>

<p><MTAutocomplete @bind-Value="@selection3" Label="Whitespace ignored" TextInputStyle="MTTextInputStyle.Filled" SelectItems="@fruits" AllowBlankResult="true" IgnoreWhitespace="true" Disabled="@DisableComponents" /></p>



@code {    
    [CascadingParameter(Name = "DisableComponents")] private bool DisableComponents { get; set; }

    string[] fruits = { "Avocado", "Banana", "Blackberry", "Blueberry", "Cantaloupe", "Cherry", "Clementine", "Dragonfruit", "Fig", "Grape", "Guava", "Honeydew", "Huckleberry", "Jujube", "Kiwi", "Kumquat", "Lime", "Nectarine", "Orange", "Papaya", "Passion Fruit", "Pineapple", "Plum", "Pomegranate", "Raspberry", "Satsuma", "Strawberry", "Tangerine", "Tomato", "Watermelon" };
    string selection1 = "Avocado";
    string selection2;
    string selection3;
}
