<div @key="@CascadingDefaults" class="mdc-layout-grid__cell--span-12">
    <MTCard>
        <Primary>
            <div class="bmdc-card__primary">
                <h2 class="bmdc-card__title mdc-typography--headline4">@Title</h2>
            </div>
            <div class="bmdc-card__secondary">
                @Description

                @if (HasComponents)
                {
                    <p style="overflow: auto;">
                        <MTDataTable Items="@Items"
                                     Context="item"
                                     class="dr-table">
                            <TableHeader>
                                <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Reference</th>
                                <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Link Source</th>
                            </TableHeader>

                            <TableRow>
                                <td class="mdc-data-table__cell">@item.Title</td>
                                <td class="mdc-data-table__cell">@item.ConentMarkup</td>
                            </TableRow>
                        </MTDataTable>
                    </p>
                }

                @if (RequiresDisableSelection)
                {
                    <p>
                        <MTSwitch @bind-Value="@CascadingDefaults.Disabled" Label="Disable Components" />
                    </p>
                }

                @if (MinDensity != MTDensity.Default)
                {
                    <p>
                        <MTRadioButtonGroup @bind-Value="@CascadingDefaults.ThemeDensity"
                                            Items="@Densities" />
                    </p>
                }

                @Controls
            </div>
        </Primary>
    </MTCard>
</div>



@*  Using a key of the defaults' version number forces a complete re-render
    of the block when defaults change, however components don't check for
    updates to defaults because we use IsFixed="true" *@

<div @key="@CascadingDefaults.Version"
     class="mdc-layout-grid__cell--span-12">

    <div class="mdc-layout-grid__inner">
        <CascadingValue Value="@CascadingDefaults" IsFixed="true">
            @PageContent
        </CascadingValue>
    </div>
</div>


@code {
    [CascadingParameter(Name = "MaterialDocRef")] private string MaterialDocRef { get; set; }

    [Parameter] public string Title { get; set; }

    [Parameter] public RenderFragment Description { get; set; }

    [Parameter] public RenderFragment Controls { get; set; }

    [Parameter] public RenderFragment PageContent { get; set; }

    [Parameter] public string ComponentName { get; set; }

    [Parameter] public ComponentBase DemoComponent { get; set; }

    [Parameter] public string MaterialIOPage { get; set; }

    [Parameter] public bool IsGeneric { get; set; } = false;

    [Parameter] public MTDensity MinDensity { get; set; } = MTDensity.Default;

    [Parameter] public bool RequiresDisableSelection { get; set; } = false;


    private MTCascadingDefaults CascadingDefaults { get; set; } = new MTCascadingDefaults()
    {
        ThemeDensity = MTDensity.Default,
        Disabled = false
    };


    private class ReferenceItem
    {
        public string Title { get; set; }
        public string Content { get; set; }

        public MarkupString ConentMarkup => new MarkupString(Content);
    }


    private List<ReferenceItem> Items { get; set; }

    private IEnumerable<MTListElement<MTDensity>> Densities { get; set; }

    private bool HasComponents => ComponentName != null;


    protected override void OnInitialized()
    {
        Items = new List<ReferenceItem>();

        if (!HasComponents)
        {
            return;
        }

        var apiSuffix = (!IsGeneric) ? "" : "-1";
        var articleText = $"<a href=\"https://blazormdc.com/docs/BlazorMdc/Components/{ComponentName}/MT{ComponentName}.razor.html\" target=\"_blank\">MT{ComponentName} article</a>";
        var apiDocText = $"<a href=\"https://blazormdc.com/docs/api/BlazorMdc.MT{ComponentName}{apiSuffix}.html\" target=\"_blank\">MT{ComponentName} API docs</a>";

        Items.Add(new ReferenceItem
        {
            Title = "Documentation Article",
            Content = articleText
        });

        Items.Add(new ReferenceItem
        {
            Title = "API Documentation",
            Content = apiDocText
        });

        Items.Add(new ReferenceItem
        {
            Title = "Source for This Page",
            Content = $"<a href=\"https://github.com/BlazorMdc/BlazorMdcWebsite/blob/main/BlazorMdcWebsite.Components/Pages/{DemoComponent.GetType().Name}.razor\" target=\"_blank\">GitHub source page link</a>"
        });

        if (MaterialIOPage != null)
        {
            var materialPage = $"<a href=\"{MaterialDocRef + MaterialIOPage}\" target=\"_blank\">{MaterialIOPage.Split("#")[0]}</a>";

            Items.Add(new ReferenceItem
            {
                Title = "Material Theme Page",
                Content = materialPage
            });
        }

        Densities = new MTListElement<MTDensity>[]
        {
            new MTListElement<MTDensity> {SelectedValue = MTDensity.Default, Label = "Default", Disabled = false },
            new MTListElement<MTDensity> {SelectedValue = MTDensity.Minus1, Label = "Minus 1", Disabled = MinDensity > MTDensity.Minus1 },
            new MTListElement<MTDensity> {SelectedValue = MTDensity.Minus2, Label = "Minus 2", Disabled = MinDensity > MTDensity.Minus2 },
            new MTListElement<MTDensity> {SelectedValue = MTDensity.Minus3, Label = "Minus 3", Disabled = MinDensity > MTDensity.Minus3 },
            new MTListElement<MTDensity> {SelectedValue = MTDensity.Minus4, Label = "Minus 4", Disabled = MinDensity > MTDensity.Minus4 },
            new MTListElement<MTDensity> {SelectedValue = MTDensity.Minus5, Label = "Minus 5", Disabled = MinDensity > MTDensity.Minus5 },
                }.Where(d => d.Disabled != true);
    }
}
