@inherits LayoutComponentBase

@inject IMTAnimatedNavigationManager AnimatedNavigationManager
@inject IJSRuntime JsRuntime
 

<div class="mdc-drawer-app-content">
    <MTTopAppBar Title="Blazor MDC"
                 @onclick="@SideBarToggle"
                 NavIcon="menu"
                 ScrollTarget="#main-content"
                 TopAppBarType="@MTTopAppBarType.Dense"
                 class="mdc-top-app-bar--short-has-action-item mdc-elevation--z5">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
            <MTIconButton @onclick="@OpenMenuAsync"  Icon="fa-scroll" IconFoundry="@MTIconHelper.FAFoundry(relativeSize: MTIconFARelativeSize.ExtraSmall)" />
            <div class="mdc-menu-surface--anchor">
                <MTMenu @ref="Menu">
                    <MTMenuSelectionGroup>
                        <MTListItem Label="Blue Square Theme" IsSelectedMenuItem="@(Theme == "blue-square-theme")" @onclick="@(() => ThemeSetterAsync("blue-square-theme"))" />
                        <MTListItem Label="Red Round Theme" IsSelectedMenuItem="@(Theme == "red-round-theme")" @onclick="@(() => ThemeSetterAsync("red-round-theme"))" />
                        <MTListItem Label="Varied Theme" IsSelectedMenuItem="@(Theme == "varied-theme")" @onclick="@(() => ThemeSetterAsync("varied-theme"))" />
                        <MTListItem Label="MT Default Theme" IsSelectedMenuItem="@(Theme == "mt-default-theme")" @onclick="@(() => ThemeSetterAsync("mt-default-theme"))" />
                        <MTListItem Label="@Theme" Disabled="true" />
                    </MTMenuSelectionGroup>
                </MTMenu>
            </div>
        </section>
    </MTTopAppBar>

    <main class="main-content" id="main-content">
        <div class="max-width-content">
            <CascadingValue Name="MaterialDocRef" Value="@materialDocRef" IsFixed="true">
                <MTDrawer @ref="@Drawer"
                          IsDismissible="true">
                    <div class="mdc-list">
                        <MTListItem LeadingIcon="home" Label="Home" @onclick="@(() => ListItemClickHandler(""))" />
                        <MTListItem LeadingIcon="anchor" Label="Anchor" @onclick="@(() => ListItemClickHandler("anchor"))" />
                        <MTListItem LeadingIcon="swap_horiz" Label="Animated Navigation Manager" @onclick="@(() => ListItemClickHandler("animatednavigationmanager"))" />
                        <MTListItem LeadingIcon="touch_app" Label="Button" @onclick="@(() => ListItemClickHandler("button"))" />
                        <MTListItem LeadingIcon="dashboard" Label="Card" @onclick="@(() => ListItemClickHandler("card"))" />
                        <MTListItem LeadingIcon="web" Label="Cascading Defaults" @onclick="@(() => ListItemClickHandler("cascadingdefaults"))" />
                        <MTListItem LeadingIcon="check_box" Label="Checkbox & Switch" @onclick="@(() => ListItemClickHandler("checkbox-switch"))" />
                        <MTListItem LeadingIcon="table_chart" Label="Data Table" @onclick="@(() => ListItemClickHandler("datatable"))" />
                        <MTListItem LeadingIcon="date_range" Label="Date Picker" @onclick="@(() => ListItemClickHandler("datepicker"))" />
                        <MTListItem LeadingIcon="picture_in_picture" Label="Dialog" @onclick="@(() => ListItemClickHandler("dialog"))" />
                        <MTListItem LeadingIcon="touch_app" Label="Icon Button" @onclick="@(() => ListItemClickHandler("iconbutton"))" />
                        <MTListItem LeadingIcon="touch_app" Label="Icon Button Toggle" @onclick="@(() => ListItemClickHandler("iconbuttontoggle"))" />
                        <MTListItem LeadingIcon="list" Label="List" @onclick="@(() => ListItemClickHandler("list"))" />
                        <MTListItem LeadingIcon="menu" Label="Menu" @onclick="@(() => ListItemClickHandler("menu"))" />
                        <MTListItem LeadingIcon="text_format" Label="Miscellaneous" @onclick="@(() => ListItemClickHandler("miscellaneous"))" />
                        <MTListItem LeadingIcon="import_contacts" Label="Pagination" @onclick="@(() => ListItemClickHandler("pagination"))" />
                        <MTListItem LeadingIcon="access_time" Label="Progress" @onclick="@(() => ListItemClickHandler("progress"))" />
                        <MTListItem LeadingIcon="radio_button_checked" Label="Radio Button" @onclick="@(() => ListItemClickHandler("radiobutton"))" />
                        <MTListItem LeadingIcon="arrow_drop_down" Label="Select" @onclick="@(() => ListItemClickHandler("select"))" />
                        <MTListItem LeadingIcon="compare_arrows" Label="Sliding Content" @onclick="@(() => ListItemClickHandler("slidingcontent"))" />
                        <MTListItem LeadingIcon="tab" Label="Tab Bar" @onclick="@(() => ListItemClickHandler("tabbar"))" />
                        <MTListItem LeadingIcon="assignment" Label="Text Area" @onclick="@(() => ListItemClickHandler("textarea"))" />
                        <MTListItem LeadingIcon="text_format" Label="Text Field" @onclick="@(() => ListItemClickHandler("textfield"))" />
                        <MTListItem LeadingIcon="money" Label="Text Field - Special" @onclick="@(() => ListItemClickHandler("specialtextfield"))" />
                        <MTListItem LeadingIcon="textsms" Label="Toast" @onclick="@(() => ListItemClickHandler("toast"))" />
                    </div>
                </MTDrawer>

                <MTAnimatedNavigation>
                    <div class="mdc-top-app-bar--dense-fixed-adjust">
                        <div class="main-content">
                            <div class="mdc-layout-grid">
                                <div class="mdc-layout-grid__inner">
                                    @Body
                                </div>
                            </div>
                        </div>
                    </div>
                </MTAnimatedNavigation>
            </CascadingValue>
        </div>
    </main>
</div>


@code {
    private const string materialDocRef = "https://github.com/material-components/material-components-web/tree/master/packages/";

    private MTDrawer Drawer { get; set; }

    private MTMenu Menu { get; set; }

    private string Theme { get; set; } = "blue-square-theme";

    private async Task OpenMenuAsync()
    {
        await Menu.ToggleAsync();
    }

    protected async Task ThemeSetterAsync(string theme)
    {
        await JsRuntime.InvokeAsync<object>("BlazorMdcWebsite.themeSetter.setTheme", theme);
        Theme = theme;
        StateHasChanged();
    }


    private void ListItemClickHandler(string NavigationReference)
    {
        Drawer.NotifyNavigation();
        AnimatedNavigationManager.NavigateTo(NavigationReference);
    }

    private void SideBarToggle()
    {
        Drawer.Toggle();
    }
}
