@namespace Material.Blazor
@inherits ComponentFoundation


<button @ref="@ElementReference"
        class="mdc-icon-button @ActiveConditionalClasses @(@class)"
        style="@style"
        id="@id"
        @attributes="@AttributesToSplat()">

    <MBIcon IconFoundry="@IconFoundry"
            IconName="@Icon" />
</button>