@namespace Material.Blazor
@inherits ComponentFoundation


<MBTouchTargetWrapper ApplyTouchTargetWrapper="AppliedTouchTarget">
    <button @ref="@ElementReference"
            class="mdc-icon-button @ActiveConditionalClasses @(@class)"
            style="@style"
            id="@id"
            @attributes="@AttributesToSplat()">

        <div class="mdc-icon-button__ripple"></div>
        <MBIcon IconFoundry="@IconFoundry"
                IconName="@Icon" />
    </button>
</MBTouchTargetWrapper>