@namespace Material.Blazor
@inherits ComponentFoundation


<button @ref="@ElementReference"
        class="mdc-icon-button @MappedClassesAndUserClasses"
        style="@MappedStylesAndUserStyles"
        id="@id"
        @attributes="@AttributesToSplat()">

    <MBIcon IconFoundry="@IconFoundry"
            IconName="@Icon" />
</button>