@page "/checkbox"

<h1 class="@MdcTypography.Heading4">Checkbox samples</h1>

See <code>CheckboxSample.razor</code> for sources.

<p>
    <div class="mdc-form-field">
        <MdcCheckbox Label="@labelA" @bind-Value="@isCheckedA" />
    </div>
</p>

<p>
    <div class="mdc-form-field">
        <MdcCheckbox Label="@labelB" @bind-Value="@isCheckedB" />
    </div>
</p>

<p>
    <div class="mdc-form-field">
        <MdcCheckbox Label="Disabled" @bind-Value="@isCheckedC" Disabled="true" />
    </div>
</p>

@code {
    bool isCheckedA;
    string labelA => "This checbox is " + (isCheckedA ? "set" : "unset");

    bool isCheckedB = true;
    string labelB => "This checbox is " + (isCheckedB ? "set" : "unset");

    bool isCheckedC;
}

