@page "/dialog"

<h1 class="@MdcTypography.Heading4">Dialog samples</h1>

See <code>DialogSample.razor</code> for sources.

Note that the user can also press 'escape' to dismiss the dialog, and this produces a different result string.

<p><MdcButton Label="Show dialog" OnClick="@ShowDialog"></MdcButton></p>

@if (result != null)
{
    <p>Result: <strong>@result</strong></p>
}

<MdcDialog @ref="@myDialog" Title="My dialog title">
    <Body>
        Please choose a fruit.
    </Body>
    <Buttons>
        <MdcButton Label="Orange" DialogAction="orange"></MdcButton>
        <MdcButton Label="Other" DialogAction="other" ButtonStyle="@MdcButtonStyle.Text"></MdcButton>
    </Buttons>
</MdcDialog>

@code {
    MdcDialog myDialog;
    string result;

    async Task ShowDialog()
    {
        result = await myDialog.ShowAsync();
    }
}
