@page "/textfield"

@inject IJSRuntime jsRuntime

<h1 class="@MdcTypography.H4">Text field samples</h1>

<p>See <code>TextFieldSample.razor</code> for sources.</p>

<p style="margin-top: 3rem;">Filled style</p>
<p><MdcTextField Label="Type in some text" @bind-Value="@currentValueFilled" InputStyle="MdcInputStyle.Filled" /></p>
<p>You typed: <strong>'@(currentValueFilled ?? "")'</strong></p>

<p style="margin-top: 3rem;">Outlined style</p>
<p><MdcTextField Label="Type in some text" @bind-Value="@currentValueOutlined" InputStyle="MdcInputStyle.Outlined" /></p>
<p>You typed: <strong>'@(currentValueOutlined ?? "")'</strong></p>

<p style="margin-top: 3rem;">Right aligned (not working yet)</p>
<p><MdcTextField Label="Right aligned" @bind-Value="@currentValueRight" InputStyle="MdcInputStyle.Outlined" TextAlign="MdcTextAlign.Right" /></p>
<p>You typed: <strong>'@(currentValueRight ?? "")'</strong></p>


@code {
    class MyModel
    {
        public double aDouble = 0;
    }

    string currentValueFilled = "a";
    string currentValueOutlined;
    string currentValueRight;

    MyModel currentDouble = new MyModel();
    double currentMoney = 0;
    int currentInteger = 0;
    double currentPercent = 0;
    double CurrentBasisPoints = 0;
    int currentMonths = 0;
}
