@page "/textarea"

@inject IJSRuntime jsRuntime

<h1 class="@MdcTypography.H4">Text area samples</h1>

<p>See <code>TextAreaSample.razor</code> for sources.</p>

<p><MdcTextArea Label="Filled" @bind-Value="@currentValueFilled" Rows="8" InputStyle="MdcTextInputStyle.Filled" /></p>
<p>You typed: <strong>'@(currentValueFilled ?? "")'</strong></p>

<p><MdcTextArea Label="Outlined" @bind-Value="@currentValueOutlined" Rows="8" InputStyle="MdcTextInputStyle.Outlined" /></p>
<p>You typed: <strong>'@(currentValueOutlined ?? "")'</strong></p>

<p><MdcTextArea Label="Full Width" @bind-Value="@currentValueFullWidth" Rows="8" InputStyle="MdcTextInputStyle.FullWidth" /></p>
<p>You typed: <strong>'@(currentValueFullWidth ?? "")'</strong></p>




@code {
    string currentValueFilled = "test";
    string currentValueOutlined;
    string currentValueFullWidth;
}
