@page "/textfield"

@inject IJSRuntime jsRuntime

<h1 class="@MdcTypography.Heading4">Text field samples</h1>

<p>See <code>TextFieldSample.razor</code> for sources.</p>

<p style="margin-top: 3rem;">Filled style</p>
<p><MdcTextField Label="Filled" @bind-Value="@currentValueFilled" InputStyle="MdcTextInputStyle.Filled" /></p>
<p>You typed: <strong>'@(currentValueFilled ?? "")'</strong></p>

<p style="margin-top: 3rem;">Outlined style</p>
<p><MdcTextField Label="Outlined" @bind-Value="@currentValueOutlined" InputStyle="MdcTextInputStyle.Outlined" /></p>
<p>You typed: <strong>'@(currentValueOutlined ?? "")'</strong></p>

<p style="margin-top: 3rem;">Full Width style (need to disable floating labels for full width to adhere to MT style guidelines)</p>
<p><MdcTextField Label="Full Width" @bind-Value="@currentValueFullWidth" InputStyle="MdcTextInputStyle.FullWidth" /></p>
<p>You typed: <strong>'@(currentValueFullWidth ?? "")'</strong></p>

<p style="margin-top: 3rem;">Right aligned (not working yet)</p>
<p><MdcTextField Label="Right aligned" @bind-Value="@currentValueRight" InputStyle="MdcTextInputStyle.Outlined" TextAlign="MdcTextAlign.Right" /></p>
<p>You typed: <strong>'@(currentValueRight ?? "")'</strong></p>


@code {
    string currentValueFilled = "test";
    string currentValueOutlined;
    string currentValueFullWidth;
    string currentValueRight;
}
