@namespace BMdcPlus
@inherits ValidatingInputComponentFoundation<TItem>
@typeparam TItem


<div @attributes="AttributesToSplat()">

    @foreach (var item in ItemArray)
    {
        <BMdc.RadioButton @key="@item"
                          @bind-Value="@ReportingValue"
                          TItem="TItem"
                          Disabled="@item.Disabled"
                          EnableTouchWrapper="@EnableTouchWrapper"
                          Label="@item.Label"
                          TargetCheckedValue="@item.SelectedValue"
                          RadioGroupName="@RadioGroupName" />
    }

</div>