@namespace BlazorMdc.Internal
@inherits MTInputComponentBase<DateTime>


<div @attributes="@AttributesToSplat()">

    <ul class="mdc-list bmdc-dp-list">
        <li @ref="@ListItemReference" class="mdc-list-item mdc-list-item--selected bmdc-dp-list-item" data-value="@CachedReportingValueText" aria-selected="true" role="option">
            <span class="mdc-list-item__text bmdc-dp-list-item__text">@CachedReportingValueText</span>
        </li>
    </ul>

    <div class="bmdc-dp-menu">
        <div class="bmdc-dp-menu__left">
            <span>@MonthText</span>
            <MTIconButtonToggle @bind-Value="@ShowYearPad" Class="bmdc-dp-menu__icon-button" IconOn="arrow_drop_up" IconOff="arrow_drop_down" IconFoundry="@foundry" />
        </div>

        @if (!ShowYearPad)
        {
            <div class="bmdc-dp-menu__right">
                <MTIconButton @onclick="@OnPreviousMonthClick" Class="bmdc-dp-menu__icon-button" Icon="chevron_left" IconFoundry="@foundry" Disabled="@PreviousMonthDisabled" />
                <MTIconButton @onclick="@OnShowCurrentDateClick" Class="bmdc-dp-menu__icon-button spaced" Icon="undo" IconFoundry="@foundry" />
                <MTIconButton @onclick="@OnNextMonthClick" Class="bmdc-dp-menu__icon-button spaced" Icon="chevron_right" IconFoundry="@foundry" Disabled="@NextMonthDisabled" />
            </div>
        }
    </div>

    @if (ShowYearPad)
    {
        <div class="bmdc-dp-year-pad">
            @foreach (var year in Years)
            {
                <InternalDatePickerYearButton @key="@year" CurrentYear="@StartOfDisplayMonth.Year" DisplayYear="@year" OnItemClickAsync="@OnYearItemClick" MinDate="@MinDate" MaxDate="@MaxDate" CurrentYearId="@currentYearId" />
            }
        </div>
    }
    else
    {
        <div class="bmdc-dp-day-pad">
            <div class="bmdc-dp-day-pad__weekdays-block">
                @foreach (var d in DaysOfWeek)
                {
                    <span class="mdc-theme--text-disabled-on-background bmdc-dp-day-pad__weekday">@d</span>
                }
            </div>
            <div class="mdc-list bmdc-dp-day-pad__days-block">
                @foreach (var date in Dates)
                {
                    <InternalDatePickerDayButton @key="@date" DateSelectionCriteria="@DateSelectionCriteria" CurrentDate="@InitialDate" DisplayDate="@date" StartOfDisplayMonth="@StartOfDisplayMonth" OnItemClickAsync="@OnDayItemClickAsync" MinDate="@MinDate" MaxDate="@MaxDate" />
                }
            </div>
        </div>
    }
</div>