@namespace BlazorMdc
@inherits InputComponentFoundation<DateTime>


<div @ref="ElementReference"
     @attributes="@AttributesToSplat()">

    <div class="mdc-select__anchor bmdc-dp-width"
         role="button"
         aria-disabled="@Disabled"
         aria-haspopup="@listboxId"
         aria-labelledby="@labelId @selectedTextId">

        @if (AppliedInputStyle == MTSelectInputStyle.Filled)
        {
            <span class="mdc-select__ripple"></span>
        }

        <span id="@selectedTextId" class="mdc-select__selected-text" aria-disabled="@Disabled"></span>
        <span class="mdc-select__dropdown-icon">
            <svg class="mdc-select__dropdown-icon-graphic"
                 viewBox="7 10 10 5">
                <polygon class="mdc-select__dropdown-icon-inactive"
                         stroke="none"
                         fill-rule="evenodd"
                         points="7 10 12 15 17 10">
                </polygon>
                <polygon class="mdc-select__dropdown-icon-active"
                         stroke="none"
                         fill-rule="evenodd"
                         points="7 15 12 10 17 15">
                </polygon>
            </svg>
        </span>

        @if (AppliedInputStyle == MTSelectInputStyle.Outlined)
        {
            <span class="mdc-notched-outline">
                <span class="mdc-notched-outline__leading"></span>
                @if (!NoLabel)
                {
                    <span class="mdc-notched-outline__notch">
                        <span id="@labelId" class="mdc-floating-label mdc-floating-label--float-above">@Label</span>
                    </span>
                }
                <span class="mdc-notched-outline__trailing"></span>
            </span>
        }
        else
        {
            if (!NoLabel)
            {
                <span id="@labelId" class="mdc-floating-label mdc-floating-label--float-above">@Label</span>
            }
            <div class="mdc-line-ripple"></div>
        }
    </div>

    <div id="@listboxId"
         class="mdc-select__menu mdc-menu mdc-menu-surface mdc-menu-surface--fixed bmdc-dp-width bmdc-dp-menu__surface-adjust">
        <InternalDatePickerPanel @ref="Panel"
                                 @bind-Value="@ReportingValue"
                                 DateSelectionCriteria="@DateSelectionCriteria"
                                 MinDate="@MinDate"
                                 MaxDate="@MaxDate"
                                 DateFormat="@DateFormat" />
    </div>
</div>