@namespace BlazorMdc.Demo

@page "/button"

<h1 class="mdc-typography--headline4">Button samples</h1>

See <code>ButtonSample.razor</code> for sources.

<p>
    <MdcButton Label="Default style" @onclick="@LogMessage" />
</p>

<p>
    <MdcButton Label="Contained raised" ButtonStyle="@MdcButtonStyle.ContainedRaised" @onclick="@LogMessage" />
</p>

<p>
    <MdcButton Label="Contained unelevated" ButtonStyle="@MdcButtonStyle.ContainedUnelevated" @onclick="@LogMessage" />
</p>

<p>
    <MdcButton Label="Outlined" ButtonStyle="@MdcButtonStyle.Outlined" @onclick="@LogMessage" />
</p>

<p>
    <MdcButton Label="Text" ButtonStyle="@MdcButtonStyle.Text" @onclick="@LogMessage" />
</p>

<p>
    <MdcButton Label="Disabled" Disabled="true" @onclick="@LogMessage" />
</p>

<p>
    <MdcButton Label="Leading icon" LeadingIcon="shield" IconFoundry="MdcIconHelper.OIFoundry()" @onclick="@LogMessage" />
</p>

<p>
    <MdcButton Label="Trailing icon" TrailingIcon="speed" @onclick="@LogMessage" />
</p>

<p>
    <MdcButton Label="Trailing icon with style of 'margin-left: 5em;'"
               TrailingIcon="speed"
               ButtonStyle="MdcButtonStyle.ContainedRaised"
               @onclick="@LogMessage"
               Style="margin-left: 5em;" />
</p>

<p>
    An icon button -> <MdcIconButton Icon="access_alarms" @onclick="@LogMessage" />
</p>

<p>
    A font awesome icon button -> <MdcIconButton Icon="fa-frog" IconFoundry="MdcIconHelper.FAFoundry()" @onclick="@LogMessage" />
</p>

<div style="padding: 1rem; background-color: lightgray;">
    <p>The checkbox and toggle icon buttons all bind to the same value.</p>

    <p><MdcCheckbox @bind-Value="@commonBool" Label="Checkbox and Toggle both bind to same value" /></p>

    <p><MdcIconButtonToggle @bind-Value="@commonBool" IconOn="directions_run" IconOff="airline_seat_individual_suite" /></p>

    <p><MdcIconButtonToggle @bind-Value="@commonBool" IconOn="fa-dog" IconOff="fa-cat" IconFoundry="MdcIconHelper.FAFoundry()" /></p>

    <p>@commonBool</p>
</div>


<ul>
    @foreach (var logEntry in log)
    {
        <li>@logEntry</li>
    }
</ul>

@code {
    //
    //  2020-04-07  Mark Stega
    //              Changed sample with 'padding-left: 5em' to 'margin-left: 5em' and added 'raised' style (which
    //              also implies 'contained'). Visually both are identical with a 'text' style but adding
    //              'raised' shows that the intended indent of the button is occurring.
    //
    List<string> log = new List<string>();

    bool commonBool;

    void LogMessage()
        => log.Add("You clicked");
}
