@namespace BlazorMdc
@using Microsoft.AspNetCore.Components.Web

<div class="bmdc-toast @statusClass mdc-elevation--z12 @Settings.BaseClass @Settings.AdditionalClasses">

    @if (!string.IsNullOrWhiteSpace(Settings.Icon))
    {
        <div class="bmdc-toast-icon">
            @if (Settings.IconType == MdcIconType.FontAwesome)
            {
                <i class="@Settings.Icon" aria-hidden="true"></i>
            }
            @if (Settings.IconType == MdcIconType.Material)
            {
                <i class="material-icons" aria-hidden="true">@Settings.Icon</i>
            }
        </div>
    }

    <div class="bmdc-toast-body">
        <div class="bmdc-toast-header">
            <h5 class="bmdc-toast-heading mdc-typography--subtitle1">@Settings.Heading</h5>
            <MdcButton OnClick="@Close" LeadingIcon="@MdcIcons.Icon__close" ButtonStyle="@MdcButtonStyle.Text" Class="bmdc-toast-close-button" />
        </div>
        <p class="mdc-typography--body2">@Settings.Message</p>
    </div>
</div>
