@namespace BlazorMdc

@inject IPmdcToastService ToastService

@using System
@using System.Collections.Generic
@using System.Linq
@using System.Threading


@if (ToastList.Any())
{
    <div class="bmdc-toast-container @positionClass">
        @foreach (var toast in ToastList.OrderBy(x => x.TimeStamp))
        {
            var toastId = toast.Id;

            <div @key="toast" class="mdc-elevation--z5 bmdc-toast @toast.Settings.LevelClass @toast.Settings.StatusClass @toast.Settings.AppliedCssClass">

                @if (toast.Settings.AppliedShowIcon)
                {
                    <div class="bmdc-toast-icon">
                        <i class="material-icons" aria-hidden="true">@toast.Settings.AppliedIcon</i>
                    </div>
                }

                <div class="bmdc-toast-body @toast.Settings.HasIconClass">
                    <div class="bmdc-toast-header">
                        <h5 class="mdc-typography--subtitle1">@toast.Settings.AppliedHeading</h5>

                        @if (toast.Settings.CloseMethod != PMdcToastCloseMethod.Timeout)
                        {
                            <MdcButton OnClick="@(() => CloseToast(toastId))" LeadingIcon="@MdcIcons.Icon__close" ButtonStyle="@MdcButtonStyle.Text" Class="bmdc-toast-close-button" />
                        }
                    </div>

                    <p class="mdc-typography--body2">@toast.Settings.AppliedMessage</p>
                </div>
            </div>
        }
    </div>
}


@code {
    internal List<ToastInstance> ToastList { get; set; } = new List<ToastInstance>();


    private string positionClass => $"bmdc-toast__{ToastService.Configuration.Position.ToString().ToLower()}";
    private readonly SemaphoreSlim semaphoreSlim = new SemaphoreSlim(1);


    protected override void OnInitialized()
    {
        ToastService.OnShow += ShowToast;
    }


    private void ShowToast(PMdcToastServiceConfiguration configuration, PMdcToastLevel level, PMdcToastSettings settings)
    {
        InvokeAsync(async () =>
        {
            settings.Configuration = configuration;
            settings.Level = level;

            var toastInstance = new ToastInstance
            {
                Id = Guid.NewGuid(),
                TimeStamp = DateTime.Now,
                Settings = settings
            };

            await semaphoreSlim.WaitAsync();

            try
            {
                ToastList.Add(toastInstance);
            }
            finally
            {
                semaphoreSlim.Release();
            }

            if (settings.AppliedCloseMethod != PMdcToastCloseMethod.CloseButton)
            {
                var timeout = settings.AppliedTimeout;
                var toastTimer = new System.Timers.Timer(settings.AppliedTimeout);
                toastTimer.Elapsed += (sender, args) => { CloseToast(toastInstance.Id); };
                toastTimer.AutoReset = false;
                toastTimer.Start();
            }

            StateHasChanged();
        });

    }


    public void CloseToast(Guid toastId)
    {
        InvokeAsync(async () =>
        {

            await semaphoreSlim.WaitAsync();

            try
            {
                var toastInstance = ToastList.SingleOrDefault(x => x.Id == toastId);

                if (toastInstance is null)
                {
                    return;
                }

                toastInstance.Settings.Status = ToastStatus.FadeOut;
                StateHasChanged();
            }
            finally
            {
                semaphoreSlim.Release();
            }

            var toastTimer = new System.Timers.Timer(500);
            toastTimer.Elapsed += (sender, args) => { RemoveToast(toastId); };
            toastTimer.AutoReset = false;
            toastTimer.Start();

            StateHasChanged();
        });
    }


    public void RemoveToast(Guid toastId)
    {
        InvokeAsync(async () =>
        {
            await semaphoreSlim.WaitAsync();

            try
            {
                var toastInstance = ToastList.SingleOrDefault(x => x.Id == toastId);

                if (toastInstance is null)
                {
                    return;
                }

                toastInstance.Settings.Status = ToastStatus.Hide;

                if (ToastList.Where(x => x.Settings.Status == ToastStatus.FadeOut).Count() == 0)
                {
                    ToastList.RemoveAll(x => x.Settings.Status == ToastStatus.Hide);
                }

                StateHasChanged();
            }
            finally
            {
                semaphoreSlim.Release();
            }
        });
    }
}